[2020-07-13 18:14] jnm2 opened #723 "Uncaught ArgumentException caused by MSTestAdapter.PlatformServices.AssemblyResolver"
## Description

There is a third-party library that we load in our unit tests. The third-party framework uses AppDomain.ResourceResolve to call `Assembly.Load(string)` with an argument such as `{aba5ee45-d30c-478e-9730-0b6c1d8bc65b}, PublicKeyToken=3e56350693f7355e`. I'm not sure why it does so, but it would ordinarily succeed. The problem is that the MSTest adapter's assembly resolve handler pass

[2020-07-13 18:38] jnm2 commented on #723
Full repro. The test fails due to a thrown exception. If you make this project into a console app, no exception is thrown.

[code]

[code]

[2020-07-14 08:34] ruhullahshah commented on #722
@jayaranigarg Any thoughts? I found an issue with similar symptoms https://github.com/microsoft/testfx/issues/490, maybe this defect is correlated?

[2020-07-15 12:29] builder-main commented on #634
We are experiencing the same behaviour. When running all tests our items are correctly deployed to the test directory. However if we run a single test then no deployment occurs at all (the Out directory is empty)

I tried the following in our testsettings but it didn't work
[code]

[2020-07-19 03:38] mdpopescu commented on #410
Nice, I just discovered this!

One observation: the parameter description on the constructor here is incorrect:

/// <param name="displayName">Message specifies reason for ignoring.</param>

It was probably copied from Ignore and hasn't been changed correctly.

[2020-07-21 08:58] ruhullahshah commented on #722
@nohwnd Could you please provide your comments here? This issue has blocked our migration to MSTest v2. Thanks.

[2020-07-23 04:47] hartmair commented on #246
I have used the following snippet
[code]

It is not possible to replace `IEnumerable<object[]>` by `IEnumerable<T>` because attributes must not be generic :/ So you would have to separate the attribute from the `ITestDataSource` implementation like so:
[code]

Usage:
[code]

[2020-07-23 18:14] DustinKingen commented on #233
I encountered this issue porting .NET Framework style csproj to .NET Core style csproj (.NET FX 4.8). I will update my comment if I find a workaround.

[2020-08-08 17:46] jozefizso opened #725 "Test library referencing CefSharp cannot be run"
## Steps to reproduce
1. Create class library project and add NUnit framework with adapter to it
2. Add reference to `CefSharp.OffScreen` package
3. Configure solution to use 64-bit platform
4. Write test that will initialize the CefSharp framework and creates `ChromiumWebBrowser` object
5. Create run settings file with disabled AppDomain
6. Run `vstest.console.exe ChromiumTests64.dll /Settings:Di

[2020-08-10 20:08] abatishchev opened #726 "Updating Microsoft.NET.Test.Sdk from 16.6.1 to 16.7.0 causes ADO agent to fail: Data collector 'Code Coverage' message: Failed to initialize code coverage datacollector with error: System.TypeLoadException: Could not load type 'Microsoft.VisualStudio.TestPlatform.Utilities.CodeCoverageRunSettingsProcessor' from assembly 'Microsoft.TestPlatform.Utilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
## Description

## Steps to reproduce
1. Create .NET Core App 3.1 project
2. Add Microsoft.NET.Test.Sdk version **16.6.1**
3. Run build in ADO using YAML task `DotNetCoreCLI@2` and default agent pool `Hosted Windows 2019 with VS2019`
4. Observe no issues
5. Update to Microsoft.NET.Test.Sdk to version **16.7.0**

## Expected behavior

Build continues to work.

## Actual behavior

[code]

## Environ

[2020-08-11 12:25] nohwnd commented on #726
This is a duplicate of https://github.com/microsoft/vstest/issues/2510 please refer there for progress.

[2020-08-11 12:25] #726 closed

[2020-08-11 17:44] dotMorten opened #727 "No 'AddResultFile' implementation in TestContext on UWP test project"
## Description

UWP doesn't have the option to add a result file. I get that the storage APIs can be limited here and are sandboxed, but the test runner is more than capable of getting the files from within the application and app data folder, so this really shouldn't be an issue. It's also possible to allow UWP apps to read/write folders outside the application folder by giving the the user `ALL

[2020-08-12 05:56] dotMorten opened #728 "Timed out datarow affects subsequent datarows"
## Description
When executing a test with multiple datarows, and one datarow times out, all subsequent datarows are aborted and marked failed.

## Steps to reproduce
Runt the following test:
[code]

## Expected behavior

Only datarow with value `2000` times out. However row 4 and 5 are aborted with message `Test 'TestDataRowTimeout' execution has been aborted.`
The timeout doesn't apply to the com

[2020-08-12 06:19] dotMorten commented on #728
I believe the problem is that the CancellationTokenSource isn't reset after each datarow.
When a row is timed out, this line of code is hit:
https://github.com/microsoft/testfx/blob/8fd086832b835928ab90edd36c7478323b2f4613/src/Adapter/MSTest.CoreAdapter/Execution/TestMethodInfo.cs#L792

However all subsequent datarows will be hitting this line instead, because the token is reused for all tests:
ht

[2020-08-12 13:07] sakno opened #729 "Failed to initialize code coverage datacollector"
## Description
I just updated `Microsoft.NET.Test.Sdk 16.6.1` and got the following exception:
[code]

Collection of code coverage metrics is performed on Windows machine in Azure. Here is the [link to the log](https://dev.azure.com/rvsakno/dotNext/_build/results?buildId=794&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=ea74d3ec-af51-57bf-65e6-f50dd234a1e5&l=41).

On Linux machine (Ubuntu 18.

[2020-08-12 13:13] nohwnd commented on #728
You are right. This is caused by sharing CancellationTokenSource across the whole test run
https://github.com/nohwnd/testfx/blob/7bc997580abbbdeb48eca0a4bd1a4dcc5e36fd94/src/Adapter/MSTest.CoreAdapter/Execution/TestMethodInfo.cs#L792

This was implemented as a reaction to not cancelling tests after timeout on dotnet core here https://github.com/microsoft/testfx/issues/608. In dotnet core there is

[2020-08-12 15:00] dotMorten commented on #728
@nohwnd I don't get this. Each datarow should be running with a new thread with a new cancellation token, so each row timeout can cancel its own thread.

I agree abandoning threads is not the way to go - that's what used to happen in [my Xamarin-port of mstest](https://github.com/dotMorten/MSTestX), and it caused a slew of problems with subsequent tests.

[2020-08-13 13:23] sakno commented on #729
`windows-2019` doesn't have installed .NET Core 3.1.401 according with [this page](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md). I'm closing this issue.

[2020-08-13 13:23] #729 closed

[2020-08-16 17:37] hogan commented on #233
I have opened links presented here in comments, and they are useless or such voodoo that I do not understand it.
Is there a clean replace solution? I guess no. I will just write my own solution, like rest of the world.

[2020-08-17 15:43] pkrukp opened #731 "TestCaseFilter with custom properties?"
Hello,

I'm trying to use `TestCaseFilter` with custom properties. Is that possible?

I was trying to pass various forms of `/TestCaseFilter` to `vstest.console.exe` but without success. Works with `TestCategory` but not with custom properties.

For example in MSTest:

[code]

For XUnit it's `Trait` and for NUnit it's `Property`.

In https://github.com/Microsoft/vstest-docs/blob/master/docs/filter

[2020-08-19 07:27] nohwnd commented on #731
@pkruk2 moved your issue to testfx (MSTest), to make it easier for you. No need to file another issue.

Related https://github.com/microsoft/testfx/issues/201

[2020-08-19 07:32] pkruk2 commented on #731
Thank you. I'll try to file FR for other test adapters soon

[2020-08-26 09:41] Moccassins opened #732 "Satellite Assembly issue"
## Description
In our productive solution we encountered an issue in the behavior of MsTest.
Some UnitTest run well, but throws following error messages in the test output:

[code]

We have made some researches on that and created a simple test solution to reproduce this error.
I will attach the test project to these issue for further analysis.
[SatelliteAssemblyTest.zip](https://github.com/micros

[2020-08-26 14:25] nohwnd commented on #410
@mdpopescu was fixed in #715

[2020-08-26 18:40] btull89 commented on #719
I'm seeing this same issue with Vagrant CentOS. dotnet version is 3.1.401.

[2020-08-26 20:54] btull89 commented on #719
This appears to be some kind of directory issue.
By using the -r command if I write my tests results to  `/home/vagrant/repos/my-micro/My.Micro.Test/test-results` it fails.
Writing to `/home/vagrant/test/test-results`  succeeds.

[2020-08-27 07:44] nohwnd commented on #719
This should be a TestHost related error, which version of Microsoft.NET.Test.SDK is your project using? Currently there is 16.7.1 and 16.8.0-preview.

[2020-08-27 13:22] btull89 commented on #719
16.7.1 and 16.8.0-preview both have the same error outcome.
I am also using `Microsoft (R) Test Execution Command Line Tool Version 16.7.0`.

In addition to `Protocol Error` I'm also getting another error message:
[code]

[2020-08-31 13:01] jameswiseman76 opened #733 "Is there an approved/recommended way to run MSTests progammatically?"
Hi, I'm trying to run MSTest programmatically, and am feeling like I'm going down a rabbit warren somewhat.

I've have a reference github repo https://github.com/jameswiseman76/UnitTestRunnerApiAdaptor, where I am trying to this. I found an article (https://social.msdn.microsoft.com/Forums/en-US/ccd08ce1-a86b-4965-af68-1db8cd7d6715/how-to-execute-test-methods-programmatically-using-c-may-be-using-

[2020-09-02 14:11] saiparth commented on #25
Any update on this?

[2020-09-04 09:25] nohwnd commented on #733
I am not sure on which level you are trying to implements this. There is VSTestConsoleWrapper that is used by tools (such as Stryker) to automate vstest.console. Vstest.console then invokes appropiate test host and runs tests via adapter in the given test framework, such as MSTest, xUnit or NUnit. With the wrapper you can run tests as  you would via VS, because the mechanisms are the same.

Here i

[2020-09-04 09:30] nohwnd commented on #733
One caveat there to be aware of as well, if you don't provide any runsettings and just use empty string, it won't complain, but for some reason it won't run your callbacks. I wasted a whole afternoon on that once, and did not get any time to fix it yet.

[2020-09-04 14:41] jameswiseman76 commented on #733
Thanks, that's a great answer. I'll take a look into it.

[2020-09-04 14:41] #733 closed

[2020-09-15 23:24] #652 closed

[2020-09-17 16:34] dennis-yemelyanov commented on #704
Totally agree with all the points here. This is a must have feature in most real life scenarios. It's great that MsTestV2 has a way to globally set a timeout for all tests, and we rely on it a lot to avoid blocking our CI/CD pipelines. However, not covering ClassInitialize/AssemblyInitialize methods limits the usefulness of this timeout setting and makes it almost useful for those who make some ne

[2020-09-29 09:23] #154 closed

[2020-09-29 10:25] nohwnd commented on #719
could you run it with `--diag:logs/log.txt` and share the log files that are written into logs directory please?

[2020-09-29 10:27] nohwnd commented on #704
@Haplois Does this look like something that could be addressed in 16.9?

[2020-09-29 15:04] btull89 commented on #719
Attached are the requested logs files.

[logs.zip](https://github.com/microsoft/testfx/files/5300003/logs.zip)

[2020-09-30 09:10] nohwnd commented on #719
@btull89 Thanks, the log says it is caused by Protocol error, probably nothing we can do about that:

[code]

Sorry to not have any specific solution, but searching for this turns up with a whole range of possible causes, such as no space on the disk, or missing permissions when mounting a volume in VirtualBox https://www.google.com/search?q=cannot+create+directory+protocol+error+dotnet

[2020-10-02 00:19] TheXenocide commented on #634
In case anyone else needs to know, I was hit by this bug recently. The No-Op TestMethod was a suitable enough workaround for our needs. In our case we have a variety of files coming in via props and targets files included in the project via NuGet packages (config files, some generated code, and so on).

For anyone who spends even half as much time searching the world over through people's question

[2020-10-09 06:26] kavyashreer23 commented on #676
Hi,
Does changing to .runsettings from .testsettings file, support remote deployment in Test Controller and Agents with MSTestV2 ?
How to use the below properties in .runsettings file. Can anyone please help on this?

_<RemoteController name="Test Controller name">
<AgentRule name="All agents">
 </AgentRule>_

[2020-10-12 19:14] Sanan07 opened #735 "Investigate build issues"
## Description
There are couple of errors occuring during the build of the solution. Also some references looks very old, f.e TestPlatform.ObjectModel.dll is very old inside the project. In near future we will do changes in ObjectModel and need that changes in testFx, additionally changing dll version in one project inside solution creates new build errors.

- [x] Review build.cmd script
- [x] Upd

[2020-10-13 08:59] nohwnd commented on #735
Which folder would that be? I think `packages` is not part of the repository, but rather the place where nuget restores the packages based on packages.config?

[2020-10-13 09:05] Sanan07 commented on #735
Yes, you are right. After updating to new TP assemblies and nuget packages - it should be okay.

[2020-10-20 10:55] Haplois commented on #735
TestFx is referencing older packages mostly because of profile259 and UAP support. I am removing dependencies like `Microsoft.TestPlatform.ObjectModel, v11.0.0` as part of modernization.

[2020-10-22 13:59] AlexanderRydberg opened #738 "Missing Adapter-dlls from bin folder in project where I have a PackageReference for MSTest.TestAdapter"
## Description
If we are building a csproj where we have included the nuget package "MSTest.TestAdapter" it will not include that packages dlls in the projects bin folder. If we have once before built the project without clearing the obj folder the result differs and all the dlls are there.

When we then try to run our tests it wont find any since the adapter is not present.
Tho if we have a cspro

[2020-10-25 10:52] marcelwgn opened #740 "Proposal: UIDataTestMethod / Support for DataRows in UITestMethods"
The DataTestMethod attribute is really helpful and makes writing tests a lot easier. However when developing tests that need to run on the UI thread, we have to use the UITestMethod attribute. This however leaves us with having to implement data driven tests ourselfes. Having a UIDataTestMethod attribute would be great to have to fill the gap between UI tests and non UI tests.

[AB#1408166](https:

[2020-10-29 08:14] AlexanderRydberg commented on #738
Dont know if this is expected or not but when running this instead
`$msbuild = "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe"
$collectionOfArgs = @("C:\GitHub\adapterTest\Tickster.Core.Tests.csproj",
     "/t:Rebuild", "/p:Configuration=Release", "/restore")
& $msbuild $collectionOfArgs`

"t:Restore" vs "/restore"

But why, I dont know.

[2020-11-05 13:58] mikernet opened #743 "Option for adding class name to test name"
It can be very annoying not to be able to see which test class the test is coming from when running from `dotnet test`.

Instead of seeing this in CI:

[code]

I just want to be able to see this:

[code]

See this somewhat related issue: https://developercommunity.visualstudio.com/idea/411129/vstest-run-log-should-output-test-class-name-in-ad.html

Can we add a flag or some `TestNameFormat` proper

[2020-11-11 12:04] NetTecture commented on #714
How is that a problem given that you can have multi target framework support? Then make sure the attributes are only in when using in not netcoreapp2.1 - simple. A lot of other nuget distributed things do that too.

[2020-11-12 14:46] #714 closed

[2020-11-12 15:44] N-Olbert commented on #25
While not equivalent to ordered tests it seems that at least an alphanumerical execution order is defined behaviour according to [docs](https://docs.microsoft.com/en-us/dotnet/core/testing/order-unit-tests?pivots=mstest) and [samples](https://github.com/dotnet/samples/blob/master/csharp/unit-testing/MSTest.Project/ByAlphabeticalOrder.cs)

[2020-11-13 10:35] AndersMalmgren opened #745 "MSTest project failes to autogenerate assembly redirect"
## Description
MSTest project fails to autogenrate assembly redirect for certain included nuget packages

## Steps to reproduce
Make sure to enable autogenerate
[code]

Add 2 nugets that have dependencies to each other that require assembly redirect, we use one from our internal nuget feed. Create a test using those refernces And you will get a file not found exception and the version of the dll i

[2020-11-13 10:44] AndersMalmgren commented on #745
Found problem, we used 15.9 of SDK upgraded to 16.8 and now it works!

[2020-11-16 01:38] StingyJack commented on #706
There are also the `Trace.Write*()` tracing/logging methods. I can use them in the unit tests or in the code that is tested and they get captured into the correct test context as far as I can tell.

[2020-11-16 01:41] StingyJack commented on #689
This sounds very much like the silent test failures reported in #499 or #241.

[2020-11-16 23:22] elgatov commented on #706
I thought this was not possible running in parallel. I will test it and report again. Thank you!

[2020-11-21 20:59] duaneking commented on #233
Bumping the thread because  I'm under the impression this is also blocking some accessibility support in .Net Core and just want to know whats going on.

[2020-11-24 19:42] #738 closed

[2020-11-30 13:27] Haplois commented on #304
We added NETStandard2.0 support into the Test Platform. The next step is to add it to TestFX in upcoming previews of Visual Studio 16.9.

[2020-11-30 15:26] nohwnd commented on #740
Maybe you could PR it?

[2020-11-30 15:30] #745 closed

[2020-11-30 15:30] chingucoding commented on #740
Where would this actually be contributed to? Does UITestMethod even live in this repository?

[2020-11-30 16:06] Haplois commented on #732
This should be fixed with the latest release of TestFx.

[2020-11-30 16:06] #732 closed

[2020-12-01 16:07] Haplois opened #748 "TestFx 2.2.0-preview won't discover or run tests on VS16.8"
## Description
TestFx won't discover or run tests on `.Net Framework 4.7` when using Visual Studio 16.8.

## Steps to reproduce
 1. Create a Unit Test Project on `.Net Framework 4.7`.
 2. Verify that tests are getting discovered and run successfully.
 3. Update `MSTest.TestAdapter` and `MSTest.TestFramework` to version `2.2.0-preview-20201126-03`.
 4. Run the tests using the Test Explorer Window.

[2020-12-01 18:05] nohwnd commented on #748
@Sanan07 Imho this is what you added. Are you protecting somehow against not having that type available?

[2020-12-01 18:24] Sanan07 commented on #748
I am aware of this bug. I have protection on Test Platform side, where it checks if the assembly has the attribute, so it loads specific types, otherwise load all types.

Problem here with testfx. It uses old `'Microsoft.VisualStudio.TestPlatform.ObjectModel, Version=15.0.0.0,` which does not contain new types. It gets version of TP from Test Window which does not have our changes, so it breaks.

[2020-12-02 13:13] nohwnd commented on #748
Well you introduced that change into testfx to make loading it faster in the new version, I don't see why it would be expected to break this when used with older version, so imho this is a bug that should be solved. We should in the end implement the same in xunti and nunit and I don't think they would be happy about this breaking.

[2020-12-02 13:22] Sanan07 commented on #748
I did changes inside ObjectModel in TP and use it in testfx. In older VS version we do not have that new classes introduced in TP, that why it is breaking.
We get the exception not only from my change, also recent @Haplois changes also get the same exception. Because he also introduced new types inside TP and uses them in testfx and when in VS 16.8 he updates MSTestAdapter he gets the same excepti

[2020-12-02 13:27] Sanan07 commented on #748
We need think how can we release testfx to avoid this type of exception. Problem occurs when you use VS which does not have TP version which contains specific logic which we use inside testfx.
If you use VS 16.8, it does not have our recent changes, and if you **update** MSTestAdapter inside your project to newer version which has recent changes it will break. Because MSTestAdapter has new types i

[2020-12-02 13:50] Haplois commented on #748
This problem is not about one simple change. Since we started updating the TestPlatform and referencing it from TestFx, any change can be breaking. If we want to be able to update TestPlatform without breaking anything, this needs to be addressed. I was chatting with @jfleisher yesterday; he is looking into it from TestWindow'ss perspective; maybe something can be done there and retroactively fixe

[2020-12-03 20:54] michael-hawker opened #750 ".NET 5 TFM Support?"
## Description
I'm trying to follow [these docs](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-enhance#net-5-preview-8-and-later-use-the-target-framework-moniker-option) about using the new .NET 5 TFMs for access to the Windows APIs (specifically [App Service](https://docs.microsoft.com/uwp/api/Windows.ApplicationModel.AppService.AppServiceConnection)).

The same s

[2020-12-07 23:51] michael-hawker commented on #750
FYI @AdamBraden this is an issue following the comment I had pinged you on here: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3580#issuecomment-736683045

[2020-12-07 23:54] michael-hawker commented on #750
Ah, I had also left some of the old properties in:
[code]

Removing them to this format got me further:

[code]

Now it might be some underlying dependencies we're using need updates as well. But it'd be good to know if this is the recommended format for this support. Thanks!

[2020-12-08 00:16] AdamBraden commented on #750
That is the recommended model. A couple notes:
1. Setting the TFM sets the minimum TFM that all consuming apps must use to 'build'. This is only impacts the apis used as a reference. This might be what you are running into with dependencies.
2. Note if you are using 18362 or 19041 apis and running on 17134, the TPMinV doesn't yet provide appropriate compile time checks for lightup until this featu

[2020-12-09 10:14] Haplois commented on #748
We decided to start by altering the changes introduced with https://github.com/microsoft/testfx/pull/746 to make the changes non-breaking in older versions of Visual Studio and Test Platform. We'll start by removing the assembly level attribute. After that, we'll move the FQN changes out of the "ObjectModel" assembly.

[2020-12-14 21:01] Haplois commented on #748
This partially fixed with https://github.com/microsoft/testfx/pull/753 and https://github.com/microsoft/vstest/pull/2674.

[2020-12-17 10:36] poserdonut commented on #143
I have the following in my base class:
[code]

And it's not being executed for the classes inherting from the base class. Shouldn't it work?

[2020-12-28 19:13] NGloreous commented on #143
@poserdonut yes that should work. Are you using the latest version that has these changes? How did you confirm it didn't get executed? Did you try in a debugger? Note that your text in your call to WriteLine won't end up getting logged anywhere.

[2020-12-28 19:17] poserdonut commented on #143
Latest version (not preview) and we were using debug. Had to switch to testcleanup instead.

[2021-01-04 20:00] bartdesmet opened #756 "Assert.ThrowsException API suggestion"
I'm migrating a project from a rather old version of MSTest to the latest. We did have `AssertEx.Throws<T>(Action)` ourselves and have been able to replace a ton of these by `Assert.ThrowsException<T>(Action)` and related overloads, which is great. However, there's one more pattern we came up with originally and I believe it to be beneficial because it allows for fluent test code:

[code]

where t

[2021-01-05 19:48] vmandic commented on #488
Hello, I am also (still) experiencing this with VSIDE PRO 16.8.1 and
[code]

Any updates on this?

[2021-01-14 11:05] Mariachi1231 opened #757 "AssemblyInitialize/AssemblyCleanup in base class ignored in case of usage of such base test as base in tests from another assembly"
## Description
Hi guys, I have been facing the behaviour of `AssemblyInitialize/AssemblyCleanup` logic where they are not executed if you have a TestClass, which is a child of some base class defined in another assembly. From some point of view, this seems partially reasonable. I slightly went through your code and found, that scanning of test classes is based on `AssemblyEnumerator` and deciding

[2021-01-14 11:31] Sanan07 commented on #735
Closing this as it is done.

[2021-01-14 11:31] #735 closed

[2021-01-19 17:01] cvpoienaru opened #762 "Update localization"
Update localization resources to follow a standardized procedure.
AB#1272759

[2021-01-21 11:33] pavelhorak commented on #488
AB#844767

[2021-01-24 13:31] mujdatdinc opened #764 "Proposal: Test adapter should test multiple versions of depedent assemblies."
### Problem
We have a product A which uses different versions of other product B's assemblies.   Both products have its own versioning. Version 1 of A can run on the top of Versions 1 2 3 4 5 of B. A is always **compiled** against **latest** version of B and discovers version of B at runtime and loads its assemblies behaves according at runtime . So there is one version of binary(or binaries) A wh

[2021-01-26 16:03] airbreather commented on #623
See: dotnet/roslyn#50761

[2021-01-30 23:50] abatishchev commented on #664
Any updates on this, please?

[2021-02-01 11:59] #748 closed

[2021-02-03 15:09] nalamTekhqs commented on #25
any update regarding this issue?

[2021-02-05 11:30] vadim-96 opened #767 "What is Duration, startTime and endTime in trx report?"
## Steps to reproduce
Just generate trx file with following command: `dotnet test --filter Category=Test --logger:trx;LogFileName=results.trx`

## Environment
- Windows 10 x64, NET 5.0, Visual Studio Community 16.8.4
- SpecFlow 3.6.23, SpecFlow.Tools.MsBuild.Generation 3.6.23, SpecFlow.xUnit 3.6.23, xunit.runner.visualstudio 2.4.3, Microsoft.NET.Test.Sdk 16.8.3, FluentAssertions 5.10.3

In trx fil

[2021-02-05 20:29] RyanClementsHax commented on #580
https://github.com/microsoft/testfx/issues/580#issuecomment-473166442
My team is also experiencing an issue with this design of when ClassCleanup is called. I figured I would contribute our use case for this thread. For us, we are developing database integration tests where each test class tests a partition of our database access code. We could force all of these tests to run sequentially, resetti

[2021-02-11 19:50] DekuDesu commented on #668
Just posting in case anybody has this issue recently like me.
I had the exact same issue on Visual Studio 2019 Target: .NET 4.7.1.
Absolutely no fixes on any thread, testing framework, or anything would fix the issue including restoring NuGets, Repairing VS, and adding adapter references.
My **solution** was to **reset all values in Test > Live Unit Testing > Options** to EXACTLY match the followi

[2021-02-13 05:20] andrewphamvk commented on #757
This sounds reasonable. We already have a similar option with EnableBaseClassTestMethodsFromOtherAssemblies.

[2021-02-17 13:51] #762 closed

[2021-02-22 09:17] anqre opened #777 "license extension rename broke links"
## Description

Side effect generated by #603. Also, taking in consideration that Github support LICENSE, why add the `.txt`?
I can open an MR, but in my opinion the problem is the file extension. Waiting for feedback.

## Steps to reproduce
* Go to the License section on [README.md](https://github.com/microsoft/testfx/blob/master/README.md) and click on the _MIT license_ link

## Expected behavio

[2021-02-22 12:09] Haplois commented on #777
Thank you for the feedback. Let's remove the extension to comply with GitHub. I started a PR and abandoned it; if we're removing the extension, we need to update the build script and all other references to it.

Let me know if you like to do the PR, or I can do it as well.

[2021-02-22 14:23] anqre commented on #777
I can do the PR, no problem.

[2021-02-22 17:55] RobSwDev opened #780 "Referencing MSTest.TestFramework but not MSTest.TestAdapter"
## Description
We have several test utility libraries. They don't contain test cases, but rather methods used by test projects.
Ideally, these target NetStandard.
However, if we target NetStandard, we cannot reference MSTest.TestAdapter. Fair enough - these libraries don't contain test code. We still reference MSTest.TestFramework, so we can use the Assert methods.
But the test log spits out multi

[2021-02-23 11:12] Haplois commented on #777
Thank you, please @ me after you've created with the PR.

[2021-02-24 10:56] #777 closed

[2021-02-24 11:52] Irfo12 opened #783 "MS-test in C# .net"
Hi Sir,
Hope you are doing well!
I need some help in MS-Unit testing in C# .net program, I watched all of your youtube videos but....
So,
Below is my question, Please help!
Write Automated MS-Unit Test in C#.NET for the following C#.NET program. The program converts a decimal value into binary?  (10 Marks)

using System;
namespace BinaryClass
{
    class Program
    {
        static void Main(stri

[2021-02-24 12:59] Haplois commented on #780
You should be able to edit the `.csproj` file, add the following code segment to designate it "not a test project".

[code]

[2021-02-24 13:06] Haplois commented on #783
Hi @Irfo12,

This is not an issue with TestFx. Please refer to our documentation or platforms like StackOverflow to get help with your questions.

[2021-02-24 13:06] #783 closed

[2021-02-24 15:20] #780 closed

[2021-03-01 15:04] pcartwright81 opened #786 "Could not load type 'Microsoft.VisualStudio.TestPlatform.ObjectModel.ManagedNameUtilities.ManagedNameHelper' from assembly 'Microsoft.VisualStudio.TestPlatform.ObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
## Description
When running in Windows CMD, PowerShell, or Visual Studio 2019 an exception is thrown on an empty unit test or the Microsoft sample if the NuGet package is updated to Microsoft.NET.Test.Sdk > 16.9.0-preview-20210106-01.  There are no app.configs in either location.  Since 16.9.1 is a stable version but > 16.9.0-preview-20210106-01 it is also affected.

## Steps to reproduce
Create n

[2021-03-01 15:04] #786 closed

[2021-03-02 15:44] brianberns opened #788 "Upgrading .NET Framework project to use MSTest v2.2.1 introduces a large number of unwanted .NET Core dependencies"
## Description
I have a unit test project that is built with .NET Framework 4.6.1 and MSTest v2.1.2. When I attempt to upgrade to MSTest v.2.2.1, a large number of dependencies on .NET Core packages (of the form System.*.4.3.0) are introduced.

## Steps to reproduce
See above.

## Expected behavior
Since this is a .NET Framework project, I wouldn't expect upgrading MSTest to take dependencies on .

[2021-03-02 15:59] avivanoff opened #789 "Cannot run tests anymore after upgrading to 2.2.1"
Attempt to upgrade our test projects to version from 2.1.2 to 2.2.1 results in the following test execution error:

`An exception occurred while invoking executor 'executor://mstestadapter/v2': Could not load file or assembly 'Microsoft.TestPlatform.AdapterUtilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file spec

[2021-03-03 01:25] avivanoff commented on #789
A very simple sample project that reproduces the issue: [UnitTestProject1.zip](https://github.com/microsoft/testfx/files/6072972/UnitTestProject1.zip).

To get it to execute, just comment out DeploymentItem in UnitTest1.cs.

[2021-03-03 16:02] kwilson-93 commented on #789
I am also having issues successfully executing tests when upgrading from v2.1.2 to v2.2.1 (I am also using DeploymentItem mentioned above) 👍

[2021-03-03 16:12] mprokopy commented on #789
Same for me.

[2021-03-03 18:11] Sanan07 commented on #789
You need to install this package [Microsoft.TestPlatform.AdapterUtilities](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=test-tools&package=Microsoft.TestPlatform.AdapterUtilities&protocolType=NuGet&version=16.10.0-preview-20210303-02)

@Haplois we need to think how to prevent this issue. Everyone who update MsTestAdapter to 2.2.1 will get this error.
Maybe somehow automatically d

[2021-03-03 19:04] RosarioPulella commented on #740
@chingucoding it does live in this repo.
https://github.com/microsoft/testfx/blob/ec18af6f90c272f68f48d9d0b94c71b8e276c7a0/src/TestFramework/Extension.UWP/UITestMethodAttribute.cs#L12-L43

Also on a similar note, I am working on the [Windows Community Toolkit](aka.ms/uwptoolkit) and we make heavy use of `UITestMethod` either a solution like this would be very useful to be able to use `DataRow` or

[2021-03-03 19:45] mprokopy commented on #789
@Sanan07 for the following project, the installation of the package did not help:
[UnitTestProject2.zip](https://github.com/microsoft/testfx/files/6078720/UnitTestProject2.zip)

[2021-03-03 21:23] chingucoding commented on #740
Oh that's interesting, thanks for pointing that out @RosarioPulella!

I'm also not sure what the best move forward would be. I think having a UIDataTestMethod would be best for API simplicity since it extends on an existing pattern. I also got the issue you linked often and was confused what was happening. This error message should definitely be updated.

[2021-03-03 21:24] chingucoding commented on #740
@nohwnd What do you think is the best way forward here?

[2021-03-03 22:03] Haplois commented on #789
Hi @avivanoff and @mprokopy

Thank you for reporting this bug. There is an issue with the `MSTest.TestAdapter` package. Currently, you can disable app domains to make your tests functional.

[code]

[2021-03-04 00:23] s-glatshtein opened #790 "dotnet test does not detect tests using Test SDK 16.9.1 and .Net Core 3.1"
Steps to reproduce:
I created a new NUnit project with Visual Studio and .net core 3.1. It contained the following dependencies:

[code]

The project is created with a simple empty test, which I can see in the test explorer and execute through it.
However, I have CLI which uses `dotnet test` to run these tests. When I run the following command, i get no tests:
`dotnet test -t MyFirstTestProject.dl

[2021-03-04 01:20] avivanoff commented on #789
@Haplois, when do you expect to have a fix?

[2021-03-04 02:46] Haplois commented on #790
Hi @blushingpenguin,

I was able to reproduce this bug with an environment identical to yours. The issue only happens if you publish the test project and try to run the tests. If you build the project normally and run the `dotnet test` on build output, or use `dotnet test` on the project file, it works without any problems.

If you install the latest preview of .Net 6 (6.0.100-alpha.1.21067.8), it

[2021-03-04 02:48] Haplois commented on #789
We should have a preview in a week or two max, and if everything goes well, we can do another minor release.

[2021-03-04 12:32] avivanoff commented on #789
@Haplois, is it a recommended approach to disable app domains in test execution?

[2021-03-04 16:52] Haplois commented on #789
@avivanoff It should be fine, especially if tests are running in isolation.

[2021-03-04 18:55] deepasajin commented on #25
Any update on this ticket. I beleive we have an option to order the test using XML format. Any one tried that ?

[2021-03-04 19:50] RosarioPulella commented on #740
I am not in tune with a lot of the patterns of this API, but I see a lot of test methods decorated with `DataRow` and a simple `TestMethod` and it works fine. It also seems like there is an existing pattern to compose `DataRow` with other attributes than `DataTestMethod`.

[2021-03-04 21:26] Haplois commented on #25
@deepasajin, Ordered tests are not currently supported by MSTestV2; based on telemetry, it's not currently on our roadmap. Also, it is the *best* practice to avoid [ordering tests](https://docs.microsoft.com/en-us/dotnet/core/testing/order-unit-tests?pivots=mstest).

[2021-03-04 23:17] chingucoding commented on #740
Looks like you have a better view of how the properties work together. If `DataRow` works with normal `TestMethod`, why exactly is there a `DataTestMethod` attribute though? I though you need to have those and otherwise it wouldn't work.

Totally agree that no matter what we settle on, the situation needs to change. Having no `DataRow` support in UI tests is quite annoying.

[2021-03-05 02:31] JaggerWu opened #791 "Looks endless loop"
https://github.com/microsoft/testfx/blob/32f53aea32c4aac68a8880ec74ee84de56fcdf12/src/TestFramework/MSTest.Core/Assertions/StringAssert.cs#L580

[2021-03-05 02:33] JaggerWu commented on #791
This method returns itself, which might cause infinite loops

[2021-03-05 04:05] nalamTekhqs commented on #25
Thanks @Haplois for the update

[2021-03-05 09:17] nohwnd commented on #791
Do you want to PR a fix? It should be quite easy, I think a parameter is just missing to pass this call to another overload.

[2021-03-05 12:16] vikas0sharma commented on #488
I am still seeing this behavior:
    <PackageReference Include="MSTest.TestAdapter" Version="2.1.2" />
    <PackageReference Include="MSTest.TestFramework" Version="2.1.2" />
Is it still not fixed.

[2021-03-05 15:14] JaggerWu commented on #791
Fixed with #792. @nohwnd

[2021-03-05 15:38] #791 closed

[2021-03-05 16:13] xantiva commented on #789
Hello,
after updating the MSTest.TestAdapter from v2.1.2 to v2.2.1, I can't run "all" tests either.

We have several test projects in the solution. I can run only some of them. For the others I got this errors in the test output:

Kein Test entspricht dem angegebenen Testfallfilter "FullyQualifiedName=xxx.Device.Hardware.Adapters.Br.Tests.BrConnectionTests.Constructor|FullyQualifiedName=xxx.Device

[2021-03-05 22:58] majastrz opened #793 "TestContext.TestName in data-driven tests changed behavior in 2.1.2"
## Description
After upgrade to MSTest.TestAdapter version 2.2.1 from 2.1.2, our `[DataTestMethod]` tests changed behavior. TestContext.TestName now contains a badly serialized representation of the data row being passed in.

We are using test names to construct result file paths. This change breaks them on Windows due to Windows file system rules. The package didn't have a major version rev, so t

[2021-03-05 23:00] majastrz commented on #793
Linked the dependabot PR that led to the discovery of this: https://github.com/Azure/bicep/pull/1673

[2021-03-08 02:41] Haplois commented on #789
@xantiva, can you clean your solution, close Visual Studio, reopen it, rebuild your entire solution and try running your tests again? Do you still get the error?

[2021-03-08 12:42] Jehoel commented on #789
@Haplois I can also reproduce the issue and restarting VS after updating to `2.2.1` does not fix the issue, but downgrading back to `2.1.1` does fix it (no VS restart required).

In my case, I have two test projects: the first is targeting .NET Framework 4.8 with an old-style `.csproj`. The second project uses the same C# source files but targets .NET Core 3.1. If I update either project to `2.2.1

[2021-03-08 12:48] Haplois commented on #789
@Jehoel, thanks for the verification. You can use https://github.com/microsoft/testfx/issues/789#issuecomment-790097833 as a temporary workaround until we develop and test the fix.

[2021-03-08 12:53] Jehoel commented on #789
@Haplois I've updated my earlier reply with more details and a more reliable repro of the other error.

Unfortunately the workaround you suggest won't work for me because I depend on AppDomains in the .NET Framework tests. I'll just stick with `2.1.1` for now.

[2021-03-08 13:22] sumitkm commented on #793
@majastrz are you able to run any tests with `[DataTestMethod]` from Visual Studio? I can't even run the tests from Visual Studio... VS simply creates a new Branch of Tests not executed. The only message is

[code]

I have tried the clean, restart vs, rebuild to no avail. Going to try and run this from command line and see if is any good.

Someone let me know if I should file this as a separate bu

[2021-03-08 17:31] michael-hawker commented on #740
@chingucoding they `DataTestMethod` used to be a separate thing, but they merged them and just left the old one there for compatibility for folks. It should probably just be marked Obsolete so folks could move off of it and they could remove it in the future.

We hit the same problem with `async` as well, but using a TestMethod to just dispatch to the UI thread first things seems to be working. Sa

[2021-03-08 21:54] majastrz commented on #793
Yeah on a new project I wasn't able to run any tests with `[DataTestMethod]`. Downgrading MSTest.TestAdapter fixed it. On an old project, they somehow worked but had other issues. I think there are separate instructions for reporting bugs in VS. I'd like to keep this issue specific to the TestName behavior change.

[2021-03-09 08:48] xantiva commented on #789
@Haplois here are my results:

The target framework of the solution is .NET Core 3.1.

Starting with MSTest.TestAdapter v2.1.2

* open Visual Studio v16.8.6
* load solution
* rebuild solution
* **run all unit tests (of our main test category, the excluded tests use hardware) => ok**
* Update MSTest.TestAdapter to v2.2.1
* rebuild solution
* **run all unit tests => errors**
* clean solution
* close

[2021-03-09 16:55] Haplois commented on #793
Thank you for the report. I have determined the root cause of the issue. A preview package with the fix will be available later today or tomorrow morning. When it's available, I'll update the issue.

[2021-03-10 10:39] #793 closed

[2021-03-10 11:23] Haplois commented on #793
This is fixed in `2.2.2-preview-20210310-02`. The preview package can be found here: https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=test-tools

[2021-03-10 13:38] sumitkm commented on #789
Many thanks for the quick preview release. I can run unit tests with `[DataTestMethod]` attributes again using the preview.
I updated the `MSTest.TestAdapter` and `MSTest.TestFramework` packages from the `preview` feed and things seem to be back on track.

Will wait for 2.2.2 final release. Hopefully others who have reported this can verify it too.

[2021-03-10 14:48] Haplois commented on #789
@sumitkm, thanks for the verification.

[2021-03-10 14:50] Haplois commented on #789
This bug is fixed in version `2.2.2-preview-20210310-03`. The preview package will be available shortly in our [daily feeds][1].

[1]: https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=test-tools

[2021-03-11 11:11] xantiva commented on #789
@Haplois, thanks a lot. After updating to this preview version, I can run again my unit test!

[2021-03-11 19:22] avivanoff commented on #789
@Haplois, when do you expect the official release with the fixes?

[2021-03-11 21:41] Haplois commented on #789
@avivanoff testing on this is still continuing; we can do a servicing release on Monday if everything goes well.

[2021-03-15 16:11] avivanoff commented on #789
@Haplois, any updates on the release?

[2021-03-15 16:43] Haplois commented on #789
I preparing the release; I'll release it today.

[2021-03-15 23:59] Haplois commented on #793
The version `v2.2.2` release with the fix.

[2021-03-15 23:59] Haplois commented on #789
The version `v2.2.2` release with the fix.

[2021-03-16 00:50] avivanoff commented on #789
@Haplois, just updated to 2.2.2, the problem is not fixed. See updated sample project.
[UnitTestProject1.zip](https://github.com/microsoft/testfx/files/6145307/UnitTestProject1.zip)

[2021-03-16 08:32] xantiva commented on #789
Maybe this is an other problem? I can run my tests again after updating to v2.2.2. So my problem is solved with this release.

[2021-03-16 09:09] mprokopy commented on #789
Can't run tests after update to 2.2.2. Please check the project from my post above. https://github.com/microsoft/testfx/issues/789#issuecomment-790006960

[2021-03-16 09:28] Haplois commented on #789
@mprokopy, @avivanoff I missed the issue about `DeploymentItem`, diagnosing that too.

[2021-03-16 12:03] #789 closed

[2021-03-16 13:49] Haplois commented on #789
Let's do this again :) a fixed version is just released. Please use `v2.2.3`.

[2021-03-16 14:36] mprokopy commented on #789
Everything is fine on my side.

[2021-03-16 16:19] sumitkm opened #799 "Getting test output that breaks Visual Studio Devops Build pipeline (MSTest.Adapter v2.2.3)"
## Description
I was holding back on v2.2.1 and using v2.1.2 because of issue #789

When I upgraded to v2.2.2 and then to v2.2.3 I find the tests are running inside Visual Studio and the breaking behavior in 2.2.1 is resolved; however after running all the tests In the Test Output window I notice the following message

[code]

This doesn't cause any issues in Visual studio but when they are execut

[2021-03-16 16:41] Haplois commented on #799
Hi @sumitkm,

Are you getting that message after cleaning your solution?
If yes, can you try removing the hidden `.vs` folder in your solution root after closing Visual Studio and try again to see if you still get it?

[2021-03-16 17:58] sumitkm commented on #799
@Haplois Unfortunately yes. I have cleaned the solution, closed Visual Studio, remove all `bin`/`obj` folders manually, removed `.vs` folder manually... reloaded... clean, rebuild... no avail. Still get the same error.

Please note this is not like old executor bugs that happened due to missing DLL... there are no missing DLL warnings. It is clearly saying it is missing a `parameter`, possibly nam

[2021-03-16 18:46] sumitkm commented on #799
Update: I tried to repro it with a standalone solution and project, I got the same issue when I upgraded from 2.1.2 to to 2.2.3. But after I closed VS, deleted `.vs` folder and reloaded the standalone project, the message went away. I am going to dig a little further into this.

[2021-03-16 18:47] Haplois commented on #799
Yes, thank you for the clarification.

Could you run your tests from `vstest.console.exe` using the `--diag` option and send us the logs? (Test console should be on "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\common7\ide\CommonExtensions\Microsoft\TestWindow\vstest.console.exe")

[code]

[2021-03-16 19:56] sumitkm commented on #799
Hey @Haplois many thanks for the command line syntax. I have the files but these contain a bucket load of internal API details that I cannot share publicly.

Here's the bit from `diag[timestamp].log` file that might be of interest

[code]

Here's the bit from `diag.log`
[code]

I am happy to share the full files privately you can use code@sumitmaitra.com address to send me a location to upload the

[2021-03-16 20:16] StingyJack commented on #789
@Haplois - is part if this fix to report failures or at least some kind of inconclusive result for the tests we instructed the tool to run but it was not able to for whatever reason?

[2021-03-16 20:23] sumitkm commented on #799
Digging further, I can see out of the three Test projects I have, 2 are throwing the exception and 1 is not. So it narrows it down to an environment-ish issue.

Also I have updated the `PackageReferences` list in the original bug report above. I had inadvertently copied the packages from the Project that is actually working...

I'll keep digging in an attempt to reproduce it in a shareable project

[2021-03-17 10:10] skrysmanski opened #802 "Exception: Sequence contains more than one element"
## Description

In version 2.2.3 there is a regression (compared to 2.1.2) for this code:

[code]

Executing this via:

[code]

Leads to this error (I had to manually translate it because the error is in German on my machine):

[code]

This does not happen in version 2.1.2.

## Steps to reproduce

1. Create a modern-SDK test project
1. Select `net48` as target framework
1. Add code above
1. Refere

[2021-03-17 14:33] Haplois commented on #802
I was able to reproduce this. This issue is because of the Test Platform itself, with its next release this should be fixed.

[code]

[2021-03-17 14:36] Haplois commented on #799
Thank you, I wasn't able to reproduce this; please share with the repro if you are able to create one.

[2021-03-18 01:58] Haplois commented on #789
@StingyJack, the problem was caused by the parsing of test case filters, which has been addressed by the fix. Could you clarify if you're still having this issue?

[2021-03-18 03:34] StingyJack commented on #789
I don't think the specific cause actually matters. It's a giant defect if any one part of a test framework can cause the rest to stop executing without reporting a single test failure

[2021-03-18 11:49] Haplois commented on #789
That error prevented test discovery, So all the tests discovered on previous runs or via source-based discovery would show _not run_ status. You can configure Test Platform to report failure when no tests are discovered, but that's not the default behavior. See the [documentation](https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019)—

[2021-03-18 20:49] ajbeaven commented on #649
This is really disappointing, particularly because this worked in previous versions of .NET (at least it does on my old, .NET Framework 4.8 app). Is this an issue with .NET Core?

[2021-03-19 07:14] jnyrup commented on #777
Nuget seems to have [problems](https://github.com/NuGet/Home/issues/7601) linking to extension-less license files

![image](https://user-images.githubusercontent.com/919634/111742072-cdd23500-8887-11eb-80bb-44f288fa13a9.png)

I guess nuget gallery has some workaround to display the correct link on
https://www.nuget.org/packages/MSTest.TestAdapter/

Some possible workarounds:
* Rename `LICENSE` ->

[2021-03-19 17:29] KitoCoding opened #803 "Request for ability to identify from Test Context, how many and which tests are ran, running and yet to run."
As far as I can see, there is no such functionality. At run time, I want to know exactly which tests have run, which have yet to run and well the current running test.

If this feature does exist please help me out :)

[2021-03-19 17:41] KitoCoding commented on #580
Been open for a while, any update?

[2021-03-20 20:31] StingyJack commented on #789
@Haplois  There is a clear difference between "report an error when no tests are discovered" and "the tests that show in the test explorer list are not being executed when commanded to do so, and are not reporting any failure for the tests or any other failure to perform the command in its entirety."

If the test is in a Not Run state, then it has been discovered. The test is in the Test Explorer

[2021-03-21 13:26] Haplois commented on #789
@StingyJack, a discovered test doesn't necessarily mean that it was discovered by the test runner. It might have been discovered by the Test Explorer using source-based discovery or can be loaded from the cache. Your concerns are valid, but the Test Explorer window is not part of this repo.

Please report it inside the Visual Studio, using [Send Feedback](https://developercommunity2.visualstudio.c

[2021-03-21 18:36] StingyJack commented on #789
What does the adapter do? What is it responsible for?

[2021-03-22 09:42] Haplois commented on #777
Hi,

It's not about extensionless license files. The issue you're having is because `licenseUrl` is [depracated](http://aka.ms/deprecateLicenseUrl). Even if we update this, you should stop using that and use the license expression included with the package itself.

[2021-03-22 10:04] Haplois opened #804 "Switch to using a LICENSE expression instead of a file"
What needs to be done:
   - [x] Update the .nuspec files to use a LICENSE expression instead of an embedded file.
   - [x] Add `licenseUrl`  pointing `https://licenses.nuget.org/MIT` for backwards compatibility.

[This](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Common/3.10.0-1.final) package is a better example since Microsoft owns it.

------------------------
Nuget seems to have [pro

[2021-03-25 00:01] HeroMaxPower commented on #421
Just to point out that MTM is sun-setted so this might not get any updates to this tech

[Proof](https://social.msdn.microsoft.com/Forums/en-US/625f9272-29f9-4d44-8aa7-d454446593d0/cannot-see-mtm-amp-coded-ui-in-visual-studio-2019-preview-11-enterprise-edition?forum=vsmantest)

[2021-03-29 01:07] shyamnamboodiripad opened #805 "Tasks for fully qualified name"
- [x] 1. Implement changes to generate compliant class and method names that adhere to the standard specified in  [0017-Managed-TestCase-Properties.md](https://github.com/microsoft/vstest-docs/blob/master/RFCs/0017-Managed-TestCase-Properties.md) (Related PRs #765, #766, #794)
This is partially complete - however, we probably need some updates to populate test hierarchy information as well as to g

[2021-03-29 01:07] shyamnamboodiripad commented on #805
FYI @peterwald @Haplois @pavelhorak

[2021-04-01 16:41] sumitkm commented on #799
Quick update. I upgraded our project to latest Test Framework and tried out the latest adapter got stuck again. This time the behaviour is slightly different.

It is a mix of the 2.2.1 issues and the above issue.

I am back to 2 set of Unit Test projects being completely ignored by the test framework. It shows the Tree in Text Explorer but doesn't run them.

After carefully installing/uninstalling

[2021-04-01 22:09] gburghardt commented on #233
I found a solution I am happy with using the [CsvHelper NuGet package][1] NuGet package and the `[DynamicData]` attribute.

My answer on StackOverflow to [What is the replacement for TestContext.DataRow[“MyColumnName”]](https://stackoverflow.com/a/66912122/3092298) shows all the details. A brief summary is here.

**The CSV File (Example.csv)**

[code]

*Important: Make sure this CSV file is includ

[2021-04-02 12:32] Haplois commented on #799
@sumitkm, can you try with our latest preview (v2.2.4-preview-20210331-02)? If the issue persists, let's schedule a call on or after Tuesday. I'll send an email to you.

[2021-04-02 15:47] sumitkm commented on #799
Thanks again for all your support @Haplois . I tried updating all the MSTest dependencies to the latest from the Test feed. but no dice.
![image](https://user-images.githubusercontent.com/578882/113427646-52b36780-93cd-11eb-96ca-ba31a0d5453d.png)

As mentioned earlier only one of my three test projects run without the following error (even with new the `pre` packages)

[code]
![image](https://user

[2021-04-04 22:58] HeroMaxPower opened #808 "Add Assert.Equals & AssertNotEquals for decimals"
## Description

I discovered that the assert.equals doesn't have a override for decimal and delta compare, I thought this could be a useful enhancement. More than happy to contribute.

[2021-04-05 18:53] mayerj opened #810 "DynamicDataSource::GetData is called multiple times per test"
## Description

## Steps to reproduce

## Expected behavior

creating and returning an IDisposable object that represented some global resource, and noticed that tests started failing because the 2nd one that was created was failing to access the global resource because the first hadn't been cleaned up by the test (because it wasn't given to the test).  (This worked in 1.4 and versions prior to th

[2021-04-07 16:40] croopeUL opened #812 "The solution won't build on Mac because of this windows path in the reference for System.Collection.Concurrent"
https://github.com/microsoft/testfx/blob/348e32299239aaf81937189d35ca84d2ff9c5c3e/src/Adapter/MSTest.CoreAdapter/MSTest.CoreAdapter.csproj#L119

[2021-04-12 13:37] odalet commented on #799
I experienced the same issue and for now reverted to v2.1.2 of both `MSTest.TestAdapter` and `MSTest.TestFramework`...

[2021-04-15 01:12] azchohfi commented on #708
Related PRs:
https://github.com/microsoft/testfx/pull/782
https://github.com/microsoft/testfx/pull/813

Still working on it!

[2021-04-20 11:30] Haplois commented on #708
Related https://github.com/microsoft/vstest/pull/2852 merged. I will update the TP version used in this repo after the completion of the signed build.

[2021-04-21 23:04] #805 closed

[2021-04-22 15:58] Haplois commented on #708
This is included in our latest preview bits.

[2021-04-28 08:17] N-Olbert opened #820 "Regression - After an update to 2.2.3 no tests are discovered anymore due to netstandard2.0-dependency"
## Description
After updating MSTest from version 2.1.2 to 2.2.3 no tests are discovered anymore on the build server (TFS 2017).

The following error is shown:

The projects target .NET 4.6.2, which is also the only runtime, which is installed on the server.

Note: On a local machine, which has VS 2019 and therefore .NET 5 installed, all tests are discovered and run as expected.

The packages.conf

[2021-04-28 08:30] N-Olbert commented on #820
By the way according to nuget this package should not depend on netstandard 2.0

Source: https://www.nuget.org/packages/MSTest.TestAdapter/2.2.3

[2021-04-28 11:51] saiparth opened #821 "How to triger the MSTestV2 programatically?"
I am using specflow with MsTestV1. I am using orderedTest to run. Since V2 does not support orderedTests, is there any way to Triger the tests programmatically in V2. I checked the unit tests, I dint get it
I am trying like this
https://social.msdn.microsoft.com/Forums/vstudio/en-US/ccd08ce1-a86b-4965-af68-1db8cd7d6715/how-to-execute-test-methods-programmatically-using-c-may-be-using-reflection?fo

[2021-04-28 13:16] nohwnd commented on #821
Have you tried the vstest console wrapper? Or is that something you want to avoid as well? https://github.com/nohwnd/vstest-examples/blob/main/PartioningTests/Program.cs#L73 in mstestv2 tests are ordered based on method names btw.

[2021-04-29 07:25] saiparth commented on #821
i tried like this but its not discovering https://github.com/saiparth/consoleRunner
through console its working using dotnet test command

[2021-04-29 12:26] BoMarley commented on #580
any updates?

[2021-04-29 15:11] ptrace commented on #580
this would be very useful for me as well

[2021-04-30 10:41] Michael-SEW commented on #580
for me as well
it's been a while since now we are using a workaround for this issue.

[2021-05-04 14:02] saiparth commented on #821
@nohwnd
Thank you. I was able to fix and run like shown in example. please suggest for below scenario.
I have a framework which is build in C# (Version=v4.6.1)
this uses specflow and mstest V1. It uses orderedtest for grouping test. already hundreds of tests are there so I cant avoid ordertests. problem is mstest V2 will not support orderedtests. so I am thinking to use like `vstest.console.exe sa

[2021-05-06 06:06] N-Olbert commented on #821
@saiparth Support for ordered tests in the future seems to be unlikely (see https://github.com/microsoft/testfx/issues/25#issuecomment-790955113). We fixed our (few) tests which really require ordering by merging them into a single test method which executes them sequentially.

[2021-05-06 06:31] saiparth commented on #821
@N-Olbert
My problem is that I am using specflow which behind the screen generates the testmethods. and same test case can be present in Smoke test, regression multiple suites. so tags/ alphabetical order will not work. only way is I have to put tests in external file and invoke them programmatically. using Nunit its possible to do like this.

[code]
 since my framework was using Mstest V1, I thou

[2021-05-06 06:50] saiparth commented on #25
Hi @Haplois
Any plan to support external files?(if testnames are kept in external file) I may have 1000 tests which needs to be run in those order. I cant run parallelly or without order because application will not support that.
Ex: `dotnet test --filter tests.csv`
if not is there any limit for mentioning testname in this?if i create a file with 1000 test name, will that work?
Ex `dotnet test --f

[2021-05-06 12:57] Haplois commented on #25
@saiparth, providing a filter doesn't guarantee that tests will run in given order -- it is just for filtering which tests to run. There is a maximum limit set by the OS when using `--filter` (see: https://github.com/microsoft/vstest/issues/2764). We have an unsupported and undocumented way of filtering tests using the `.runsettings` file. You can try using that with the understanding of it might

[2021-05-07 10:42] s-tarasov opened #825 "Unable to test decimal values using DataRowAttribute"
Currently we cannot use decimal values in the DataRow attribute.
[DataRow(1.4m, 2.7m)]

The solution suggested in Stackoverflow is to pass it as a string and Convert it to decimal. (https://stackoverflow.com/questions/43787007/using-decimal-values-in-datarowattribute)

Let's say I have an xml attribute of decimal type. Then to test that if I pass it as a string and then convert to decimal it will

[2021-05-07 15:51] KitoCoding commented on #503
@parrainc

I know this is an old ticket, but this problem seems to be happening again.

[2021-05-11 20:47] Haplois commented on #503
@KitoCoding, will you able to share a quick repro with us? If not, could you share the Test Platform version (and other NuGet packages you use with their versions) with us?

[2021-05-11 20:52] Haplois commented on #812
Hi @croopeUL,

Our repository can only build on windows currently since it depends on Windows SDK.

[2021-05-14 09:50] nohwnd opened #829 "We will rename master to main on Thursday - May 20th"
On May 20th we're going to rename the default branch in this repository to main. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-05-20 09:23] nohwnd commented on #829
done

[2021-05-20 09:23] #829 closed

[2021-05-26 05:24] skrysmanski commented on #802
So I've update the "Microsoft.NET.Test.Sdk" package to 16.10.0 and "MSTest.TestAdapter" and "MSTest.TestFramework" to 2.2.4 - but the error is still happening. Am I missing something here?

What exactly is the "Test Platform"?

[2021-05-26 12:49] TheFireCookie opened #844 "MSTest 2.2.4 does not work with [DataTestMethod] [DynamicData] and a complex object"
## Description
Everything was working fine in 2.2.3. Then we updated to 2.2.4 and it does not work anymore.
So we have some classes with [DataTestMethod] and some dynamic data that we feed into it.
The tests were green in 2.2.3 and upgrading to 2.2.4 break them with this error:
[code]

## Steps to reproduce
Here is a full sample reproducing the bug:
https://github.com/TheFireCookie/MsTest224DataTe

[2021-05-26 15:56] DOliana opened #838 "After upgrading to 2.2.4 from 2.2.3 nullable enums are not valid for DataRowAttribute"
## Steps to reproduce
Create a Testmethod that accepts a nullable enum as parameter (`MyEnum? enumValue`) using the [DataTestMethodAttribute]
and two DatarowAttributes. Observe an Exception being thrown when using "MSTest.TestAdapter" Version="2.2.4" and "MSTest.TestFramework" Version="2.2.4"  instead of Version 2.2.3
The exception is thrown both when executed in Visual Studio and in a pipeline in

[2021-05-26 17:36] davesmits opened #839 "After upgrading to 2.2.3 to 2.2.4 getting a argument exception on datarow unit test"
## Steps to reproduce

Create this unit test

[code]

results in :
 Test method Pandora.Reasoning.Rules.Tests.Extensions.Test.Doubles threw exception:
    System.ArgumentException: Object of type 'System.Decimal' cannot be converted to type 'System.Double'.

## Expected behavior
Unit test completes successfully

## Actual behavior
unit test fails in Test method Pandora.Reasoning.Rules.Tests.Extens

[2021-05-26 17:54] Akinzekeel commented on #839
I am also encountering this problem. I also have problems with tests that use a Type or a char in the DataRow attribute (char cannot be converted to string, System.Type cannot be serialized)

[2021-05-26 17:59] Sanan07 commented on #839
Did you also update Microsoft.NET.Test.Sdk in project? I do not see any changes related to DataRow logic in 2.2.4.
@Haplois can you please look at these issues after upgrading to 2.2.4?

[2021-05-26 18:10] davesmits commented on #839
Just created a new project; updated the nuget packages
now using

[code]

this is this unit test:

[code]

same output

here is the project I used: [TestProject1.zip](https://github.com/microsoft/testfx/files/6548802/TestProject1.zip)

[2021-05-27 07:25] chriswelles commented on #839
Something has clearly broken with how DataRow's are serialized.  With the update to 2.2.4 (from 2.2.3), I get the error:

`An exception occurred while invoking executor 'executor://mstestadapter/v2': Type 'System.String[]' with data contract name 'ArrayOfstring:http://schemas.microsoft.com/2003/10/Serialization/Arrays' is not expected. Add any types not known statically to the list of known types

[2021-05-27 07:34] #839 closed

[2021-05-27 07:35] Haplois commented on #838
Thank you for reporting this, it's a known issue - we're working on it. It's tracked [here][1].

[1]: https://github.com/microsoft/testfx/issues/837

[2021-05-27 07:35] #838 closed

[2021-05-27 13:51] Haplois commented on #802
`Microsoft.NET.Test.Sdk` package is the Test Platform. I'll look into this and let you know about the progress.

[2021-05-28 10:41] brumlemann commented on #587
The simplest of solutions, from a user perspective, would be a switch on vstest.console /RerunAttempts:{number} with a default value of 0. Seems to me this would be the simplest solution from an implementation perspective too.

Gather up all the failing tests and rerun, of course observing all other switches but tweaking [test file names] and /Tests:[test name].

In particular /Parallell is import

[2021-05-28 14:44] rikrak opened #842 "v2.2.4 DataRow - breaking change in conversion of double values"
## Description
MSTest interprets constant double values as decimals, which is a change from previous behaviour

## Steps to reproduce
Using the following Code:

    using Microsoft.VisualStudio.TestTools.UnitTesting;
    namespace MStest.DataRowExample
    {
        [TestClass]
        public class Class1
        {
            [DataRow(1,2,3)]
            [TestMethod]
            public void DataR

[2021-05-28 14:50] rikrak commented on #842
Could this be related to #837 ?

[2021-05-28 17:53] Haplois commented on #842
@rikrak, thank you for reporting this, it's a known issue - we're working on it. It's tracked [here][1].

[1]: https://github.com/microsoft/testfx/issues/837

[2021-05-28 17:53] #842 closed

[2021-05-29 01:00] andessi opened #843 "[MSTest.TestAdapter] Failure while discovering tests on latest version (2.2.4)"
## Description
I am able to repro in both VSO and in Visual Studio locally when I update to the latest versions of MSTest.TestAdapter + related nugets. When I try to run tests, it errors out with the following:

`An exception occurred while invoking executor 'executor://mstestadapter/v2': Type 'System.Runtime.Serialization.DateTimeOffsetAdapter' with data contract name 'DateTimeOffset:http://schem

[2021-05-29 01:08] andessi commented on #843
#837 Discusses this more. Closing out this as a duplicate

[2021-05-29 01:08] #843 closed

[2021-05-29 21:20] Haplois commented on #838
Ref: https://github.com/microsoft/vstest/issues/2925

[2021-05-29 21:20] Haplois commented on #839
Ref: https://github.com/microsoft/vstest/issues/2925

[2021-05-29 21:20] Haplois commented on #842
Ref: https://github.com/microsoft/vstest/issues/2925

[2021-05-29 21:20] Haplois commented on #843
Ref: https://github.com/microsoft/vstest/issues/2925

[2021-05-30 02:09] Haplois commented on #843
Thank you for reporting this, it's a known issue - we're working on it. It's tracked [here][1].

[1]: https://github.com/microsoft/testfx/issues/844

[2021-05-30 22:59] Haplois commented on #802
The issue is in `Microsoft.TestPlatform.AdapterUtilities.ManagedNameUtilities.GetMethod`, this method doesn't support method hiding. This will be fixed in our 16.11 release. Moving this issue to https://github.com/microsoft/vstest.

[2021-05-31 07:04] #804 closed

[2021-05-31 11:02] vsfeedback opened #848 "error BC40027: Return type of function 'TestContext' is not CLS-compliant"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/error-BC40027:-Return-type-of-function-/1405892)._

---
I am using VS 2019 version 16.9.4 and trying to run a build.  It keeps failing because of a CLS Compliant error (all VB unit tests).  A few other co-workers of mine have older version's of VS 2019 and running a build on their machin

[2021-05-31 11:37] Haplois commented on #844
This is fixed, and a preview is available in our [daily feed][1]. If you are not sure about how to connect to our daily feed please check out [this page][2].

Fixed packages:
 - [MSTest.TestAdapter v2.2.5-preview-20210531-02][10]
 - [MSTest.TestFramework v2.2.5-preview-20210531-02][11]

Could you please test it and verify this is fixed the issue?

/cc: @TheFireCookie, @sk6868, @DOliana, @davesmits

[2021-05-31 13:08] Akinzekeel commented on #844
@Haplois thanks for the quick update.

I just tested the preview and re-ran all of my tests. The ones that were bugged out before (using types such as double and char) are working now. However a new bug appears to have popped up.

The following kind of tests are failing for me now (they worked previously in 2.2.3, not sure about 2.2.4):

[code]

This is the error reported in the test explorer for

[2021-05-31 16:56] aleks-ivanov opened #849 "Add native GitHub security and versioning dependency alerts"
- [Dependabot](https://dependabot.com/) alerts on updates for the project's dated and vulnerable dependencies and automatically creates PRs to easily update them

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline

[2021-06-01 07:39] xantiva opened #851 "MSTest.TestFramework 2.2.4: 'TestContext' does not contain a definition for 'TestRunDirectory' in net5.0-windows10.0.19041 project"
## Description
After updating MSTest.TestFramework from 2.2.3 to 2.2.4 a test project with the target framework net5.0-windows10.0.19041 could not be compiled anymore.

Other test projects in the same solution work fine with net5.0 or net5.0-windows.

I got also an error if I update the TestAdapter, but I will open a seperate issue for that.

## Environment
Visual Studio 16.10.0
Microsoft.NET.Test

[2021-06-01 07:57] xantiva opened #852 "MSTest.TestAdapter v2.2.4 fails on execution of tests in net5.0-windows10.0.19041 project"
## Description
After updating MSTest.TestAdapter from 2.2.3 to 2.2.4 a test project with the target framework net5.0-windows10.0.19041, the test execution throws an exception and only some tests have been executed.

[code]

I've got also an error with this target framework, if I update the TestFramework: https://github.com/microsoft/testfx/issues/851

I need this target framework for Rx 5: https:/

[2021-06-01 11:29] Haplois commented on #852
Thank you for reporting this, it's a known issue - we're working on it. It's tracked [here][1], there is a [preview version][2] addressing this issue is out, you could switch to it meanwhile we're working on releasing the fix.

[1]: https://github.com/microsoft/testfx/issues/844
[2]: https://github.com/microsoft/testfx/issues/844#issuecomment-851429634

[2021-06-01 11:29] #852 closed

[2021-06-01 16:39] aleks-ivanov opened #854 "Add native GitHub continuous code security and quality analysis"
- [CodeQL](https://github.com/github/codeql) is an open source code scanning tool for discovering vulnerabilities across a codebase

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline.foundation).

[2021-06-02 07:22] jmezach opened #856 "Issues after upgrading from 2.2.3 to 2.2.4"
## Description

After updating MSTest.TestFramework and MSTest.TestAdapter to 2.2.4 (from 2.2.3) I'm suddenly getting the following errors:

[code]

Downgrading to 2.2.3 works, although I have to perform a `dotnet clean` before doing a `dotnet test`. This also happens in CI scenario's with GitHub actions which can be seen [here](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/runs/2725477477)

## St

[2021-06-02 07:42] xantiva commented on #856
I had the same problem yesterday. It seems to be an duplicate of: https://github.com/microsoft/testfx/issues/844

[2021-06-02 07:48] jmezach commented on #856
Hmm, maybe, although that issue seems to be related to `DataTestMethod` which I'm not using in my tests at all.

[2021-06-02 10:20] conficient opened #857 "`DataRowAttribute` no longer supports `double` but does support `decimal`? Regression between v2.1.x and v2.2.x"
## Description
We use MSTest v2 in our unit tests and many libraries use the [DataRow()] attribute to pass data for test cases. I knew from past experience that you can't put `decimal` values in `DataRow` so if I need to test for a `decimal` result I put a `double` in the `DataRow` and convert in the code to a decimal value. All works fine in several projects. Example below:
[code]

Had a colleagu

[2021-06-02 10:23] conficient commented on #857
Ah, looks like this is a known issue? https://github.com/microsoft/testfx/issues/842

[2021-06-02 10:25] Sanan07 commented on #857
Yes, it is know, our team working on fixing it. Tracked here : #844. Closing this one.

[2021-06-02 10:25] #857 closed

[2021-06-02 17:27] Haplois commented on #856
It looks like similar, can you share a repro with us if possible? If not, we can have a quick teams call to verify to source of issue. You can reach me via [twitter dm][1].

[1]: https://twitter.com/messages/compose?recipient_id=15582470&text=issue-856

[2021-06-03 05:59] jmezach commented on #856
@haplois I'll give the pre-release mentioned in #844 a try first to see if that solves my issue.

[2021-06-03 06:05] jmezach commented on #856
@Haplois My tests run fine with `2.2.5-preview-20210531-02`, while they fail with `2.2.4` with the same error message as #844 so I think it is fair to see that this is indeed a duplicate of that issue.

[2021-06-03 09:10] Haplois commented on #856
@jmezach, thanks. Closing this a duplicate of #844.

[2021-06-03 09:10] #856 closed

[2021-06-04 00:44] Haplois commented on #788
@brianberns Thank you for reporting. This is fixed with v2.2.4 release.

[2021-06-04 00:44] #788 closed

[2021-06-04 01:20] Haplois commented on #844
This is _hopefully_ fixed, and a preview is available in our NuGet feed.

Fixed packages:
 - [MSTest.TestAdapter v2.2.5-preview-20210604-01][10]
 - [MSTest.TestFramework v2.2.5-preview-20210604-01][11]

Could you please test it and verify if this fixed the issue?

/cc: @TheFireCookie, @sk6868, @DOliana, @davesmits, @rikrak, @andessi, @Akinzekeel, @chriswelles, @conficient, @xantiva

[10]: https://

[2021-06-04 01:52] majastrz opened #860 "Upgrading MSTest.TestAdapter from 2.2.3 to 2.2.4 breaks data-driven tests"
## Description

Upgrading MSTest.TestAdapter from 2.2.3 to 2.2.4 breaks data-driven tests. See PR opened by dependabot against our repo: https://github.com/Azure/bicep/pull/2849. None of the release notes mention any breaking changes that would explain the errors below, so I'm assuming this is a bug.

Defect occurs with `dotnet test`, but also breaks the test discovery in Visual Studio.

## Steps

[2021-06-04 03:47] Haplois commented on #860
Thank you for reporting this, it's a known issue - we're working on it. It's tracked [here][1], there is a [preview version][2] addressing this issue is out, you could switch to it meanwhile we're working on releasing the fix.

[1]: https://github.com/microsoft/testfx/issues/844
[2]: https://github.com/microsoft/testfx/issues/844#issuecomment-854287294

[2021-06-04 03:47] #860 closed

[2021-06-04 04:31] cmenzi opened #861 "Invoking tests fails since update of MSTest.TestAdapter to 2.2.4"
## Description
Since the update from 2.2.3 to 2.2.4 test execution does not work anymore.

## Steps to reproduce
Execute tests on 2.2.3, update with 2.2.4, execute tests

## Expected behavior
[code]

## Actual behavior
[code]

## Environment
- Windows 10 20H2
- VS2019 16.10
- dotnet-sdk-5.0.300
- MSTest.TestAdapter 2.2.4

[2021-06-04 07:06] TheFireCookie commented on #844
So my test with the complex objects are working now.

I've also tested the method of @Akinzekeel  and it seems to work fine too.

When can we expect a real release of MSTest with the fixed issues?
Have a nice day!

[2021-06-04 08:12] ybru-isiware commented on #844
Hi,

I try the v2.2.5-preview-20210604-01, but my problem persists.

I create a sample here : https://github.com/ybru-isiware/MsTest224DataTestBug.

This sample work well in 2.2.3.

## Sample content

In the sample, i create a **User** class and a **UserService** class.
The UserService have one methode named **ParseUserDatas** who take a string for extract user information.

In my test project, i

[2021-06-04 08:24] Sanan07 commented on #861
It looks know issue, and recently our team provided new nuget for it. Please refer #844 in comments below you will find new 2.2.5-preview packages. Please test with them.

[2021-06-04 08:51] Akinzekeel commented on #844
v2.2.5-preview-20210604-01 fixed almost all cases for me, but byte-enums are still failing.

Test method signature:
[code]

Enum definition:
[code]

Error:
`System.ArgumentException: Object of type 'System.Int32' cannot be converted to type '(redactedNamespace).ShipmentThresholdPolicy'.`

[2021-06-04 10:48] PRRB commented on #844
When testing update to 2.2.4 into an issue with string[] and int[] params in DataRow attributes, and also with floating point value params (1.5, 1.5f, 1.5d) being casted to decimal value.

Developer Community ticket here:
https://developercommunity.visualstudio.com/t/cant-set-arrayofstring-as-the-datarow-in-mstest/1435155

I've run our tests against v2.2.5-preview-20210604-01 posted above - both o

[2021-06-04 11:16] Haplois commented on #861
Thank you for reporting this, it's a known issue - we're working on it. It's tracked [here][1], there is a [preview version][2] addressing this issue is out, you could switch to it meanwhile we're working on releasing the fix.

[1]: https://github.com/microsoft/testfx/issues/844
[2]: https://github.com/microsoft/testfx/issues/844#issuecomment-854287294

[2021-06-04 11:16] #861 closed

[2021-06-04 13:18] Haplois commented on #844
I tried to reproduce this, but my tests are passing. Could you clean your solution, make sure you're using the latest preview and try again?

[2021-06-04 13:20] Haplois commented on #844
Thank you @ybru-isiware,

I was able to repro the issue. Working on it.

[2021-06-04 13:31] aligneddev opened #863 "Reason:Unable to find assembly"
## Description
I have a solution with a mix of .Net Framework 3.5, 4.6.2 and 4.7.2 (it really needs to be updated to 4.8, but I don't have authorization to spend time on that right now).

I updated the MSTest.TestAdapter and MSTest.TestFramework from 1.4 to 2.2.4 and now the tests are showing in the Test Explorer, but they aren't run. I was hoping to update just enough and now I've lost a lot of t

[2021-06-04 13:49] aligneddev commented on #863
Here's my test solution that worked
[mixOfVersionsTest.zip](https://github.com/microsoft/testfx/files/6598908/mixOfVersionsTest.zip)

[2021-06-04 14:27] nohwnd commented on #863
Have you tried with any of the previous versions of TestAdapter that is still 2.x.x? Is this specific to the latest release?

[2021-06-04 14:33] aligneddev commented on #863
I have tried a few 2.x.x versions and still had the issue.

Update, I just made the project I'm referencing 4.7.2 and ran `vstest.console MyTests.dll --diag:log.txt;tracelevel=verbose` after finding https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md. The tests run in the console, but still not in VS.
after a lot of entries it finds the dll: TpTrace Information: 0 : 22340, 8, 202

[2021-06-04 15:23] Akinzekeel commented on #844
@Haplois I found out that the test works when I use the command line (dotnet test), however it keeps failing in Visual Studio no matter what. I've tried cleaning & rebuilding and also deleted the .vs folder, restarted Visual Studio, cleared the test results cache but the test still fails.

I'm using these versions for the test project:
[code]

Do you have any idea what could be wrong?

[2021-06-04 15:40] Haplois commented on #863
@aligneddev, can you enable FusionLog as shown [here][1] and run tests with diagnostics enabled; and share the logs with us?

[1]: https://stackoverflow.com/a/1527249

[2021-06-04 15:44] aligneddev commented on #863
you got me thinking. I went back to the original, updated to 2.0.0 and it worked. Then I updated to 2.2.4 and it doesn't run in VS.

I went back to 2.1.0 => that works
2.2.1 brought in more libraries  and only half my tests ran.
I found the breaking point!
![image](https://user-images.githubusercontent.com/1636977/120828125-c5ea6e80-c521-11eb-846e-ce334ecedcaf.png)

[2021-06-04 15:59] Haplois commented on #863
@aligneddev, please let us know if you need any assistance.

[2021-06-04 15:59] #863 closed

[2021-06-04 16:00] Haplois commented on #844
@Akinzekeel, could you try cleaning and rebuilding the solution? You also might need to restart VS.

[2021-06-04 16:01] aligneddev commented on #863
Thanks @Haplois for checking in. I'll have to move on with 2.1.0, but I've learned some things. Hopefully we can update someday and this will all go away.

[2021-06-04 23:46] arsen-ms opened #867 "No warning about async void tests which are not recognized by VS"
## Description
VS doesn't recognize unit tests that are `async void`, which is fine, but I expect to get some warning making me aware of my mistake. I had a unit tests which didn't call any async methods inside, so initially it was void. Then I had to add an async method call with `await`, hence added the `async` keyword in the method signature, but forgot about the return type. After that I spent

[2021-06-05 01:57] Haplois commented on #844
With #864, last failing case is fixed too. We also added some tests. @Akinzekeel, can you verify?

Fixed packages:
 - [MSTest.TestAdapter v2.2.5-preview-20210605-01][10]
 - [MSTest.TestFramework v2.2.5-preview-20210605-01][11]

[10]: https://www.nuget.org/packages/MSTest.TestAdapter/2.2.5-preview-20210605-01
[11]: https://www.nuget.org/packages/MSTest.TestFramework/2.2.5-preview-20210605-01

[2021-06-05 10:25] Akinzekeel commented on #844
@Haplois I can confirm that this version fixed all of my problems. Thank you!

[2021-06-06 16:55] Haplois commented on #844
Thank you for confirming @Akinzekeel, closing the issue.

[2021-06-06 16:55] #844 closed

[2021-06-07 10:03] Rashmi-nw opened #866 "High severity vulnerabilities in the System.Net.Http@4.3.0 (Dependency on NETStandard.Library@1.6.1)"
## Description

## Steps to reproduce
Create a test project using the package - `MSTest.TestAdapter@1.4.0` or `MSTest.TestAdapter@12.2.4`
Add a sample test and run `snyk test`

## Expected behavior
No high severity vulnerabilities identified. Alternatively upgrade the System.Net.Http Package?

## Actual behavior
MSTest.TestAdapter@1.4.0  has a dependency on NETStandard.Library@1.6.1 which has a de

[2021-06-07 11:23] nohwnd commented on #867
@arsen-ms This issue is specific to the used framework.

It seems to be decided here, and later `null` is silently ignored.

https://github.com/microsoft/testfx/blob/19acefa11712c387774784a79dafcf7b3dbee64c/src/Adapter/MSTest.CoreAdapter/Extensions/MethodInfoExtensions.cs#L116-L117

[2021-06-07 11:31] xantiva commented on #852
Hello haplois,

I'm sorry, but the 2.2.5-preview-20210605-01 version of the MSTest.TestAdapter doesn't fix all of the errors. Or works it only together with the preview of the TestFramework? (This preview doesn't fix my other compiler errors yet, so I can't use it.)

[code]

I clean the solution, delete all bin and obj folders and close and reopen Visual Studio. After that I rebuild the solution a

[2021-06-07 11:33] Sanan07 commented on #852
Use `2.2.5-preview-20210605-01` for `MSTest.TestFramework` package as well. Keep both of them in sync.

[2021-06-07 11:38] xantiva commented on #852
Hi @Sanan07 , thanks for your fast response.

Than I have to wait, because the `MsTest.TestFramework` causes another error: https://github.com/microsoft/testfx/issues/851

[2021-06-07 12:48] Haplois commented on #851
@xantiva, can you give us a quick repro of this issue?

[2021-06-07 15:33] xantiva commented on #851
@Haplois This is a demo for the error: https://github.com/xantiva/demo-MSTest.TestFramework-2.2.4

- 2 projects and 2 test projects
- one combination with TargetFramework: net5.0-windows which could be compiled and
- one combination with TargetFramework: net5.0-windows10.0.19041 which has the compiler error:

[code]

[2021-06-07 16:53] AlessandroDalMas opened #868 "System.Type not recognized anymore in DataRowAttribute"
## Description
After updating from 2.2.3 this type of tests don't run anymore:
[code]

and this message shows on window "Output - Tests":

## Steps to reproduce
VS2019 16.9.5

TargetFrameworks: net461
RuntimeIdentifiers: win
Microsoft.NET.Test.Sdk: 16.10.0
MSTest.TestAdapter: 2.2.4
MSTest.TestFramework: 2.2.4

## Expected behavior
The tests was working fine with the previous version:

Microsoft.NE

[2021-06-07 18:39] Sanan07 commented on #868
It is known issue. Please use `2.2.5-preview-20210605-01` version of `MSTest Adapter` and `MSTest Framework`

[2021-06-07 19:47] #868 closed

[2021-06-08 12:51] K-Cully opened #869 "MSTest SDK 2.2.4 breaks support for some types through the DataTypeRow attribute"
## Description
After upgrading the MSTest SDK version from 2.2.3 to 2.2.4, some datatypes are not supported correctly in the DataTypeRow attribute on test methods, leading to exceptions being thrown during test execution.
This repros both through dotnet test and through the VS IDE.

## Steps to reproduce
1. Create a test class using the sample project and class below.
2. run dotnet build.
3. run d

[2021-06-08 13:32] Haplois commented on #869
Thank you for reporting this, it's a known issue - we fixed it. See the solution [here][1].

[1]: https://github.com/microsoft/testfx/issues/844#issuecomment-855165685

[2021-06-08 13:32] #869 closed

[2021-06-08 14:04] nohwnd commented on #866
We will investigate the update in the latest version of mstest.

[2021-06-08 14:12] nohwnd commented on #820
Would you be able to give a simple full repro please? You can zip a project and drop it here.

[2021-06-08 14:15] nohwnd commented on #812
We don't know of a way to enable that on Mac at the moment, but could you share why you are trying to build it on a Mac, please?

[2021-06-08 14:30] Kevin-Seiden opened #870 "Byte enums fail in DataRow with conversion exception."
## Description
When using .Net 5 and the latest MSTest version, tests will fail when passing a byte enum as a DataRow parameter due to an Int32 conversion.

## Steps to reproduce
1. Create a new Unit Test project for net5.0-windows
3. Use the following code to run a test (requires UseWpf flag on):
[code]

## Expected behavior
The test should pass.

## Actual behavior
Test fails with the following

[2021-06-08 14:46] Haplois commented on #870
Thank you for reporting this, it's a known issue - we fixed it. See the solution [here][1].

[1]: https://github.com/microsoft/testfx/issues/844#issuecomment-855165685

[2021-06-08 14:46] #870 closed

[2021-06-09 10:42] Yar890 commented on #366
The following documentation has not been updated to state that PrivateObject and PrivateType is not available on .Net/Net Core projects:

- https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.privateobject?view=mstest-net-1.3.2
- https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.privatetype?view=mstest-net-1.3.2

Can this

[2021-06-10 12:04] juanmalm opened #871 "MSTest v2.2.4 not working for some data tests: System.ArgumentException: Object of type 'System.Int32' cannot be converted to type 'System.UInt32"
## Description
After upgrading to MSTest 2.2.4 I'm getting System.ArgumentException for data tests with some data types

## Steps to reproduce
- MSTest 2.2.4
- Create this test:
[code]

## Expected behavior
- Test to run without exceptions as prior to v2.2.4

## Actual behavior
- Getting the exception:
[code]

## Environment
Windows 21H1 build 19043.1023
VS 16.9.6

[2021-06-10 13:32] regisrc opened #872 "Datarow value cannot be null"
Hello everybody, im having a trouble using your packages, first of all let me explain what i did, i was using the 2.2.3 version for MSTestAdapter and MSTestFramework, and it was working well. The problem begins when i updated the version to 2.2.4, which broke for this error:  "... Add any types not known statically to the list of known types - for example, by using the ...", but ok i found an issu

[2021-06-10 16:07] elgatov commented on #665
Use case is exactly the same as mine, and a lot of other people using Selenium, for that matter.

[2021-06-10 17:12] Sanan07 commented on #872
@regisrc Update to newer packages :
`MSTest.TestAdapter v2.2.5-preview-20210605-01`
`MSTest.TestFramework v2.2.5-preview-20210605-01`

[2021-06-10 20:20] regisrc commented on #872
It's already released? i can't download it
![image](https://user-images.githubusercontent.com/47003717/121591589-0f4e2880-ca10-11eb-906f-d499f8986671.png)

[2021-06-10 22:01] abatishchev commented on #871
Similar issue but different exception when my unit test accepts custom class:

[code]

NuGet packages when it works:

[code]

and when it doesn't:

[code]

Code:

[code]

[2021-06-10 22:11] Sanan07 commented on #871
Please use latest packages :
`MSTest.TestAdapter v2.2.5-preview-20210605-01`
`MSTest.TestFramework v2.2.5-preview-20210605-01`

[2021-06-11 02:25] abatishchev commented on #871
@Sanan07 do you know when a stable version with the fix is planned to be release?

[2021-06-11 08:36] Sanan07 commented on #871
@Haplois can advice on it.

[2021-06-11 14:19] Haplois commented on #871
15th of this month, @abatishchev.

[2021-06-13 23:15] Haplois commented on #872
Thank you for reporting this, it's a known issue - we fixed it. See the solution [here][1]. Please clear your solution and check your NuGet sources. Packages are published at NuGet.org, and our daily feeds.

[1]: https://github.com/microsoft/testfx/issues/844#issuecomment-855165685

[2021-06-13 23:15] #872 closed

[2021-06-13 23:28] Haplois commented on #708
This is shipped with [Microsoft.NET.Test.Sdk v16.10.0][1] and MSTest v2.2.4[*][2][*][3].

[1]: https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/16.10.0
[2]: https://www.nuget.org/packages/MSTest.TestFramework/2.2.4
[3]: https://www.nuget.org/packages/MSTest.TestAdapter/2.2.4

[2021-06-13 23:28] #708 closed

[2021-06-13 23:36] Haplois commented on #799
@sumitkm, @odalet could you test it with our [latest preview bits][1]? If the issue still persists, is it possible to share a quick repro with us?

[1]: https://www.nuget.org/packages/MSTest.TestFramework/2.2.5-preview-20210605-01

[2021-06-14 14:07] N-Olbert commented on #820
Hi @nohwnd

Any test will work, what is important here is the environment. You can use any test project, but you need to run it within an environment where the highest possible .NET-Version is below .NET 4.7.

F.E. Take a virtual machine; install Windows Server 2012 R2 and Microsoft TFS 2017 (f. e. Version 15.117.27024.0). Then try to run the tests on that machine and the error will occur. It _sho

[2021-06-14 19:55] jvrooyen opened #875 "MSTest.TestFramework 2.2.5-preview-20210605-01: 'DateTime' in DynamicData looses significant digits less than milliseccond"
## Description
Significant digits smaller than milliseconds of `DateTime` values in DynamicData are lost when the value enters the TestMethod.

## Steps to reproduce
- MSTest.TestFramework 2.2.5-preview-20210605-01
- MSTest.TestAdapter 2.2.5-preview-20210605-01
- Microsoft.NET.Test.Sdk 16.10.0
- Net Core 3.1

[code]

## Expected behavior
All 7 test cases should pass

## Actual behavior
The first 4

[2021-06-15 14:20] #871 closed

[2021-06-15 15:57] Haplois commented on #740
`DataTestMethodAttribute` has no functionality, we keep it there for compability. It's same as `TestMethodAttribute`. Instead of adding a new method, we should fix the bug in `UITestMethod`.

[2021-06-16 06:46] kristofferjalen opened #877 "Version 2.2.4 cannot take double as argument in DataRow attribute"
## Description
This test passes for `MSTest.TestAdapter` and `MSTest.TestFramework` <= 2.2.3:
[code]
But when upgrading to 2.2.4 an `ArgumentException` is thrown:
[code]

## Steps to reproduce
`dotnet test MyProejct.Tests.csproj`

## Expected behavior
Tests should pass.

## Actual behavior
Tests are not run.

[2021-06-16 07:44] japj commented on #844
@azine

Is there a timeline on when 2.2.5 is planned to be released?

[2021-06-16 08:49] Arjailer commented on #877
I'm getting this too, and it also does the same with floats.

DataRow uses floats:

`[DataRow(10.5f, 20.5f)]`

And the test method expects floats:

`public void SetFromGridLocation_XY_Float(float x, float y)`

But the tests fail with:

``System.ArgumentException: Object of type 'System.Decimal' cannot be converted to type 'System.Single'.``

[2021-06-16 12:55] Haplois commented on #877
Thank you for reporting this, it's a known issue - we fixed it. See the solution [here][1].

[1]: https://github.com/microsoft/testfx/issues/844#issuecomment-855165685

[2021-06-16 12:55] #877 closed

[2021-06-21 09:37] HgDorn commented on #863
Hi,
I have the same issue with MSTest.TestAdapter 2.2.4: VS does not find all assemblies required for the Test.
With TestAdapter 2.2.3 everything works fine. I don't understand the conversation here. Is the problem fixed or is there a work around?

[2021-06-22 10:32] NorikaDE commented on #647
We'd love to get any possibility to get access to the test class instance by custom attributes like `TestClass` and `TestMethod`. We are trying to inject information into the test class instance, like it's done for the `TestContext` to grant automatic access for each test to further and more specific information required by all our test suites. Therefore it would come handy if it would be possible

[2021-06-22 14:08] paul-michalik commented on #871
@Sanan07 and others: v2.2.5-preview fixes the data collection issues with DynamicData but it removes the ability to run tests cases in parallel. I went to v2.2.2 this is the last version which supports DynamicData properly AND executes tests in parallel (Scope = MethodLevel)

[2021-06-22 14:50] nohwnd commented on #808
@HeroMaxPower you are more than welcome to add it :)

[2021-06-22 14:52] nohwnd commented on #803
This would be a feature where we would like to understand what is your goal. Could you describe it in a more detail please?

[2021-06-22 14:59] nohwnd commented on #756
@bartdesmet Thank you for the proposal, but the syntax looks to us more complicated than the original syntax where you output the exception into a variable, and would not work nicer for cases where you have multiple assertions to make about the exception. And it also does not combine the results from multiple assertions (which is not the path our Assert is going). We won't implement this.

[2021-06-22 17:02] Haplois commented on #871
@paul-michalik, we didn't discontinue support for running tests in parallel. You should still be able to run DynamicData tests in parallel in our latest preview. Do you have a repro for your issue?

[2021-06-22 19:09] paul-michalik commented on #871
@Haplois Yes! Given a test suite with data driven test cases with a IEnumerable<object[]> data source, if I let the test cases run in parallel with method level parallelism then InvalidOperations exceptions are thrown because of parallel access to the Enumerables.

It looks as if the data source Enumerables were Move-d from different threads for the same test case. I realized that I do not know wh

[2021-06-22 19:25] Haplois commented on #871
After 2.2.4, _as long as the values in data source are serializable_, every row for the specific test case is considered a separate test case. If our assumptions break parallel test runs that's a regression. Is it possible for you to share a quick repro with us?

![image](https://user-images.githubusercontent.com/433724/122986860-41f90900-d3a0-11eb-8452-847a0397f6f6.png)

[2021-06-23 10:23] nohwnd commented on #743
At the moment we don't have plans to change the output, but you can modify the DisplayName on the result object, and if you put the logger before Console it will report it:

[code]
[code]

You just need to make your test project depend on the logger and specify it for the run:

[code]

[2021-06-23 10:23] #743 closed

[2021-06-23 11:12] nohwnd commented on #728
@dotMorten

Yeah that would be great, but there is no way to abort a thread in .NET Core, and cancellation is cooperative, not preemptive. Cancellation will simply set a flag on the token. And if the task checks it, and decides that it can cancel itself the task will finish. If the task never checks, or decides not to cancel, nothing will happen, and the task will happily continue.

So we need a m

[2021-06-23 11:46] nohwnd commented on #727
@MSLukeWest Luke are you still working on the UWP runner, should this be possible?

[2021-06-23 12:03] nohwnd commented on #689
Hello, thank you for the bug report. The problem here is that TestPlatform does not have an option to represent Inconclusive, so Inconclusive is mapped to Skipped here:

https://github.com/microsoft/testfx/blob/19acefa11712c387774784a79dafcf7b3dbee64c/src/Adapter/MSTest.CoreAdapter/Helpers/UnitTestOutcomeHelper.cs#L44-L52

Adding more states to TestPlatform would have to be added to the output, an

[2021-06-23 12:06] StingyJack commented on #689
@nohwnd the request is to report them as failures, because they did not pass

[2021-06-23 12:11] nohwnd commented on #689
Oh I can't read. In that case you just enable the existing option. https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019#mstest-element

[2021-06-23 12:11] #689 closed

[2021-06-23 12:12] nohwnd commented on #689
https://github.com/microsoft/testfx/blob/19acefa11712c387774784a79dafcf7b3dbee64c/test/UnitTests/MSTest.CoreAdapter.Unit.Tests/MSTestSettingsTests.cs#L84-L89

This would be example of minimal runsettings that do just this.

[2021-06-23 16:37] dotMorten commented on #728
I'm confused about the above response. It seems to deal with _how_ to deal with tearing down a test after a timeout, and not with the fact that each datarow is run as a new test. IMHO there should be no difference between writing 3 identical tests with 3 different parameters, vs writing one test with 3 datarows. Ie how are these really different apart from one saving me from writing a lot of repea

[2021-06-23 21:03] Haplois commented on #728
@dotMorten, this should be fixed with out latest release. Please use `16.10.0` version of `Microsoft.NET.Test.Sdk` and the latest preview of `MSTest`; and let us know if you still have this problem.

[2021-06-23 21:03] dotMorten commented on #728
@Haplois WOOHOO! Thank you

[2021-06-23 21:24] #728 closed

[2021-06-23 21:37] dotMorten commented on #728
@Haplois Just tried with 16.10.0 and it didn't work.
![image](https://user-images.githubusercontent.com/1378165/123171332-859b5380-d430-11eb-8bec-327cad18e20a.png)

[2021-06-23 21:40] dotMorten commented on #728
Oh nevermind. Needed to move the other dependencies to 2.2.4. In fact 16.10.0 of the SDK had no effect.

[2021-06-23 23:03] dotMorten commented on #728
Do I get this correct that you basically changed the test discoverer to return one test for each row instead of a test with multiple datarows? That would severely break all the existing test history, as these would suddenly be all new tests.

[2021-06-24 00:33] MSLukeWest commented on #727
@nohwnd It looks like that wouldn't be done in the UWP provider, it would be done here in https://github.com/microsoft/testfx/tree/main/src/Adapter/PlatformServices.Universal.  It looks like right now it's context implementation comes from https://github.com/microsoft/testfx/blob/main/src/Adapter/PlatformServices.Shared/netstandard1.0/Services/ns10TestContextImplementation.cs

[2021-06-24 08:13] PSchmidde opened #1424 "Changed TRX file 'InnerResults' structure for datarows"
Hi,

since I updated my IDE enviroment, to VisualStudio 2019  V16.10.2 my test trx result file is no longer structured as expected.
I use vstest.console.exe in version 16.0.3136.167. All my test classes are started with this option to performe more datarows are defined in the TestFiles_prepared.xml:

`
[DataSource("Microsoft.VisualStudio.TestTools.DataSource.XML", "|DataDirectory|\\TestFiles_prepa

[2021-06-24 08:43] odalet commented on #799
@Haplois Well, I don't seem to reproduce the `The parameter cannot be null or empty. Parameter name: message` error any more, but now I'm stuck with crashes of the test host in my CI... I suppose this is a completely different issue, but just FYI:

Using:
* MSTest.TestAdapter and MSTest.TestFramework version 2.2.5-preview-20210605-01
* Microsoft.NET.Test.Sdk 16.10.0
* Building on GitLab in a Debia

[2021-06-24 10:30] nohwnd commented on #728
@dotMorten

There are multiple things mixed together.

1) MSTest (until the update you are testing), reported each testcase in the same test. The timeout applies to the test, that is to all testcases combined. If all testcases together take more time than the timeout, the timeout will be triggered.

2) With the update each test case is reported as a single test, and will get its own timeout.

3) B

[2021-06-24 12:03] Haplois commented on #799
@odalet, can you share a quick repro? (If not can you run your tests with --diag and share the resulting *.log files with us?

[2021-06-24 12:09] odalet commented on #799
I'm working on setting up a repro repository. Will post this here with details!

[2021-06-24 13:57] Haplois commented on #799
@odalet thanks! If it's a different issue you're welcome to create a new issue for better visibility.

[2021-06-24 16:04] odalet opened #887 "Test Host process crashes on Linux when a thread in a test method throws, but not on Windows"
## Description

Some unit tests have the test host crash when run on a Linux machine, but not on Windows

## Steps to reproduce

[code]

## Expected behavior

## Actual behavior

[code]

[code]

## Remarks

I reproduced the issue with this code:

[code]

It's obviously wrong but models what I suppose happens in my real unit tests. What has the test host crash is, I think, the fact that the thread

[2021-06-24 16:57] odalet commented on #799
So here is some bad news :(

Concerning the issue above, I did create a new issue (#887), but the thing is I was too quick at saying I didn't reproduce the issu any more; I was simply not looking at the right repository... .

So, I did apply version **2.2.5-preview-20210605-01** to test projects in the correct repository and:

* I still get only a part of my tests executed from Visual Studio when

[2021-06-24 17:18] odalet commented on #799
I managed to narrow down the issue to a rather simple repro (note that you'll need to add [Mongo2go](https://www.nuget.org/packages/Mongo2Go/):

[code]

This test reproduces the error that prevent later tests to execute (in Visual Studio).
What's interesting is that:
* If I uncomment either the first or the second `Console.WriteLine` in the Cleanup method, the error goes away.
* If I do so in the

[2021-06-24 17:26] sumitkm commented on #799
@odalet that is a brilliant narrowing down. @Haplois I can confirm I am using Mongo2Go as well in my tests.

[2021-06-24 18:42] odalet commented on #799
@sumitkm thanks! And well, I couldn't have suspected you were also using mongo2go... I think (hope) the issue is not specific to mongo2go but rather arises when a subprocess is created with its console redirected.
Do you happen to use class initialization and cleanup methods as well?

[2021-06-24 18:51] sumitkm commented on #799
We use `[AssemblyInitialize]` and `[AssemblyCleanup]`, which kind of explains why all my tests in one assembly runs before failing to start the run of the next Test project.

I am going to try that `Console.WriteLine` hack and see if it behaves the same for me too. brb.

[2021-06-24 20:16] sumitkm commented on #799
Haa haa... @odalet you wonderful hacker 😆 It works! Here is our Assembly level initialization
`MockMongoFactory` is just a custom class where we initialize the DB with some custom params.

using Microsoft.VisualStudio.TestTools.UnitTesting;

    using MyCompany.TestHelpers.Tests.Common.Mocks;
    using System;

    [TestClass]
    public class TestStartup
    {
        public static MockMongoFacto

[2021-06-25 02:02] SimonCropp opened #889 "test without namespace causes null ref"
The following class

[code]

in this project

[code]
 produces

[code]

### Repro
 - [NamespacelessTest.zip](https://github.com/microsoft/testfx/files/6716249/NamespacelessTest.zip)

### Env

 * Windows 10
 * .NET SDK (6.0.100-preview.5.21302.13)

[AB#1633111](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1633111)

[2021-06-25 07:46] odalet commented on #799
Well, to be honest, it was sheer luck that lead me to this workaround: I was merely trying to dump some information while investigating with my `Console.WriteLine` stuff... And then, I'm not that surprised the hack works with assembly level init/cleanup code as well: ultimately it taps into the same `LogCleanupResult` method deep down the test adapter.

@Haplois I think the parts to investigate ar

[2021-06-25 11:00] Haplois commented on #799
@odalet, Thanks for all the investigation, hacking and narrowing down! I'll look into this as well and try to see if we need fix this on our side.

[2021-06-25 12:51] Haplois commented on #889
@SimonCropp thanks for your feedback.

[2021-06-25 14:04] odalet commented on #799
@Haplois I've just cloned the testfx repo, walked down the call stack of my exception, and I think I came up with a fix:

I noticed that in [`TestExecutionManager.LogCleanupResult`](https://github.com/microsoft/testfx/blob/2d0f311cd1467427f878f18fb6365a66fae367df/src/Adapter/MSTest.CoreAdapter/Execution/TestExecutionManager.cs#L468), one makes sure that messages are neither null nor empty before p

[2021-06-26 11:08] Haplois commented on #799
Hi @odalet - thank you for all your work here. Since you did all the investigation, if you open the PR; I can guide you on the tests.

[2021-06-26 22:38] #799 closed

[2021-06-28 11:31] Haplois commented on #875
This is because the default serializer for `DateTime` doesn't preserve the least significant digits.

[2021-06-28 17:55] JustArchi opened #895 "2.2.5 regression: Object reference not set to an instance of an object"
## Description

Hello, one of my CIs when testing `TestAdapter` update from version `2.2.4` to `2.2.5` has failed (two times) with an error that looks like race-condition caused by `TestAdapter`. The same code/project has compiled fine within the same CI, I'm quite confident that this is a regression in `TestAdapter`. The test was done with `dotnet test` command.

## Steps to reproduce

If my gues

[2021-06-28 21:41] JustArchi commented on #895
Side note: as expected, the 3rd CI try actually succeeded, so this is most definitely some kind of race condition with the internal structures, see https://ci.appveyor.com/project/JustArchi/archisteamfarm/builds/39785367

[2021-06-29 10:02] Haplois commented on #895
Hi @JustArchi, thank you for the feedback.

Thank you for all your investigations! If it's not possible or easy to create a repro; can you add `--diag:diag.log` to your test runner, and share the resulting `*.log` files with us? (It should at least create to files).

[code]

[2021-06-29 10:54] JustArchi commented on #895
Hey @Haplois, thanks for answer.

This is because my renovate bot responsible for dependencies managed to bump the Framework to 2.2.5 without issues but failed at Adapter, I have them synchronized normally. Regardless, the bug is reproduced with framework and adapter both at being `2.2.5`.

I'm on it, might require a few tries to reproduce though: https://github.com/JustArchiNET/ArchiSteamFarm/com

[2021-06-29 10:58] JustArchi commented on #895
@Haplois got it first try. I'm attaching the full log from my CI run, it's not easy to grab the files from failed runs so I just configured my CI to print them on the console upon failure right before returning.

[log.txt](https://github.com/microsoft/testfx/files/6732818/log.txt)

The diag logs start at line 323 and continue all the way to the end of the file. I used `type *.log`, so there should

[2021-06-29 14:05] nohwnd commented on #889
@SimonCropp  this needs to be fixed in our FQN code. We are assuming that there is always an interface there.

[2021-06-29 14:15] nohwnd commented on #721
Are you trying this on .NET Framework of .NET ? In .NET (.NET Core) there is not Thread.Abort, cancelling the task will just set a flag on the cancellation token and nothing is aborted. This is platform limitation, not a limitation of vstest.

[2021-06-29 14:24] nohwnd commented on #707
Do you have a repro that we can use to debug this? Can you tell us the exact version of the nuget packages you are using please?

[2021-06-29 14:51] shueybubbles commented on #707
I don't have a repro available now.

[2021-06-29 19:51] Haplois commented on #863
Hi @HgDorn, could you share more information about the issue you're having? A repro project would be great. If not, please share diagnostic logs as shown here https://github.com/Microsoft/vstest-docs/blob/main/docs/diagnose.md.

[2021-06-29 20:20] jol64 commented on #721
I am doing this with .NET Framework.
Do you have any suggestion on how to get this fixed? Would I have to spawn a thread that checks IsCancellationRequested and cancels my test threads somehow? Of which cancellation token?
Or what else can be done to get proper clean up?

[2021-06-29 20:29] Haplois commented on #810
Hi mayerj,

We call that method during test discovery, if we can serialize all data produced it won't be called again. I case we find the data not serializable, it'll be called again during execution. Does this impact your test runs?

Can you describe the impediment you have with this? Does this affect your workflow?

[2021-06-30 11:40] Haplois commented on #707
Can you share the package versions you're using in your tests, and diagnostic output? https://github.com/Microsoft/vstest-docs/blob/main/docs/diagnose.md

[2021-06-30 15:17] shueybubbles commented on #707
Sorry, but our pipelines have evolved a fair amount since this issue was opened and I don't think we have any setup that's like this now.

[2021-07-01 18:41] kendrahavens opened #901 "Improve Nullability Analysis for Testing Frameworks"
Copied from https://github.com/dotnet/roslyn/discussions/54169

## Steps to reproduce
Add "null checks" to tests

## Expected behavior
Nullability state reflects checks.

## Actual behavior
No change in nullability state.

[2021-07-01 23:59] abatishchev commented on #895
I experienced the same. deleted the `.vs` folder and the error was gone.

My configuration:

[code]

Not saying this is not an issue, it is. But at least this workaround worked for me.

[2021-07-02 00:03] JustArchi commented on #895
I don't have a `.vs` folder in my project and `dotnet test` probably doesn't create one, does it? It could be a total coincidence, unless I'm missing something. I have an impression that only Visual Studio IDE creates that one.

[2021-07-02 00:23] abatishchev opened #902 "2.2.5 regregssion: DynamicData method is called once, output is persisted between runs"
## Description

Having a data test method:

[code]

## Steps to reproduce

1. Run the test from Test Explorer -> Debug (Cltr+R, Ctrl+T)
2. Write down the values of `_subscription` and `subscription`
3. Run the test again
4. Write down the values of `_subscription` and `subscription` again

## Expected behavior

1. The values from run 1 are same
2. The values from run 2 are same
3. The values betwe

[2021-07-02 00:25] abatishchev commented on #895
yes, you're right, @JustAchi! `.vs` folder is an artifact of VS and your environment is different. But I can swear I got the same exception on the very first run. Then I got much more serious trouble (reported as another regression in 2.2.5).

[2021-07-02 00:47] abatishchev commented on #866
@nohwnd any update on this, please?

[2021-07-05 08:26] HgDorn commented on #863
Yes, I think I can create a repo for the issue. But I will need several more days for it since I am currently very busy. Sorry for the delay.

[2021-07-05 08:36] Haplois commented on #902
Hi @abatishchev,

We started to discover `DynamicData` tests on discovery step. That step run on a different context to actual test execution. (It can also be fetched from cache.) In your case, `static readonly` `_subscriptionId` initialized during discovery, and tests discovered with their parameters. During test execution, previously discovered parameters are used.

Can you describe how this aff

[2021-07-05 08:38] Haplois commented on #863
Thank you @HgDorn! We'll wait for your repro.

[2021-07-05 09:00] Haplois commented on #901
We added this support (MSTest v2) on https://github.com/microsoft/testfx/pull/744, and release it with v2.2.1.

![image](https://user-images.githubusercontent.com/433724/124444924-5fa27700-dd7f-11eb-9f73-9a08e0b4221f.png)

## Sample
![image](https://user-images.githubusercontent.com/433724/124445866-37ffde80-dd80-11eb-8540-49d27a30a854.png)

[2021-07-05 09:00] #901 closed

[2021-07-05 11:24] krmr opened #903 "2.2.5: Issue with structs in DynamicData"
## Description
Unit test using DynamicData with a struct work fine in 2.2.3 but fails in 2.2.5. This seems to be caused by the structs as changing them to class seems to resolve the issue.

This seems to be related to #844

## Steps to reproduce
Run the following unit test in VS 2019 as a .NET 5.0 project using MSTest 2.2.5

[code]

## Expected behavior
The unit test is successful

## Actual behav

[2021-07-05 18:40] abatishchev commented on #902
Here's the major issue in facing:

1. Unable to debug the dynamic data source method. Regardless of other issue, this one is huge and must be fixed. It's not an `enhancement` per the tag the issue is marked with but a `bug`. Please take this seriously.
2. The dynamic data is apparently getting cached and it's unclear how to clear the cache. Is it documented? Why this is happening in the first plac

[2021-07-06 10:03] paul-michalik commented on #871
@Haplois I will share a complete project when I have more time, but in general, consider a test case like this:
[code]
with `GetData` similar to this:
[code]
If I run such test cases in parallel (method level parallelism)  then I see all kinds of exception suggesting that the the test framework attempts to pull the enumerable on different threads. I have plenty of data sources structured like this

[2021-07-07 01:07] dibyamani commented on #580
This is very helpful while working with database tests. Each ClassInitialize creates necessary tables, storedprocedures, feeding data and other necessary objects in sql server database and it should have provision to drop them withing the same classes's ClassCleanup. If we are not able to do so, another test class might be using the same object and it is failed.

[2021-07-07 17:15] mayerj commented on #810
Hello,

I noticed this because one of our DynamicData tests creates an IDisposable object to be provided to the test (the test knows to dispose this when the test finishes).  However, after updating as above, the resource that the IDisposable projected was being created multiple times, which was causing issues in the test.

IE, something like this:

`
public static IEnumerable<object> GetTestArgum

[2021-07-07 21:39] Haplois opened #905 "Provide a way to opt-out of discovery time expanding of ITestDataSource tests"
## Description
We recently changed how `ITestDataSource` tests are discovered. We need to provide a way to opt-out from this behavior.

## Proposal
 - Ability to opt-out assembly, type or test case level by using an attribute.
 - Ability to opt-out using a command-line parameter or `.runsettings` setting.

## Steps to reproduce
[code]

## Expected behavior
[code]

## Actual behavior
[code]

[AB#13

[2021-07-07 21:40] Haplois commented on #810
@mayerj,

We discover the tests once (assuming you're using VS, and not rebuilding) cache the test cases and reuse it. In you case, 10 test cases will created, `TestCase (1,DisposableObject)`, `TestCase (2,DisposableObject)`,  etc. After discovery we'll serialize these parameters and cache them. They'll be reused on execution (assuming serialization does not fail - if it does, they'll be rediscove

[2021-07-07 21:40] #810 closed

[2021-07-07 21:42] Haplois opened #906 "DynamicDataSource caching causes problems when running tests in parallel."
@Haplois I will share a complete project when I have more time, but in general, consider a test case like this:
[code]
with `GetData` similar to this:
[code]
If I run such test cases in parallel (method level parallelism)  then I see all kinds of exception suggesting that the the test framework attempts to pull the enumerable on different threads. I have plenty of data sources structured like this

[2021-07-07 21:43] Haplois commented on #871
@paul-michalik thanks for reporting this. We'll we working on fixing this. You can track it here #906.

[2021-07-07 21:46] Haplois commented on #906
This class needs to be able work concurrently.

https://github.com/microsoft/testfx/blob/main/src/Adapter/MSTest.CoreAdapter/Helpers/DataSerializationHelper.cs#L16

[2021-07-07 23:44] Haplois commented on #902
@abatishchev, I am sorry for the issues you're having with this change. Introducing this change on a `patch` was our mistake. We'll be careful not to release breaking changes in `patch` updates and respect the SemVer contract.

This is by-design, Visual Studio discovers and caches tests once and all the subsequent test runs (assuming no code change) will run the tests from cache. Currently if you

[2021-07-07 23:44] #902 closed

[2021-07-07 23:58] Haplois commented on #895
After investigating this, we found two reasons for this issue
 - Because of a bug (#869) introduced in 2.2.4, if your tests contains any data which is not serializable - you might get this error. Workaround is either upgrading to 2.2.5+, or downgrading to 2.2.3. After version change, you might need to clean the solution, and rebuild it.

 - It might be because of a race condition (#906) in out int

[2021-07-07 23:58] #895 closed

[2021-07-08 00:25] Haplois commented on #903
We recently changed or test discovery behavior for dynamic tests. Tests are discovered once, and cached. This requires all the data to be serializable also your data object should have a distinct `ToString` implementations.

 - `IntegerValue` property is not settable. You either make it settable, or enable serialization.
 - You need to override `ToString` method to differentiate between test cases

[2021-07-08 00:25] #903 closed

[2021-07-08 01:28] Haplois commented on #664
The target framework 'netcoreapp2.0' is out of support and will not receive security updates in the future. Please refer to https://aka.ms/dotnet-core-support for more information about the support policy.

[2021-07-08 01:28] #664 closed

[2021-07-08 06:03] cklutz opened #909 "DynamicData test ignores data items when their ToString() results in the same string as other data items"
[DynamicData] items are ignored. Best explained with an example (also see test.zip attachment for full solution):

[code]

Create a .NET 4.8 project, using MSTest.TestFramework/MSTest.TestAdapter 2.2.5, the results are as follows:

TestList:
* Discovers/creates three test cases from the `TestListData` result.
* Runs each

TestList2:
* Only creates one test case from the `TestListData2` result.
* E

[2021-07-08 07:10] StefanOssendorf opened #908 "Using an interface in dynamic data causes a de-/serialization exception"
## Description
Upgrading MSTest.TestAdapter from version 2.2.3 to 2.2.5 causes this error.
To test a extension method I am providing some dynamic data as `IEnumerable` which now provides an exception.

## Steps to reproduce
[code]

## Expected behavior
4 test cases are executed

## Actual behavior
Only two test cases are executed and then the following exception is logged from `dotnet test`.
[code

[2021-07-08 13:20] Haplois commented on #909
Thank you for the reporting this issue. In dynamic data tests, we differentiate testcases by their display name. If there is a conflict by name as you discovered, only the last discovered one is kept. This is by-design. We're working to provide an opt-out (#905) from this behavior, until that's ready you can use you workaround - or downgrade to version 2.2.3.

[2021-07-08 13:20] #909 closed

[2021-07-08 13:31] Haplois commented on #875
This is fixed by @jvrooyen on #907. Thank you for your contribution!

[2021-07-08 13:31] #875 closed

[2021-07-08 13:51] Haplois commented on #908
This is by-design. We'll work on make this exception clearer.

All data should be serializable and deserializable. We're working on an opt-out of this behavior, #905. Until that's done you can downgrade to 2.2.3.

Also, I'll look on providing an exception to that rule for `IEnumerable` interface.

[2021-07-08 15:08] Haplois opened #910 "Dynamic Test Bugs and Enhancements"
## Description
We have some active bugs on dynamic data tests. This issue is to track all of them in a single place.

## Tasks
 - [x] #875
 - [x] #450
 - [x] #283
 - [x] #905
 - [x] #464
 - [x] #997
 - [x] #906
 - [x] #452
 - [ ] #309
 - [ ] #740
 - [ ] #908
 - [ ] #713
 - [ ] #246

[AB#1353432](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1353432)

[2021-07-08 15:17] Haplois commented on #450
This has been implemented in 2.2.5. Assuming all dynamic data can be serialized, and you're not using `DataSourceAttribute` all discovered tests gets a new id.

[2021-07-08 15:17] #450 closed

[2021-07-08 15:26] Haplois commented on #283
Support added for this with #604.

[2021-07-08 15:26] #283 closed

[2021-07-08 19:14] StefanOssendorf commented on #908
Thank you for your quick reply.
Okay I'll keep that in mind for new tests. Thanks!

[2021-07-10 06:45] Grauenwolf opened #913 "Capture Multiple Assertion Support"
## Description

There are times when we want to capture multiple assertions at the same time. For example, checking a set of properties for equality.

	Assert.AreEqual(key, echo.EmployeeClassificationKey);
	Assert.AreEqual(row.EmployeeClassificationName, echo.EmployeeClassificationName);
	Assert.AreEqual(row.IsEmployee, echo.IsEmployee);
	Assert.AreEqual(row.IsExempt, echo.IsExempt);

It would be

[2021-07-11 18:11] chingucoding commented on #740
I would like to take a look at this.

[2021-07-11 20:15] Haplois commented on #740
@chingucoding go for it. Thanks.

[2021-07-12 08:12] michael-hawker commented on #740
@Sergio0694 your dispatcherqueue extensions in the toolkit test if it needs to be dispatched first, eh? So it's probably a similar type of helper needed in DataRow, so if it's used with the UITestMethod test, then it'll just dispatch the call as needed to where the test is running? I think?

[2021-07-12 09:38] debabbe opened #915 "DataRow test throws excption"
## Description
Unit tests are not working with DataRows and MSTests 2.2.5 in Visual Studio 2017
## Steps to reproduce

[code]

See [https://github.com/debabbe/DateRowError](https://github.com/debabbe/DateRowError)

This simple test is not working. Unit test fails with the error:
Message: Fehler beim Deserialisieren des Objekts "vom Typ System.Object". Unerwartetes Zeichen 'S'.
## Expected behavior

[2021-07-12 16:03] Sergio0694 commented on #740
That is correct. Though note that that was just meant to be a small performance optimization for when the extension was needlessly called, and it should not result in any functional changes compared to someone just always using just `TryEnqueue`. That is to say, the fact that those extensions do that should not (I think) affect how or when they're being used. It's just that, whenever they're used,

[2021-07-14 06:41] CoeckelberghPJ commented on #844
Hi,
We also had this issue when upgrading to 2.2.4 and even 2.2.5 did not fix our issue.
The test still fail when the complex object is created through a constructor or static method and sets private properties.

I've created an example: https://github.com/CoeckelberghPJ/TestFxBug

[2021-07-14 06:45] CoeckelberghPJ opened #917 "MSTest 2.2.5 does not work with [DataTestMethod] [DynamicData] and a complex object that has private properties set through constructor"
Related to https://github.com/microsoft/testfx/issues/844
We also had this issue when upgrading to 2.2.4 and even 2.2.5 did not fix our issue.
The test still fail when the complex object is created through a constructor or static method and sets private properties.

I've created an example: https://github.com/CoeckelberghPJ/TestFxBug

[2021-07-15 09:32] nir-boger opened #919 "Ability to control ClassInitialize invocation"
Today we have the amazing extensibility where we can control the test method invocation and wrap the invocation call within our custom code.

But unfortunately we can do it **only** on **TestMethods**. As we need to have our own custom "before" and "after" code to Class initialization we would like to be able to override the class initialize invocation

[2021-07-19 15:53] TheFireCookie opened #926 "MSTest 2.2.5 [AssemblyInitialize] is not called in the same order as in 2.2.3 with a [DataTestMethod]"
## Description
With MSTest 2.2.3, we have some code using a [DataTestMethod] and the code feeding the dynamic data is using some objects initialized in the [AssemblyInitialize], everything was working fine.
When upgrading to 2.2.4 or 2.2.5, the [DataTestMethod] method invocation is occuring before the [AssemblyInitialize] method.

## Steps to reproduce
Sample code here: https://github.com/TheFireC

[2021-07-19 19:50] MSLukeWest opened #927 "Tests fail to run for UWP projects with Minimum Versions set to RS2 (15063) or earlier - Regressed with TestAdapter 2.2.1"
## Description
Attempting to run tests for a UWP unit test project with Minimum Version set to RS2 (15063) or earlier fails with an error about not being able to load System.Xml.ReaderWriter.  This regressed starting with MSTest.TestAdapter version 2.2.1.  It reproes both in and outside of Visual Studio.

## Steps to reproduce
1. Create a C# UWP test project.  This brings up a wizard where you sel

[2021-07-19 20:45] MSLukeWest commented on #927
Debugging observations:

In the working case Framework assemblies (System.*) are being loaded from the CoreFramework app directory, for example System.Xml.ReaderWriter.dll is loaded from "C:\Program Files\WindowsApps\Microsoft.NET.CoreFramework.Debug.2.2_2.2.29301.2_x86__8wekyb3d8bbwe\System.Xml.ReaderWriter.dll".

In the failing case these assemblies get loaded from the app layout directory, for

[2021-07-20 10:40] TheFireCookie commented on #917
I have the issue too!

[2021-07-20 17:48] MSLukeWest commented on #927
There's two possible workarounds, either:
1. Go to "Manage NuGet Packages" for your test project, and update MSTest.TestAdapter to version 2.1.2, or
2. In the project properties for your test project in the Application tab, change "Min Version" to "Windows 10 Fall Creators Update (10.0; Build 16299)" or anything newer

[2021-07-21 11:09] jr01 commented on #906
@Haplois - just to add to this. I intermittently get this exception with 2.2.5:
[code]

Changing the `SerializerCache` to a `ConcurrentDictionary` should fix this.

[2021-07-22 20:16] chingucoding commented on #740
Was trying to test this inside the project by adding a UWP test app and have the use the libraries from the repository, however I can not build the project as it fails with the following error message:

[code]

Maybe you guys now more about this or know a way to work around this?

[2021-07-22 20:58] michael-hawker commented on #740
@chingucoding I believe that path is stored in one of the project or manifest files, you should just be able to remove that line so it doesn't try and use the non-existent snk file?

[2021-07-22 22:38] chingucoding commented on #740
If I do that, the issue get's even worse as other projects also fail to build...

[2021-07-24 11:34] patest-dev commented on #905
The opt-out is very(!!) much needed and all this new discovery time behavior should actually be an opt-in.
How could all of these breaking changes be introduced on a minor version??

Even a DynamicData test as simple as this one, is now only being executed 2-times and the `null` case is simply lost

[code]

[2021-07-26 07:49] ryantheleach commented on #216
I got hit by this on vs 2019, when I tried to add the following to app.config:

[code]

  I'm not in a position where I'm easily able to migrate to PackageReferences instead of package.config without getting the rest of the team involved in what was supposed to be a sneaky incremental upgrade.

[2021-07-27 18:58] julealgon commented on #521
Sorry I missed your comment @parrainc . I have not managed to look into this one yet, unfortunately.

[2021-07-28 13:29] parrainc commented on #521
Been a while tho;
I'll see if I manage to get some time and put some code for this.

[2021-07-28 18:55] MSLukeWest commented on #927
To help narrow down the regression I tried using each of the two preview releases that came between 2.1.2 and 2.2.1, but they both failed with other errors:

2.2.0-preview-20201126-03: Build failed during GenerateResource task:

error MSB3816: Loading assembly "C:\Users\lukewest\.nuget\packages\mstest.testadapter\2.2.0-preview-20201126-03\build\_common\Microsoft.VisualStudio.TestPlatform.MSTest.Te

[2021-07-30 13:37] kiwimato opened #930 "Upgrading Microsoft.NET.Test.Sdk from 16.9.4 to 16.10.0: tests are ignored silently"
## Description
We have a pipeline in Azure DevOps which stopped running tests after we upgraded `Microsoft.NET.Test.Sdk` to `16.10.0`.
Last running version seems to be: `16.9.4`

## Steps to reproduce
actual dotnet test command:
[code]
Note: I noticed that running the command with  `--collect:"XPlat Code Coverage"` and removing `/p:CollectCoverage=true /p:CoverletOutputFormat="opencover"` seems to

[2021-08-03 16:58] anatol83 opened #933 "Truncating DateTime ticks passed by means of DynamicDataAttribute (MSTest.TestAdapter ver 2.2.5)"
While creating DateTime object in separate method and passing it in test method by using DynamicDataAttribute, ticks in DateTime are truncated. Example:

 Ticks that used to create DateTime object | Ticks in DateTime object in test method | Ticks are  |
 ------------------------|--------------------------|--------------
|  637635456000000001	 | 637635456000000000		| TRUNCATED! |
|  637635456000000

[2021-08-04 18:56] cimryan opened #934 "Enable discovery of internal test classes"
My team finds it convenient to extract tests for common attributes into reusable, abstract, generic classes and inherit from these classes in the type-specific tests. This approach doesn’t work for internal types, however, because the test class must be public in order for MSTest to discover it.

In the below example, FancyString is not intended to be a public type of the assembly. (It’s marked in

[2021-08-04 22:35] Kalonjelen commented on #934
I'd recommend having it as an attribute like other Test type attributes that you can decorate at the class or the method level, like TestCategory. Then you can have similar logic to how [Ignore] works:
var typeIgnored = ReflectHelper.IsAttributeDefined(type, typeof(UTF.IgnoreAttribute), false);

My personal team would like some things to be tested with internals, and some things to not be, and the

[2021-08-05 01:19] cimryan commented on #934
I'm not sure we're discussing the same scenarios. Can you clarify what you mean by "things to be tested with internals"?

The capability that I want is for MSTest to discover the test methods in an internal class (which has been decorated with [TestClass]).

If there were no internal classes in the universe which were decorated with [TestClass] then the behavior of MSTest could just be changed for

[2021-08-05 01:55] Kalonjelen commented on #934
Sorry, I will try and be more clear.

We have test projects which have some public classes that we'd like to test the regular way, AND we have some internal classes that we'd also like to test - and some other internal classes that we would emphatically not like to test or give access to. Currently we do wrappers around them as public classes for the ones we test, but it'd be nicer to not have to

[2021-08-05 03:07] cimryan commented on #934
Thanks, I'm still trying to understand. You have classes in your project like this?

[code]

And you want neither ```WhenTheMoonIsFull_TheDogHowls``` nor ```WhenTheMoonIsNew_TheDogSleeps``` to be executed? Why not just delete the whole class?

[2021-08-05 08:47] Haplois commented on #933
Thank you for your feedback. This is fixed on #907, and we'll release it on Monday.

[2021-08-05 08:47] #933 closed

[2021-08-05 23:35] MSLukeWest commented on #927
I found that [this](https://github.com/microsoft/testfx/commit/76f0f89086d7ef3fa2c837fa3e40a0464ac069f2#diff-128a880f7dcded9d33db1aea61f20d7c7df5ded5b3ce8a0fc4eedab69f1f3f77) change that updated PlatformServices.Universal from using Microsoft.Internal.TestPlatform.ObjectModel v14.0.0 to Microsoft.TestPlatform.ObjectModel v16.9.0-preview-20201021-10 is what caused this issue.  If I sync to the 2.1.

[2021-08-06 19:13] bkqc opened #938 "Empty string is passed as null with DataRowAttribute and DynamicData"
## Description
When in a [DataTestMethod] that receives a string parameter, if we provide String.Empty or "" data using DataRowAttribute or DynamicDataAttribute, the received parameter is always null, not an empty string.

## Steps to reproduce
Option 1
[code]

Option 2
[code]

Option 3
[code]

## Expected behavior
First time the test runs: value == string.Empty
Second time the test runs: value ==

[2021-08-13 06:06] schibu007 commented on #917
Me too. This is my example. It's basically a truth table of an `OR` operation between `Value1` and `Value2`:
[code]
Outcome:
![image](https://user-images.githubusercontent.com/45459443/129312162-ba0e976a-24c6-48af-80c3-3422f523e77b.png)

Interesting about this is that the description and the actual data seem to be out of sync.
Another information that might be of interest:

- It works if line `//p

[2021-08-16 18:52] tarenbd commented on #541
@borsooq I am facing the same issue. Could you please explain which property did you use to get the TCM Test data. I don't see TCMTestPropertiesJSONFile in the TextContext.Properties.

[2021-08-18 07:05] gao-artur opened #939 "Async Initialize methods swallow outer exception and stacktrace"
Consider following code:
[code]

This code swallows outer exception with stacktrace and prints this message:
[code]

The sync version:
[code]

Reports outer exception with stacktrace as expected:
[code]

[2021-08-18 08:50] xuxiaotun commented on #580
Is it the same reason why we can't map the classcleanup log to the last testmethod?

![image](https://user-images.githubusercontent.com/13480617/129868342-1d138ae8-9c87-466a-9c12-4d00bbdfbf1d.png)

[2021-08-18 10:27] Niproblema commented on #522
@nohwnd  Core is not working as you described anymore

[2021-08-18 13:29] tarenbd commented on #541
@jayaranigarg Could you please suggest how we can use the TCMTestPropertiesJSONFile to get TCM data?

[2021-08-18 14:38] nohwnd commented on #522
@Niproblema can you be more specific? Are you talking about mstest, or about dotnet core as a whole?

In mstest there was a change recently, not sure if it was on purpose, but now it works in a way similar to nunit, where the task is abandoned and  continues on background until the process is stopped, rather than killing the process imeadiately.

[2021-08-20 12:49] sylvainouel opened #941 "MSTest 2.2.4+ does not runs tests contained in classes with non alphanumeric characters in the class name"
This works fine with MSTest.TestAdapter and MSTest.TestFramework 2.2.3, but the test is skipped with 2.2.4 or 2.2.5.

[code]
I get the following output from dotnet test:
[code]

Visual Studio 16.11.1
dotnet --info says:

[code]

[2021-08-20 13:01] sylvainouel opened #942 "Null ref exception in MSTest 2.2.4+ for tests specified in a f-sharp module in top level namespace"
The following works fine with 2.2.3:

[code]

With MSTest 2.2.4 or 2.2.5, I get the following when running the test:
[code]

Workaround:
replace "module TestProject1" with "module x.TestProject1"

Visual Studio 16.11.1
dotnet --info says:
[code]

[2021-08-20 13:14] #942 closed

[2021-08-20 13:15] sylvainouel commented on #942
I see this is a dup of issue #889, sorry

[2021-08-23 13:52] Haplois commented on #938
Thank you for the reporting this issue. In dynamic data tests, we differentiate testcases by their display names. If there is a conflict by name as you discovered, only the last discovered one is kept. This is by-design. We're working to provide an opt-out (#905) from this behavior, until that's ready you can use you workaround - or downgrade to version 2.2.3.

[2021-08-23 13:52] #938 closed

[2021-08-24 10:34] #934 closed

[2021-08-24 21:44] Haplois commented on #905
Support is added by https://github.com/microsoft/testfx/commit/9a621beab927612b357c3f68f97ead58c6282864 to version 2.2.6. Currently we only support assembly level configuration via an attribute.

`.testsettings` file and class & method level configuration is not possible yet. Depending on feedback, we can add it.

[2021-08-24 21:44] #905 closed

[2021-08-24 22:28] abatishchev commented on #905
@Haplois thank you! can you please document this and provide a timeline when the nuget package will be available on nuget.org?

[2021-08-26 21:46] cimryan opened #948 "Missing strong-name and Authenticode signatures"
The binaries produced by sdk-style project files in the repo are missing strong-name and Authenticode signatures. This prevents my organization from updating to 2.2.4 or later, since we require both kinds of signatures for regulatory compliance.

The affected binaries are:
mstest.testadapter.2.2.6\build\net5.0-windows10.0.18362.0\Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.d

[2021-08-27 13:44] nohwnd opened #949 "Deployment items are not copied when they are dependency of a GAC assembly"
## Description
When a Test has deployment item attribute, the dlls from the source are copied to Out folder in TestResults. The test project can directly or transitively depend on assembly that is normally brought in by netstandard, such as System.ValueTuple. When dependencies are copied over, System.ValueTuple is not copied to the Out folder because no dependencies of GAC assemblies are copied ov

[2021-08-28 01:05] abatishchev commented on #905
@Haplois do you face any blockers on the way to release it?

[2021-08-28 01:06] abatishchev commented on #905
@Haplois what should be the package versions in order to consume the new functionality?

[code]

Like this?

[2021-08-28 19:05] abatishchev commented on #930
I think I experience the same issues in Azure DevOps but I'd rather blame the NuGet packages update.

Working setup:

[code]

Output:

[code]

New setup:

[code]

Output:

[code]

[2021-08-28 19:07] abatishchev commented on #926
You now (can try to) opt out from the new behavior, see https://github.com/microsoft/testfx/issues/905#issuecomment-904997845.

[2021-08-29 11:24] Haplois commented on #905
Yes. That's correct. You also need to define [`TestDataSourceDiscoveryAttribute`][1] on assembly level like:

[code]

[1]: https://github.com/microsoft/testfx/blob/rel/2.2.6/src/TestFramework/MSTest.Core/Attributes/TestDataSourceDiscoveryAttribute.cs#L12

[2021-08-29 11:25] Haplois commented on #926
Please opt-out from the new behavior https://github.com/microsoft/testfx/issues/905#issuecomment-907775327.

[2021-08-29 11:25] #926 closed

[2021-08-29 11:32] Haplois commented on #917
Thank you for reporting this issue. It's caused by the changes on how we handle tests with data sources after version 2.2.3. Please update to version 2.2.6 and opt-out out of this behavior as described [here][1].

[1]: https://github.com/microsoft/testfx/issues/905#issuecomment-907775327

[2021-08-29 11:32] #917 closed

[2021-08-30 11:55] #949 closed

[2021-09-01 02:56] majastrz opened #955 "Regression - Upgrading `MSTest.TestAdapter` from 2.2.3 to 2.2.6 skips all tests"
## Description
We upgraded `MSTest.TestAdapter` from 2.2.3 to 2.2.6 and later on realized that our .net tests were completely skipped as a result.  The issue appears to be caused by some bug in test discovery. This also caused the exit code from `dotnet test` in this situation to be 0, which was considered a pass by our CI jobs.

This is a serious regression that actually caused invalid PRs to be

[2021-09-01 05:16] nohwnd commented on #955
I would have guessed this is because of outdated Microsoft.NET.Test.SDK package, but you are up to date on 16.10 it seems.

There is TreatNoTestAsError test platform setting. https://github.com/microsoft/vstest/issues/2707

[2021-09-01 08:24] Haplois commented on #955
@majastrz thank you for reporting this issue. It seems like you're only updating `MSTest.TestAdapter` package. You need to keep `MSTest.TestAdapter` and  `MSTest.TestFramework` packages in sync. If you update both it will fix the issue.

See the [patch file][1] for the fixes.

[1]: https://github.com/microsoft/testfx/files/7089510/0001-Updating-MSTest-to-version-2.2.6.zip

[2021-09-01 08:24] #955 closed

[2021-09-01 10:47] danielchalmers commented on #930
Worked around this for a few weeks by downgrading `MSTest*` to `2.2.3` but it stopped working again recently.

At one point I randomly removed `<Deterministic>false</Deterministic>` which fixed it briefly before I tried upgrading the packages again causing it to break again. Reverting the package doesn't fix it anymore.

Visual Studio 2022 Preview 3.1 with dotnet 6 preview 7.

[2021-09-01 11:12] danielchalmers commented on #955
related to #930?

[2021-09-01 14:43] Haplois commented on #955
@danielchalmers, no they are not related.

[2021-09-01 14:47] jakubch1 commented on #930
@kiwimato could you please paste your CodeCoverage.runsettings ?

[2021-09-01 15:07] kiwimato commented on #930
@jakubch1 sure:
[code]

[2021-09-01 17:50] majastrz commented on #955
Sure, I'll give it a try. If there's such a strong coupling between the packages, why isn't it expressed in NuGet dependencies?

[2021-09-01 18:05] Haplois commented on #955
@majastrz It was designed that way, but we'll probably start releasing a meta package to use in tests, instead of two.

[2021-09-01 19:29] majastrz commented on #955
A meta package would be great. In our scenario dependabot is the one updating dependencies and it isn't smart enough to understand the relationship between the two packages, so that would avoid the problem entirely.

[2021-09-01 21:38] majastrz opened #959 "NullReferenceException after upgrading to 2.2.6"
## Description
After upgrading both `MSTest.TestAdapter` and `MSTest.TestFramework` to `2.2.6`, some of my tests are failing with a NullReferenceException that appears internal to the test framework.

## Steps to reproduce
1. Clone https://github.com/Azure/bicep
2. Checkout the `majastrz/try-update-tests-again` branch.
3. Run `dotnet test` from repo root.

## Expected behavior
Tests pass like they

[2021-09-01 22:00] Haplois commented on #959
Thank you for reporting this issue. It's caused by the changes on how we handle tests with data sources after version 2.2.3. Please update to version 2.2.6 and opt-out out of this behavior as described [here][1].

[1]: https://github.com/microsoft/testfx/issues/905#issuecomment-907775327

[2021-09-01 22:00] #959 closed

[2021-09-01 22:11] majastrz commented on #959
@haplois Setting aside the breaking change, throwing a nullref is not a good experience. Can you detect this and output a good error message?

[2021-09-01 22:47] Haplois commented on #959
These exceptions are generally because of serialization problems. We tried to detect all edge-cases we can think of, but we failed to assess the risk. Right now there is an opt-out from that feature. We'll be clarifying the error message as well.

[2021-09-02 05:55] jakubch1 commented on #930
@kiwimato were you getting any code coverage reports on 16.9.4 ?

[2021-09-02 08:09] kiwimato commented on #930
@jakubch1 yes, actually downgrading `Microsoft.NET.Test.Sdk` to `16.9.4` made code coverage work again.

[2021-09-02 08:15] jakubch1 commented on #930
Could you please paste output of command when using 16.9.4? Is the report opencover?

[2021-09-02 08:34] kiwimato commented on #930
This is an example of working output. And yes it's an opencover report.
[code]

[2021-09-02 09:26] jakubch1 commented on #930
Thanks for info. In 16.10.0 we added support for dynamic code coverage in Linux. Unfortunately there is a bug in old version of TestPlatform which is causing this behaviour.

You have 2 options:
1.  Switch to dynamic code coverage. To do that you need to upgrade your dotnet version to latest stable and disable opencover (remove: `/p:CollectCoverage=true /p:CoverletOutputFormat=opencover`). This sh

[2021-09-03 08:18] Haplois commented on #948
This is fixed, and the fix will be release on 2.2.7 later today.

[2021-09-03 08:18] #948 closed

[2021-09-03 17:11] abatishchev opened #965 "Upgrading Microsoft.NET.Test.Sdk from 16.9.4 to 16.11.0: tests are ignored silently"
## Description

I think I experience the same issues in Azure DevOps but I'd rather blame the NuGet packages update.

Working setup:

[code]

Output:

[code]

New setup:

[code]

Output:

[code]

## Environment

[2021-09-03 20:14] Haplois commented on #965
Customer consolidated all packages in a common project. `Microsoft.NET.Test.Sdk` package should be referenced all test projects (except in .Net Framework), after they added the package, it worked.

[2021-09-03 20:14] #965 closed

[2021-09-14 22:43] azchohfi opened #974 "Update from Reunion 0.8.0 to WindowsAppSDK 1.0.0-preview1"
## Steps to reproduce
Update a ProjectReunion 0.8.x project to the WindowsAppSDK 1.0.0-preview1, and it will fail to run the tests.

## Expected behavior
testfx works with WindowsAppSDK 1.0.0-preview1, and then 1.0.0 when it GAs.

## Actual behavior
Fails to build.

[2021-09-15 08:22] nietras opened #975 "Application.ResourceAssembly set to "testhost.x86" causing WPF Application test to fail"
## Description
I am porting some code with unit tests from .NET Framework 4.7 to .NET 5.0. Both are using latest MSTest v2 as shown below.
[code]
As part of these tests is a **single** test that spins up a WPF `App : Application`, this has been working fine in .NET Framework 4.7 by first setting:
[code]
To ensure the `ResourceAssembly` is correctly defined as being the assembly where the `App` res

[2021-09-17 14:56] 21r8390 opened #977 "DataRow doesn't work with Array"
## Description
I have a test method like in the example, which I fill via DataRow. In this method I should test if all elements from an array or a list are added to my list.

I get a strange result. Only the first test is executed and in the UI you can see only one test. It doesn't matter what kind of collection I use. They are all different parameters, so no duplicates.

Since I have the Enterpri

[2021-09-20 12:06] simmotech opened #978 "Idea: Alternative output formatting for Assert.AreEqual(string, string)"
(background: migrating a project to use MSTest.TestFramework rather than NUnit)

Output from MSTest.TestFramework:
[code]

Output from NUnit:
[code]
I prefer the latter message to make it clear where the differences are - some can be quite subtle.

I was wondering whether it would be possible to add a StringAssert.AreEqual() implementation that formats its message the NUnit way. Best of both world

[2021-09-21 08:18] Loic12345 opened #979 "MSTest V2: "No test matches the given testcase filter `TestCategory=SmokeTests" is displayed after updating to MsTest v.2.2.7"
## Description
We have a test framework base on .NET Framework 4.8 for Windows tests and use Jenkins in our CI. My team updated MsTest to the latest version (it's v.2.2.7 for now) by deleting the references for the 'old' version and installing the packages below via Nuget in all .csproj files.

PM> Install-Package MSTest.TestAdapter -Version 2.2.7
PM> Install-Package MSTest.TestFramework -Version

[2021-09-21 14:03] ZuljinSBK opened #980 "MSTest.TestAdapter nuget is using wrong Microsoft.TestPlatform.AdapterUtilities.dll for net45"
## Description
MSTest.TestAdapter 2.2.2 - 2.2.7 nuget is using netstandard20 version of Microsoft.TestPlatform.AdapterUtilities.dll for net45 framework.
Net45 support for netstandard is limited to 1.1 as far as i know - https://docs.microsoft.com/en-us/dotnet/standard/net-standard.

## Steps to reproduce
Just unpack nuget and check /build/net45/Microsoft.TestPlatform.AdapterUtilities.dll in some s

[2021-09-21 15:49] #464 closed

[2021-09-23 03:49] jeremy-visionaid opened #982 "Tests are ignored for OS version-specific TFMs"
## Steps to reproduce

In an MSTest project, set:

```<TargetFramework>net5.0-windows10.0.19041</TargetFramework>```

## Expected behavior

Tests should run

## Actual behavior

Tests do not run

## Environment

Windows 10 Version	10.0.19043 Build 19043

16.11.0

[code]

Please find a trivial test project that reproduces the issue attached
[TestProject1.zip](https://github.com/microsoft/testfx/fil

[2021-09-23 04:47] jeremy-visionaid commented on #982
Looks like this is related to MSTest.TestAdapter. Version 2.2.3 works as expected, 2.2.4 and later do not run the unit tests.

[2021-09-23 15:18] m4rqs opened #984 "DynamicData: Null item does not appear in the enumeration while the test is run"
## Description
If the return values of dynamic method are the same except one string where there are null and empty string that differentiate the return value, dynamic method passes only value with empty string.

## Steps to reproduce
![image](https://user-images.githubusercontent.com/32226818/134529599-c2ac5d61-aa39-4126-9889-9e66b49dfa8d.png)

## Expected behavior
Every item from GetTestData is

[2021-09-24 00:05] #974 closed

[2021-09-24 00:09] Haplois commented on #984
Thank you for reporting this issue. It's caused by the changes on how we handle tests with data sources after version 2.2.3. Please update to version 2.2.6 and opt-out out of this behavior as described [here][1].

[1]: https://github.com/microsoft/testfx/issues/905#issuecomment-907775327

[2021-09-24 00:09] #984 closed

[2021-09-24 00:09] Haplois commented on #977
Thank you for reporting this issue. It's caused by the changes on how we handle tests with data sources after version 2.2.3. Please update to version 2.2.6 and opt-out out of this behavior as described [here][1].

[1]: https://github.com/microsoft/testfx/issues/905#issuecomment-907775327

[2021-09-24 00:09] #977 closed

[2021-09-24 07:58] m4rqs commented on #984
@Haplois Do I really I have to downgrade to 2.2.6?

[2021-09-24 15:08] Haplois commented on #984
@m4rqs, there was a typo sorry. You can just opt-out to stay on the latest version.

[2021-09-28 08:39] #980 closed

[2021-09-29 23:56] daniel-lerch opened #989 "Generic overloads for CollectionAssert"
### Motivation
I have been using `CollectionAssert` for quite some time but when I want to check whether the contents of a `ReadOnlyCollection<T>` match my expectation a cannot use `CollectionAssert` because many generic collection interfaces do not inherit from `ICollection`.

### Proposal
Add new generic overloads of all methods to take `IReadOnlyCollection<T>` or `IEnumerable<T>` instead of `IC

[2021-10-01 00:41] Haplois commented on #989
Hi, thanks for the proposal.

If you're up for it, we are open for community PR's.

[2021-10-01 21:44] MarcoScholten commented on #975
I had the same problem.
It might not be the solution you are looking for but i was able to work around it by explicitly specifying the local assembly as you would with a referenced assembly.
Now i don't need to set the ResourceAssembly anymore.

I changed:
`Icon="pack://application:,,,/Resources/Application.ico"`

To:
`Icon="pack://application:,,,/MyAssembly;component/Resources/Application.ico"`

[2021-10-05 14:45] JJenkinsDaxsonics opened #991 "MSTest V2 tests won't run when targeting net5.0-windows10.0.19041"
## Description
Tests will not run when targeting net5.0-windows10.0.19041 with MSTest version greater than 2.2.3.

## Steps to reproduce
- Create MSTest project targeting net5.0-windows10.0.19041.
- Attempt to run tests
- Change MSTest version to 2.2.3
- Clean solution and run tests again

## Expected behavior
Tests should run in the test explorer

## Actual behavior
All tests are skipped. VS Test

[2021-10-07 09:51] pmdaware opened #992 "DataRow execution is not working after 2.2.3 version in VSTest@2 task for Test plan"
## Description

We are using the VSTest@2 task in azure DevOps for executing the test cases which having data rows in the test method. When we run the pipeline. It executes the only one data row that is executing. (Note: VSTest@2 task with testSelector: 'testPlan'). This issue has occurred on MSTest.TestAdapter & MSTest.TestFramework version 2.2.4 onwards. It is working on the 2.2.3 version.

[cod

[2021-10-07 15:55] Zachael opened #993 "error CS7069: Reference to type 'DispatcherQueue' claims it is defined in 'Microsoft.WinUI', but it could not be found"
## Description
Compile error when using UITestMethodAttribute with MAUI preview 8 on VS 2022 preview 4.0

## Steps to reproduce
Create a MAUI application from the VS template, modify App.xaml.cs and compile for Windows.
[code]
## Expected behavior
Successful build. This compiled correctly in a prior preview of MAUI. It also ran the tests correctly from within VS (_Run_ worked but _Debug_ did not).

[2021-10-17 11:51] Caraul opened #997 "Parallel DataRow execution fails inside MSTest"
## Description
MSTest V2 allows to run test in parallel taking parallel settings either from .runsettings or from ParallelizeAttribute. Moreover tests may be "cloned" with DataRow attribute. Version 2.2.3 parallelize DataRow tests correctly while 2.2.7 fails accidentally in occasional places wiht errors alike
[code]
or
[code]

## Steps to reproduce
[code]
Unit Test project is for .NET 4.7.2 framew

[2021-10-18 21:20] Haplois commented on #906
Fixed by #998

[2021-10-18 21:20] #906 closed

[2021-10-19 07:18] Haplois commented on #992
Thank you for reporting this issue. It's caused by the changes on how we handle tests with data sources after version 2.2.3. Please update to version 2.2.6+ and opt-out out of this behavior as described [here][1].

[1]: https://github.com/microsoft/testfx/issues/905#issuecomment-907775327

[2021-10-19 07:18] #992 closed

[2021-10-19 16:17] maheshbommireddi opened #1001 "DataTestMethod DynamicData test results not updated in Test suit"
## Description

After updating MSTest.TestAdapter, MSTest.TestFramework to 2.2.7 from 2.2.3 -> Data driven test results are not updated in test suit when triggered through Visual Studio Test - Task Version 2 (CICD pipeline)

before posing this I did go through the related issues in  https://github.com/microsoft/testfx/issues/910
But all these were related to test did not discovered or test not ran

[2021-10-19 16:42] daveb84 opened #1002 "DynamicData tests not running in MSTest.TestAdapter 2.2.5 when same object instance used between tests"
## Description
I am using `DynamicData` attributes to specify test cases.  The test cases use the same objects, but with mutated values.  In version 2.2.3, each test case would be run, but in 2.2.5 it no longer recognises them as separate tests and it only runs the last case defined.

## Steps to reproduce
Create a new unit test project that uses MSTest.TestAdapter version 2.2.5
Create a unit test

[2021-10-19 17:53] #1001 closed

[2021-11-02 13:57] dferretti opened #1004 "Additional Nullable Reference Type-aware support"
## Description
Following https://github.com/microsoft/testfx/issues/714
and borrowing from https://devblogs.microsoft.com/dotnet/try-out-nullable-reference-types/#flow-attributes-doesnotreturn-and-doesnotreturnifbool
Can `DoesNotReturnIf` be added to `Assert.IsTrue` / `Assert.IsFalse` ? And `DoesNotReturn` be added to `Assert.Fail()` ? There are some other null checks should be able to be skipped,

[2021-11-02 14:01] dferretti commented on #1004
The work is already done to add the conditionally included compiler attributes in `NullableAttributes.cs`, so there shouldn't be too much to add here. So if this looks like an acceptable proposal I can put in a PR for it!

[2021-11-02 14:27] Haplois commented on #1004
Thank you @dferretti for the proposal, it looks good. Please go ahead and create the PR if you wish.

[2021-11-02 21:38] #1004 closed

[2021-11-03 05:03] jlaanstra commented on #991
I'm seeing the same problem.

[2021-11-15 10:52] nietras commented on #975
@haplois @jakubch1  still seeing this issue in .NET 6, how I can I resolve/fix this?

[2021-11-17 20:49] Zachael commented on #993
The problem also exists with testing WinUI 3. Please see the following link:

https://devblogs.microsoft.com/ifdef-windows/winui-desktop-unit-tests/

[2021-11-18 14:01] daniel-lerch commented on #989
Because of some difficulties described in #990, I will not continue to work on this issue and migrate my unit tests to Xunit instead.

[2021-11-20 20:04] Hejle opened #1010 "Value of Internal properties gets overridden by default when using ITestDataSource and Attribute"
## Description
When using a attribute implementing ITestDataSource the value of internals members is always default when passed to the unittest. This makes it impossible to test internal properties and members using ITestDataSource and Attributes.

As far as I can see, the problem is that MsTest serialises the data to text using DataContractJsonSerializer, which doesn't serialize Internal Properti

[2021-11-23 18:05] Haplois commented on #1010
This behavior is by-design, there are two workarounds:

   1. You can opt-out of this behavior as described [here](https://github.com/microsoft/testfx/issues/905#issuecomment-907775327).
   2. You can use [System.Runtime.Serialization.ISerializable](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.iserializable) interface to facilitate serialization of internal members.

[2021-11-23 18:05] #1010 closed

[2021-11-23 18:41] Haplois commented on #580
This is fixed in https://github.com/microsoft/testfx/pull/968 and released with 2.2.8. To enable it you can set ClassCleanupBehavior to [ClassCleanupBehavior.EndOfClass][end-of-class] in your [ClassCleanup][class-cleanup] attribute.

 This can also be set on assembly level by [ClassCleanupExecution][class-cleanup-execution] assembly level attribute.

  [class-cleanup]: https://github.com/microsoft

[2021-11-23 18:41] #580 closed

[2021-11-23 18:46] nir-boger commented on #580
Thank you!

[2021-11-23 23:11] dotMorten commented on #991
Duplicate of #982 ?

[2021-11-25 09:15] jr01 commented on #915
This issue should be fixed by https://github.com/microsoft/testfx/pull/998 .  It got merged after 2.2.7 was released ...

[2021-11-25 09:58] Haplois commented on #915
This issue is fixed, if you're still having it could you please share a sample repro @krilbe? Also as @jr01 mentioned there were more fixes released with 2.2.8, it might help with your issue to update.

If the issue is generally about how we process DataRow tests, you can opt-out of the behavior by adding this assembly level attribute anywhere on your test project:

[code]

[2021-11-29 17:26] mikeKuester commented on #991
I posted #851  half a year ago. Just tested it with v2.2.8 and .NET 6, but it still doesn't work. The root cause could be the same?

[2021-11-29 17:28] mikeKuester commented on #851
@nohwnd Sorry for that question, but what does "triaged" mean?

Looks like there a more issues with the same root cause? #991 , #982

[2021-11-30 10:28] N-Olbert commented on #820
@nohwnd  With 2.2.8 the test execution works fine again (we did not change anything on the build server).

Most likely due to #980

[2021-11-30 10:28] #820 closed

[2021-12-01 04:12] GaneshMarkad11 opened #1015 "MSTest - Test project Models does not reference any .NET NuGet adapter. Test discovery or execution might not work for this project. It's recommended to reference NuGet test adapters in each test project in the solution."
## Description
I'm getting error after upgrading Nuget packages.
Error = "Test project Models does not reference any .NET NuGet adapter. Test discovery or execution might not work for this project.
It's recommended to reference NuGet test adapters in each test project in the solution."

## Steps to reproduce
1. Opened project solution in Visual studio 2019
2. Updated Nuget packages mentioned in En

[2021-12-01 07:24] sandersaares opened #1016 "DataTestMethod skips DataRows that provide different data arrays, only keeping last"
## Steps to reproduce
[code]

## Expected behavior
Test is executed with 5 sets of arguments.

## Actual behavior
Test is executed with only 2 sets of arguments (see comments in snippet).

![image](https://user-images.githubusercontent.com/9914262/144189671-7f4d40bc-fb37-4062-adb1-0f968da99149.png)

Test discovery DOES see all 5 test cases:

[code]

## Environment
Windows 11, Visual Studio 2022 v1

[2021-12-02 10:28] debabbe commented on #915
It's working now. Thanks all

[2021-12-02 10:28] debabbe commented on #915
It's working now. Thanks all

[2021-12-02 10:28] #915 closed

[2021-12-03 20:50] Sl1ckR1ck opened #1018 "After upgrade from 2.2.3 to 2.2.5 and later - failed to discover tests in class"
Hi after upgrading some project to the latest version (2.2.8) we start to notice many tests were failing to be discovered (almost 50% are failing).

After further investigate I tried many versions of TestAdapter and found that the problem start when trying to move from 2.2.3 (working version) to 2.2.4 (breaks).

I understand that 2.2.4 is deprecated, but I tried all other versions after that and t

[2021-12-03 20:56] Sl1ckR1ck commented on #1018
Here is the test log file if it may help:
[logs.host.21-12-03_15-33-38_85307_24.txt](https://github.com/microsoft/testfx/files/7652303/logs.host.21-12-03_15-33-38_85307_24.txt)

[2021-12-03 21:00] Sl1ckR1ck commented on #1018
Here is the test log file if it may help
[logs.host.21-12-03_15-33-38_85307_24.txt](https://github.com/microsoft/testfx/files/7652307/logs.host.21-12-03_15-33-38_85307_24.txt)
:

[2021-12-03 21:01] Sl1ckR1ck commented on #1018
Here is the test log file if it may help
[logs.host.21-12-03_15-33-38_85307_24 (1).txt](https://github.com/microsoft/testfx/files/7652311/logs.host.21-12-03_15-33-38_85307_24.1.txt)

[2021-12-04 08:23] nir-boger opened #1019 "[MSTest][Discovery] MSTestPlayground.exe Failed to discover tests from assembly (After upgrade from 2.1.2 to 2.2.8)"
## Description
Getting the following error while trying to run MSTests that are being hosted in a console application assembly

Microsoft (R) Test Execution Command Line Tool Version 16.11.0 Copyright (c) Microsoft Corporation. All rights reserved.
Starting test execution, please wait... A total of 1 test files matched the specified pattern. [MSTest][Discovery][MSTestPlayground.exe] Failed to disc

[2021-12-08 20:05] jlaanstra commented on #991
Quoting @Scott1js's reply in https://github.com/microsoft/CsWinRT/issues/1047 for reference:

@Haplois can we get some traction on this?

[2021-12-08 20:44] dotMorten commented on #991
Honestly I'd prefer the back out that WinUI Support, and make support for packaged apps a different separate test adapter you reference. The UITestMethod attribute that was added is pretty much useless anyway, as it doesn't suppor task tasks, but is easily worked around by using the existing test method and dispatching to the current window. (WinUIEx does this and uses a code generator to help you

[2021-12-09 08:32] mikeKuester commented on #851
This seems to be the root cause: https://github.com/microsoft/testfx/pull/813  as mentioned here: https://github.com/microsoft/CsWinRT/issues/1047

[2021-12-09 19:32] jrf2 commented on #851
I'm also seeing a similar problem with the net5.0-windows10.0.19041.0 dll where it is missing DeploymentDirectory from TestContext. The netstandard1.0 dll has this and if my TargetFramework is net5.0-windows instead of net5.0-windows10.0.19041.0 it uses the netstandard1.0 dll. However, we need to use net5.0-windows10.0.19041.0 or else we will be missing functions from another nuget package which h

[2021-12-11 15:16] SymbioticKilla commented on #866
@nohwnd  Is there any ETA?
Related:
https://github.com/microsoft/testfx/issues/582

[2021-12-13 13:17] SymbioticKilla commented on #582
@shreyasharmamsft  @cltshivash  @mayankbansal018
Hi,

is there any plans to update to NETStandard 2.0?

Related: https://github.com/microsoft/testfx/issues/866

[2021-12-13 15:52] hauke-w opened #1022 "wrong value received by test method with ITestDataSource and values of struct with property of nullable primitive type"
After upgrading the test SDK I am facing a bug in the handling of ITestDataSource implementations.
Please look at the example below. There is a struct type "UnlimitedNatural" that is to be tested. It has one `uint?` typed property for storing the value. Values of this struct are not currectly passed to the "EqualsTest" method when using an ITestDataSource implementation ("MyTestDataSourceAttribute

[2021-12-13 22:50] TroyWalshProf opened #1023 "Data driven tests are incompatible with Azure Test Plans after moving to MSTest.TestAdapter 2.2.4+"
## Description
MSTest.TestAdapter 2.2.4 (and above) break the [Visual Studio Test](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops) task integration when it comes to data driven tests

## Steps to reproduce
1. Open or create a Azure DevOps project
2. Create a test case work item
![image](https://user-images.githubusercontent.com/2066107/145886114-05d770f

[2021-12-14 09:04] Legoldos opened #1024 "Data Driven tests - Individual results of data rows are not in tree structure, missing parentID in trx file"
## Description
I recently updated MSTest adapter to version 2.2.5 from 2.2.3 and noticed following change in behavior of results of data driven tests.
There are results for individual data rows, but they are missing parent test. Therefor results arent structuralized and I cant tell which data row result belong to which test.
I would like to know if this is a bug or expected behavior.

## Steps to

[2021-12-16 06:54] japj commented on #991
We are also running into the same issue where a basic net5 based unittest project is working fine when not pinning to a specific Windows Sdk version, but fails to execute at all when a specific Windows Sdk is used (e.g. 10.0.19041) .

Downgrading to 2.2.3 also fixed this specific issue.

[2021-12-17 09:00] rkieslinger opened #1025 "Unit of isolation = process and unit of scheduling = test class or custom container?"
Currently we are executing our unit and integration tests in parallel using the following settings in the `.runsettings` file:

[code]

This enables parallelization, but just per assembly. In our case, this is not really ideal, because in some cases we have a few fast assemblies, and just 1 or 2 very large and long running assemblies. So parallelization per assembly does not help much there.

Here

[2021-12-20 15:24] mabadev opened #1026 "Incorrect test result view in Azure DevOps after upgrading MSTest to 2.2.4 and higher"
## Description
After I updated MSTest.Framework and MSTest.Adapter to 2.2.4 and higher, the test results in Azure DevOps are displayed incorrectly.
Each test interation is displayed in a new line. Before that, the interations were shown under a test case.

_For example:_ A Test with 2 iterations

**Before**:
TestCase12
- Iteration1
- Iteration2

**Currently**

- TestCase12
- TestCase12

This a scr

[2021-12-21 14:26] Tohnmeister opened #1027 "Unable to load native dll after migrating to MSTest V2"
## Description

We're migrating all our test projects from MSTest V1 to MSTest V2. Some of our tested projects depend on native dlls. In the past we could just add a an ItemGroup as below to the test project:

[code]

But after we'move moved to MSTest V2, we're getting the following error while running tests.

[code]

Adding a `DeploymentItem` attribute above the test class or test method has no e

[2021-12-23 12:02] daangruijters opened #1028 "TestCase with DataRow attribute with null parameter ignored"
## Description
When using MSTest.TestAdapter version 2.2.4 or higher, DataRow testcases with a null parameter are not discovered or executed. When using 2.2.3, all 3 testcases are discovered.
[code]

![image](https://user-images.githubusercontent.com/7239185/147237475-9b0d19b4-26b8-41dc-8d9a-5404c9dfca5d.png)

## Steps to reproduce
Create a test project targetting .NET5 or .NET6, and make sure the

[2022-01-03 05:33] Legoldos commented on #1026
Hey, I think this issued I recently posted is related/same #1024

[2022-01-04 21:30] DotNetWebAppDeveloper commented on #1026
I think the main problem is the same.
thanks for that

[2022-01-12 21:26] sergiuciudin commented on #580
Seems it's not working for me, anyone tried it?

[2022-01-18 22:12] TroyWalshProf commented on #1023
@nohwnd  - Any idea if this is something that will get fixed?

[2022-01-20 02:19] ailn commented on #580
Didn't work for me as well

[2022-01-20 06:08] nohwnd commented on #580
Tried it again. Works fine for me. Did you specify the correct behavior to the attribute?

[code]

[code]

[code]

[2022-01-21 16:38] TroyWalshProf commented on #1023
@Haplois - do you know if this is issue is on the teams radar?

[2022-01-25 10:36] volleyms opened #1032 "ClassCleanup with ClassCleanupBehavior.EndOfClass not triggered in TestClass using DataRow"
## Description
Using `ClassCleanupBehavior.EndOfClass` the class cleanup is not called at the correct point in time if at least one test method is using data rows.

## Steps to reproduce
For a test class like

[code]

everything works as expected, i.e. the `ClassCleanup()` is called immediately after all test methods were executed.

Contrary, in case at least one of the test methods uses data rows

[2022-01-26 09:41] elgatov commented on #1025
Try adding this to the .runsettings file

[code]

[2022-01-27 14:42] nohwnd commented on #1032
https://github.com/microsoft/testfx/pull/1020 -> should fix this @haplois can you merge?

[2022-01-31 22:51] stogle opened #1033 "Assert.AreEqual(String, String, Boolean, CultureInfo) ignores the culture parameter"
## Description
The `Assert.AreEqual` overloads that accept strings and a `CultureInfo` parameter always perform an ordinal comparison, regardless of the culture parameter.

## Steps to reproduce
Run all tests in the following test class:
[code]

## Expected behavior
All tests should pass. In the `tr-TR` culture, "i" and "I" are not considered equal when doing a case-insensitive comparison.

## Act

[2022-02-01 07:55] cervengoc commented on #1019
Same here, I'm trying to run unit tests within a project having `exe` output type. Using `2.1.2` everything works just fine, but with `2.2.7` and `2.2.8` I get the same error.

[2022-02-01 08:50] Lumoryel commented on #1019
Same for me, 2.2.5 still works but from 2.2.6 on it's not working anymore.

[2022-02-01 10:22] enisak commented on #488
2.2.8, works totally fine for me

[2022-02-05 02:30] Shanayara opened #1035 "MSTestAdapter failed to discover tests because Method 'get_DataRow' in type 'Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.TestContextImplementation' does not have an implementation"
## Description
We've long had a running VSTest pipeline for our projects unit tests, which target Framework 4.8 and run MSTest.

The YAML of the unit test on DevOps is very minimal:
[code]

We recently added an empty MSTest project to our solution, which targets Core 6 instead:

[code]

With that project simply *present*, an error message appears and not a single unit test is discovered. Despite t

[2022-02-07 20:47] HansLehnert opened #1036 "Can't specify both ClassCleanupBehavior and InheritanceBehavior in ClassCleanup attribute"
## Description
The constructor for ClassCleanupAttribute that takes both arguments, uses a nullable type for ClassCleanupBehavior. Nullable types are not valid types for attribute arguments, so the constructor can't be used.

- [C# reference](https://github.com/dotnet/csharplang/blob/main/spec/attributes.md#attribute-parameter-types)
- [Code pointer](https://github.com/microsoft/testfx/blob/0d36ac

[2022-02-07 23:57] krishnajay0310 opened #1037 "DynamicData test is not passing exception objects correctly"
We are using DynamicData to specify our test cases.  We are creating an [InvalidUpdateException object](https://msazure.visualstudio.com/One/_git/Compute-CPlat-CCO?path=/src/CCO.Contracts/InvalidUpdateException.cs&version=GBmaster&line=16&lineEnd=17&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents) by passing custom exception message. However, the exception message being actually pass

[2022-02-08 09:06] arunprakashn commented on #366
If this is not going to be available for the netcore, please update the documentation accordingly.

[2022-02-09 08:13] enisak commented on #143
Same here :(

[2022-02-09 16:05] BruceQiu1996 opened #1038 "The MsTest project cannot run tests because it is in OneDirve."
Env：
vs:2022 v17.0.6
framework 4.7.2
MSTest.TestAdapter :2.2.8
MSTest.TestFramework:2.2.8

Describe：
I was using MStest framework to make a simple unittest.
I create a project in visual studio under the above environment
When I went to run this test project, the result as below:
![44d7aab797a0bfe3b64f0c8ee77b0db](https://user-images.githubusercontent.com/28331315/153238943-84e08fb8-c8f7-4909-b82c-

[2022-02-10 16:12] #808 closed

[2022-02-10 16:30] #1036 closed

[2022-02-13 08:53] ashahabov opened #1043 "How to ignore particular test case (DataRow)"
## Description

I am trying to ignore _one_ test case by adding `Ignore` keyword for `DataRow` attribute:

[code]

but it ignores the _whole_ test:

![image](https://user-images.githubusercontent.com/5969304/153745751-1970d6cd-3f57-4e84-a3d6-a0c668a66d98.png)

I also asked this on StackOverflow: [How to ignore particular test case in MSTest](https://stackoverflow.com/questions/71077359/how-to-igno

[2022-02-15 14:47] TroyWalshProf commented on #1023
@AbhitejJohn
@jayaranigarg
 - Any idea if this is something that will get fixed?

[2022-02-16 14:34] bemobolo commented on #975
Hi, a temporary workaround that worked for me is setting the resource assembly using reflection.
Considering [the implementation of Application.ResourceAssembly](https://github.com/dotnet/wpf/blob/89d172db0b7a192de720c6cfba5e28a1e7d46123/src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Application.cs#L1037) the following method accomplishes what the property setter does:
[code]

[2022-02-18 03:11] jpwarner67 commented on #1018
We were seeing similar test discovery issues on v2.2.5+. For us, we had a missing top-level namespace --- i.e., some source files for the test assembly had a top-level namespace and some didn't. Ensuring that all the source files for the test assembly had an explicit top-level namespace made the discovery issue to go away on v2.2.5+ for us.

[2022-02-19 15:29] adamshakhabov commented on #1043
Looks like there is no such option. The most appropriate option is just comment `DataRow` statement.

However, would be good to have something like this `[SkipDataRow("because this edge case is postponed", 2, 2, 3)]`, thus enabling to specify ignore _reason_.

[2022-02-23 13:00] AF250329 commented on #1035
I hit this issue too... This is strange that `Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll` compiled as `[assembly: TargetFramework(".NETPortable,Version=v4.5,Profile=Profile259", FrameworkDisplayName = ".NET Portable Subset")]` but it always prefer (?) .NET Core version of `Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll` if one of the projects in solution is

[2022-02-25 21:00] Sl1ckR1ck commented on #1018
Yes! Thanks that was it.

Some of my unit tests projects had no default namespace defined. After entering one the problem was gone.

I guess this should be fixed as it is very annoying and a bit hard to notice that some unit tests have gone missing...

[2022-02-27 00:19] rkieslinger commented on #1025
@elgatov Wouldn't that change the `Unit of isolation` to `thread`? That's the problem, because that won't work with our code. What I'm looking for is a way to parallelize tests per test class or maybe a custom container and still have process isolation.

[2022-03-02 10:04] nietras commented on #663
Hmm seeing this issue with latest mstest version still, had this really not been resolved? @ransagny did you find a solution?

[2022-03-02 10:15] ransagy commented on #663
@nietras As far as i can tell in our codebase, we don't have any more of these - only relative paths to sub-directories, which seems to work fine, so our solution was to just use something else, sadly.

[2022-03-04 08:16] touchofevil2 commented on #1028
To further the use case this doesn't seem to be anything with null necessarily but the top most attribute seems to be skipped.

It seems the tests are being executed in the reverse order of attributes (bottom one is the first input), and it misses out on the top most DataRow input. eg. In below it will miss out on calling with the null as input.

[code]

[2022-03-10 05:25] YipingRuan opened #1048 "Adding comments cause strange string (Chinese character) behavior"
## Description

## Steps to reproduce
- Create MSTest project using Visual Studio wizard
- Add 1 line of code ``File.WriteAllText("output.txt", "前片");``
- Run `dotnet test`

![image](https://user-images.githubusercontent.com/5492274/157595029-cf43c224-3aca-4a26-852b-62d9b66f970f.png)

- Add some comment 西瓜
- Run `dotnet test`

![image](https://user-images.githubusercontent.com/5492274/157595228-d0

[2022-03-10 06:46] YipingRuan commented on #1048
This does not happen to console app.

[2022-03-10 09:17] nohwnd opened #1049 "Error message for mismatched data driven tests is unhelpful"
## Description

When using data source, and not getting the parameters right it throws Parameter count mismatch without any further info:

![image](https://user-images.githubusercontent.com/5735905/157629606-d3b8dcc7-2565-41c3-8aa2-ad0dcc3864b0.png)

![image](https://user-images.githubusercontent.com/5735905/157627703-72d01fda-4651-459b-bf39-37fcd6cfa376.png)

Consider catching the exception and a

[2022-03-10 23:00] smohrman-godaddy opened #1050 "StackOverflowException running tests with DynamicData where the target class uses JToken (and dynamic)."
## Description
A StackOverflowException occurs running a DataTestMethod test using DynamicData when the target POCO class includes a JToken as a Dictionary TValue type.  Note, the same thing occurs if I change _JToken_ to _dynamic_.

## Steps to reproduce
See attached sample solution and run tests.

## Expected behavior
The test receives the test case deserialized as expected without a StackOverfl

[2022-03-11 07:26] nohwnd opened #1051 "Provide an easy way to see the public version of MSTest"
MSTest dlls do not contain the version under which it is published, which makes it really hard to see what is being used. Here I am using 2.2.9-preview-20220210-07.  I would like to be able to easily see the version in ilspy, and hopefully in file properties as well:

![image](https://user-images.githubusercontent.com/5735905/157821294-773faa64-45e7-498c-afcf-004cb41628e1.png)

![image](https://us

[2022-03-12 07:12] nohwnd commented on #1026
This is not a bug, mstest now reports data driven tests as single tests. This was done to bring parity to how xunit and nunit does it.

@Haplois  There are few duplicates of this issue. Could you link them all to a single one, and post an update on when the work on AzDO will be finished, please?

Also correct my statement above if I am wrong :)

[2022-03-14 14:19] nohwnd opened #1052 "When data source provides no data, it is impossible to see why tests does not run"
## Description
When data source provides no data it is very hard to understand why test does not run. There is no warning that can be easily seen. And debugger breakpoint in the data source class is not hit (because it only attaches in run).

## Steps to reproduce
[code]

## Expected behavior
I expect to see some warning, but have the ability to force not generating any data. Probably as an additi

[2022-03-14 16:15] TroyWalshProf commented on #1026
@nohwnd
The ONLY reason I and many other engineers use MSTest is because of the seamless integration with Azure DevOps Test Hub.
If you cannot maintain this integration you are just undermining the project.

Here are my concerns:
1. The team broke this integration a year ago and it has yet to be addressed
2. The interesting (wrong) assertion that this is "not a bug"
3. The trx report format has fu

[2022-03-14 20:10] krijohan opened #1053 "tests fail intermittently when run in parallell"
## Description

When running `dotnet test` in a project with `[assembly: Parallelize(Workers = 4, Scope = ExecutionScope.ClassLevel)]`, you will occasionally get unwarranted test failures from InvalidOperationException / "Collection was modified; enumeration operation may not execute". This makes the feature of running tests in parallell not very useful, unless you are willing to accept flaky test

[2022-03-16 10:39] krijohan commented on #1053
A work-around for the issue seems to be to force the initialization of the unprotected collection before tests start running in parallell: https://github.com/krijohan/BugRepro1/pull/1/files#diff-1fb3d50c7b48fae266c651acc227133823af0bf272f14ab3a601dd68121dd84aR12

[2022-03-17 08:10] nohwnd opened #1054 "Getting DataSource object right is very difficult"
## Description
I was trying to get the new UI in VS for data driven tests. And getting the object for the data source to correctly serialize is so painful.

My contains other objects and getting it to work took me a lot of time.

Is there any additional guidance on this? Or a method that can check if the type is eligible for the new UI?

From what I see:

- Get Set properties need to be used, and

[2022-03-21 10:24] mikeKuester commented on #851
After nearly 10 month and 4 versions - this bug is still not fixed.  :(

[2022-03-21 10:43] mikeKuester commented on #708
You break MSTest / WPF with that, but no one is interested in that for 10 month now? 👎

https://github.com/microsoft/testfx/issues/851

[2022-03-24 10:28] DotNetWebAppDeveloper commented on #1026
hoping to resolve this obstacle or to find an alternative solution for it. Our project has suffered because of that.

[2022-03-29 08:27] nohwnd opened #1056 "Test attribute is created 3 times when discovery is done"
When discovery happens the test method attribute is created 3 times. I found this when looking into our vstest tests that are testing discovery (DiscoverTests.CancelTestDiscovery)

The [TestMethod] attribute stalls for 10s in the constructor, but it takes 3 times that to report the test as discovered. (in TestAssets.sln, DiscoveryTestProject. LongDiscoveryTestClass)

[code]

Writing callstacks fro

[2022-03-29 09:23] nohwnd opened #1057 "Streaming out test results in discovery waits till discovery on whole class is done"
Having a test that is slow to discover for some reason, makes the first test appear only after the slow test is discovered (or more generally all tests in the class are discovered).

e.g. as in our discovery tests in vstest:

[code]

No test is reported until after we create all the attributes in the class. This looks like possible improvement, that would make the first test result stream sooner,

[2022-03-29 10:43] eliranShema opened #1058 "DynamicData is not working properly when classes have empty constructor and private setters. version 2.2.6 onwards"
## Description
When you use dynamic data of a class with an empty constructor and a private setter, the value is of the property is reset to default value (null,0,mindate,etc)

## Steps to reproduce
Create a class with an empty constructor and a private setter property, and use it in dynamic data:
[code]

## Expected behavior
it should work as it does in version 2.2.5 and lower - values should be

[2022-03-30 14:58] hauke-w commented on #1022
I managed to get arround this issue by wrapping test data in a record class:

`public record EqualsTestData(UnlimitedNatural TestObject, object? Other, bool Expected);

[TestMethod]
[EqualsTestCases]
public void EqualsTest(EqualsTestData data)
{
    var (testObject, other, expected) = data;
    // ...
`

[2022-03-31 18:52] ttorkelson opened #1059 "ITestDataSource is being called unnecessarily during test discovery, and when a single test is executed"
## Description
Since version 2.2.3, ITestDataSource is being called unnecessarily during test discovery, and when a single test is executed. My organization creates/retrieves many resources within the GetData() call and they should only be executed when they are expected to be.

## Steps to reproduce
Create a blank mstestv2 project and paste the following into a single file. you must pivot from ms

[2022-04-01 19:41] devlie opened #1060 "Code coverage should respect assembly level ExcludeFromCodeCoverage attribute"
## Description
We would like to exclude our test binaries from code coverage, and the only options we have today are either decorating each and every class with `[ExcludeFromCodeCoverage]` or have crazy regexes in our `runsettings.json`. `testfx` should respect **assembly level** `ExcludeFromCodeCoverage` instead. This is related to https://github.com/microsoft/vstest/issues/1050.

## Steps to rep

[2022-04-01 19:53] abatishchev commented on #1060
+1, please.

[2022-04-02 09:07] BetaOrbiter commented on #991
I'm seeing the same problem with `.net6-windows10.0.19041.0`

[2022-04-02 10:30] nseveno commented on #991
The same problem with .net 6 also. I would like to test some C++/winrt components wrapped with a C#/winrt project... I hope this will be solved because I have no way to test those components !

[2022-04-08 07:37] ChristoWolf commented on #1026
I would also like to know, as I did not find the related changes by glancing over `2.2.4`'s release notes and commits.

[2022-04-08 08:26] ChristoWolf commented on #1024
I second this, see also #1026.

[2022-04-08 18:36] Mertsch opened #1063 "2.2.9 Concurrency does not seem to work properly"
## Description
I am getting various error messages when running multiple test in parallel. When tests are executes one by one, no problem.

## Steps to reproduce
Run .NET 6.0 tests with `[assembly: Parallelize(Scope = ExecutionScope.ClassLevel)]`

## Expected behavior
No exceptions

## Actual behavior
[code]
[code]
[code]

## Environment
ReSharper TestRunner
[code]

[2022-04-08 19:20] JustArchi commented on #1063
I confirm that version 2.2.9 has concurrency issues. See https://github.com/JustArchiNET/ArchiSteamFarm/pull/2549

[2022-04-09 11:02] majastrz commented on #1063
Same issue in https://github.com/Azure/bicep/pull/6466.

[2022-04-12 01:03] Haplois commented on #1063
We are sorry for the issue, investigating the issue.

[2022-04-12 06:23] ChristoWolf commented on #1063
I am also observing the issue.

[2022-04-12 07:01] #1019 closed

[2022-04-12 11:53] japj commented on #991
@Haplois is there anything we can do to help get this fixed in a next version?

[2022-04-13 14:16] Haplois commented on #991
I am currently working on fixing this. Our next preview (probably on next friday) will include a fix. I'll update this thread with PR once it is ready.

[2022-04-13 14:51] nohwnd commented on #1063
Does anyone have some smaller project that reproduces this as well so I can try? Please :)

[2022-04-13 14:53] JustArchi commented on #1063
@nohwnd I don't know if mine qualifies as "smaller project", but it should be possible to reproduce easily - https://github.com/JustArchiNET/ArchiSteamFarm

After `git clone`, edit `Direcory.Packages.props` to use `2.2.9` version. Afterwards you can just `dotnet test`, should be easy to reproduce, but might require a few tries as the issue is race condition.

See https://github.com/JustArchiNET/Ar

[2022-04-13 14:56] JustArchi commented on #1063
@nohwnd Here is example CI run, so you know what you're looking for: https://github.com/JustArchiNET/ArchiSteamFarm/runs/5967640130?check_suite_focus=true

[code]

[2022-04-13 18:25] SnarkOrBoojum2 opened #1067 "DynamicDataAttribute losts type of the value of structure's property when said property has System.Object type"
## Description
Use of structure/class(not important) with Object property as parameter of test with help of DynamicDataAttribute leads to the loss of this property's value type. The new value type(that passes to the test method) is default one, determined solely on the value itself, not on the information about its type from DynamicDataAttribute.

## Steps to reproduce
Content of the test:

	[Test

[2022-04-14 10:57] #1063 closed

[2022-04-14 11:02] nohwnd commented on #1063
Merged a fix, we want to release preview of 2.2.10 today, I am waiting till 3PM (2h from now) for another fix. Then I'll make the release.

[2022-04-14 11:22] JustArchi commented on #1063
Thank you a lot for very swift response @nohwnd :sunglasses:.

[2022-04-14 13:44] nohwnd commented on #1063
Pre-release is up: https://www.nuget.org/packages/MSTest.TestAdapter/2.2.10-preview-20220414-01

[2022-04-16 07:23] abatishchev commented on #1063
Hi, I'm here to report this issue. Thanks for fixing it! When the stable version will be released?

[2022-04-18 13:37] fforjan commented on #233
If anyone is here, if you are using XML, this is what we have attempted on our side :
[code]
and we switched the attribute from
[code]
to
[code]

[2022-04-18 14:30] sirkris commented on #233
Did the attempt succeed?

On Mon, Apr 18, 2022 at 6:37 AM Frederic Forjan ***@***.***>
wrote:

[2022-04-18 14:41] rhyous commented on #233
@fforjan That is cool. I haven't fixed my HTML ones. I have a project, github.com/rhyous/unittesting (also there is a NuGet package) that does Json, I haven't implement XML yet.

https://github.com/rhyous/UnitTesting

I kept meaning to get Xml done, but I ended up converting my Xml to json instead.

[2022-04-18 14:45] fforjan commented on #233
@rhyous just curiositry, we have lot of comment into our XML. How did you solve the comment in JSON ?

[2022-04-18 20:18] rhyous commented on #233
Unlike Xml, Json doesn't support comments. They would be considered a syntax error.
You can put them in the json as a property or you can't have them.

[code]

However, you don't have to deserialize the comment. The object you serialize with can exclude them and they simply won't be serialized.

[code]

However, I don't usually do that. My only comment is usually a Message property the _is_ deseri

[2022-04-18 22:20] ericstj opened #1073 "MSTest.TestAdapter should target newer TargetFrameworks"
## Description
Today MSTest.TestAdapter targets old and out of support target frameworks, resulting in a lot of unnecessary dependencies being downloaded.

## Steps to reproduce
Reference MSTest.TestAdapter in a `net6.0` project.

## Expected behavior
No additional packages downloaded since all the API needed by MSTest.TestAdapter is present in the framework.

## Actual behavior
Many packages down

[2022-04-21 00:19] Haplois commented on #1073
Thank you for reporting this, we are aware of this issue. Unfortunately we cannot break compatibility with older TFMs, so we are adding newer frameworks to our packages slowly. I'll keep this assigned to myself so I can monitor its progress.

[2022-04-21 12:53] #1053 closed

[2022-04-21 13:11] Haplois commented on #993
Hi,

[DispatcherQueue](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.dispatching.dispatcherqueue?view=winui-3.0) is moved to `Microsoft.UI.Dispatching` namespace. You might want to check your references.

[2022-04-21 13:11] #993 closed

[2022-04-21 18:09] guyemup opened #1075 "Data disappears when using DynamicData."
## Description
Data disappears when using DynamicData.

## Steps to reproduce
Using the included code, put a breakpoint on both Assert statements and debug HasExpectedItems1(). You may also debug HasExpectedItems2() for comparative purposes.

## Expected behavior
Both tests should run 3 times given the following values for the method argument in each:

HasExpectedItems1() should produce:
null
empt

[2022-04-22 00:54] y87feng commented on #757
We are running into this problem as well, hopefully it can be fixed soon

[2022-04-22 08:07] #750 closed

[2022-04-22 08:07] #982 closed

[2022-04-22 08:07] #991 closed

[2022-04-22 09:26] Haplois commented on #851
We are sorry for the delayed fix, but one is ready now. We'll release a preview containing fix later today.

[2022-04-22 09:26] #851 closed

[2022-04-22 09:35] nvborisenko opened #1077 "If using extension of TestMethodAttribute then please contact vendor (ThreadSafeStringWriter)"
## Description
Parallel tests are failing sporadically if they are writing to console output.

## Steps to reproduce
- Create default project `dotnet new mstest`
- Add many classes with tests
- Put `Console.WriteLine("abc")` in tests body
- Allow tests to be executed in parallel `[assembly: Parallelize(Scope = ExecutionScope.ClassLevel)]`
- Update mstest packages to version `2.2.9`

Execute all te

[2022-04-22 13:06] SymbioticKilla commented on #1073
Perhaps it is better to solve it with V3 and v2 leave for hotfixes?

[2022-04-22 19:28] jcoliz commented on #1077
Hi, this is happening for me also. My case is much different than @nvborisenko 's, but still the same results.

* Everything worked great in 2.2.8, failures started when I moved to 2.2.9.
* My tests do not run in parallel.
* Failing tests don't write to console

Running the tests several times in a row in Azure Dev Ops or GitHub Actions produces a different failure profile every time. Same error m

[2022-04-23 01:27] tyson-benson commented on #1077
Same issue for me, I upgraded to 2.2.9 yesterday. And I've started seeing intermittent issues running tests - in my case using the DataTestMethod attribute (probably because they run faster than my other tests). Rerunning the failing tests individually shows they pass.

[code]
Variation of stack trace:
[code]

[2022-04-23 05:00] jcoliz commented on #1077
I created a 100% reliable repro for this issue here: https://github.com/jcoliz/testfx-issue1077.

I did need to parallelize the test in order to get it to reliably fail. Although in my own case, there's no parallelism.

It fails with many different call stacks

[code]

[code]

[code]

[code]

[code]

[2022-04-23 07:22] SnarkOrBoojum2 commented on #1075
It is the same bug as I described. (roots are the same). Class SelectListItem must have attribute [Serializable] for you to see the results. This all because of serialization the parameters from DynamicData into json.

[2022-04-25 10:24] Haplois commented on #1075
Hi,

This is expected since we differentiate between tests using their fully-qualifed member and display names. You data source creates to indistinguishable items, so one is ignored. To avoid this behavior, you need to make sure that data you provide ends up with different `ToString` result.

You can opt-out of this behavior as described [here](https://github.com/microsoft/testfx/issues/905#issuec

[2022-04-25 10:24] #1075 closed

[2022-04-25 10:38] Haplois commented on #1077
Thank you for the report, we are working on a fix, I'll released a preview couple of days ago, could you try `2.2.10-preview-20220414-01` version of MSTest and see if the issue repros?

[2022-04-25 14:25] nvborisenko commented on #1077
Verified on `2.2.10-preview-20220414-01`, the issue went away.

[2022-04-25 14:58] Haplois commented on #1077
@nvborisenko thank you for the verification!

[2022-04-25 14:58] #1077 closed

[2022-04-25 20:52] jcoliz commented on #1077
@Haplois Confirmed here as well. Both on my actual use case and on the synthetic repro.

[2022-04-26 06:27] Haplois commented on #1059
Hi,

This is expected since we expand data tests during discovery. For us to be able to discover all tests we need to read read too.

You can opt-out of this behavior as described https://github.com/microsoft/testfx/issues/905#issuecomment-907775327 by adding following to your solution:

[code]

[2022-04-26 06:27] #1059 closed

[2022-04-26 06:33] Haplois commented on #1058
Hi,

This is expected since since the data you provide must be serializable. You can opt-out of this behavior as described https://github.com/microsoft/testfx/issues/905#issuecomment-907775327 by adding following to your solution:

[code]

[2022-04-26 06:33] #1058 closed

[2022-04-26 09:16] jvandertil opened #1083 "Logging from WebApplicationFactory can no longer be captured in 2.2.9"
## Description
We are developing a ASP.NET Core application and for testing we use the ASP.NET Core TestHost (WebApplicationFactory) to facilitate integration testing.
To capture the logging we replace the `ILoggerFactory` with an implementation that uses the `TestContext` to write the application logging so it can be used for debugging if tests fail.

Since version 2.2.9 logging is no longer reli

[2022-04-27 07:24] xpl0t commented on #366
I wrote a small extension method which enables you to call private methods 🎉 Have a look at the sample code:

[code]

You can find the code here: https://gist.github.com/xpl0t/0d223222696a1c92d7d23cf8368800bf

[2022-04-27 13:06] 3s-ap opened #1093 "ClassCleanup declared on a base type not correctly triggered"
## Description

When the ClassCleanup attribute is declared on a base type with ClassCleanupBehavior.EndOfClass, it still triggered at end of assembly.

## Steps to reproduce

Run this code:

[code]

## Expected behavior
ClassCleanup is triggered at the end of class, according to 'ClassCleanupBehavior.EndOfClass'

## Actual behavior
Log output:

[code]

## Environment
VS 2019
MSTest.TestAdapter: 2