[2018-06-08 01:12] Zymus commented on #445
@jayaranigarg One strange thing I've noticed is that the `vstest.console.exe` installed at `Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow` fails.

[code]

[code]

[2018-06-08 01:51] MikeChristensen commented on #199
Yup, I think an error message is perfectly fine as long as that error message is descriptive and helpful.

[2018-06-08 05:18] pvlakshm commented on #446
Is this represented in the perf workloads we use? If so, is this a regression?

[2018-06-08 06:15] jayaranigarg commented on #445
@Zymus : In VS2015, vstest.console was picked from the path you mentioned i.e.  `Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow`
For running tests in VS2015 with MSTestv2, you will have to provide /testadapterpath:<Path to folder where Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll exists">. Your commandline will look something like this
[code]

However,

[2018-06-08 10:11] jayaranigarg commented on #432
Without the asked information, we are unable to investigate this on our end. Please feel free to re-open it if you hit this again and kindly provide the repo project for the same.

[2018-06-08 10:17] ShreyasRmsft opened #447 "The test that runs first in a test run has much higher test execution time than if it is not the first test to run"
![image](https://user-images.githubusercontent.com/25194518/41152944-e200b832-6b32-11e8-80f9-9352361c9cb9.png)

ValidateRerunDisabledForServiceResponse has lower exe time when not run first.

![image](https://user-images.githubusercontent.com/25194518/41152988-07ef1eda-6b33-11e8-9a0a-21bfecd88fd3.png)

ValidateRerunDisabledForServiceResponse has higher exe time when run first.

I suspect we are ad

[2018-06-08 11:02] singhsarab commented on #444
@AbhitejJohn Reading the comments above, I don't think this is related to 1.3.2 release. Can we close this issue here ?

[2018-06-08 15:13] pvlakshm commented on #199
How about this as the error message:
`Only data driven test methods can have parameters. Did you intend to use [DataRow] or [DataSource] or [DynamicData]?`

[2018-06-08 17:20] Travisimo opened #448 "VSTS Test Runner matching framework issue"
## Description

## Steps to reproduce
Create an MSTest Project with Framework = 4.5
Create VSTS Release Test Task with /Framework:Framework45 setting
Add test project to VSTS Release Test Task
When Test Task is executing, VS Test Runner incorrectly displays warnings that framework and platform are not matching

![image](https://user-images.githubusercontent.com/1070048/41171406-4a4e9c34-6b05-11e8-

[2018-06-11 13:01] IanKemp commented on #26
@AdamDotNet Can confirm this is present in 1.3.2 at least, docs still don't reflect it though.

[2018-06-11 15:34] smadala commented on #26
@IanKemp It was release in 1.3.0 version. Documented [here](https://github.com/Microsoft/testfx-docs/blob/master/docs/releases.md#130-may-2018).

[2018-06-11 15:34] #26 closed

[2018-06-12 17:22] mack0196 opened #449 "Failure reading app.config system.servicemodel\bindings with MSTest.TestAdapter"
`An error occurred creating the configuration section handler for system.serviceModel/bindings: Could not load file or assembly 'Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The parameter is incorrect. `

At the top of the stack we are opening a ChannelFactory for a service endpoint that is using netTcpRelayBinding which is defined in Microsof

[2018-06-13 08:04] ShreyasRmsft commented on #445
@Zymus any more queries here? VS2017 should allow you to run MsTestV2 tests with minimal effort. Please move there. If this is not possible please follow the workaround specified by @jayaranigarg. Lemme know if you have any follow up questions, else will close the the issue.

[2018-06-13 08:06] ShreyasRmsft commented on #444
@singhsarab @mayankbansal018 @jayaranigarg what is our action item here?

[2018-06-13 08:12] mayankbansal018 commented on #444
current mstest package works fine with UWP, it seems a few were missed in initial analysis of this bug, we can close this issue

[2018-06-13 08:35] ShreyasRmsft commented on #444
Closing this

[2018-06-13 13:34] smadala commented on #449
@mack0196 Can you share sample repro project?

[2018-06-13 13:43] smadala commented on #449
@mack0196 Also Pass /diag:log.txt to vstest.console and share log.txt and log.host.*.txt files.

[2018-06-13 15:07] JDCain opened #450 "No unique GUIDs w/ [DataTestMethod]"
## Description
Tests using [DataTestMethod] don't generate unique guids per test instance.

I noticed this as I was using [DataTestMethod] to run the same Selenium Test with different browsers. When running the dataCollector://microsoft/VideoRecorder/1.0 was recording every datatestmethod run within the same wmv file.

## Steps to reproduce
Use any ITestLogger on the command line of vstest.console

[2018-06-14 00:18] AbhitejJohn commented on #444
@mayankbansal018 , @singhsarab : Sorry, I missed this. I can repro this with a blank UWP project targeting SDK **14393** on VS 15.7.3 and 1.3.2 of the Fx/Adapter. A 'Run All' never finishes, so does a CLI test run I believe. This works on the latest VS version though(possibly because of a template change?).
This does still look like an issue to me though unless this is a conscious break that we wa

[2018-06-14 07:48] tlecomte commented on #294
I'm running into the very same problem. Is there a way to fix the profile instead ?

[2018-06-14 12:01] dlemstra opened #451 "Test result from ITestDataSource broken since 1.3.2"
## Description
It appears that the test results from unit tests that use an attribute that implements `ITestDataSource` report the result of the unit test twice with version 1.3.2. With version `1.3.1` the result is only reported once. We are using the `ITestDataSource` attribute to run our tests in TFS and report the results in the test runs. When a test fails it reports the message from the firs

[2018-06-15 03:03] Zymus commented on #445
@ShreyasRmsft No, that is everything I think. Using VS2017 allows us to run both legacy tests, and those using the Nuget packages.

[2018-06-15 08:47] cltshivash commented on #321
@sea1jxr  Console.Writeline is a static instance and will not be thread safe. Using TestContext will ensure that the output for a test only has the relevant logs. Sample below

using ExecutionScope = Microsoft.VisualStudio.TestTools.UnitTesting.ExecutionScope;

[assembly: Parallelize(Workers = 2, Scope = ExecutionScope.MethodLevel)]

namespace UnitTestProject1
{

    [TestClass]

    public class

[2018-06-15 08:51] cltshivash commented on #451
@dlemstra Are you using VSTS or TFS ?

[2018-06-15 10:15] dlemstra commented on #451
We are using TFS and I have not tested this in my own VSTS. But I don't think it's related to where we run this. The screenshots are from Visual Studio and I think we should only get one result message. I just added that comment to give some context to how this change affects us.

[2018-06-16 12:19] jialihan opened #452 "is there any way to change the adapter to make "datarow" level in parallel?"
## Description
I am trying to change the strategy of the original MSTest_Adapter to realize the parallel executing
on "DataRow" level in one method. I am asking is there any previous experience or trials on this topic?

[2018-06-20 08:38] ShreyasRmsft commented on #451
@abhishkk made these changes where every data driven test now has a parent result and child results (iterations for each data row).

This new addition is what is causing the additional parent result error message to show up.

I agree that ideally it makes no sense to see an error message for the parent result in this pane as it will always be blank (@abhishkk correct me here if I am wrong) and its

[2018-06-20 08:48] abhishkk commented on #451
@dlemstra @ShreyasRmsft
We have added parent test result support in data driven. So If a data driven test contains 5 rows, you will get 6 test results. One of the test result is parent test result containing the aggregate outcome. This support is added to allow the result viewers (like vsts, trx viewer etc) to show these results as hierarchical.

Parent test result doesn't contain error messages a

[2018-06-21 04:38] pvlakshm commented on #452
I am happy to know you are interested in contributing.
Parallelizing the execution of data driven tests is an interesting challenge.
The data can be static or dynamic or even coming from external sources.
Also, there are the semantics of the setup and teardown methods to consider.
Let me know your thoughts. Accordingly we can publish an RFC and take it from there.

[2018-06-22 07:45] pvlakshm commented on #451
@dlemstra,
Is this acceptable to you? We don't want you to rollback to 1.3.1 just because of this - especially since 1.3.2 and ahead might contain newer features.

[2018-06-22 10:00] dlemstra commented on #451
I can understand that when the data driven test has 5 rows you will could add an extra row for the combined result. But it does not make sense to me that you need a parent result row when the data driven test has only one row.

And maybe you will need to talk with the TFS/VSTS team to fix the issue that only the parent result is shown in the test run results. They probably need to iterate trough t

[2018-06-22 10:27] ShreyasRmsft commented on #451
@dlemstra the feature is for a data driven test as a whole. It doesn't make sense to report it differently based on the number of rows it has. One might even ask why even use data driven tests if you have only one row :P.

As for this, this has already been done and if you are using the latest versions of the adapter and the testplatform and a few feature flags are turned on you will be able to se

[2018-06-22 13:36] dlemstra commented on #451
@ShreyasRmsft We are using Microsoft Visual Studio Team Foundation Server (Version 15.117.27024.0) on-premise. This probably means we cannot upgrade from version 1.3.1 for a while. Maybe the `ITestDataSource` can be changed to include a flag so you can tell it if you want to enable the hierarchical results or not? But I don't know how many people will run into this to make it worth the effort.

[2018-06-22 21:47] TroyWalshProf opened #453 "Unexpected dependency location when running on VSTS"
## Description
I have multiple tests that depend on a common utility library.
The utility library is designed to pull in data from a file and that file is relative to the test dll.
The problem is that if I have more than one test dll that depends on this utility VSTS test will always choose to use the first instance of the dll it found. This is unfortunate when I expect a test file in a relative p

[2018-06-22 22:31] Legends opened #454 "MsTest stopped working"
I have one unit-test class and two test-methods.

I have defined a wrong signature for the `ClassInitialize` method:
[code]

The problem here is that the tests don't work anymore and you don't get any information back why this is the case! Neither TestExplorer nore the Output console is showing an error!

When I implement the correct signature using `TestContext` it works as expected.

This should

[2018-06-25 04:50] smadala commented on #449
@mack0196 Did you get chance to get simple repro or diagnostic logs? Without them this issue is not actionable.

[2018-06-26 01:54] richard-browne opened #455 "What happened to TestContext.TestResultsDirectory, TestDir etc?"
In a .NET Core test project, TestContext no longer has these properties:

ResultsDirectory
TestDeploymentDir
TestDir
TestLogsDir
TestResultsDirectory
TestRunDirectory
TestRunResultsDirectory

What is the replacement for these? When I run a test after migrating to .NET Core, I no longer see a TestResults directory being created. Where should a test read and write its files now?

Is there any docume

[2018-06-26 14:08] JohnGalt1717 commented on #345
Closing for what reason?  You didn't answer the issue.

Override what run parameters? Where?  Do you mean in the "Override test run parameters" field of VSTS?

And how exactly will those get passed? As environment variables? Or something else?

This should be a sample that is right in the .NET core documentation AND in the vsts documentation.  This is automated testing 101: How do you pass variabl

[2018-06-26 14:47] stecydube opened #456 "Provide a way to specify the test name for a data row test"
## Description
Currently, MSTest V2 constructs the name of the test using the specified parameters and this can be very long for some scenario and also not intention revealing about the actual sub test being performed.

It would be better to have a way to specify the name for a test.

## Steps to reproduce

## Expected behavior
DataRow(1,2,3,TestName="Sequential numbers")
DataRow(2,4,6,TestName="E

[2018-06-27 00:13] Adebeer commented on #345
I agree with @JohnGalt1717 . The link you provided is not relevant - it's dated 2015. The issue is trying to pass parameters to tests in VS2017 and .net core test projects.
We're trying to write end to end and integration tests - but without the ability to pass parameters this is not feasible. Can you please provide a solution to this fundamental issue

[2018-06-27 09:30] jayaranigarg commented on #456
@stecydube : There is indeed a way to specify testname for a datarow test. You can try something like:
[code]

[2018-06-27 09:31] jayaranigarg commented on #456
@pvlakshm : Can we add some examples for datarow attribute in documentation [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.datarowattribute?view=mstest-net-1.2.0) ?

[2018-06-27 10:03] jayaranigarg commented on #455
@richard-browne : Properties you specified are mainly used in scenarios where we deploy test dlls and resources to a deployment directory. This feature is not yet supported for .netcore projects.  We have this feature in our backlog and have an issue already opened [here](https://github.com/Microsoft/testfx/issues/96) to track this. Please feel free to vote it up.

[2018-06-27 10:04] jayaranigarg commented on #455
Tagging @pvlakshm to comment on when do we plan to bring this feature in.

[2018-06-27 11:43] Legends commented on #454
@jayaranigarg Thanks for your quick response.
Yes, I was using :

![image](https://user-images.githubusercontent.com/966368/41971634-697d619e-7a0f-11e8-91e8-a57e7acfba38.png)

Updating it to version 1.3.2 showed the expected error message.
It would be nice if one creates a new unit test project, to always get the latest stable nuget packages for test with every update of VS2017.

Now the hierarchy

[2018-06-27 11:43] #454 closed

[2018-06-27 12:09] stecydube commented on #456
Great, thank you!

[2018-06-27 12:11] jayaranigarg commented on #454
@Legends : Glad to hear it got fixed for you. We do update the UnitTest Templates to point to latest version of nuget packages as they get released with each VS. Latest VS 15.8 preview points to 1.3.2.

[2018-06-27 12:19] jayaranigarg commented on #448
@Travisimo :  We see you are on an older version of TestPlatform i.e. 15.5.1. We fixed this issue in later releases. Please move to latest VS and see if it works for you.

[2018-06-27 13:02] FlorensRab opened #458 "Overridden test with datarow also executes datarows on base implementation"
## Description
When overriding a test decorated with the TestDataAttribute all the datarows on the base will also be executed. This makes overriding a test quite useless.

## Steps to reproduce

    [TestClass]
    public class Test
    {
        [DataTestMethod]
        [DataRow("cherry")]
        [DataRow("banana")]
        [DataRow("Apple")]
        public virtual void TestMethod(string a)

[2018-06-27 13:38] jayaranigarg commented on #453
@TroyWalshProf : Acknowledging this to be a bug.

[2018-06-27 14:14] smadala commented on #449
Closing as no repro.

[2018-06-27 18:48] spottedmahn commented on #410
Hi @jayaranigarg - any updates?

[2018-06-27 23:54] Adebeer commented on #345
For now we resolved the issue by converting our test project to .Net Full framework *sigh*
Please don't close this issue as this needs to be addressed in .net Core test projects

[2018-06-28 06:19] jayaranigarg commented on #410
@spottedmahn : Apologies for the delay.

This exception is generated from [here](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Execution/TypeCache.cs#L621). This effectively means there is some discrepancy in testMethod.Name

I believe we will have to fix DisplayName in TestCase at the time of creation of testcase object [here]
(https://github.com/Microsoft/testfx/

[2018-06-28 09:06] jayaranigarg commented on #450
@JDCain : Thank you for reaching out to us. The behavior you saw is expected.

In case of data-driven tests i.e. [DataTestMethod] in your case, each testmethod has a parent result and a bunch of child results depending on number of data rows. All of these results(parent as well as child) have same testcase id. This is because it is considered as one testmethod(which when ran produces multiple resu

[2018-06-28 09:20] jayaranigarg commented on #458
Tagging @pvlakshm to comment on the expected behavior.

[2018-06-28 11:13] ShreyasRmsft commented on #451
@abhishkk @cltshivash do we have any plans of putting the hierarchical result processing in the platform behind a feature flag? On-prem customers will be in a bit of a soup.

[2018-06-28 19:53] JDCain commented on #450
Thank you for the information. My guess would be then that "datacollector://microsoft/VideoRecorder/1.0" is not using the ExecutionId to start and stop a recording since when it records it includes every run of a [DataTestMethod] in the same output video file. When it outputs the videos it puts them all in branching folders of guids which seem to match the test guids.

I am unclear on where Micros

[2018-06-29 06:39] jayaranigarg commented on #450
@JDCain :

You are correct. Recording is [started](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Execution/TestExecutionManager.cs#L366) and [stopped ](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Execution/TestExecutionManager.cs#L171) by testcase object in the adapter.

`Microsoft.VisualStudio.TestTools.DataCollection.VideoRecord

[2018-06-29 09:49] ShreyasRmsft commented on #448
@Travisimo any updates here?

[2018-06-29 11:02] dlemstra commented on #451
@ShreyasRmsft I can understand why you make this choice but this will force use to remain at version 1.3.1 for a long time. Downloading the trx and checking the error messages there would not be something I would want to punish our testers with.

[2018-06-29 11:11] ShreyasRmsft commented on #451
@dlemstra makes sense.

[2018-06-29 17:23] JDCain commented on #450
Thank for the information. To make sure I understand, this would mean basically taking some of the changes from RunTestMethod in #238 and and implementing it in ExecuteTestsWithTestRunner so that each data driven test is sent to UnitTestRunner.RunSingleTest?

If so would the implementation in RunTestMethod need to stay there as something else is dependent on it (#417)?

[2018-07-03 13:33] jayaranigarg commented on #450
@JDCain : You understand correctly. Doing the changes you mentioned, your problem should get fixed. But there are other things to be considered as well. Like, if you also want each of the datarow to display as a separate test in TestExplorer, we will have to make changes on Discovery flow as well.

This is an interesting problem. Let us know your thoughts on this. Accordingly we can publish an RFC

[2018-07-03 17:06] AbhitejJohn commented on #444
@jayaranigarg : Let me know if I can add more details. This look more like a bug than a question.

[2018-07-04 01:56] JDCain commented on #450
@jayaranigarg Personally I would prefer they stay merged in discovery. I only need the results video to be separate and I think having multiple in the explorer would just clutter it.

Is there a preference for how this change should be implemented. I am not sure of the style or what's
appropriate for the project. e.g. pass ITestExecutionRecorder down to the needed location, implement TypeCache at

[2018-07-04 08:43] jayaranigarg commented on #444
@AbhitejJohn : I tried on VS 15.7.2 with UWP UT Project targeting SDK 14393 and min version 10586/10240, works perfectly fine. This is TPV1 flow.

Also, tried targeting SDK 16299 and min version 14393, works fine in this as well. This is TPv2 flow.

I am not sure which template change you are referring to?

If you hit this issue again, can you please share a repro machine with us?

[2018-07-05 13:08] jayaranigarg commented on #450
@JDCain : There will be a number of implications of this change. Will there be a performance hit after we make execution of each datarow as a separate test, how will tests appearance change in TestExplorer etx.

I would encourage you to think upon on this and come up with an RFC on which we can give our views and on which community can provide it's view.

[2018-07-05 13:38] jayaranigarg commented on #458
@FlorensRab : Acknowledging this to be a bug on our end.

[2018-07-06 05:21] #199 closed

[2018-07-06 07:57] AbhitejJohn commented on #444
@jayaranigarg : That's odd. Can you give the attached project a shot? I just created a project targeting 14393 and upgraded the MSTest Fx and Adapter to 1.3.2.
[UnitTestProject8.zip](https://github.com/Microsoft/testfx/files/2169488/UnitTestProject8.zip)

I was referring to the changes in the templates/targets to get TPV2 working. Not completely sure of the list though.

[2018-07-06 12:42] JDCain commented on #450
@jayaranigarg Is the RFC something I submit via the docs repo on here or is it something I submit to you?
I was thinking that since this is a small use case I would not want to change the way it works currently as users already have expectations of how it functions. Perhaps making the treating of the DynamicData sub sets with their own start and stop optional setting the option via the Attribute.

[2018-07-09 11:28] JDCain commented on #455
Is there a suggested way to get the TestResultsDirectory from a runsettings file in core? While TestResultsDirectory is not a property does it get loaded as a item in TestContext.Properties?

[2018-07-09 13:21] jayaranigarg commented on #450
@JDCain : RFC is something you submit via testfx-docs [here](https://github.com/Microsoft/testfx-docs). We can discuss it further once your RFC is out.

[2018-07-09 13:23] jayaranigarg commented on #455
@JDCain :

Can you explain it a bit more?

We are afraid, TestResultsDirectory is not available for netcore as of now. Not even in TestContext.Properties.

[2018-07-09 15:19] JDCain commented on #455
@jayaranigarg When using a runsettings file you can set the ResultsDirectory. I was needing to be able to know what that folder is from the test.

[2018-07-10 06:21] jayaranigarg commented on #455
@JDCain : Yes, you can set ResultsDirectory in runsettings file. You can access that in your code something like we access it [here](https://github.com/Microsoft/testfx/blob/master/src/Adapter/PlatformServices.Desktop/Utilities/DeploymentUtility.cs#L634).

[2018-07-11 12:49] abhishkk commented on #345
@Adebeer @JohnGalt1717
Updating test run parameter in `dotnet core` targeting test projects is not supported from tasks because of following reasons:
1. `dotnet core` targeting test projects can be ran only with `dotnet` task. `vstest` task doesn't support `dotnet core` tests.
2. Updating test run parameters from `dotnet` task is not supported.

Test projects targeting `.Net full` framework can be

[2018-07-11 12:55] JohnGalt1717 commented on #345
However you can pass environment variables in.

Ie. adding these process variables on your build definition will work and the unit tests will be run:

Azure:Auth:ClientId

ASPNETCORE_ENVIRONMENT

etc.

Further, if you're using docker you can pass these by running a command instead of just docker run and pass -e {variable above} etc.

In the build task you can pass build-args as <variable>=<value>

[2018-07-12 03:33] smalpani-msft commented on #452
Do let us know if you need any brainstorming on this topic to help with this contribution. Thanks again for your interest.

[2018-07-12 11:49] Tbd19 opened #459 "TestContext should provide that is a TestMethod or a DataTestMethod"
I have some unit tests where I use the TestContext.TestName.
However if I use it in a DataTestMethod my tests are failing because there is a collision between the tests because of the TestName.

Is there a way to determine if the test is a DataTestMethod? Or even better to retrieve the DisplayName from the TestContext.

[2018-07-13 14:31] TroyWalshProf opened #460 "Deployment items across multiple projects can conflict with each other"
## Description
I have a solution with multiple test projects.
Some of these tests use deployment items and some of these items (in different projects) have the same name.
The problem is that when I run a suite of tests that pull from more than one project I don't always get the deployment item I expect.

_**Example**:_
**Structure**:
- SLN
	- Test1Proj
		testDataFile.txt
		-bin/debug
			Test1.dll

[2018-07-14 01:33] hamidshahid commented on #432
down vote
accepted
I was able to resolve the issue by setting the ExcludeAssets property for MSTest.TestAdapter to true. This is how my project file looked like in the end

<PackageReference Include="MSTest.TestAdapter" Version="1.2.1">
  <ExcludeAssets>all</ExcludeAssets>
</PackageReference>

[2018-07-16 08:31] jayaranigarg commented on #455
Closing the issue from here. Please feel free to vote up [this](https://github.com/Microsoft/testfx/issues/96)issue for bringing in support for deployment item which in turn will bring these test context properties. Please follow the same issue for getting any updates on this.

[2018-07-16 08:31] #455 closed

[2018-07-16 08:34] jayaranigarg commented on #448
Closing the issue. Please feel to re-open, if you face any issue after upgrading to latest version.

[2018-07-16 08:34] #448 closed

[2018-07-16 20:58] AbhitejJohn commented on #444
Here is the stack for a worker thread in the app. Doesn't look like the connection is made.
[code]
Could this be related to a dependent assembly versioning causing load failures?
/cc: @pvlakshm , @mayankbansal018 to help triage please.

[2018-07-18 09:07] jayaranigarg commented on #444
@AbhitejJohn : Tried on VS 15.8 Preview 4, it reproes for me with 1.3.2 version of adapter and works fine for 1.3.0. Although this could be related to platform changes as well. For now, acknowledging this to be a bug.

[2018-07-19 22:53] jchesshir commented on #452
Note, some of the semantic challenges @pvlakshm noted are described in #385 and #386.

[2018-07-20 15:45] spottedmahn opened #462 "Direct Link: appears to unconditionally set '<OutputPath>' or '<OutDir>'"
## Description
The following link could be improved:

![image](https://user-images.githubusercontent.com/14079228/43011698-3b668eba-8c12-11e8-8f1e-3981e28a71d2.png)

## Expected behavior
Direct link to: https://docs.microsoft.com/en-us/visualstudio/test/live-unit-testing-faq#error-messages-with-ltoutputpathgt-or-ltoutdirgt

## Actual behavior
Generic link to https://docs.microsoft.com/en-us/visual

[2018-07-20 19:08] dhhoang opened #463 "Passing emoji string in [DataRow] causes error in UTF8 encoding/decoding"
## Description
I don't know whether this issue should be in CoreCLR/Corefx, but I am unable to reproduce it outside MSTest environment.
I'm trying to pass an emoji string as parameter to `[DataRow]` but ran into the issues where UTF8 encoding back and forth produces unequal strings.

## Steps to reproduce
The following test should pass, but it fails
[code]

## Expected behavior

## Actual behavior

[2018-07-23 22:24] AbhitejJohn opened #464 "MSTest V2 and data driven tests"
## Description
Filing this to better the experience for MSTestV2's data driven tests in VS IDE. Currently with 1.3.2 version of the Fx/Adapter pair here is how the tests are displayed:

![image](https://user-images.githubusercontent.com/18014426/43106155-54667ade-8e8c-11e8-8a22-f4e715057ce8.png)

Here are the problems that this notation has:
1. One does not have a way of running/debugging an indiv

[2018-07-24 03:19] iPiyushPatel opened #465 "VsTest > VSO - Published result test count is incorrect- not matching with log file count"
## Description
While running Unit Tests on VM using VsTest build step (screenshot below), published total test run count is different than what is show in log file (which is correct, screenshot below).

![image](https://user-images.githubusercontent.com/5212585/43114736-0ae2298e-8f1e-11e8-8aba-830edbb891a7.png)

![build_log](https://user-images.githubusercontent.com/5212585/43114748-1aab8ebe-8f1e-

[2018-07-25 12:44] pvlakshm commented on #462
@ManishJayaswal, take a look, please.

[2018-07-27 15:51] spottedmahn commented on #410
Hi @jayaranigarg - PR submitted... sorry it took so long...

[2018-07-30 01:53] iPiyushPatel commented on #465
Hey @pvlakshm -
Thanks for reply.
In fact, I've figured out the issue. Let me explain. In our solution, we publish Test Logs back to VSO (code snippet below ). I noticed that if log file name is > 70+ (approx) then it doesn't export all results to VSO correctly.

![image](https://user-images.githubusercontent.com/5212585/43373735-408d10b2-93c9-11e8-9514-bd9f20fad63f.png)

Now,I've restricted log f

[2018-07-30 11:46] pvlakshm commented on #458
In this case, datarows on the base should not be executed.

[2018-07-30 23:29] dotMorten opened #467 "Stack overflow in ReflectHelper"
## Description
There's an overflow exception in this line:
https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Helpers/ReflectHelper.cs#L75

[code]

`TypeInfo` inherits from `Type` and therefore this method is calling itself until a stack overflow is thrown (there's no better overload that takes `Typeinfo` )

It looks like this doesn't happen on all platforms, as some pl

[2018-07-31 06:03] dotMorten commented on #291
I agree it's super annoying, however how do you debug a testrun where some tests are actually timing out? Ie you do a test run with the debugger attached, a test run could hang before you get to the one you were interested in debugging

[2018-07-31 06:09] dotMorten opened #468 "Tests that are timing out are flagged as failed instead of timed out"
## Description
When a test times out, there's no indication in the test report it timed out - it's showing as failed instead. There's quite a big difference between the two, as a timed out test is more of the inconclusive kind.

I believe this issue is occurring here:

https://github.com/Microsoft/testfx/blob/fa7f9a8ecb2fc01fd68745a467a977e0485d6320/src/Adapter/MSTest.CoreAdapter/Extensions/TestRe

[2018-07-31 15:52] dotMorten opened #469 "Add a .NET Standard version of TestAdapter"
## Description
If the test adapter was targeting .NET Standard instead of/in addition to netportable, we could reuse the test discovery and execution on Xamarin.
The asserts. attributes etc are already net standard compatible, so it's really just this missing piece, and we can reuse it across all platforms.

(Of course on Xamarin you'd have to write your own UI to show the tests and execute them /

[2018-07-31 15:59] dotMorten commented on #469
Alternatively, place the portable version of TestAdapter in the \lib\ folder of the nuget package, so it gets deployed to android and ios, and we can call into it from the host app.

[2018-08-02 02:34] mack0196 commented on #449
[UnitTestProject1.zip](https://github.com/Microsoft/testfx/files/2251861/UnitTestProject1.zip)

The repro project has one test that creates a ChannelFactory<ITestService>. When config has the extension types specified with PublicKeyToken. MS Test Framework fails with exception below; this test runs and passes with both Resharper unit testing and MS Test Framework v1.2.1 NuGet.

When I remove the P

[2018-08-03 08:50] pvlakshm commented on #468
This is how it has behaved since MSTestV1.
Hence this will need to be treated as an enhancement.
Clearing away the bug field.
@dotMorten, would you like to test and submit a patch?

[2018-08-03 13:30] anushaande commented on #287
Hi! This is Anusha. I am new to .net and Docker containers. We started a project to build CI to build, test and deploy the .net framework application. I want to containerize the application and ship it through the entire workflow of the CI pipeline. I was able to build the application in a container and deploy it to IIs container. I need a container to run unit tests in between.
To get a knowledge

[2018-08-03 13:39] dotMorten commented on #468
I'd be happy to. While I think the second option is more correct (no error message) and simpler to do, the first option that keeps the message but sets the right status is probably the least behavioral change as only the status and not the error message would change.
Agreed?

[2018-08-03 14:32] mayankbansal018 commented on #467
@dotMorten , is this purely needed for Xamarin support?

[2018-08-03 15:07] dotMorten commented on #467
Well I was targeting netstd, but yes that was mainly for the purpose of Xamarin.

I worked around this by targeting .NET Standard 1.4 instead. It's odd that the inheritance between 1.4 and 2.0 is so different.
Here's 1.3:
![image](https://user-images.githubusercontent.com/1378165/43650180-fa9f9a42-96f3-11e8-8cfa-5b83d7ca6bec.png)

And 2.0:
![image](https://user-images.githubusercontent.com/1378165

[2018-08-03 15:13] mayankbansal018 commented on #467
@dotMorten , I already had a PR out to convert tesfx adapter to netstandard1.3 https://github.com/Microsoft/testfx/pull/411

I'll discuss this further with team to take a call on it, & this issue helps.

[2018-08-03 21:52] dotMorten opened #470 "Unseal IgnoreAttribute"
## Description

Please unseal the IgnoreAttribute:
https://github.com/Microsoft/testfx/blob/e13ca085694aa9a9908afb3e9a90a58841b5fe03/src/TestFramework/MSTest.Core/Attributes/VSTestAttributes.cs#L93

Unsealing it would allow me to redefine when a test should be ignored or not. For instance in my day-to-day work I just want to skip over the known issues, but occasionally I'd like to check if an issu

[2018-08-03 21:59] dotMorten commented on #467
If you target 1.3, I you should be fine, but beware of this issue if you do compile for netstd2.0

[2018-08-06 22:20] victorylu opened #473 "MSTest framework with Xamarin.Mac Version 2.0"
## Description

Hi, I'm currently trying to get the MSTest framework installed on the MacOS version of Visual Studio, but I am getting the following message: "Could not install package 'MSTest.TestAdapter 1.3.2'. You are trying to install this package into a project that targets 'Xamarin.Mac,Version=v2.0', but the package does not contain any assembly references or content files that are compatibl

[2018-08-07 08:15] mayankbansal018 commented on #463
@dhhoang , I tried this on windows machines for both dotnet core, & full clr, & could not reproduce this?
Can you try it out once on a windows machine, & see if it works for you as well?

@pvlakshm did you try it on a mac machine, or Windows?

[2018-08-07 11:34] pvlakshm commented on #463
I tried it on a Windows machine.

[2018-08-07 17:01] dhhoang commented on #463
@mayankbansal018 This issue doesn't happen on my Windows either.
On my Mac I upgraded .Net SDK to 2.1.302 and the problem still persists.

[2018-08-07 21:58] dotMorten commented on #468
After a closer look, I'm realizing that this would require a change in the Test ObjectModel, since it doesn't contain that enum:
https://github.com/Microsoft/vstest/blob/abc7599fe09f22bcea35a707d3b9c94a63e6ee88/src/Microsoft.TestPlatform.ObjectModel/TestOutcome.cs#L11

[2018-08-07 22:44] aakshayb opened #474 "Abstract class TestContext has different definitions for IDictionary properties between netframework and netstandard"
## Description
The abstract class TestContext is not same between netframework and netstandard. This causes TypeLoaderReflection exceptions when an attempt is made to load an implementation of TestContext created targeting a different platform than the consuming service. More details in steps to reproduce -

## Steps to reproduce
Create a dotnetstandard library that depends on MsTest.TestFramework

[2018-08-08 08:51] mayankbansal018 commented on #386
@jchesshir , thanks for bringing this issue up. I agree that currently TestContext is not Thread Safe, & can have repercussions in case of method level parallelism.
However the changes to do so are significant, hence marking this as an enhancement.
I'll bring this issue up in internal team discussion, to see when can we pick this story.

Also in case you do get a chance to work on it, please feel

[2018-08-08 08:56] mayankbansal018 commented on #467
Hi @dotMorten, I've raised this issue internally, & we plan to make it part of our backlog.

Also you can pull [branch](https://github.com/Microsoft/testfx/tree/testfxCPS)  where I made changes to move test adapter to NS1.3. It's in a stable state, if possible can you try pulling it locally, & see whether it works fine for you?

[2018-08-08 09:41] TiltonJH opened #475 "Enhance the TimeoutAttribute to be ignored while debugging"
## Description
I am looking for a way to tell the test system to not fail a test with an applied `TimeoutAttribute` if the timeout gets called while I am actively debugging the test.

I am thinking on lines of disabling the timeout while debugger is attached or even better, to not take stops on breakpoints into account (if possible).

Of course the workaround is to remove or disable (via comments)

[2018-08-08 11:25] mayankbansal018 commented on #463
@dhhoang , I tried it on Linux

dotnet --info
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373eb1

[2018-08-09 10:04] nigurr commented on #463
[code]

[2018-08-09 11:53] mayankbansal018 commented on #463
@dhhoang , I tried this with xUnit adapter, & the test fail over there as well. This issue seems to belong to dotnet core, can you please open a bug on [corefx](https://github.com/dotnet/corefx)?

[code]

[2018-08-09 12:17] pvlakshm commented on #468
Adding @singhsarab to comment on any changes to the OM.

[2018-08-09 16:11] JDCain commented on #25
I wanted to know if this was any plan for adding built in support for testorder to the roadmap.
We currently have some workarounds but they are rather ugly implementations with custom scripts reading a defined order and calling vstest.console.exe for each individual test.

[2018-08-15 14:13] steinmr opened #477 "MSTest returns exit code 1 when testing WPF data bindings"
When running mstest.exe against my test assembly, the test passes, but the exe returns exit code 1 and prints the following error message

[code]

The test tests a WPF data binding.

Please let me know if this is the incorrect forum for this question.

#### Repro steps

1. Unzip the attached solution [UnitTestProject1.zip](https://github.com/Microsoft/testfx/files/2290462/UnitTestProject1.zip)

2.

[2018-08-17 09:32] acesiddhu commented on #463
@dhhoang I am closing the issue. can you follow up with corefx as Mayank suggested. Let me know if you have any further queries

[2018-08-17 09:32] #463 closed

[2018-08-17 22:33] robdalsanto commented on #135
We make use of this attribute, so please keep it. That you can specify a specific exception type is meeting our requirements for avoiding false 'test pass' situations.
Without this, we would wind up writing our own try-catch-verify helpers.

[2018-08-17 22:46] robdalsanto opened #478 "TestAdapter grouping by Traits should not create separate groups for Description and WorkItem attributes"
I think the title and the picture illustrate where this can lead. Note also that Owner should not split into different groups. I don't believe this happened prior to MSTest-V2, at least not with WorkItem and Description.

Example of Description attribute:
[code]

![image](https://user-images.githubusercontent.com/31216152/44291509-a0d2c700-a233-11e8-805e-5a019820b2e6.png)

[2018-08-20 08:31] singhsarab commented on #468
Sorry, I missed this thread.

There are a few reasons I am not very keen to take this

1. We have not received an ask for this until now and users are used to this behavior. From Testplatform stand point, anything that results in unexpected behavior is treated as failure and the test outcomes are generic enough to fit the needs of all the adapters.
2. Changing the OM is not easy. Even if I add a n

[2018-08-20 13:40] dotMorten commented on #468
Well here's an alternative solution:
The TRX format has timeout in the schema but it's never used. What if this just would output things correctly?

[2018-08-20 17:51] kfrajtak commented on #203
Maybe an different problem, but I was getting the same error thanks to an invalid app.config file.

[2018-08-22 14:57] Styxxy opened #479 "ITestDataSource : how to access TestContext"
## Description
I would like to use a directory as a datasource, where each file from this directory is a DataRow.
I found the ITestDataSource extensibility, where you can develop an attribute using this.

However, how can I access the TestContext to determine the TestRunDirectory (where for example my DeploymentItems are copied to)?

I currently use `Environment.CurrentDirectory`, however this doe

[2018-08-23 05:48] ShreyasRmsft commented on #394
@parrainc let me know if you need any help with the PR once you get started on it.

[2018-08-23 14:58] parrainc commented on #394
thanks @ShreyasRmsft
I'm already working on it, will let you know if i get lost with the PR. :)

[2018-08-23 21:33] dotMorten commented on #470
After poking around some more, I'm realizing you can accomplish the scenario with a custom TestMethod instead:

[code]

This allows you to write tests like this:
[code]

[2018-08-23 22:26] parrainc commented on #394
Hi @ShreyasRmsft

I already implemented the **AddResultFile** method and **GetResultFiles** as well, created a couple of unit tests for both methods and pushed the commits to my repo.

But, the implementation for **AddResultFile** is not the same as in the full CLR implementation you provided, given that apparently the netstandard version used in the Shared project is lower than 1.3 (which not con

[2018-08-24 13:07] kikcorp commented on #348
It's the best backwards compatibility! Thank you MS!

[2018-08-24 14:01] parrainc commented on #437
Hi @jayaranigarg
I have some free time that I could spend on this, if no body else is working on it right now :)
Please, let me know and I'll start right away.

[2018-08-24 22:31] parrainc commented on #442
@singhsarab It seems that no body's currently working on it...
Taking this issue :)

[2018-08-25 03:55] parrainc opened #481 "Upgrade target framework of PlatformServices.Portable project"
## Description
The target framework for the Portable project in ... should be upgraded to at least .net standard version 1.3.x or maybe the latest one.

Why? I'm trying to fix this issue #394 but unfortunately since .net standard implementation doesn't have Path.GetFullPath() method, I haven't been able to make the PR (to replicate the same behavior as in the full CLR implementation of the TestCon

[2018-08-25 03:59] parrainc commented on #481
I'm available and dispose to work on this issue, but would need some help (i.e. what do i need to change in order to upgrade the target framework).

[2018-08-27 12:29] jayaranigarg commented on #470
@dotMorten : Nicely explained 👍  Happy to see you could consume TestMethod extensibility for fulfilling your requirements 🎉
Please let us know if we could close this thread at our end?

[2018-08-27 12:53] #470 closed

[2018-08-29 08:18] AbhitejJohn commented on #233
Sorry, I haven't been working on the framework for a while now. Tagging @cltshivash @pvlakshm .

[2018-08-30 08:26] alenjalex commented on #233
I am also waiting on this.

[2018-08-30 10:42] jayaranigarg commented on #474
@aakshayb : Acknowledging this to be a bug in framework. This seems like a simple fix. We would be happy to help you if you would like to take a shot at fixing this issue.

[2018-08-30 10:50] jayaranigarg commented on #475
@TiltonJH : Thank you for the feedback. We do agree with your viewpoint. We have a similar issue filed for this here: https://github.com/Microsoft/testfx/issues/475. Please upvote and follow earlier issue.

[2018-08-30 10:50] #475 closed

[2018-08-30 12:37] jayaranigarg commented on #478
@robdalsanto : The behaviour has always been like this from adapter side, in both MSTestV1 and MSTestV2.

Tagging @AbhitejJohn @genlu to look into if there has been some behavior difference from test explorer end.

[2018-08-30 13:42] pascalpfeil commented on #413
+1 on this, this would clean up so many of my tests.

[2018-08-30 19:54] robdalsanto commented on #478
@jayaranigarg @AbhitejJohn We are seeing this duplication in VS2015, which occurred immediately after we started to use the NuGet MSTestV2 instead of the MSTestV1 shipped in VS2015.

We don't have a lot of these attributes, and they don't provide much value, like allowing TFS to link to the test-methods from the work-item. So we will likely remove them. Still it is odd to see these 3 attributes as

[2018-08-30 21:41] parrainc commented on #474
I was about to open an issue related with this, but instead of the Properties prop, there are also a few methods in the TestContext class for netframework that are not available in netstandard version. In fact, already started working on migrating most of them to the netstandard implementation.

@jayaranigarg if @aakshayb have not started to work on this issue yet, i'd like to grab it. So I can me

[2018-08-30 23:10] aakshayb commented on #474
@parrainc Please feel free to address this in your PR. I have no bandwidth to fix this here at this time.
I worked around this problem in my own code base.
Thanks

[2018-08-31 06:46] jayaranigarg commented on #479
@Styxxy : Thank you for reaching out to us.
Talking about adapter internal flow :  data which needs to be passed to testmethod as arguments is extracted first and we set/fill-in values for TestContext object just before we invoke a testmethod, . This basically means you cannot leverage TestContext values in your custom attribute because they would not have been set, even if TestContext object was

[2018-08-31 06:57] jayaranigarg commented on #474
@parrainc : You are observing some methods missing from netstandard version of TestContext because they would make sense only when we implement [DeploymentItemAttribute] for netstandard projects. Since [DeploymentItemAttribute] is implemented for netframework, hence you will find more properties/methods there.

You can go ahead and pick this up. We will plan to push PR #411 soon to unblock this ch

[2018-08-31 07:13] Styxxy commented on #479
@jayaranigarg Thanks for the feedback.

Using `Environment.CurrentDirectory` feels not right because this might be subject to change depending on how the test runner behaves, but hopefully it won't change.

[2018-09-03 09:15] ShreyasRmsft commented on #479
@jayaranigarg is it something that is likely to change in the future?

[2018-09-03 09:43] jayaranigarg commented on #479
@Styxxy : As of now there is no plan to change this behavior in future.

[2018-09-03 09:45] ShreyasRmsft commented on #479
@Styxxy closing this issue. Please re-open if you need any more information or clarification.

[2018-09-03 09:45] #479 closed

[2018-09-03 09:55] Styxxy commented on #479
@jayaranigarg @ShreyasRmsft
Thank you for the information.

[2018-09-05 06:56] jayaranigarg commented on #444
@AbhitejJohn : Currently the UWP projects targeting 14393 SDK and min version 10586/10240 goes via TPV1 flow. This seems like an intermittent issue and migrating the project to TPv2 is working fine.

Tried on VS 15.9 Preview 1, creating a fresh project on my machine going via TPV1 is also working fine. Our recommendation is to move towards TPv2.

[2018-09-05 12:10] millsy013 opened #483 "ClassCleanup should trigger after all test methods have been triggered"
When running multiple [TestClass]es at the same time, why does the [ClassCleanup()] methods only get called at the very end?

File: UnitTest1.cs

[TestClass]
public class UnitTest1
{
[ClassInitialize()]
public static void ClassInit(TestContext context) { }

[ClassCleanup()]
public static void ClassCleanup() { }

[TestMethod]
public void TestMethod() { }
}

File: UnitTest2.cs

[TestClass]
public cl

[2018-09-06 19:07] dfrancoed opened #484 "Unexpected scenario"
Hi guys, I'm following the implementation of the custom data source with the interface [ITestDataSource](https://github.com/Microsoft/testfx-docs/blob/master/RFCs/005-Framework-Extensibility-Custom-DataSource.md) as is described in the example but I found that the test method is returning more scenarios than the expected.

See the attachment.
![image](https://user-images.githubusercontent.com/1819

[2018-09-07 04:53] acesiddhu commented on #402
@Mertsch Sorry for the delay here. Can you take dump when datacollector.exe is hung and share it with us.

[2018-09-07 06:03] #444 closed

[2018-09-07 07:29] Mertsch commented on #402
@acesiddhu Can you please tell me the CMD for that, I haven't taken a dump yet.

[2018-09-07 07:31] acesiddhu commented on #402
@Mertsch you can take dumps from task manager. Goto details tab, right click on datacollector process and click take dumps option there

[2018-09-08 03:35] MisinformedDNA commented on #295
I'm hitting this issue as well in VSTS. All my projects use the .NET Core project format. PackageReference is used everywhere. The one project that fails is the one with `DeploymentItem`s. I was using the VsTest task and it kept failing. I switched to `dotnet test` and it passed. Maybe that will help someone.

[2018-09-10 09:59] Mertsch commented on #402
@acesiddhu Here is the download, please tell me when you got it
https://freedommanufaktur-my.sharepoint.com/:u:/g/personal/martin_freedom-manufaktur_com/EVcuj4VGjcxNr0__bMdQbLsBysjOpDGpZ2a_cnCWGw_5jg?e=khRcGK

[2018-09-10 10:30] acesiddhu commented on #402
@Mertsch I got the dump files. will get back to you after investigations.

[2018-09-10 18:41] spottedmahn commented on #462
Not an optimal User Experience but ok, thanks for the response!

[2018-09-10 18:41] #462 closed

[2018-09-11 06:02] ShreyasRmsft commented on #484
@dfrancoed when getting results for data driven tests or custom data source tests the parent test case result is printed first followed by the child tests results.

ex:
[1, 2]
[3, 4]
testmethod(int a, int b) {}

Results:
testmethod() passed
testmethod(1, 2) passed
testmethod(3, 4) passed

if all of them passed

Results:
testmethod() failed
testmethod(1, 2) passed
testmethod(3, 4) failed

if one fa

[2018-09-11 06:02] #484 closed

[2018-09-11 14:58] dfrancoed commented on #484
So in my understanding, this behavior is concerning to the adapter of vstest who's reporting 3 scenarios rather than 2.

That's wrong because affects the stats of the test executions.

a) I mean the hierarchical way is cool but what about affecting the stats?

b) Or what about if I want to know only the number of test cases executed rather than the number of scenarios?

What do you think could be

[2018-09-11 15:49] ShreyasRmsft commented on #484
@PBoraMSFT for answering the above question

[2018-09-12 13:17] TroyWalshProf commented on #453
Any ETA on when we could see this bug fix?

[2018-09-12 17:01] geoffhanna commented on #366
Yes. Please.

[2018-09-13 07:45] wujysh opened #488 "Extra test cases for DataRow methods"
## Description
After upgrading MSTest to MSTest v2, there is an extra test case for each DataRow method (like a summary to all data row tests of the method). And that causes the number of total tests, passed and failed are also not expected. It is fine with MSTest v1 and vstest.cosole.exe.

Is this a known issue or expected feature? Is there any parameters can be set to change the behavior?

## St

[2018-09-13 13:03] neomarck commented on #484
Hi, with your example in mind, in VSTS, when you execute a build pipeline that runs test cases, the tests statistics (in VSTS) are not displaying aggregate results, so you will have 3 test cases executed, all at the same level, but the truth is that you only run 1 test case but with two iterations.

This is what I'm facing now in VSTS and now my test results are not reliable anymore. Even with the

[2018-09-13 15:21] dfrancoed commented on #488
I'm getting the same behavior, and I trying to figure out if it's an issue maybe with the default console logger.
https://github.com/Microsoft/testfx/issues/484

[2018-09-14 07:40] wujysh commented on #484
+1
I don't think the output format like above is expected. People reading the log will get confused.
- Can not find the relationship between the parent test and its variations.
- The statistics (total, passed and failed) are not right, which don't reflect the actual situation.

@ShreyasRmsft Is there a way to recover to the behavior of MSTest v1. Or can you tell me the code that controls this disp

[2018-09-16 16:05] cltshivash commented on #488
@dfrancoed @wujysh The behavior you are seeing is intentional. MSTest framework used to always report the results for data driven tests with mstest.exe  with an aggregated result. This was broken with vstest.console.exe for a long time and has been recently fixed.

Could you please explain the issue you are running into ?

[2018-09-16 18:04] neomarck commented on #488
Ok then, how can we make these aggregate results to work with the Test Results in VSTS Builds?
In the image below, it says there were 7 test cases, but actually there are only 4 tests cases, the others are just iterations:
![image](https://user-images.githubusercontent.com/43181902/45599325-18208580-b9af-11e8-94ad-bf302301a845.png)
Also, how can we setup VS2017 to get properly displayed these aggr

[2018-09-17 02:07] wujysh commented on #488
The main problem is that iterations are also counted as tests, and the statistics (total, passed, failed) are not right.
It is a new problem encountered after upgrading to MSTest V2. It works fine when I was using MSTest V1 with vstest.console.exe.

@cltshivash It has been recently fixed? Can you tell me how to resolve it? Thanks.

[2018-09-17 07:17] hhotham commented on #488
I have the same issue.
Reported test count:
  VS2015 Test Explorer: 20 Tests
  TFS2015 Build: 40 Tests

Code:
 -12 tests **without** DataRow attributes
 - 7 tests **with** DataRow attributes, in total these tests have 18 DataRow attributes.
 - 1 test with the DynamicData attribute (returning two items)

I would expect the build to report either 20 tests (as Test Explorer does) or 32 (12 + 18 + 2).

[2018-09-17 11:42] kaadhina commented on #488
Please provide the following info
1. Version of VS IDE used in the CI
2. Is the TFS onprem, if so what version (please also specify which update if you are on an update)
3. What is the vstest task version
4. Are you running the tests in CI distributively
(Or provide us verbose logs from the task so we can find 3 & 4. To get this logs, set system.debug=true, run the definition and download build lo

[2018-09-17 12:33] wujysh commented on #488
@kaadhina

[code]

[code]

[code]

[code]

Please tell me if there is something wrong or other information needed. Thanks.

[2018-09-18 05:28] kaadhina commented on #488
@wujysh
Please share verbose build logs. To get this logs, set system.debug=true, run the definition and download build logs.
Since you are internal, also consider adding me to your account temporarily (alias same as github handle) and sharing account details and build details to speed things up.

[2018-09-18 06:02] singhsarab commented on #478
@robdalsanto We identified and fixed the issue. It will be available in the next preview release of the adapter.

[2018-09-18 06:02] #478 closed

[2018-09-18 07:15] wujysh commented on #488
@kaadhina
OK. I will contact you internally later. Thanks.

[2018-09-18 09:35] kaadhina commented on #488
If you are on Azure Devops, this should not happen with the latest agent. Please try this on the latest agent.

[2018-09-18 21:36] ziomyslaw commented on #135
@robdalsanto you can specify a specific exception type
[code]

[2018-09-19 03:06] vaikzs commented on #286
@ShreyasRmsft I agree with your method, everything works fine BUT not xUnit test. I have been struggling for 5 days with this and still not able to figure out a way to execute xUnit with standard template (VS Test) from VSTS marketplace. Please try to suggest possible solutions.

## File structure
MainProject
MainProjectUnitTests (Contain xUnit test cases)
MainProject.sln

[2018-09-19 06:16] ShreyasRmsft commented on #286
@vaikzs can you provide the link to a GitHub repo with a sample repro?

I basically need the full debug logs of the vstest task
your project references to see where the xunit adapter and framework dlls are being placed

[2018-09-20 15:02] acastano1207 commented on #488
Hi Community,

I'm experiencing the same problem:

I have 2 test cases each of them with five scenarios, the resulting output is 10 test cases executed when I only have 2.  Does somebody have an idea of what's happening with the implementation of the notation?

I need to execute my test cases locally .

[2018-09-20 15:13] dnlgmzddr commented on #488
Hello everyone, same issue here. Do you guys have any updates on this?

[2018-09-21 04:33] kaadhina commented on #488
Hi, if you are on Azure devops, please update your agents to the latest and try again. This is something that was fixed in the latest agents.
If you are on-prem, please share version details

[2018-09-21 08:58] ShreyasRmsft commented on #484
@wujysh for the console logger i think perhaps the counting logic like you said can be changed. This is not a high priority item in our backlog right now but we will accept contributions. Please feel free to contribute.

[2018-09-21 09:00] ShreyasRmsft commented on #488
1. Please get the latest test platform using the [vstest platform tool installer](https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts#test)

2. Also use the latest versions of the MsTest Adapter (1.3.2 as of today).

**This solution is for anyone on Azure Devops (formerly VSTS) and on TFS 2018.**

_**And on older versions of TFS data driven tests were never officially supported.**

[2018-09-21 09:01] ShreyasRmsft commented on #484
@neomarck for issues seeing hierarchical results on vsts please refer to https://github.com/Microsoft/testfx/issues/488#issuecomment-423465093

[2018-09-21 09:50] stilren commented on #394
How would one add a result file to the test results while waiting for this feature?

[2018-09-21 22:14] neomarck commented on #488
Finally I got the Aggregate tests results in the Build results.

In the Build pipeline > Visual Studio Test step > Test Platform Version: previously I had selected Visual Studio 2015, now I changed it to Visual Studio 2017 and it made the trick, now I can see the tests results in an aggregate manner.
At least this solve my issue with the Build results, but the issue remains when you run your test

[2018-09-24 05:35] ShreyasRmsft commented on #394
@pvlakshm @PBoraMSFT to answer when this will be picked up from our side.

[2018-09-25 21:21] fredbleuzet opened #490 "There is a flaw in the file deployment process when using a DeploymentItem"
## Description
I ran into an issue and it seems the process works the way it is described here https://msdn.microsoft.com/en-us/library/ms182475.aspx
In a way it's working as designed, but the design has a flaw as all the files from a dependency are not copied to the out folder.

## Steps to reproduce
1. I created the project ClassLibrary1, a library with 1 class and 1 method.
2. To the ClassLibra

[2018-09-26 00:11] MohammadHazara commented on #324
@abatishchev
I am also having trouble running test script on CloudBuild. Did you solved your problem and how?

[2018-09-26 00:33] abatishchev commented on #324
@MohammadHazara CloudBuild? The only system I know of this name is Microsoft internal. Are you working for Microsoft?

[2018-09-26 15:34] josesimoes opened #491 "runsettings not applied to test discovery ?"
## Description
- The runsettings seems that is not being applied to the test discovery.

## Steps to reproduce
- Test project (nanoFramework) with a couple of tests.
- After the build no tests are found. After hitting Run All message with "No tests found to run." shows.
- However running from the console shows the test.
`vstest.console NFApp3.exe --Diag:diag.txt --Framework:".NETFramework,version=

[2018-09-27 07:32] Danielku15 opened #493 "Tracking of durations for Initialize/Cleanup methods"
## Description
This is a feature request and not a bug.

In general our unit tests are rather fast (individually) but still on our CI server the overall testrun takes long. The total run time is ~30mins whereas the sum of all test durations is only half of it. In our case this seems to be mainly caused by the whole `AssemblyInitialize`, `AssemblyCleanup`, `TestInitialize` and `TestCleanup` methods

[2018-09-28 13:32] jayaranigarg commented on #491
@josesimoes : Can you collect logs when running from VS IDE using this blog : https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-trace-using-config-file

In your Test output window you will see a log file path, please share that  file with us.
If possible, please do share a scaled down repro project with us.

[2018-09-28 13:34] jayaranigarg commented on #493
@Danielku15 : Thank you for the feedback.
@pvlakshm to look into the ask.

[2018-10-01 12:35] jayaranigarg commented on #490
@fredbleuzet : Thank you for the detailed explanation. We acknowledge this to be an issue and we are planning to fix this in our future releases.

[2018-10-01 12:39] jayaranigarg commented on #455
@raffaeler : For .net core, this support has not yet come. There is no alternate set of properties as of now. Please feel free to vote [this](https://github.com/Microsoft/testfx/issues/96) issue if you would like this feature to be added.

[2018-10-01 12:46] raffaeler commented on #455
@jayaranigarg thank you, I will.
But at the moment how can you know the default directories? What is the default I can use to copy additional files or to verify the dlls that will be delay loaded?

[2018-10-02 16:50] vaikzs commented on #286
Sorry for the delayed response. Unfortunately, I do not have the xUnit anymore. I shifted to MSTest. And it worked fine. But I do remember dlls file location is bin\Debug\netcoreapp2.1\MainProjectUnitTests.dll

[2018-10-03 05:50] jayaranigarg opened #494 "unittest "test run" reports wrong test case count"
## Steps to reproduce
Write a unittest function with one test case data input

[DataTestMethod]
[DataRow(1)]
public void YouTest(int value)
{...}

When you run the test using

the output will be:
...
Starting test execution, please wait...
Total tests: 2. Passed: 2. Failed: 0. Skipped: 0. Test Run Successful.

## Expected behavior
Actually it's only one test here, [DataTestMethod] is not a test.

[2018-10-05 12:38] jayaranigarg commented on #491
Closing the thread. Please feel free to re-open the issue once you have the required logs.

[2018-10-08 17:00] dotMorten opened #495 "UWP UnitTests runs can suspend"
## Description
Recently moved our UWP UnitTests to use the newer MSTest nuget package, but we're now finding that our automated unit tests will often hang on server executing them.
The moment we sign into the server, the unit tests will continue executing, indicating that the Test Runner is getting suspended by the OS. Is MSTest v2 forgetting to extend execution time for UWP apps?

## Steps to rep

[2018-10-08 20:56] parrainc commented on #494
Also happening when marked the unit test function with `[TestMethod]` attribute.
Somehow the issue seems to be related with the DataRow attribute.

Checking to see if I can figured out what's going on to provide a fix for this.

[2018-10-09 05:49] jayaranigarg commented on #495
@dotMorten : This is a known issue which has been fixed in RS5. Please follow the original issue here : https://github.com/Microsoft/vstest/issues/1524
Closing this as duplicate.

[2018-10-09 05:50] #495 closed

[2018-10-09 11:05] jayaranigarg commented on #494
@parrainc : In case of data-driven tests, there is a parent result for all the aggregated test results. Currently, this parent result is also counted as test and hence a mismatch. So it would be better if we could clearly display that there are 'x tests and x+n test results' in our output.

[2018-10-09 19:05] OFeOFeO opened #496 "ClassInitialize should have timeout independant from test methods"
Method that's designed as a ClassInitialize method should be able to have a Timeout attribute that's independant of the first test being run.

I have a class with lots of tests that required a service running. When running locally, the service is typically not already running, so the class initialize set it up. This can lead to timeout. The current behavior is that the first test to run (which I d

[2018-10-09 19:42] parrainc commented on #494
Totally agree @jayaranigarg . It's way better if in the output it says what you point out instead of the actual count.
I'm looking at the code to provide some changes for this. Will keep commenting here if questions comes up or when have something to show.

[2018-10-10 06:19] jayaranigarg commented on #496
Tagging @pvlakshm @cltshivash to look into the ask.

[2018-10-10 07:17] AbhitejJohn commented on #493
@Danielku15 : The overall test run time reported in the trx file includes the times takes for setup/teardown as well. However it might not be clearly evident how long these operations take unless someone does a diff with individual test runtimes which isn't very useful. Based on what you are saying it looks like we need some way of limiting the time these setup/teardown operations take. Reporting

[2018-10-10 07:20] AbhitejJohn commented on #496
I believe this is not an issue that's limited to MSTest V1 from an offline thread. MSTestV2 does not include Init/Teardown as part of a tests duration. We might want to add this into the delta doc in testfx-docs.

[2018-10-10 07:33] AbhitejJohn commented on #496
Made the change in the docs: https://github.com/Microsoft/testfx-docs/pull/60
While its nice to have this new behavior it looks like we might want to add in a way of constraining timeout on setup/teardown methods. Do we have internal extensions perhaps that already do this that we can share out broadly or maybe we might want to just stick in individual timeout attributes on them?

[2018-10-10 09:32] Danielku15 commented on #493
Does that also apply for Assembly setup/teardown? Are they accounted to the first test running (which is not deterministic)?

I'm personally more interested into having reporting of the times than timeouts. We have no direct need to limit the time this operations are taking. Even though the time we need there might be long compared to the actual tests, it is a necessary step in our test environmen

[2018-10-10 14:43] StingyJack opened #497 "Removing the [Ignore] attribute does not permit a previously ignored test to run."
This is effectively the same report as

https://developercommunity.visualstudio.com/content/problem/269026/vs-wont-run-a-unit-test-that-used-to-have-an-ignor.html

...and a second one with more information...

https://developercommunity.visualstudio.com/content/problem/353013/vs-wont-run-a-unit-test-that-used-to-have-an-ignor-1.html

... a step recording and test diagnostics are attached to the la

[2018-10-10 18:53] EShafferPPG commented on #366
This is very useful and should be accessible in netcore.

[2018-10-11 04:51] spanglerco opened #498 "TestCategory on class doesn't apply to inherited test methods"
## Description
I have a test class that inherits test methods from a base test class, but I want to apply a TestCategory from the derived class in order to filter tests to run. The current implementation only looks at the TestCategory starting at the class that declares the test method, rather than the class being enumerated. But since TestCategory is inherited, I think it would make sense for it

[2018-10-11 06:17] sadjadbp opened #499 "How to ask mstest to stop once it finds a discovery failure like UTA007"
## Description
We had bunch of test that their signature was async, but return types where void.
So we were receiving errors like this Azure DevOps test step

2018-10-11T06:06:39.0663002Z [MSTest][Discovery][x.dll] UTA007: Method Test1 defined in class Class1 does not have correct signature. Test method marked with the [TestMethod] attribute must be non-static, public, return-type as void  and sho

[2018-10-11 07:14] AbhitejJohn commented on #491
@jayaranigarg : From the log above, isn't this busted in commandline as well? Does MSTestV2 support Framework lower than 3.5 yet?

[2018-10-11 08:13] josesimoes commented on #491
@AbhitejJohn the yellow part is a warning, yes, and expected - I guess - as the adapter is analysing a DLL that is on a different framework (from the documentation [here](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0001-Test-Platform-Architecture.md#test-runner) I believe that's something that is possible)

The DLL, despite being C# is compiled against .NET [nanoFramework v1.0](https

[2018-10-11 12:35] StingyJack commented on #499
A [similar problem](https://github.com/Microsoft/testfx/issues/241) where discovery failure doesnt report as error and tests silently fail to run is apparently correctable by using package reference. Are you using package ref or packages config for your test project?

[2018-10-11 16:01] sadjadbp commented on #499
This is asp.net core project using package ref

[2018-10-11 17:20] spanglerco opened #500 "Asynchronous test methods rejected unless they use the async keyword"
## Description
I have a test method that returns a Task. This works when the method also uses the async keyword, but removing the async keyword results in UTA007: Method does not have correct signature. This appears to be intentional based on the IsValidTestMethodShouldReturnFalseForMethodsWithNonVoidReturnType test, but I'm wondering why the caller should care if the method is implemented via asy

[2018-10-11 19:29] AbhitejJohn commented on #491
@josesimoes : Thanks. Looks like the project system for this project thinks it follows the new common project system(it has a `CPS` project capability) but services like `IOutputGroupsService` that the default container provider uses to determine a projects output does not exist. To get this to just work with the default implementation the project system for an nfproj would have to be updated. Jus

[2018-10-11 20:50] josesimoes commented on #491
It should suffice to add that capability? We can do that.

Answering your question: at the time we've started all this the documentation on how to extend an existing project system (that would be csproj) was none existing. So we choose to implement our own. This is to make it clear that this is not a regular csproj, because it has extra msbuild steps to compile it for MCU execution, because it use

[2018-10-12 08:19] josesimoes commented on #491
@AbhitejJohn it looks like we are one step forward with this! 😃

I've added `IOutputGroupsService` and remove the _remove_ of `OutputGroups` capabilities.

Using the same test app I can now see two different behaviours in VS:

1. Without specifying a runsettings file, after clicking Run All this is the output from tests:
[code]

2. If I specify a runsettings file with `<TargetFrameworkVersion>Fram

[2018-10-12 20:32] parrainc commented on #494
@jayaranigarg did a change in [UpdateResultsWithParentInfo](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Execution/TestMethodRunner.cs#L423) method, removing the line 423, so the parent result is not added anymore in the results list. Even though this broke some of the tests, it's now behaving as it should in the [example provided](https://github.com/Microsoft/tes

[2018-10-12 20:43] robdalsanto opened #501 "Feature request - add custom data to TRX output"
We have some automated tests we are trying to use to measure and track functional performance in a specific area. Some of what we want is already in the TRX file, e.g. "Duration". It would be helpful if we could add additional properties, so we are not trying to parse the StdOut of the TRX.

One mechanism I could imagine is to extend the TestContext to have an additional Dictionary<K,V>, say Resul

[2018-10-15 10:32] jayaranigarg commented on #494
@parrainc : We will come back with an update on this. Making this change has other implications on our system and we will have to investigate that. Thank you for your patience.

[2018-10-15 12:38] l3oferreira commented on #273
This may help https://github.com/l3oferreira/MSTest.AzureDevOps

[2018-10-17 18:12] avivanoff opened #502 "TestContext.TestResultsDirectory is the same for all tests"
In MSTest V1 TestContext.TestResultsDirectory is different for every test. For instance:

TestMethod1 -> …\Deploy_1 2018-10-17 13_00_29\In\b3ce33a5-5c66-422e-960e-3cc97e6f7f13\MYMACHINE
TestMethod2 -> …\Deploy_1 2018-10-17 13_00_29\In\7f4f9ba7-9081-479b-9f49-7d1e020604ff\MYMACHINE

After convertsion to MSTest V2:

TestMethod1 -> …\Deploy_1 2018-10-17 13_00_29\In
TestMethod2 -> …\Deploy_1 2018-10-1

[2018-10-17 21:10] michalkovy commented on #450
I have one other use case for the same need.

The use case is behavior-driven development using TickSpec (https://github.com/fsprojects/TickSpec). TickSpec is a .NET framework for BDD tests that allows generating tests from feature files on runtime instead of compilation time. The benefit of runtime generation is that business people can write new tests just with feature file changes when they reu

[2018-10-17 21:19] parrainc commented on #143
Not sure if there's anyone working on this issue, but I've assumed that no one is working on it and grab this one.

I've started to implement this new enhancement, and so far so good. Added the parameter to the `ClassInitialize` attribute, created some unit tests, and it seems to be working fine with "`ClassInitializeInheritance.None`" and "`ClassInitializeInheritance.BeforeEach`".
@AbhitejJohn if

[2018-10-17 23:41] dotMorten commented on #501
This is properly a duplicate of https://github.com/Microsoft/vstest/issues/98#issuecomment-410389571
There's already a way to do this with `[TestProperty]` but there's a limitation in the TRX that it doesn't actually write this out into it.

[2018-10-17 23:52] dotMorten commented on #304
@pvlakshm  Could we reopen this issue? I have a use-case for using the TestAdapter as .NET Standard, when executing tests on Xamarin.
I've created my own port of MSTest.TestAdapter (https://www.nuget.org/packages/MSTestX.TestAdapter/) for this purpose, but would prefer just referencing the official package rather than forking and having to attempt to keep in-sync (it compiles as is, so very little

[2018-10-17 23:53] dotMorten commented on #304
This makes no sense to me. That restriction applies to executables, but not class libraries.

[2018-10-18 19:17] robdalsanto commented on #501
@dotMorten Would programmatically added/set properties, e.g. `TestContext.Properties.Add("somekey","somevalue")` then show up in the TRX file ? As opposed to the static attribute ? If so, then that would work just fine for our needs.

[2018-10-18 20:09] dotMorten commented on #501
@robdalsanto No those properties are for the test case, not for the test result.

I don't really see a good place in the xml schema under TestResult where this would fit. You can browse through it yourself - perhaps I missed a spot. You'll find it here (or equivalent):
` c:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Xml\Schemas\vstst.xsd `
Look for the `TestResultType` definition.

[2018-10-18 22:06] robdalsanto commented on #501
@dotMorten Thanks. I did have a browse through the TestResultType, and you're right. Other than putting something into StdOut via TestContext.WriteLine(), there isn't a natural home. I've updated the title.

[2018-10-19 03:32] dotMorten commented on #501
I think your best bet right now is to use the result files.

[2018-10-20 14:05] sirkris commented on #233
More than a year since the initial post and still waiting.  This is unacceptable, as it makes it impossible to make use of data-driven unit tests in .NET Core.  Please fix this!  I'm gonna have to hack in a really sloppy workaround for my test project to work in the meantime....

[2018-10-22 09:51] mayankbansal018 commented on #499
@sadjadbp , currently this by design, both test platform, & framework try to run as many test as possible, until some fatal error occurs.

[2018-10-22 12:11] josesimoes commented on #491
@AbhitejJohn or @jayaranigarg any update on this please? 😃

[2018-10-22 16:51] jez9999 commented on #172
I don't understand why this was closed.  It may be "benign" but that doesn't mean it's good to put a messy TestResults folder into the root of any solution containing a test project.  It should at least be an accepted low priority bug.

[2018-10-22 20:08] parrainc opened #503 "Assembly Initialize/Cleanup methods not being reached out when inheriting TestClass attribute"
## Description
When inheriting from `TestClassAttribute` class, and using the newly create attribute in a test class (somehting like `[MyTestClass]`) neither the assembly initialize/cleanup methods are being called.

i.e.:
[code]

## Steps to reproduce
In order to reproduce this issue, you should do the following:
1. Create a MSTest test project in VS.
2. Create a class that inherits from TestClas

[2018-10-22 22:12] parrainc commented on #503
Just figured out that the problem is in the [IsAttributeDefined](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Helpers/ReflectHelper.cs#L32) method from the `ReflectHelper`. When inherit from `TestClass`, it is just looking for an attribute match in the `memberInfo` param with the specified `attributeType` (which is TestClassAttribute).

I'm working on the fix for

[2018-10-22 22:57] JVimes commented on #172
We abandoned MSTest because of this.

[2018-10-23 03:09] AbhitejJohn commented on #491
@josesimoes : I'm sorry, I've been occupied with a few other things and github notifications seem to not reach me. For the first warning that you've mentioned it looks like the nanoframework executor is invoked in the testhost process but it fails to load because it cannot find a dependency - Diagnostic platform logs usually help here. Also for any test workflows in VS, setting logs to Diagnostic

[2018-10-23 05:53] vagisha-nidhi commented on #502
We have tried reproducing this issue, but weren't able to do so. We are getting only one TestContext.TestResultsDirectory for both MSTest V1 and MSTest V2 projects. Can you share sample repro projects for both MSTest V1 and V2 where you were able to get this behavior?

[2018-10-23 12:06] robdalsanto opened #504 "TestContext.BeginTimer(String) Method throws System.NotSupportedException"
After looking over the TestResults schema, I was hoping to be able to make use of the named timers in some cases we implement, and hence find these values in the TRX file. But when I try the method in 1.3.2, I get a System.NotSupportedException.

So I ask, can this be added ? If not, please explain why not. It would be useful for us in unit tests. There are traces around the web that suggest it is

[2018-10-23 13:35] vagisha-nidhi commented on #500
Thank you for your feedback.
We have looked into this and found that this behavior of MSTest is by design.

[2018-10-23 14:22] parrainc commented on #437
@jayaranigarg  I think this issue can be closed, since it was resolved on #480

[2018-10-23 14:36] avivanoff commented on #502
Add .testsettings file to MSTest V1 project.

[2018-10-23 15:37] avivanoff commented on #502
This is what I found in DesktopTestContextImplementation.cs, line 171:

                // In MSTest, it is actually "In\697105f7-004f-42e8-bccf-eb024870d3e9\User1", but
                // we are setting it to "In" only because MSTest does not create this directory.

[2018-10-23 16:05] josesimoes commented on #491
@AbhitejJohn thanks again for your comments/suggestions!

1. I'll go and enable all those logs to see if I can find out what is missing there.

2. I'll look into that blog post and see what I can make out of it. 👏

3. On the PlatformServices.Interface, is sound good to me. I'm just not familiar with all that... Can you please provide some pointers on what I need to do to make it happen? 😊

[2018-10-24 04:56] StingyJack opened #506 "Why does test discovery search in projects that are clearly not test projects?"
## Description
The output window lists things like

[code]
The third one is a class library project, but there are web application projects, windows services, console apps, winforms, wpf, etc. It looks at all of them.

## Steps to reproduce
Turn on Diagnostic level output, let test discovery run, view output window

## Expected behavior
I expect it to only look in projects marked as unit test proj

[2018-10-24 05:57] jayaranigarg commented on #437
@parrainc : Thank you. Closing the issue.

[2018-10-24 05:57] #437 closed

[2018-10-24 08:33] mayankbansal018 commented on #504
@robdalsanto , Can you please share a small snippet of code, for us to understand what exactly you are doing

[2018-10-24 12:57] cilerler commented on #233
As @AbhitejJohn already mentioned above dynamic data is way to go at this point.  Here is an example for CSV reading

[code]

[2018-10-24 14:14] rhyous commented on #233
@cilerler  It is _NOT_ that easy.

Is the DynamicDataAttribute available in other .NET platforms yet?

We have a bunch of code that compiles to multiple .Net versions. The code and unit tests are shared between platforms. So if I change the unit tests to use DynamicData, I break them for .Net Framework. So basically, I cannot share unit test code.

At best I could add a compiler directive to all m

[2018-10-24 14:23] sirkris commented on #233
@rhyous is spot-on.  Relying on DynamicData instead of just implementing this (is there some pressing reason not to?) is not a viable long-term solution to this problem, in my opinion.

[2018-10-24 18:02] avivanoff commented on #502
Do not use .testsettings as a deployment item. Select them as Test Settings in Visual Studio when running tests, or as /Settings argument to vstest.console.exe.

[2018-10-24 20:16] rhyous commented on #233
Wow. Let's ignore that unhelpful response and talk about implementation of a single solution in the right place, which is in this project, instead having customers implement many one-off solutions.

It would be better to implement this once than to have many users implement their own hacks. It looks like this feature is tagged with up-for-grabs so anyone can implement it. That is greateness of ope

[2018-10-24 20:50] avivanoff opened #507 "Possible issues with fakes"
We are in process in converting MSTest V1 tests to V2. We have ~20 unit test projects, one of them uses Microsoft Fakes. All projects output to the same directory. After converting to MSTest V2 none of the tests execute (either from Visual Studio not from command line via vstest.console.exe). If I delete the fakes assemblies from the output folder, then tests execute just fine.

Unfortunately, a s

[2018-10-24 21:51] avivanoff commented on #507
Actually, I was able to create a simple project to reproduce the issue.

To sum it up, if there is more than one test and method level parallelization is enabled, tests would not execute. See attached project. If you leave only one test (comment out TestMethod1 or TestMethod2 in the attached project) or disable parallelization (comment out [assembly: Parallelize(Scope = ExecutionScope.MethodLevel)

[2018-10-25 06:00] vagisha-nidhi commented on #502
I am still not able to repro this. I selected Test Settings file in Visual Studio when running tests. I am unable to get different folders in any case for MSTest V1. Can you please share a small repro project?

[2018-10-25 06:14] AbhitejJohn commented on #491
On 3. since this is the first time we'd had such a request @jayaranigarg would you be able to help @josesimoes with this please? I'd think this is about implementing all the APIs in IPlatformServiceProvider boundary into a nanoframework specific version of `Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices` and dropping this assembly into bin/debug when a project targets nanoframe

[2018-10-25 06:44] vagisha-nidhi commented on #507
The sample project that you shared works just fine. Both the tests are executing with parallelization enabled as well.
[code]
Is there something else needed to be done repro this?

[2018-10-25 07:08] avivanoff commented on #507
I am not sure. I can easily reproduce this issue on any of our dev boxes.
Which version of Visual Studio are you using? What OS?

[2018-10-25 11:48] mayankbansal018 commented on #506
@StingyJack , AFAIK the discovery only happens for the source(test dlls) that user provides as input to vstest.console. This most likely could be VS IDE issue, can you please share a small repro project for us to investigate.

Also can you please share details about what kind of tests are not being discovered by mstestv2 for you? It would be helpful if you can share a small project for that as wel

[2018-10-25 12:14] StingyJack commented on #506
@mayankbansal018 - #241 has several repros of the skipping of tests. The solution there wont be feasible until package ref reaches feature parity

I'm not sure if it matters whether or not its an IDE (VS 15.8.7 Enterprise) issue, its something in Test that is reporting these diagnostic messages to the output window. Live Unit Testing is turned off as well as I can turn it off (a simple on/off swit

[2018-10-25 12:28] vagisha-nidhi commented on #507
Microsoft Visual Studio Community 2017
Version 15.8.7

Which version are you on?

[2018-10-25 13:28] maxinfet commented on #315
@Tyale-cpu We are using teamcity and octopus deploy so we are in the same boat.

[2018-10-25 13:37] avivanoff commented on #507
Microsoft Visual Studio Enterprise 2017, Version 15.8.8.

How do I collect execution logs?

[2018-10-25 13:44] avivanoff commented on #502
Sample project.
[UnitTest2.zip](https://github.com/Microsoft/testfx/files/2515120/UnitTest2.zip)

[2018-10-25 14:32] parrainc commented on #502
@vagisha-nidhi I was able to replicate this issue as described by @avivanoff.
When running tests with Mstest v1, there's a different test run directory for each test (see example 1).
On the other hand, when running with MsTest v2, there's just one test run directory for every test (see example 2).

example 1 (with MSTest V1):
[code]

example 2 (with MSTest V2):
[code]

[2018-10-25 16:44] josesimoes commented on #491
Awesome! @jayaranigarg what would be the next steps?

[2018-10-26 05:30] vagisha-nidhi commented on #507
Hi @avivanoff
Please collect execution logs by running the sample project through **vstest.console** and pass --**diag:log.txt** switch and share those logs with us.
Refer [this](https://msdn.microsoft.com/en-us/library/jj155796.aspx) for the command line options.

[2018-10-26 05:31] TsuyoshiUshio commented on #28
Hi @jayaranigarg I encounter the same issue with Azure DevOps. According to your advice I switch from the 1.1.11 to 1.2.0. It works. :) Thanks.

[2018-10-26 07:12] vagisha-nidhi commented on #502
Hi @avivanoff. I was able to get the repro here.
We don't have .testsettings file supported witth MSTest v2 and don't plan to do so, hence there can be behavior difference when using testsettings file. The recommended way to do is to use **.runsettings** file
Also, what is your scenario exactly for using these folder structures so that we can get you unblocked?

@parrainc MSTest v2 doesn't support

[2018-10-26 11:55] parrainc commented on #502
@vagisha-nidhi Yup, i know. Just wanted to point out that in MsTest v1 without the .testsettings file it outputs the same results as in MsTest v2.

[2018-10-26 13:34] martonx commented on #366
Oh, my god. Today I googling a lot, before I found this issue, that it is a known bug. But known bug for more than 8 months? Please add this functionality to .Net core tests also!

[2018-10-26 13:45] avivanoff commented on #507
I do not want to share the logs publicly. They contain some sensitive information (user names, local path info). Is there another way to send them to you?

[2018-10-26 14:01] avivanoff commented on #502
A lot of our tests rely on TestContext.TestResultsDirectory being unique to provide test isolation. And because most of our tests run in parallel, if TestContext.TestResultsDirectory is not unique, we have a lot of race conditions in terms of file access issues.

[2018-10-26 14:10] mayankbansal018 commented on #504
@robdalsanto I'll need to take a deeper look into this, so far it seems that begin timer is part of Mstest adapter, which is not extensible. It is the framework which user can extend. Also when I looked into BeginTimer code, it's just implemented for full CLR, & there too it just throws [NotImplementedException](https://github.com/Microsoft/testfx/blob/3197e7bb9f7fd4219c7855be575fb5def205aff7/src/

[2018-10-26 14:51] mayankbansal018 commented on #500
@spanglerco , I see no specific reason for methods returning Task to be defined as asyn, if they are not doing any async work inside. Can you please raise PR for this.

[2018-10-26 15:00] mayankbansal018 commented on #499
@sadjadbp , there is no backlog currently to add such a feature to vstest.console, as we intend to run as many test as possible for user, however for such cases users can always generate trx file via passing --logger:trx. The report of this can ve analyzed in vsts, or VS IDE as per user convenience, where an appropriate warning is shown for such methods.

[2018-10-26 16:50] robdalsanto commented on #504
@mayankbansal018 This is not meant to be used as an attribute, but within the test, like we might use the TestContext for other things, e.g.:
` TestContext.WriteLine("my message");`

We are using the full CLR in our case.
Hopefully the code below helps illustrate what we'd like, i.e. that the TRX will include a timer with a duration of 30 ms, while the whole test duration is about 100 ms.
`

[2018-10-26 17:06] StingyJack commented on #499
@mayankbansal018 - The user intention here is clearly to execute the code marked with `[TestMethod]` (and without an `[Ignore]`) as a test, and expects that test to either pass or fail.

It cannot be by design to report a successful overall result when there is a failure to execute any test.

[2018-10-26 18:07] sadjadbp commented on #499
Yes thanks @StingyJack that's exactly my point. Doesn't seems to be a good answer. We didn't know we had a failing/missing test.

[2018-10-27 12:38] mayankbansal018 commented on #499
I agree with the user intention to be able to run test not marked as `Ignored`, but so far the test adapter throws a warning for such adapters, giving user a chance to correct them. Taking a fix here, & failing such tests not could potentially break other customers, who might be aware of it, since adapter has already thrown a warning, & also it is logger in trx files if it is enabled.

I'll talk t

[2018-10-27 15:38] sadjadbp commented on #499
I'm fine with warning as long as I would have an option to "treat warnings as errors" and that's my original ask here.

[2018-10-28 14:12] StingyJack commented on #499
@mayankbansal018 - if you can take a fix for the older QualityFramework dll, then possibly. As I've noted in other issues, MSTest2 is not an option for me as it currently requires using nuget PackageReference in order to avoid the "silently skipped tests" issue at topic here.

I'm not sure who would be depending on tests to _not_ be executed and would complain about fixing this. If fixing this bre

[2018-10-29 05:52] kaadhina commented on #488
The error and stack trace must be visible on clicking the sub results. If this is still not working for you, please share the screen shots and debug logs as asked above.

[2018-10-29 06:48] mayankbansal018 commented on #500
@AbhitejJohn any particular reason why we do not run methods which have return type `Task`, unless they are defined as async?

[2018-10-29 07:47] Sopholos opened #508 "DoNotParallelize does not works when "Run Selected Tests" clicked"
When I click Run All - test methods  that marked with DoNotParallelize attribute waits till other marked same are executed, but when I click "Run Selected Tests" they run in parallel.

## Steps to reproduce

1. Create few tests, make them available to run in parallel
2. Select few marked with attribute
3. Click "Run Selected Tests"

## Expected behavior
I expect that tests will wait each other to

[2018-10-29 11:32] mayankbansal018 commented on #504
@robdalsanto I think I get your scenario, as per current behavior the trx file will include entire `100ms` as part of test run, but what you want is to classify the timers saying that `60ms` was part of Set-up, `30ms` is part of actual execution, & remaining part of validation/asserts ?

Did I get your ask correctly? If that's the case then here the behavior change in required in both mstest adapt

[2018-10-29 12:06] vagisha-nidhi commented on #502
This is a valid ask but it's not a bug. The framework is designed in such a way to get only one TestContext.TestResultsDirectory for every test.
For running tests in parallel, your tests should be designed such so that no resource race conditions occur while file accesses in these directories.
Tagging @cltshivash and @PBoraMSFT to see if would like to take this up as enhancement.

[2018-10-29 14:50] robdalsanto commented on #504
@mayankbansal018 Yes, that is what we're after. Note I've updated my previous comment. I can believe the TRX logger might need an update. Seems a shame that BeginTimer/EndTimer are not supported already, given they are part of the TestContext public interface.

If I were to go-to-town, I'd ask to improve BeginTimer to return an IDisposable where Dispose() calls EndTimer, but I can create that clas

[2018-10-29 16:02] mayankbansal018 commented on #504
@robdalsanto my initial concern was that if trx logger schema would require, then taking a fix this, would not be easy, as we have to maintain back compact, but since that is not the case(thanks for taking a look at trx logger schema, & updating us) given the current schema of trx logger, where it can already support multiple timers, I suppose we can take a fix at Mstest adapter end, where it supp

[2018-10-29 20:10] avivanoff commented on #507
Any updates? This issue has become blocking and critical for us.

[2018-10-30 05:08] elemount commented on #488
![capture](https://user-images.githubusercontent.com/9803634/47697164-15789900-dbc7-11e8-84f0-6f27e6dcee8d.PNG)

[2018-10-30 05:13] ShreyasRmsft commented on #488
@elemount and debug logs please.

Also please provide a screen shot where we can see the whole page please.

[2018-10-30 05:16] elemount commented on #488
![capture](https://user-images.githubusercontent.com/9803634/47697440-4d341080-dbc8-11e8-8745-2e163bb32f6f.PNG)

[2018-10-30 05:18] elemount commented on #488
[ReleaseLogs_65768.zip](https://github.com/Microsoft/testfx/files/2528105/ReleaseLogs_65768.zip)

[2018-10-30 05:20] elemount commented on #488
[code]

[2018-10-30 10:45] kaadhina commented on #488
Hi, these are not debug logs. Set variable system.debug = true to collect debug logs, and share the same.

[2018-10-30 13:10] vagisha-nidhi commented on #507
Hi @avivanoff
Sorry for the delay, but I was able to get a repro for this. This issue has already been fixed and will be available in **TestPlatform v15.9.0**. [Here](https://github.com/Microsoft/vstest/issues/1671) is the corresponding issue tracking this, and the [fix](https://github.com/Microsoft/vstest/pull/1682/commits/15d72a1070487c7b9b47cf2b3010f2c04520c31d) for the same. You can get unbloc

[2018-10-30 13:57] avivanoff commented on #502
The behavior between V1 and V2 changed. You should at least document it.

And thank you for all that extra work we now have to do.

[2018-10-30 14:01] avivanoff commented on #507
Will this fix be available in the upcoming Visual Studio 2017 15.9 release?

[2018-10-30 15:14] mayankbansal018 commented on #499
@sadjadbp  @StingyJack , Apologies for getting delayed on this, I've not been able to spend enough time on it, will try to get back within a day or two.

[2018-10-30 17:08] jayaranigarg commented on #502
@avivanoff : Apologies for the inconvinience but .testsettings are just not supported by MSTestV2. We have this documented here : https://github.com/Microsoft/testfx-docs/blob/master/docs/deltaWithMSTestV1.md

Tests should not even get discovered when you supply testsettings file with a MSTestv2 test project. How are you able to run your tests in parallel? Can you please attach a sample MSTestV2 b

[2018-10-30 20:07] avivanoff commented on #507
Can I install TestPlatform v15.9.0 into Visual Studio 2017 15.8?

[2018-10-31 05:38] vagisha-nidhi commented on #507
@avivanoff You have to update your VS to 15.9 in order to get 15.9 test platform version. The pre release versions are out and you can get them. Also, I would suggest using the tools installer task in your definition (which does not require VS to be present on your agent machine) and gets immediate updates as soon as we release test platform.
![image](https://user-images.githubusercontent.com/1317

[2018-10-31 05:41] vagisha-nidhi commented on #507
@avivanoff You have to install the 15.9 pre release version of VS to get the 15.9 test platform. It is available [here](https://visualstudio.microsoft.com/vs/preview/). The stable release for the same will be out by mid November.

[2018-10-31 07:02] Terryxxx opened #511 "Problems encountered in parallel testing"
## Description
When I tried to run two UI automation test case in parallel, I encounter problems. Only one test case can run successful and another always failed.

Failed test case shows "Can't find some element , time out.". But if I run failed test alone, it will pass.

Can someone help solve this problem?

## Environment
MSTest V2 1.3.2
OS: Windows 10
VS: Visual Enterprise 2017 Version 15.8.7

[2018-10-31 07:18] elemount commented on #488
[ReleaseLogs_67531.zip](https://github.com/Microsoft/testfx/files/2533134/ReleaseLogs_67531.zip)
![capture](https://user-images.githubusercontent.com/9803634/47771956-67dab800-dca2-11e8-8628-f1279b1ce346.PNG)

[2018-10-31 07:18] elemount commented on #488
Updated the system.debug=true logs

[2018-10-31 10:31] vagisha-nidhi commented on #508
Hi @Sopholos,
Test methods marked as `DoNotParallelize` attribute should not run in parallel. Can you please share a sample repro project where you faced this issue? Also, when using "Run Selected Tests", did you select all tests and checked the ones marked with the attribute are running in parallel?

[2018-10-31 10:36] kaadhina commented on #488
What is the version of mstest adapter you are using? Can you please update this is 1.3.2 if it is not already up to date and retry this?

[2018-10-31 13:08] Sopholos commented on #508
Looks like bug disappeared after visual studio restart. today I could not reproduce it on same project.

[2018-10-31 13:08] #508 closed

[2018-10-31 13:56] elemount commented on #488
Hi @kaadhina , I'm using mstest adapter 1.3.2 version.

[2018-10-31 18:14] hamidshahid commented on #490
@jayaranigarg Is there any ETA on when the fix would happen. We have a huge test suite that we are looking to move to MSTest v2 and this is a problematic area for us.

[2018-11-01 05:19] #507 closed

[2018-11-01 05:35] usamakhalil86 commented on #445
unbelievable !  This Issue comes in many version of MS Test.
@ShreyasRmsft you could not found out the root cause ?  This is happening again in MS Test 2017
with Test Execution Command Line Tool Version 15.0.27729.1 which was updated 30 October 2018.

[2018-11-01 05:41] Terryxxx commented on #511
@pvlakshm I had reading the article. It seems only run in Parallel test with different .dll ?

[2018-11-01 05:54] usamakhalil86 opened #512 "Test not discovered by Test Execution Command Line Version ( 15.0.27729.1) - Critical Issue"
Test Execution Command Line Version ( 15.0.27729.1)  can not discover tests

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\MSTest.exe" /testcontainer:UnitTests.dll /resultsfile:UnitTests.trx

But , Same test can be found by "vstest.console.exe"

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest

[2018-11-01 06:12] usamakhalil86 commented on #512
Related issue. the fix specified didnt work for me.

https://github.com/Microsoft/testfx/issues/324

[2018-11-01 06:20] ShreyasRmsft commented on #445
@usamakhalil86

[2018-11-01 06:49] jayaranigarg commented on #490
@hamidshahid : We pushed a fix for this yesterday. You can consume the fix for now from https://dotnet.myget.org/feed/mstestv2/package/nuget/MSTest.TestAdapter/1.4.0-build-20181031-01
https://dotnet.myget.org/feed/mstestv2/package/nuget/MSTest.TestFramework/1.4.0-build-20181031-01.
Update both framework and adapter to these nuget packages. You will also need to add a node to your runsettings file

[2018-11-01 07:55] vagisha-nidhi commented on #512
Hi @usamakhalil86
We see that your tests are being discovered by **vstest.console.exe**.  Running MSTestV2 tests is not supported with mstest.exe. Please use vstest.console.exe to run MSTestV2 based tests.
Also, mstest.exe is a deprecated scenario. We recommend moving on to vstest.console.exe as this is the path forward. [Here](https://github.com/Microsoft/testfx-docs/blob/master/docs/deltaWithMST

[2018-11-01 08:10] vagisha-nidhi commented on #445
Closing this issue as tracking it [here](https://github.com/Microsoft/testfx/issues/512).

[2018-11-01 08:10] #445 closed

[2018-11-01 10:57] kaadhina commented on #488
Is this issue specific to data driven tests or any failing test in general?
If it is only for data driven, are you able to see the individual test results for each data row in hierarchical format ?

[2018-11-02 02:04] elemount commented on #488
Hi @kaadhina , it is only for data driven tests. It seems all DataRow is hiden.

[2018-11-02 02:37] usamakhalil86 commented on #445
@vagisha-nidhi I see you have closed this issue, which is separate then
https://github.com/Microsoft/testfx/issues/512

This poor user complained about using VS 2017 and creating unit test project for .NET frame 4.6.
Those are broken now.
Kindly check with VS 2017 team to use "vstest.console.exe" when creating .NET framework 4.6 unit tests as well.

[2018-11-02 06:34] vagisha-nidhi commented on #445
Hi @usamakhalil86
How are you trying to run the tests? The IDE uses vstest.console.exe to run tests.
Are you facing any issues while running tests with VS 2017? Can you please provide us logs and screenshots or a repro project so that we can take a look?
You can collect logs in ide by enabling Tools->Options->Test->Logging Level->Diagnostic
[This](https://github.com/Microsoft/vstest-docs/blob/mast

[2018-11-03 18:35] StingyJack commented on #506
Also this is only a question if you read the title and not the rest. Kindly remove the question tag.

[2018-11-03 21:03] StingyJack commented on #502
@avivanoff - If its less work, consider not upgrading those tests to the v2 adapter/framework. v1 is definitely more reliable and stable anyways,

@vagisha-nidhi - I read that as "every test gets its own directory". Which sounds reasonable, as unit tests are supposed to be run in some kind of isolation (they arent integration tests). The adapter spins up app domains already, why would anyone take

[2018-11-04 00:34] mprice-hw commented on #143
This is great news!!!!

[2018-11-05 05:29] vagisha-nidhi commented on #512
I am closing this issue. Please feel free to reopen if you face any blockers while running tests using `vstest.console.exe`.

[2018-11-05 05:29] #512 closed

[2018-11-05 13:38] karanjitsingh commented on #511
Here's an extract from what @pvlakshm commented,

Partition tests in terms of a taxonomy as follows:
(1) “Pure Unit Tests” (can run in parallel)
(2) Functional Tests that can run in parallel with some modifications (e.g.: 2 functional tests trying to create/delete the same folder can be ‘fixed’ to remove the assumption that they have exclusive use to the folder).
***(3) Functional Tests that canno

[2018-11-05 13:38] #511 closed

[2018-11-05 13:41] mayankbansal018 commented on #499
@jayaranigarg , @cltshivash  I was looking into this issue, & it seems a fair ask, that we report test as failed if we cannot run them. E.g. being if a Test is marked as async, but does not have return type Task, we do not run such tests, & just throw a warning.

We do similar thing for tests that are marked as Ignored, & show them as fail as per users input [`MapInconclusiveToFailed`. ](https://g

[2018-11-06 09:36] karanjitsingh commented on #498
Hey @spanglerco, thanks for pointing this out. Will be marking this as an enhancement and is up for grabs for a contribution.

Just adding to the expected behavior a little, TestCategory should not override but add another category to the class. A test class can take multiple test categories, so for derived classes defining TestCategory should also show up when filtering for their base class categ

[2018-11-07 06:33] AbhitejJohn commented on #500
@mayankbansal018 : This is probably an artifact of the past. I do not see any reason why that should still be the case but please make sure that any documentation is updated as well.

[2018-11-07 13:42] parrainc commented on #488
I think this issue #494 marked as bug looks like the one that is mentioned here.
cc: @jayaranigarg maybe you have some updates/more info about this that you could share?

[2018-11-08 09:52] melleck commented on #144
When can we expect Ordered tests: #25 support to be added in MS Test V2? It has been over a year now. Voting is also closed for this issue. Please update with the Expected time? Need it badly. Thanks.

[2018-11-08 21:36] javierdlg opened #514 "TestContext type is not CLS Compliant"
## Description
TestContext is not CLS compliant when used as argument in public method.

## Steps to reproduce
In a C# project using NET 4.7 create a class with a public method that takes in a TestContext type as an argument.
Enable CLS compliance in the project.

## Expected behavior
No CLS compliant errors

## Actual behavior
TestContext type is not CLS compliant

[2018-11-09 00:16] yuzhangcsr commented on #288
@AbhitejJohn , is there any other way/workaround to get the data other than from Testmethod parameters   when I am using DataRow, I am asking is because my test framework is using [TestCleanup] method to generate test report via reading TestContext to get test name, status etc. And now the datarow in TestContext  is null by design if using [DataRow]

[2018-11-09 02:49] Adebeer commented on #345
This issue seems fixed to me now.

I've recently created a new xUnit .Net Core 2.1 app and can use environment variables just fine, as mentioned by @JohnGalt1717 .

E.g.
Create build variable - e.g. `ASPNETCORE_ENVIRONMENT`
and then in my code, I simply use: `System.Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")`

In Azure DevOps - I simply use the Visual Studio Test task

For me, th

[2018-11-09 07:19] karanjitsingh commented on #506
@StingyJack these are logs from the VS IDE, as @mayankbansal018 said, the discovery only happens for the source (test dlls). Log this issue at https://developercommunity.visualstudio.com/ and an appropriate team will get back to you.

[2018-11-09 07:23] ahmedalejo opened #515 "Test Display Name should be Extensible"
Description
Following the extensibility initiative in MsTest V2. It would help to be able to define Display Names (i.e TestName) for tests thereby making human-readable(serves as better documentation of codebase as well) names that show up in the test explorer .

Test frameworks like xUnit this via configuration https://github.com/xunit/xunit/issues/759

**Expected behavior**

[code]
![image](http

[2018-11-09 08:50] cltshivash commented on #494
This change is needed to ensure that the data driven tests work fine in different CI scenarios like distribution and rerun and is intentional.

[2018-11-09 08:50] #494 closed

[2018-11-09 08:53] cltshivash commented on #488
@elemount Do you see the error logs in the trx file that will be present as an attachment ? In case you have a scaled down repro do share it.

[2018-11-09 11:03] anshuls01 commented on #360
Hello Jaya,
Do we have any update on this issue? It's a blocker for us to migrate to MsTestV2, is there any alternate way to associate the test case (may be api call)?  if Linking is not possible through IDE

Thanks
Anshul

[2018-11-09 13:00] karanjitsingh commented on #515
Hi @ahmedalejo, thanks for suggesting that. I've marked this as an enhancement and we'll be happy to accept any contribution.

[2018-11-09 13:00] #515 closed

[2018-11-09 14:02] anshuls01 commented on #360
Hello Jaya,

just to share the update, I am able to associate the test case after using Visual studio 2017 Preview 2.0 version 15.9 and greater. Extension part still needs to check and will confirm this. I am sure that will be much easier compared to MsTest, Already Pratap writes a detailed `[blog](https://blogs.msdn.microsoft.com/devops/2017/07/18/extending-mstest-v2/)` about this.

one question

[2018-11-09 14:10] StingyJack commented on #506
@karanjitsingh - This is the issue page for mstest related issues, and the issue is mstest related and issues I've logged on dev comm will sometimes end up getting transferred here.

I would say that if you think its served by a different team there (which I don't believe is true, considering the same folks tend to work tickets in both places), then you can move it there and see that it gets handl

[2018-11-11 10:06] #514 closed

[2018-11-11 10:13] mayankbansal018 commented on #506
@StingyJack , we will keep the issue open, however the IDE side issues are handled by different team from Redmond. We will investigate this confirm that it's not a fault from mstest adapter side, & will only close it if it's not.

@karanjitsingh , can you please see if you can create a repro for this, take help from [comment](https://github.com/Microsoft/testfx/issues/506#issuecomment-433027059) t

[2018-11-12 08:02] karanjitsingh commented on #506
@mayankbansal018 @StingyJack, these logs do not relate to MSTestAdapter. As you mentioned logs only appear in diagnostics mode in the IDE scenario, file a bug at developer community and the folks from IDE team should pick it up.

[2018-11-12 08:02] #506 closed

[2018-11-12 08:05] elemount commented on #488
@cltshivash , I can see the error logs in the trx file.

[2018-11-12 08:31] jayaranigarg commented on #491
@josesimoes : Apologies for the delay.
To support this new platform/framework, you will need to add two projects. One for adapter logic and one for framework attributes.
1. For adapter, you can create a project of this new platform type, something like PlatformService.Nano which takes a project dependency on [PlatformService.Interface](https://github.com/Microsoft/testfx/tree/master/src/Adapter/Pl

[2018-11-12 12:58] CasperWSchmidt opened #517 "TestDeploymentDir nuget vs docs?"
According to #455 TestDeploymentDir is not yet implemented (but part of #96), but looking at https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.testcontext.testresultsdirectory?view=mstest-net-1.3.2#Microsoft_VisualStudio_TestTools_UnitTesting_TestContext_TestResultsDirectory it looks like it should be there (in namespace Microsoft.VisualStudio.TestTools.UnitT

[2018-11-12 16:28] LokiMidgard opened #518 "Error not shown for DataTestMethod in TFS"
## Description
For `DataTestMethod` with `DataRow` attributes it is not easely possible to find out why the test faild in TFS (TestResult view).

## Steps to reproduce
[code]

## Expected behavior
The TestResult view shows the reason why the test faild. Multiple reasons if more then one `DataRow` faild. Identical to when a normal test method fails.

OR

One TestResult entry per `DataRow` with its

[2018-11-13 04:48] StingyJack commented on #506
@karanjitsingh  - Please do not try to make me a victim of what seems to be an imagined bureaucracy. Members in this very repository open test related issues with Visual Studio, with screenshots of visual studio, etc. I've opened intellitest issues in devcomm and had them worked by members and contributors (which you were not until a day or two ago) of this repository.

What is someone in a genera

[2018-11-13 11:07] karanjitsingh commented on #346
@kant2002, it seems this is an issue with xcopy, I don't seem to find any workaround with this, I'll go ahead and change xcopy to robocopy to fix this

[2018-11-13 12:32] divais commented on #518
We have addressed this feedback in the upcoming release of TFS 2019 and on Azure DevOps Service with hierarchical results. Can you test this with your test Azure DevOps account (if any) or TFS 2019 RC1 and share feedback

[2018-11-13 15:17] gabrieljoelc commented on #345
@Adebeer I could not get "`Runsetting arguments`" to work with or without a `*.runsettings` file using `dotnet test` (see the [vstest-docs](https://github.com/Microsoft/vstest-docs/blob/e19d62610a78b568183edb0f121f33747d6d2d8c/docs/RunSettingsArguments.md#example)).

*Use case 1:*
[code]
Expected: `MSTest.MapInconclusiveToFailed` or `MSTest.DeploymentEnabled` should be set with their respective va

[2018-11-13 21:46] Adebeer commented on #345
@gabrieljoelc try this approach instead: https://stackoverflow.com/questions/50065991/how-to-configure-xunit-dotnet-core-project-to-initialize-from-different-configur/53220339?noredirect=1#comment93390698_53220339

Let me know if that worked

[2018-11-14 05:04] karanjitsingh commented on #517
@CasperWSchmidt, are you trying this with netcore build or the desktop/net45x build?
It's only implemented for the desktop i.e. net45x build of mstest: https://github.com/Microsoft/testfx/search?q=TestResultsDirectory&unscoped_q=TestResultsDirectory

I guess since we haven't mentioned that specifically in the docs, they're misleading.
FYI: @PBoraMSFT

[2018-11-14 05:08] PBoraMSFT commented on #517
@karanjitsingh @jayaranigarg - I believe Jaya was looking at a similar report from earlier and fixing the MSTest docs.
Once the docs are updated, please mark this issue as an enhancement to make available for netcore as well.

[2018-11-14 07:07] CasperWSchmidt commented on #517
@karanjitsingh I'm targeting .net standard 2.0 at the moment :)

[2018-11-14 07:16] mayankbansal018 commented on #506
@StingyJack I'm not sure what to reply here, as Karan has clearly mentioned, & validated that the issue is entirely at VS IDE side.
Folks do open issues of all kind, but we do not take them until they are caused in some way by mstest adapter.
As per this issue, the mstest adapter is not even remotely in picture, & neither is the vstest platform. If the whole purpose of keeping this issue opened he

[2018-11-14 08:18] LokiMidgard commented on #518
I tried Azure DevOps and I wasn't able to see which data Row faild:

![grafik](https://user-images.githubusercontent.com/389101/48469144-41626400-e7ee-11e8-9023-e16525021a85.png)

[2018-11-14 17:08] gabrieljoelc commented on #345
@Adebeer thank you for the proposed workaround. Would you consider the open ticket still an issue since this solution just works around runsetting arguments being broken with `dotnet test`?

I believe the SO [post ](https://stackoverflow.com/questions/50065991/how-to-configure-xunit-dotnet-core-project-to-initialize-from-different-configur/53220339?noredirect=1#comment93390698_53220339) seems to b

[2018-11-14 21:59] Adebeer commented on #345
Hi @gabrieljoelc - you have a good solution too.

The SO post should work same within any .net core unit test project as the .net core MS configuration is isolated in seperate nugget packages and not limited to aspnet core projects.

Going forward, for me this is a better approach as I think the ms test runsetting approach is less framework agnostic and tied to their test platform. I like to be in

[2018-11-15 08:40] sebainones commented on #233
I'm facing the same situation. I was trying to move my Tests to .Net Core but for me is strictly necessary to use DataRow as my information comes only from the DB. So, without this, I wouldn't migrate to  .Net Core.
@AbhitejJohn It's been more than a year since the post. Is there any ETA or at least do you have on your product backlog.
I want to know if it makes sense to wait or if I should be con

[2018-11-15 13:43] StingyJack commented on #506
@mayankbansal018  - is a log file with the name like the one below really not in your area of responsibility?
[code]
I'm tired of filing bugs in devcomm, it has been literally unable to count or show me all of them sometime after logging the 200th one (Its > 400 now). I dont want the wrong team to look at this and this is _the_ one and only MSFT test repository. There are other VS-centric issues w

[2018-11-15 15:17] mayankbansal018 commented on #506
@StingyJack the log file is definitely our responsibility, but there is no mention of

 in the beginning of this issue, & I'm not sure how does this just now came into picture in your last comment.
Your initial comment only talks about Test Window logs from VS IDE

Again if your bugs at devcomm are closed w/o proper resolution or response, then it is unfortunate, but I cannot comment on that for o

[2018-11-15 19:52] josesimoes commented on #491
@jayaranigarg thank you for providing this information and guidance.

I'll be working on this with @MatthiasJentsch. We'll keep you updated on our progress.

[2018-11-16 05:31] StingyJack commented on #506
My initial comment is about what the messages in the output window for Tests are reporting. See below for a customer information sanitized version of the depicted window.
![image](https://user-images.githubusercontent.com/15381181/48599640-927d6f80-e936-11e8-9a0c-c68f768b918d.png)

I dont have concerns with the logs, and I didnt ask anyone to fix logs. Please do not fixate on the logs being the co

[2018-11-16 21:05] karanjitsingh commented on #346
@kant2002, I was trying to fix this issue, but it seems it's not reproing in the latest master, could you try the same thing on your end

[2018-11-17 09:03] kant2002 commented on #346
@karanjitsingh I could confirm that checking out to folder `c:\d\user\GitHub\dotnet\testfx` and running `.\build.cmd -uxlf` is produce build for me. I done completely clean build. Make sure that path is relatively long. Minimal length is length of `c:\d\user\GitHub\testfx` which is 23 characters.

[2018-11-18 10:18] he-dev commented on #172
You might want to take a look a [this](https://superuser.com/questions/1267698/how-to-disable-testresults-folder-in-visual-studio) - I've found a workaround.

[2018-11-19 16:44] fabricejumarie opened #519 "MsTest V2 on TFS 2017"
Hi everyone,

I updated my unit test project to use MsTest V2 and the new attribute DataRow.
I removed from my project the library Microsoft.VisualStudio.QualityTools.UnitTestFramework and added nuget package MSTest.TestFramework 1.3.2.

Everything works fine on my local machine, all the tests runs.

But, on TFS 2017, all the unit tests in the project upgraded to MsTest V2 are not executed and con

[2018-11-20 00:45] dotMorten opened #520 "TestProperties breaking change"
## Description
A change was made for several classes to no longer inherit from TestProperty in this PR: https://github.com/Microsoft/testfx/pull/482

## Steps to reproduce
This code used to compile/run:

[code]
Some are compile time, but 3rd party libraries that were compiled against an older version will get runtime errors.

## Expected behavior
Continued binary and code compatibility across mino

[2018-11-20 12:32] divais commented on #518
You will be able to see it in Pipelines - Test tab in the build or release instance.

[2018-11-20 14:32] mayerj commented on #402
I believe I have a similar, if not identical problem.  Here are the callstacks from datacollector.exe

0:004> !CLRStack
OS Thread Id: 0xb44 (4)
        Child SP               IP Call Site
000000f332aff0f8 00007ffbb572f0e4 [HelperMethodFrame_1OBJ: 000000f332aff0f8] System.Threading.WaitHandle.WaitOneNative(System.Runtime.InteropServices.SafeHandle, UInt32, Boolean, Boolean)
000000f332aff220 00007ff

[2018-11-20 15:50] LokiMidgard commented on #518
Ok,

I found it. Thank you. I think it could be easeayer to discover (especially when your looking under "Test Plans" > "Runs"). But I'm glad it will be possible to see it.

[2018-11-20 15:50] #518 closed

[2018-11-21 00:41] wizofaus commented on #349
[code]

[2018-11-21 10:13] kant2002 commented on #346
@karanjitsingh so seems to be this is Microsoft/MSBuild#53 related

[2018-11-21 10:15] kant2002 commented on #346
There seems to be related comment which has indication that issue could be solved with custom MSBuild tasks (https://github.com/Microsoft/msbuild/issues/53#issuecomment-425810095) not sure that you want to go that route.

[2018-11-21 10:16] karanjitsingh commented on #346
@kant2002, here's a workaround I found https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/

[2018-11-21 10:18] karanjitsingh commented on #346
Closing this issue since it's non-actionable

[2018-11-21 10:18] #346 closed

[2018-11-21 16:02] julealgon commented on #305
@jayaranigarg isn't that extremely unintuitive though? Wouldn't it make sense to always populate the `DataRow` property whenever data is available, no matter from where?

I think this might be an outdated discussion since I can't even find the `DataRow` property on `TestContext` anymore (let me know if I'm missing something there), but it doesn't hurt to ask.

[2018-11-21 18:49] julealgon opened #521 "Add support for 'TypeConverters' in argument matching for DataRowTests"
## Description
Currently, the argument matching between the constants specified in the `DataRow` attribute and the corresponding method parameters appears to be done using basic reflection plus direct argument passing without any processing. This ends up enforcing exact matches on types most of the time. Due to this, advanced scenarios like converting `string`s to `Type` objects or `Uri` instances

[2018-11-22 13:06] karanjitsingh commented on #521
Hi @julealgon, currently the `DynamicData` attribute is the only way to achieve this. This is a completely valid ask hence marking this issue as `up-for-grabs` and `enhancement`. You can raise a PR for the same and we'll be happy to take a look.

[2018-11-22 22:53] AmadeusW commented on #432
We're running into the same issue in the Visual Studio editor team when referencing MSTest.TestFramework v2.1.400. There is no issue when we reference v1.2.0-beta3. I have not binary-searched to a version which works.
I've emailed you @jayaranigarg regarding repro

[2018-11-23 09:58] fabricejumarie commented on #519
Hi karanjitsingh,

I rollbacked my upgrade to MS Test V2 and went back to traditional MsTest after reading these articles :
http://www.michaeltaylorp3.net/upgrading-from-mstest-to-mstest-v2/ (paragraph in italics mentions that MsTest V2 doesn't work correctly with TFS build).

Anyway, below is the last log I had before rollbacking, I renamed sensitive data like server and project name. Some unit t

[2018-11-23 17:10] Justin-Lloyd commented on #246
Is there any traction on this? Seems like a fairly obvious functional gap for unit testing.

[2018-11-27 08:50] jayaranigarg opened #522 "Timeout attribute does not call test cleanup method"
## Steps to reproduce
[code]

## Expected behavior
It is essential all tests execute their TestCleanup code, as this code may have important steps to recover from an error such as a time out.

## Actual behavior
The result of executing this code is the test times out but the message box is not displayed and the Calling cleanup message is not written to the console.

[AB#1634637](https://devdiv.vis

[2018-11-27 09:02] prawalagarwal commented on #488
@elemount Apologies for the delay here. As @cltshivash requested, can you provide us with a scaled down project where you can reproduce this issue. I was not able to repro the same on my side.

[2018-11-28 16:17] drewsac commented on #394
Are there any workarounds or timeline for when this will be merged in?

[2018-11-29 05:54] ShreyasRmsft commented on #453
@TroyWalshProf,

There's a simple workaround for this,

[code]

Please use the above runsettings. The <MaxCpuCount>1</MaxCpuCount> ensures that the testhost
process that runs the tests is restarted for each dll, thereby picking up dependent assemblies from next to the dll instead of relying on the one already loaded in memory.

Temme if this works for you.

[2018-11-29 06:11] ShreyasRmsft commented on #453
@TroyWalshProf,

There's a workaround for this

`  <RunConfiguration>
    <DisableAppDomain>True</DisableAppDomain>
  </RunConfiguration>`

add the above snip to your runsettings.

[2018-11-29 09:33] jayaranigarg commented on #490
Fix has been released in latest(1.4.0) version of adapter. Please update your adapter and framework nuget packages to latest. Closing the thread for now. Please feel free to reopen if you hit this again.

[2018-11-29 09:33] #490 closed

[2018-11-29 09:42] #442 closed

[2018-11-30 07:10] ShreyasRmsft commented on #453
The reason why you are facing problems is that by default mstest copies all the test binaries into a single folder and runs the test. Any files with the same name will be overridden.

[code]

Adding either of the above to you run settings ensures the tests are run from their respective bin folders and your scenario will work fine. And this is the behavior we want to make default.

This is the scen

[2018-11-30 14:11] TroyWalshProf commented on #453
Thanks, that was very helpful.
Totally agree that the settings files need better documentation.
*Better docs would be a great Christmas, Hanukkah, Kwanzaa, Saturnalia, Yule, Solstice, Hogswatch present :)

[2018-11-30 15:36] PablitoPaul opened #526 "AppDomain and CreateInstanceAndUnwrap: cast fails"
## Description
From a test project "A" that uses at least a `DeploymentItem `(so there is an "Out" directory where "A" and its dependencies are copied), I create an AppDomain "B", then I call `CreateInstanceAndUnwrap` to instantiate a class "C" in the AppDomain "B".
**If class "C" is in assembly "A" itself**, "C" is loaded from the copy of "A" that is in the Debug (or Release) directory and not fr

[2018-11-30 18:40] nvborisenko opened #527 "Make it possible to get current TestContext from any place of code"
## Description
We can get `TestContext` object inside [TestMethod] body in case we declared `TestContext` property in class. There is no possibility to get this object in some other place of code (yeah, only via falling it through call stack).

## Steps to reproduce
[code]

## Expected behavior
Some way to get current `TestContext` in method 'M'.

## Actual behavior
It seems there is no way. Only

[2018-12-02 21:19] StingyJack commented on #506
pinging @mayankbansal018  as I forgot to do so in the above response

[2018-12-03 02:10] jeromelaban commented on #304
I'm blocked by this one as well in the context of WebAssembly tests. `netstandard2.0` is the only possible target at the time for this kind of environment.

[2018-12-03 02:31] dotMorten commented on #304
You need a runtime to run tests on, and Netstd isn't a runtime, so I don't see how that could ever work.

[2018-12-03 06:30] singhsarab commented on #527
@nvborisenko Can't we initialize the logger with the context object ?
It makes it Mockable as well for testing.
Here is an example:

[code]

[2018-12-04 06:46] elemount commented on #488
Hi @prawalagarwal , Here is the sample code https://shuodl.visualstudio.com/_git/shuodltest?path=%2Fshuodl-test%2FDataRowTest.cs&version=GBmaster .

I got results confuse me. For this project shuodl I got correct result https://shuodl.visualstudio.com/shuodltest/_build/results?buildId=8&view=ms.vss-test-web.test-result-details , but on the same dll on msdata project, I got the unexpected results h

[2018-12-04 14:52] PablitoPaul commented on #113
Any news about this problem? I must migrate a _lot_ of existing test projects to the new MsTest.TestFramework, but many of them use AppDomains (to be able to unload assemblies). If AssertFailedException etc are not serializable, the output of a failed test is just "_AssertFailedException in assembly 'Microsoft.VisualStudio.TestPlatform.TestFramework, Version=14.0.0.0, Culture=neutral, PublicKeyTok

[2018-12-04 21:10] drewsac commented on #394
Why can't the caller be responsible for providing the full path?

[2018-12-04 21:46] parrainc commented on #394
@drewsac

In order to implement this (merge it into master branch), PR #411 must be merged. We're still working on that one, which has a pretty good progress but there are a few things (mostly validations) that need to be done.

My understanding, the caller of `.AddTestResultFile()` should be able to specify both the full path or a relative path, not just the full path. That way things are easier

[2018-12-05 06:30] liudonghua123 commented on #314
I have the same problem, I have tried tips mentioned here.

![image](https://user-images.githubusercontent.com/2276718/49494315-3acd8680-f89a-11e8-96e1-9f0f1019e620.png)

![image](https://user-images.githubusercontent.com/2276718/49494350-56389180-f89a-11e8-8789-317fd53dae74.png)

![image](https://user-images.githubusercontent.com/2276718/49494332-4620b200-f89a-11e8-8e11-39621eb04146.png)

[2018-12-05 08:57] jayaranigarg commented on #314
@liudonghua123 : UWP CPP is not supported currently in VS BuildTools. We already have an issue tracking this https://github.com/Microsoft/vstest/issues/1655. Please follow the above issue.

[2018-12-05 09:09] PST2 commented on #453
We have seen this in our VSTS onprem agent as well, with tests that were loading components from other assemblies via MEF. A check of the filesystem indicated the assemblies were being correctly positioned for the load (into the bin directory of the test projects' build output) but cardinality exceptions were still being thrown.

While the DisableAppDomain=True workaround solves our case as well,

[2018-12-05 09:11] PablitoPaul commented on #315
@jayaranigarg : "_Getting .runsettings to parity will be taken up as a separate item_"
**Which item**?

[2018-12-05 09:44] jayaranigarg commented on #315
@PablitoPaul : We are trying to minimize the gap between runsettings and testsettings. Is there anything specific that you are looking for?

[2018-12-05 09:47] jayaranigarg commented on #453
@PST2: Can you give us little more insights as to what broke for you after moving to 1.3.0? Consider filing a separate issue if the issue faced by you is not same as the one being talked about on this thread.

[2018-12-05 10:03] prawalagarwal commented on #488
@elemount Can we do a quick skype call? I do not have access to the accounts you mentioned above. If a call works for you please consider scheduling one between 11AM - 8PM IST. You can reach out at praga@microsoft.com with the confirmation.

[2018-12-05 10:44] PablitoPaul commented on #315
The _testsettings_ files in the codebase I inherited (and that I should migrate to the new framework, **if** I manage to avoid [the other](https://github.com/Microsoft/testfx/issues/526) problems [I'm facing](https://github.com/Microsoft/testfx/issues/113)) contain the following options:
-  [Timeouts runTimeout="36000000" testTimeout="10800000" /] (I think testTimeout can be replaced by the Timeou

[2018-12-05 13:49] StingyJack commented on #519
[I've had this problem with TFS 2015.4](https://github.com/Microsoft/testfx/issues/241)  (warning, long and fairly salty thread). The suggestion to fix it was to change everything to use nuget package reference style packages, which is a terrible suggestion in general, but is simply not an option for me. I had to rip out MSTest2 from everywhere.  Maybe using package reference format is an OK optio

[2018-12-05 13:55] parrainc commented on #503
Closing this issue since it was fixed as part of PR #525

[2018-12-05 13:55] #503 closed

[2018-12-05 14:05] singhsarab commented on #520
@dotMorten Do you still have concerns around this one ?

[2018-12-06 02:18] PST2 commented on #453
We're on a closed source codebase, I'll see if I can construct a repro scenario for what we've observed.

[2018-12-06 10:11] singhsarab commented on #519
@StingyJack I acknowledge, and even I wish migration in such scenarios was much easier and smoother.
But thanks for suggestion though.

@fabricejumarie Like @StingyJack suggested, moving from package configs to package references is an option. There is a already an ask https://github.com/NuGet/Home/issues/5877, until that is available this seems to be your best shot.

[2018-12-06 10:45] singhsarab commented on #506
Tagging folks from the IDE team @ManishJayaswal @AbhitejJohn
I guess this is a known issue, is there an existing workitem to track this one?

[2018-12-06 13:39] singhsarab commented on #519
@StingyJack I would really appreciate if we could discuss it over a separate thread.

I am sure you already have a list handy for the _lot_.  You might want to create another issue, list the functionality that you miss in the new world? It just helps me make a case to bring that functionality back or enable you by giving some guidance. Thanks again.

[2018-12-06 13:43] singhsarab opened #529 "Description and other attributes not available in TestCase"
## Description
Test attributes like Description, CssIteration, WorkItem, CssProjectStructure are not available in the TestCase object.
There attributes are eventually required to fill in the data in the trx logger and enable the following scenario: https://github.com/Microsoft/vstest/issues/98

[2018-12-06 23:00] AbhitejJohn commented on #506
@StingyJack : The "Discovering Tests in *.cs" entries are tied to a source based analyzer that quickly determines tests in a solution. This analyzer only analyzes tests in projects that have a known framework referenced (which today is MSTest, Xunit or Nunit). Although the logs would show up for all documents in the solution so we can troubleshoot, its optimized to only be parsing files from a pro

[2018-12-06 23:33] hansmbakker commented on #233
`DataSourceAttribute` / `DataRow` would be required for https://github.com/Microsoft/Recognizers-Text to move to .Net Core for tests.

[2018-12-07 01:41] shirishnagarnz opened #535 "MSTest V2 - Data Driven Test - execution appears as 3 since it was executed for 2 browsers only"
## Description

Initially I was ignoring but similar result is getting displayed on CI/CD pipeline too.

## Steps to reproduce

## Expected behavior

## Actual behavior

![mstestiterations](https://user-images.githubusercontent.com/31267418/49622344-14405480-fa2e-11e8-92fd-22c0e8cd3f09.JPG)

## Environment

[2018-12-07 01:56] StingyJack commented on #506
@AbhitejJohn - Thank you. That does explain most of it. A few follow up questions if you dont mind.

Why is it looking in files that aren't part of any project? Is that just a project system quirk?

I dont have any references to X/Nunit or even MSTest2 in most projects, just the old QualityFramework dll. Why would it be scanning projects that dont have those references or that dont have a unit tes

[2018-12-07 02:41] AbhitejJohn commented on #506
@StingyJack : Currently we scan __all__ .cs files in the solution and optimize further processing based on references and whether its part of a project etc. We also parse MSTest V1 tests, so yes projects that reference QualityTools should start showing tests as you type. The only reason we have these in diagnostic logs is so we could troubleshoot issues where for some reason we haven't looked at a

[2018-12-07 02:58] AbhitejJohn commented on #233
@sebainones : I haven't been getting much time since I've moved off of working on this area. @cltshivash should be able to help answer if this is on the immediate backlog. What @cilerler has added seems to be good start to unblock folks. It does create an API diff between .NetCore and .NetFramework but the DynamicData schematics was what we were hoping we could converge on.

[2018-12-07 15:45] nvborisenko opened #536 "TestRunStartEventArgs doesn't contain a list of testcases for execution"
I am trying to implement custom `ITestLogger`.

Current class look like
[code]

Is it expected `e.TestRunCriteria.TestCases` to be **null**? Based on naming of objects I can suppose that `TestRunStartEventArgs` contains all information about plan for further execution. And in `e.TestRunCriteria.TestCases` I am expecting the list of test cases which test host is going to execute.

Please correct me

[2018-12-07 16:05] nvborisenko commented on #536
Oops, incorrect repo for the issue. Please move it to https://github.com/Microsoft/vstest

[2018-12-07 17:57] StingyJack commented on #506
@AbhitejJohn  - Got it. Thanks for the explanation. This item may remain closed.

[2018-12-10 06:39] prawalagarwal commented on #535
@shirishnagarnz This is expected behavior today for data driven tests starting MsTest Adapter 1.3.2 and above. The first row is the parent result for the data rows and holds collevtive information for all the data rows.

[2018-12-10 11:07] jayaranigarg commented on #491
Closing the thread from our end. Please feel free to contact us if you face any issues.

[2018-12-10 11:07] #491 closed

[2018-12-10 11:50] jayaranigarg commented on #535
Similar to https://github.com/Microsoft/testfx/issues/494. This change is intentional to ensure that the data driven tests work fine in different CI scenarios like distribution and rerun.

[2018-12-10 12:01] jayaranigarg commented on #519
@fabricejumarie : The error you mentioned in the issue usually happens when there is adapter and framework version mismatch. Can you please make sure that both nuget packages MSTest.TestAdapter and MSTest.TestFramework indeed points to same version i.e. 1.3.2(in your case). Also make sure that there are no older version of adapter or framework present/checked-in on TFS.

[2018-12-10 12:06] jayaranigarg commented on #432
Taking this offline. Closing the thread.

[2018-12-10 12:06] #432 closed

[2018-12-10 12:35] nvborisenko commented on #527
`Console.Write` works fine for me to archive my goal. Disadvantage is my log messages are kind of diagnostic messages, NOT test output. So I would like to hide these messages.

You mentioned `custom writer`, it sounds promising. @singhsarab could you please point me what is `custom writer`. Thank you in advance.

[2018-12-10 21:41] fabricejumarie commented on #519
@jayaranigarg : Yes both nuget packages pointed to the same version. I added both to my project almost at the same time.
The nuget packages were used in a standard .net project, that can probably be an line of inquiry.
I have the same references to a .Net Core test project and I haven't errors but my units tests are not executed yet.

[2018-12-11 05:38] jayaranigarg commented on #519
@fabricejumarie : Can you set `system.debug` variable to true in TFS and share the logs with us? Are these logs same as the logs you shared earlier?
Note - Your earlier logs show you are using VS 2015 to run the tests and .net core is supported from VS2017. Please move to latest VS and give it a try?

[2018-12-11 05:51] prawalagarwal commented on #535
@shirishnagarnz can you share of screen shot of what behavior you observer? Not clear what you mean by 3 executions.

[2018-12-11 06:01] shirishnagarnz commented on #535
@prawalagarwal , @jayaranigarg

Below is the screenshot from TestAssemblies from Azure CI/CD pipeline execution. You can see, it says 3 Pass since TestMethod has been executed only twice i.e. for Chrome and Firefox.

![image](https://user-images.githubusercontent.com/31267418/49781236-cfdaee80-fd76-11e8-845f-c09bcf7cb8cf.png)

I expect it to show only 2 Passed instead of 3. any solution to overcom

[2018-12-11 06:12] jayaranigarg commented on #535
@shirishnagarnz : This is expected. Total tests show aggregation of parent and child results and there is no way to change this.

[2018-12-11 09:25] jayaranigarg commented on #526
@PablitoPaul: While debugging we saw that MyCompany.MyTestPrj.dll is indeed getting loaded from \out location in `MY_*` appdomain but still when you do `proxy.GetType().Assembly.Location`, it points to bin\Debug. We are trying to follow up with CLR teams to investigate this on our end but these appdomains can be tricky.
Owing to the confusing nature of appdomains and assembly loading, all of this

[2018-12-11 10:04] prawalagarwal commented on #488
Hi @elemount , Any updates here? I checked your run from telemetry and the results were published correctly. The UI should show them properly nested.

[2018-12-11 12:07] jayaranigarg commented on #315
@PablitoPaul : We have introduced a new node `<LegacySettings> `inside runsettings which should have pretty much everything which testsettings used to have.
Refer this doc : https://github.com/Microsoft/vstest-docs/blob/master/docs/configure.md#other-sections.

[2018-12-11 12:07] singhsarab commented on #520
@dotMorten Closing this issue for now, please let know if you have any concerns.

[2018-12-11 12:09] #520 closed

[2018-12-11 20:51] shirishnagarnz commented on #535
Hi @jayaranigarg , @prawalagarwal

Thanks for confirming that it is as expected but don't you think to count parent in Total count is not a right behavior.

Parent is just a name, the actual execution happen is for its Data Row 0, Data Row 1.

So for me, its not a correct behavior and even same has been mentioned by another user in #488.

Would be great if you guys to correct this or give some opt

[2018-12-12 09:37] PablitoPaul commented on #526
@jayaranigarg  Thank you for your reply! Yes I know AppDomains are not in .NET Core, in fact, _in the long run_, we are planning to support also .NET Core and avoid using them. But at the moment our product must target .NET Framework only, and we need AppDomains desperately. I'll wait for the results of your investigation...

[2018-12-12 09:44] PablitoPaul commented on #315
@jayaranigarg Thank you, but the document you linked says that "legacy setting are honored only when this flag is set to true", where "this flag" is "ForcedLegacyMode".
And the opening post by @maxinfet says that  "_A testsettings file **or a runsettings with a ForcedLegacyMode set to true** is not supported with the MSTest V2 Adapter_" ...

[2018-12-12 10:15] jayaranigarg commented on #315
@PablitoPaul : Yes earlier that was the case. At the time we inserted legacy settings, we changed the behavior and now you can set `ForcedLegacyMode` to true and MSTestV2 will honour it. Refer the new warning message : https://github.com/Microsoft/testfx/blob/f3417a8577e2ab900b91cae07602d7d43fec82eb/src/Adapter/MSTest.CoreAdapter/Resources/Resource.resx#L288

[2018-12-12 19:46] shirishnagarnz commented on #535
Thanks @prawalagarwal  for reply.

Little confused here :)

- What exactly you mean from  test lab?
- Do you mean Test Plans >> Runs as in below screenshot or something else? Below screenshot still shows 3 runs which includes Parent and child both.
![image](https://user-images.githubusercontent.com/31267418/49894595-3b29db00-feb3-11e8-9e96-06f234910277.png)

- We are not using console output for r

[2018-12-12 21:47] dotMorten opened #539 "Strong-named .NET Core 3.0 Assemblies causes Test Initialize/Cleanup to fail"
## Description
After strong-naming my assembly and unit tests, all tests that have a TestCleanup or TestInitialize fail with the following error:

[code]

## Steps to reproduce
To reproduce grab this commit which added the strong-name, and run the .NET Core unit tests:
https://github.com/dotMorten/XamlBehaviorsWpf/commit/d8c0fe4d8352d28c7edbded0849acdf4db207519
Note that all test classes that have

[2018-12-13 05:03] prawalagarwal commented on #535
@shirishnagarnz Can we have a quick skype call? I am available till 7PM IST today.

[2018-12-13 05:14] shirishnagarnz commented on #535
Sure, can I have your Skype details?

I might take 3-4 hrs. Will ling you before I call.

Thanks,
Regards,
Shirish
+64221877642

On Thu 13 Dec, 2018, 6:03 PM Prawal Agarwal <notifications@github.com wrote:

[2018-12-13 10:07] shirishnagarnz commented on #535
Hi @prawalagarwal ,

Can you please share your skype details?

[2018-12-13 10:15] jayaranigarg commented on #465
@iPiyushPatel : Apologies for the delay. This thread got missed. This is not a known issue. Are you still hitting this?

[2018-12-13 10:20] prawalagarwal commented on #535
Let's use jisi:

To join the video meeting, click this link: https://meet.jit.si/ShirishMeeting
To join by phone, dial +1.512.402.2718 and enter this PIN: 3391499888#

[2018-12-13 10:38] jayaranigarg commented on #360
@anshuls01 : Preview functionality will be available in the RTM release. Please try this using latest VS 15.9.

[2018-12-13 10:58] jayaranigarg commented on #235
Closing as duplicate of https://github.com/Microsoft/testfx/issues/376

[2018-12-13 10:58] #235 closed

[2018-12-13 12:02] anshuls01 commented on #360
Thanks for update Jaya, I'll give a try.

[2018-12-14 06:36] jayaranigarg commented on #340
Closing this as duplicate. Having seperate test method for each data row will fix this As mentioned in #1 of this issue : https://github.com/Microsoft/testfx/issues/464

[2018-12-14 06:36] #340 closed

[2018-12-14 06:37] jayaranigarg commented on #409
Closing as duplicate of https://github.com/Microsoft/testfx/issues/464

[2018-12-14 06:37] #409 closed

[2018-12-14 08:29] KayMKM opened #540 "One test case throw a StackOverFlowException but all cases are passed"
## Description

One of my test cases failed because a StackOverFlowException. But the result shows it is passed.
![image](https://user-images.githubusercontent.com/19773357/49991670-cc38a900-ffbc-11e8-9126-3b10e1e403d5.png)
And run the cases in local environment:
![image](https://user-images.githubusercontent.com/19773357/49991725-eecac200-ffbc-11e8-8d90-9afe02d92fd3.png)
The red test is failed.

[2018-12-14 22:49] #529 closed

[2018-12-16 10:54] borsooq opened #541 "TFS specific TestContext variables are not present in Azure DevOps anymore"
## Description
I used to use variables populated by TestAdapter in TextContext (during TestInitialize, i believe) when executing tests from Test Plan. These are:
__Tfs_TestPlanId__
__Tfs_TestCaseId__
__Tfs_TestPointId__
__Tfs_TestConfigurationId__
__Tfs_TestConfigurationName__
__Tfs_TfsServerCollectionUrl__
__Tfs_TeamProject__
Recently when I came back to my solution I noticed that these variables

[2018-12-17 00:45] mack0196 commented on #449
Yes still having this issue.

[2018-12-17 02:37] iPiyushPatel commented on #465
Hey @jayaranigarg - I haven't tried lately while removing char limit of log file. I'll do that and let you know that result.

Thanks,

[2018-12-17 05:18] prawalagarwal commented on #535
@nigurr this is closed offline. We advised Shirish to use Platform Installer task to get the correct reporting. Closing.

[2018-12-17 05:20] #535 closed

[2018-12-17 07:03] jayaranigarg commented on #519
@fabricejumarie : Any updates on this?

[2018-12-17 10:43] jayaranigarg commented on #541
@borsooq : Which version of MSTest nuget packages are you using? This functionality was added in 1.4.0 version of MSTest.TestAdapter and MSTest.TestFramework. Please try with latest packages and see it that works for you!

[2018-12-17 10:52] jayaranigarg commented on #540
@KayMKM : We are unable to reproduce this at our end. Plain vanilla tests clearly shows test didn't pass.
![image](https://user-images.githubusercontent.com/17309452/50082688-8fb4b980-0217-11e9-8f80-946bf5aba5ea.png)

Is there anything we are missing?

[2018-12-17 14:31] borsooq commented on #541
Hello, it is MSTest V2 1.3.2. Seems like we have the reason :)
Will check that out.

[2018-12-17 14:36] wasabii opened #542 "Custom TestMethodAttribute breaks TestInitialize"
Looks like when I use a custom `TestMethodAttribute` that the original `TestInitializeAttribute` no longer functions. Even if all my custom one does is call `base.Execute`. Is this intended? If so, how do I ... not do that?

[2018-12-17 18:11] johnmog opened #543 "Dynamically control test time (including initialize/cleanup) and have more granular timeouts."
## Description
For years my team has needed more flexibility with test timeouts. There are several characteristics of the problem:

Test time expectation variance: If you lazily initialize test requirements for functional tests, any test may be the one that needs to initialize. For example, imagine you are creating a test database and the first test that needs that kind of database pays the price

[2018-12-17 19:34] shirishnagarnz commented on #535
Hi Everyone,

yes I have been advised with required solution and its working as demoed by @prawalagarwal .

Regards,
-Shirish

[2018-12-17 22:03] shirishnagarnz commented on #535
Hi @prawalagarwal ,

not re-opening this ticket but have 1 question from the same.

instead of data row 0, data row 1, is it possible to display its value. I am using this DataDriven test for browser.

Like Login Data Row 0 is Login - Chrome and Firefox for Data Row 1.

So referring to below screenshot, is it possible to display like Login - Chrome, Login Firefox

![image](https://user-images.gith

[2018-12-18 03:10] nigurr commented on #535
@shirishnagarnz, currently this functionality doesnt exist

[2018-12-18 03:20] shirishnagarnz commented on #535
Thanks @nigurr for the reply.

Any plans to implement this functionality?

Regards,
-Shirish

[2018-12-18 06:09] jayaranigarg commented on #535
@shirishnagarnz :

[2018-12-18 06:11] Theodosia1005 commented on #540
Here is  a simple project to repro this bug.

Here is our solution.
![image](https://user-images.githubusercontent.com/16056082/50135147-1b891d00-02ce-11e9-9bac-cb49757dc080.png)

This is Class1
![image](https://user-images.githubusercontent.com/16056082/50135169-293ea280-02ce-11e9-9eab-7c89ab6bf94e.png)

This is the test
![image](https://user-images.githubusercontent.com/16056082/50135179-3196dd8

[2018-12-18 10:56] borsooq commented on #541
I can see that property __TCMTestPropertiesJSONFile__ has been added to TestContext.Properties. The property contains JSON string that can be deserialized. I used that and it does the job :)

[2018-12-18 23:32] shirishnagarnz commented on #535
Thanks @jayaranigarg

Tried as seen in below snapshot but didn't achieved the require result, neither in console not in azure devops

![image](https://user-images.githubusercontent.com/31267418/50189450-1a1d2a80-038a-11e9-8168-e32b72536ff4.png)

Is I am doing it wrong?

Regards,
-Shirish

[2018-12-19 05:39] prawalagarwal commented on #535
@shirishnagarnz

DataSource attribute does not support DisplayName. The code snippet which Jaya provided was one of the ways of writing a data driven test (using DataRow attribute). You don't have to copy that as you are already using DataSource. In case display names are important for you, we suggest to move to dynamic data tests (as explained in this [blog](https://www.meziantou.net/2018/02/05/m

[2018-12-20 00:38] cltshivash commented on #449
[UnitTest1.zip](https://github.com/Microsoft/testfx/files/2696990/UnitTest1.zip)
@mack0196 I couldn't get the attached project to build. The package reference hint paths were incorrect. Updated to the attached version and it works fine. Could you please recheck ? (might want to update the target fx to 4.7.1. I had used 4.7.2)

[2018-12-20 08:37] abhishkk commented on #543
@johnmogensen Correct. TestInitialize time is part of test timeout and thus forces user to increase timeout for individual test. Thanks for the suggestions for the issue.
@PBoraMSFT Marking as enhancement.

[2018-12-20 09:50] abhishkk commented on #542
@wasabii
Can you elaborate the issue? In addition, can you share a sample repro project with us?

[2018-12-20 10:50] abhishkk commented on #540
@KayMKM
Tests throwing stack overflow exception causes testhost(process executing tests) to crash and thus entire run errors out.

In the image shared by you, tests are showing green because of its last result state. Once you start tests execution, last test result state is updated only when tests are ran successfully. As in your case, stackoverflow causes test run to error out, you are still seei

[2018-12-20 11:09] abhishkk commented on #539
@dotMorten
We checked that your changes are in https://github.com/Microsoft/XamlBehaviorsWpf
So i took a clone of the repo and tried to build and run the tests from VS.
190 tests were discovered and all ran successfully.

If you still facing the issue, can you please share the exact repro steps with us?

[2018-12-21 11:10] #263 closed

[2018-12-24 04:52] KayMKM commented on #540
OK. We just raise an issue to Visual Studio IDE team. Thank you for your reply.

[2018-12-26 11:33] abhishkk commented on #542
@wasabii Any updates here?

[2018-12-26 11:34] abhishkk commented on #539
@dotMorten Any updates here?

[2018-12-26 11:35] abhishkk commented on #449
@mack0196 Any updates on info asked by Shiva?

[2018-12-26 14:06] wasabii commented on #542
Can't seem to reproduce it. Will open if I can.

[2018-12-26 14:06] #542 closed

[2018-12-27 04:52] acesiddhu commented on #497
Tagging folks from the IDE team @ManishJayaswal @AbhitejJohn can you take a look?

[2018-12-28 06:58] acesiddhu commented on #402
@mayerj the issue reported by @Mertsch is different than what you are seeing. if you are still seeing the issue please log a separate issue.
@Mertsch Is this consistent? the hang is actually while reading messages from socket.
Can you try with latest stable version of VS 15.9.0 once

[2018-12-28 09:05] acesiddhu commented on #497
@StingyJack I had a chat with @AbhitejJohn. As you mentioned you have already raised an issue of [devcom](https://developercommunity.visualstudio.com/content/problem/353013/vs-wont-run-a-unit-test-that-used-to-have-an-ignor-1.html). Can you provide relevant information to Abhitej on devcoms? I am closing the issue here so that we can track the issue on devcoms instead.

[2018-12-28 09:05] #497 closed

[2018-12-28 14:31] StingyJack commented on #497
This is what I mean about searching for the issue.
![image](https://user-images.githubusercontent.com/15381181/50518286-eb3a3f00-0a82-11e9-9e5e-91539ca01e1e.png)

If I remove the "Items I follow" filter, this one shows up as the second result (despite being a match on the title).
![image](https://user-images.githubusercontent.com/15381181/50518305-06a54a00-0a83-11e9-89c0-681d0026e046.png)

Given t

[2018-12-28 14:34] StingyJack commented on #497
In either case I need someone to please sanitize any program names out of [this post](https://developercommunity.visualstudio.com/comments/362321/view.html). I'm not logged into devcomm, but I can still see these details and they should be private.

[2018-12-28 14:58] acesiddhu commented on #497
@stingyjack apologies that the experience for you on devcoms wasn’t great. I will pass on that feedback to relevant team. I will also ask Abhitej to strip off the program names in his post. I suggest we track this issue on devcoms

[2018-12-30 14:03] Mertsch commented on #402
@acesiddhu Yes it is consistent, I had to disable TIA on all my (10) pipelines and go with `TestCategory` to filter out long running tests.
Testing again is pretty annoying as I have to run TIA once and have it find tests the second time with appropriate checkins.

[2019-01-02 06:45] acesiddhu commented on #402
@Mertsch unfortunately I am not able to repro this on my side and I feel the dump which tells a hang in socket is actually not a hang but it is waiting for message to come from the parent process. I am saying this because the stack show this is happening while TestRunStarted event which is before the test run starts. From the issue you reported it seems that hang happened after test run complete.

[2019-01-02 08:31] abhishkk commented on #449
Closing due to no response. Please re-open if required.

[2019-01-02 08:31] #449 closed

[2019-01-03 10:33] abhishkk commented on #539
@dotMorten
I tried the scenario and was able to reproduce the issue. I came up with following conclusions after trying various scenarios:
1. Problem is not with TestInitialize/TestCleanup but with the content of it which is `Interaction.ShouldRunInDesignMode = true;`
2. The issue is not with the mstest adapter but with the strong named .NET core `Microsoft.Xaml.Behaviors.dll `itself. Issue can be

[2019-01-03 22:16] dotMorten commented on #539
I'll take a look, but the only difference made was the strong naming, which caused it to break. See commit comparisons here:
https://github.com/Microsoft/XamlBehaviorsWpf/compare/3cb84d2...d8c0fe4
Signing with the key is pretty straightforward

[2019-01-04 13:52] robdalsanto opened #548 "MSTest V2 DataTestMethod timing in IDE is unexpectedly high"
As reported by one of our developers:

![vstestaggregatesduration](https://user-images.githubusercontent.com/31216152/50691090-7ae07000-0fe4-11e9-8d9c-fb9000ef2a10.png)

I've reported this separately from #464, rather than add to the list in that issue.

[2019-01-07 07:15] vagisha-nidhi commented on #548
Hi @robdalsanto We were able to repro this issue locally.
We have filed a [bug ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/761397)internally with the  VS IDE team on this.
To keep a track of this from your side, please file this on [https://developercommunity.visualstudio.com/](https://developercommunity.visualstudio.com/). An appropriate team will get back to you regarding the issue.

[2019-01-07 07:17] vagisha-nidhi commented on #465
Hi @iPiyushPatel
Can you let us know if this issue is still hitting you? Or can we close the thread?

[2019-01-07 19:05] mikelapierre opened #549 "French resources in Italian"
## Description

https://github.com/Microsoft/testfx/blob/master/src/Adapter/PlatformServices.Desktop/Resources/xlf/Resource.fr.xlf.

https://github.com/Microsoft/testfx/blob/master/src/Adapter/PlatformServices.Desktop/Resources/xlf/Resource.it.xlf

## Steps to reproduce

## Expected behavior

## Actual behavior

[2019-01-08 07:03] vagisha-nidhi commented on #549
@v-zbsail Can you please look at this?

[2019-01-08 08:30] #540 closed

[2019-01-08 09:33] abhishkk commented on #539
@dotMorten
Issue is definitely with the signing of `Microsoft.Xaml.Behaviors.dll`.
I am able to reproduce this issue in sample .NET Core console app.

Content of .NET console app:
[code]

This .NET core console app is targeting to netcoreapp3.0
Closing this issue as the issue is reproable in console app as well and thus nothing to do with test framework.

[2019-01-08 09:33] #539 closed

[2019-01-08 10:09] #526 closed

[2019-01-08 14:20] koskit commented on #273
Can we have some attention to this problem? We want to upgrade to MSTest v2, but this issue is a blocker.

We have to configure more than 800+ test cases to accept a parameter if we are to extend DataRowAttribute or use ITestDataSource AND pass it to our BaseTest class that distributes the data on multiple classes.

The advantage we have right now, is CodedUITests with DataSource from TFS automati

[2019-01-08 15:01] l3oferreira commented on #273
Hi @koskit , have you seen an extension that I created for this purpose? I think I can solve your problem. https://github.com/l3oferreira/MSTest.AzureDevOps

[2019-01-08 15:11] iPiyushPatel commented on #465
Hey @vagisha-nidhi
It looks good now. Let me close this thread. Thanks,

[2019-01-08 15:11] #465 closed

[2019-01-08 21:18] yingfangdu opened #550 "TestContext.WriteLine does not contain timestamp"
TestContext.WriteLine's default implementation does not write timestamp automatically.
It would be great to have the time stamp written automatically  through WriteLine and it would be great to be configurable either UTC time or Local Time.

[2019-01-09 03:38] paulmccormack commented on #163
I am still unable to  get this feature to work even after adding the setting to the runsettings file.  This is in Visual Studio 2017.  I am using MS Test v2 v 1.4.0

Is any other setup needed?

[2019-01-09 09:08] vagisha-nidhi commented on #550
Hi @yingfangdu
TestContext class is used to store information that is provided to unit tests. TestContext.WriteLine simply writes output messages while a particular test is running.
May I know what is it that you are trying to achieve with automatically writing timestamp with TestContext.WriteLine?

[2019-01-10 08:57] #344 closed

[2019-01-10 17:01] koskit commented on #273
@jayaranigarg Can you provide with some follow up on this problem? Is it possible to have a custom attribute implementation for DataSource or maybe support "Microsoft.VisualStudio.TestTools.DataSource.TestCase"?

[2019-01-11 15:20] Mertsch commented on #402
@acesiddhu So far it looks good with 15.9.6, I did not have too many builds yet, will get back to you in a week

[2019-01-14 04:45] acesiddhu commented on #402
@Mertsch thanks for trying out. I will wait for your findings

[2019-01-14 10:23] #458 closed

[2019-01-15 02:25] azchohfi opened #551 "STA extension for MSTEST adapter does not work on .Net Core"
## Description
We are porting the Windows Community Toolkit's Win32 project from .NET framework to multitarget .NET framework and core, and we are having issues with our tests for the Windows Forms project. We require this tests to be run from a STA Thread, and the current recommended solution is to use https://www.nuget.org/packages/MSTest.STAExtensions (https://github.com/saikrishnav/testfxSTAex

[2019-01-15 08:31] Danielku15 commented on #493
I checked a bit what would need to be done for this tracking. Maybe I'll start working on a PR for it so I analyzed a bit how things are currently working. This stuff might be clear for the core devs of this project but for me it helps  😉

- The AssemblyInitialize is run here: https://github.com/Microsoft/testfx/blob/3197e7bb9f7fd4219c7855be575fb5def205aff7/src/Adapter/MSTest.CoreAdapter/Execution

[2019-01-15 10:42] NerdyDuck commented on #348
Just ran into this problem with some tests that explicitly needed to check the retrieval of different configuration sections, and no way I can switch to a different config API. But I was able to circumvent that problem by adding a little MSBUILD task to the unit test project that copies the config file to the required name 'testhost.dll.config'.

[code]

[2019-01-15 13:10] Daniel-Svensson opened #552 "Test assemblies (containers) are not isolatedd from each other"
## Description
I've update a solution from mstest v1 to mstest v2 (1.4.0) only to get problem with a couple of tests which get problem with assembly loading. All tests run and pass if they are executed one project at a time but two of the projects (OpenRiaServices.DomainsServices.Tools*.Tests) get problem with conflicting assemblies if they are run at the same time as the "*.Client.Test" assembly.

[2019-01-15 18:10] nigelgbanks opened #553 "Assembly location of dependent assemblies appears to be inconsistent"
## Description

When a **Test Project** depends on **Library Project**, and the **Library Project** calls `System.Reflection.Assembly.GetExecutingAssembly().Location` to get the path of a itself while executing, the behavior across versions is inconsistent.

When using _version 1.2_ of the MSTest Adapter the call above yields the _"Test Out Path"_ of the running test which is expected.

When using

[2019-01-16 09:20] nigelgbanks commented on #553
I haven't found any other ticket associated with this but I've found the issue referenced in comments [here](https://github.com/Microsoft/testfx/issues/526#issuecomment-446131270)

[2019-01-18 12:01] Slesa opened #554 "VSTest runner with given custom path takes wrong adapter"
## Description
I have a build chain on TFS 2017 which uses MSpec, NUnit and MSTest. Depending on the suffix, I chose the needed adapter. The MSTest environment is installed via VSTest platform installer, and additionally in each project as NuGet reference.

I've configured the VSTest runner to use a custom adapter
[code]
but the output is
[code]

## Steps to reproduce
- Use TFS 2017 build chain
-

[2019-01-18 12:46] mayankbansal018 commented on #553
@nigelgbanks We investigated this issue, & we agree that this behavior has changed. However, the reason we had to take this breaking change is because of other severe issues that would occur, when users were using multiple versions of MsTest Framework/Adapter in their Unit test projects.

Also as you have read from other comment, this behavior is caused due to multiple appdomains that get created,

[2019-01-18 15:59] Daniel-Svensson commented on #552
Unfortenatly vstest 15 (and 15.9) introduce a bunch of other issues. You find a build with logs over at https://svensson-daniel.visualstudio.com/OpenRiaServices/_build/results?buildId=255&_a=summary&view=logs.

I believe several of the issues are related to vstest 15 but I have not had the time yet to open an issue over there.

[2019-01-18 21:50] freebird8x commented on #526
We ran into the same problem after migrating to MSTest 1.4.0. In our case, the tests are fine locally but failed on an Azure DevOps build agent (nothing changed to the build definition and it was working before the migration). Many of our existing unit tests start to fail, especially those involved MEF. This problem should get more attention. I hope MS will have an update soon to address the probl

[2019-01-21 05:32] kaadhina commented on #554
Hi, can you please collect full debug logs (set variable system.debug = true in your definition) and share the zip?

[2019-01-21 07:29] #553 closed

[2019-01-21 07:44] mayankbansal018 commented on #526
@freebird8x We understand your concern, but the core issue here is not being handled appropriately in CLR layer itself. However to help us investigate your scenario, can you please provide a sample MEF project, where you are facing this issue.

[2019-01-22 10:48] Mertsch commented on #402
@acesiddhu So far I could not observe a deadlock anymore. Let's hope it's fixed.
If I should see the behavior again, I will report back.
MSTest 1.4.0, Test SDK 15.9, VS 15.9.5

[2019-01-22 10:48] #402 closed

[2019-01-25 08:34] Eilon opened #556 "Is it possible to customize the result file generated by dotnet vstest?"
_From @jaydeept on Friday, 25 January 2019 07:11:57_

I am using .Net Core 2.2 where to execute the test cases through command line, I am using `dotnet vstest` and generating output file in `XML` format, However I really didn't like the generated XML file, it's bit complex to understand and parse.
Is it possible to customize the generated result file?
I really liked the **NUnit Console** generated

[2019-01-25 15:03] mayankbansal018 commented on #556
@Eilon @jaydeept, no currently this format cannot be changed.

[2019-01-25 19:08] nimisha84 commented on #304
I am blocked too. MSTest.testAdapter is not supported for .Net Standard 2.0 and I have a class lib project which needs to run these tests.

[2019-01-27 14:12] #556 closed

[2019-01-28 07:50] kaadhina commented on #554
Please reopen when you have the logs.

[2019-01-28 09:52] Slesa commented on #554
I am not sure why the complete log should be of interest. Here are the lines around the test call:

[code]

As you can see, the adapter path points to MSTest, the output is from MSpec.

[2019-01-28 10:11] #360 closed

[2019-01-28 12:10] anshuls01 opened #557 "issue to copy all test data files to output folder using runsettings file, as supported by testsettings file"
## Description
We are following [Microsoft DevOps Blog Link](https://blogs.msdn.microsoft.com/devops/2017/09/01/upgrade-to-mstest-v2/) to migrate from MsTest to MsTestV2
Earlier Unit Test Scripts using the testsettings files, testsettings deployment setting looks like as below:
`  <Deployment>
    <DeploymentItem filename="WebUITestProject\Data\GE1\US\" />
    <DeploymentItem filename="Data\GE1\US

[2019-01-29 09:39] karanjitsingh commented on #557
@anshuls01, you need to set the runsettings file in VS IDE to be able to run this,
![image](https://user-images.githubusercontent.com/4632805/51898727-8fdbd380-23d7-11e9-95f0-d808df739c8e.png)

If you're running this through `vstest.console.exe` from developer command prompt then
[code]
will work too

[2019-01-29 13:04] Daniel-Svensson commented on #552
@singhsarab i have tried both parallel and the in isolation setting in different combinations but no change in behaviour

[2019-01-30 07:38] melleck commented on #25
Come on guys, it has been over 2 years now and there is still no update/fix0 on this issue? Ordered tests are now a norm especially for Selenium based GUI tests developed using VS C#. I had to ditch MSTest in favour of NUnit just because MSTest didn't support ordered tests.

[2019-01-30 07:43] karanjitsingh commented on #557
@anshuls01, just to clarify the `output folder` you're talking about. Do you mean the `Deploy/out` folder that is created in the test results directory or the `Bin/Debug` directory?

[2019-01-31 03:09] lsusada opened #558 "MSTestAdapter .dll Error - I wasn't able to run the test."
Hello everyone,

I am new here. But hoping you help me with regards to my issues encountered in VS 2017.

So, I have this project get from the Source-Control > I added a mapping to C:\VS > Get Latest version of the project.
And suddenly this message appear:
![image](https://user-images.githubusercontent.com/46878216/52028307-7ce91080-2549-11e9-93dc-a5740d92628d.png)

Weather I Add the Item or not,

[2019-01-31 07:40] karanjitsingh commented on #558
@lsusada, I'm not able to understand your problem here, could you please elaborate on this:

[2019-01-31 10:08] karanjitsingh commented on #557
@anshuls01, I think I found the problem here

Try to remove `<ForcedLegacyMode>True</ForcedLegacyMode>` from your run settings, this made it work on my end

[WebUITestProject.zip](https://github.com/Microsoft/testfx/files/2816641/WebUITestProject.zip)

[2019-01-31 18:28] josephliccini opened #559 "[Feature Request] For IAP, allow and/or document a way to use max available workers the device supports"
## Description

## Steps to reproduce

N/A

## Expected behavior

N/A

## Actual behavior

N/A

## Environment

N/A

This is a feature request.

Right now (at least from what I've seen documented), this is the recommended way to include a number of workers for IAP.
[code]

However, it would be good to know if there is a way to specify `Workers = MAX_AVAILABLE`.  We run our tests on different envir

[2019-02-01 08:18] anshuls01 commented on #557
@karanjitsingh thanks for the update, I tried the solution you have suggested but didn't work for me.

just elaborate little more:
Deploymentitem attribute of test case looks like:
`  [DeploymentItem(@"Data\GE1\US\PartnerPortal_US.xml", "TestData")]`
and the file PartnerPortal_US.xml gets copied to out folder `TestResults\Deploy_<userName> 2019-02-01 13_30_29\Out\TestData` folder

the solution you

[2019-02-01 09:06] Slesa opened #560 "I canot reopen issues you've closed"
I have provided the needed information for an issue, but since I did not close it I have no chance to reopen it.
https://github.com/Microsoft/testfx/issues/554

[2019-02-01 14:30] singhsarab commented on #560
@Slesa Apologies for that. Please ping on the original issue, one of us would re-open for such cases. Thanks for understanding.
I have re-opened the original issue.

[2019-02-01 14:30] #560 closed

[2019-02-01 16:37] jimmylewis opened #561 "Debug.Assert breaks running tests in NetCore/NetStandard projects, but works fine when debugging"
## Description
When test execution hits a failing System.Diagnostics.Debug.Assert(), it kills the entire test run.  This prevents developers from unit testing failure code paths or from using Debug.Assert (which is a valuable tool on those code paths for catching issues beyond unit test coverage).

Running the same tests under the debugger in the VS IDE does not fail (though it does hit a breakpoi

[2019-02-04 06:39] nigurr commented on #558
@lsusada Please refer TFVC source documentations on how to ignore these warnings.
https://stackoverflow.com/questions/922798/how-to-ignore-files-directories-in-tfs-for-avoiding-them-to-go-to-central-source
https://docs.microsoft.com/en-us/azure/devops/repos/tfvc/?view=azure-devops

[2019-02-04 06:39] #558 closed

[2019-02-04 07:43] karanjitsingh commented on #557
@anshuls01, this seems to be really weird behavior so i'll be marking this as a bug.

Just to clarify, the `<LegacySettings>` does not work with **MSTestV2**. I would suggest using the [`[DeploymentItem()]`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.deploymentitemattribute.-ctor?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDe

[2019-02-04 08:11] singhsarab commented on #552
@Daniel-Svensson Can you share the logs for when parallel is enabled (passing /parallel as argument or setting MaxCPUCount in the runsettings) ?

[2019-02-04 08:32] anshuls01 commented on #557
@karanjitsingh  I tried with Batch script as well, but doesn't seems to be trigger at all.
If `<LegacySettings>` does not work with MsTestV2, it'll be a real challenge to migrate to V2.

`[DeploymentItem()]` alone doesn't solve the problem entirely and requires lots of change to run the same test script for multiple test environments (Where each test environments uses separate set of test data)

I

[2019-02-04 10:30] karanjitsingh commented on #557
@anshuls01 as a workaround, can use the following runsettings.

[code]

This will copy all of the items from the bin directory to the out directory, this should help you with your scenario.

[2019-02-04 11:01] Daniel-Svensson commented on #552
Logs with parallel on https://svensson-daniel.visualstudio.com/OpenRiaServices/_build/results?buildId=279&view=logs

[2019-02-04 13:53] Daniel-Svensson commented on #552
New build queued  with debug true @singhsarab , https://svensson-daniel.visualstudio.com/OpenRiaServices/_build/results?buildId=286&view=logs

[2019-02-05 06:59] karanjitsingh commented on #561
@jimmylewis, this is not related to test. It's the default behavior in dotnet itself, if you run the following console app in cli with `dotnet ConsoleApp5.dll` things will break and not move to the next line.

[ConsoleApp5.zip](https://github.com/Microsoft/testfx/files/2831064/ConsoleApp5.zip)

[2019-02-05 07:07] jimmylewis commented on #561
@karanjitsingh Is there something that testfx can do to not end the test run and allow the rest of the tests a chance to run?  It would be more acceptable to mark a test as failed, but in my solution this happens on around the 5th test of 200, so I can't even run most of my tests without removing the assert.

[2019-02-05 07:13] karanjitsingh commented on #561
Problem here is that `Debug.Assert` can't be caught, it's purpose is to throw no matter what.

![image](https://user-images.githubusercontent.com/4632805/52258067-9ae8b380-2943-11e9-8626-efd7ba81d1d1.png)

[2019-02-05 07:21] #561 closed

[2019-02-05 09:48] anshuls01 commented on #557
@karanjitsingh Yes it's working as you mentioned, still my original problem not solved by this.
the structure I got in output folder is like the below image:
![image](https://user-images.githubusercontent.com/15679723/52264433-9b8b4500-2957-11e9-98df-40d06ec7a07c.png)
even now if the same automation script needs to execute on different TestEnvironment, then `[DataSource()]` attribute value require

[2019-02-05 10:00] karanjitsingh commented on #557
@anshuls01 you can get the results run directory through `TestContext.TestRunResultsDirectory`

![image](https://user-images.githubusercontent.com/4632805/52265848-f70b0200-295a-11e9-8d17-3c3e52965486.png)

[2019-02-05 10:34] Slesa commented on #554
Ping

[2019-02-05 10:35] anshuls01 commented on #557
@karanjitsingh Yes, that's an option, still I am away to solve the original problem.

Another possible solution I tried to Extend the test case execution at [Test method level](https://github.com/Microsoft/testfx-docs/blob/master/RFCs/003-Customize-Running-Tests.md)

only one problem I am facing here, TestContext is not accessible inside
`public override TestResult[] Execute(ITestMethod testMethod

[2019-02-05 10:50] karanjitsingh commented on #557
@anshuls01, if you want to access `TestContext` inside a test method store it in a static variable during class initialize and access that variable through in the method.

[2019-02-05 13:31] singhsarab commented on #554
@Slesa I looked at the logs.
The directory of the test dll is default directory for the test platform to probe for test adapters.
/TestAdapterPath helps you define another directory where test platform will look for test adapters.

From the logs it seems all the dlls and their dependencies are getting dropped the same location.
i.e. C:\agents\agent.a\work\71\s\bin\test

MSTest.TestAdapter is also

[2019-02-05 18:04] orellabac commented on #96
I am currently using this workaround for simple cases:
[code]

[2019-02-06 11:12] anshuls01 commented on #557
@karanjitsingh I am trying with TestMethod Extensions, till now it progressing good 👍
I am able to access the TestContext as you suggested 💯, earlier the same thing I was trying with public class, according to me it should work but didn't.

I'll keep you posted on progress

[2019-02-06 11:55] singhsarab opened #562 "In-assembly parallel tests (IAP) issues with Thread Ripper processors"
## Description
The problem
In-assembly parallel tests don’t scale on latest ThreadReaper processors and fail to utilize >10% of CPU. So basically, this feature has no to little effect on some modern CPU configurations.

I faced this problem on my home built 2950x CPU with 16 cores and 32 threads due to recent weather, which required me to work from home.

Generally, the problem is broader than jus

[2019-02-06 12:36] anshuls01 commented on #557
@karanjitsingh I created one TestMethod Extension (let say DeploymentExtension)

DeploymentExtension: copies the required test data files to Out directory, Test data files path mentioned in runsettings file.
`  <TestRunParameters>
    <Parameter name="DeploymentFolder" value="Data\GE1\US"/>
  </TestRunParameters>`

the above extension is working fine, and able to copy the testdata files to Out fol

[2019-02-06 12:51] anshuls01 commented on #557
@karanjitsingh  i think i got the Answer, if wrting the TestMethod attribute extension then tiggering the testcase `ITestMethod.Invoke()` will be the responsiblity of attribute extension, and that will be responsible to provide the test data to test case.
sorry for creating the confusion.

[2019-02-07 08:30] singhsarab commented on #552
@Daniel-Svensson If you look at the logs, I see there were multiple testhosts that were created for the run, one for each dll under test.
I don't understand your test code, is it possible for you to give us a simpler repro ?

[2019-02-07 13:58] omghb commented on #315
@cltshivash Please reconsider the decision to not support remote execution capability through MSTest V2. This is a blocking issue for us to migrate from MSTest V1 to MSTest V2.

[2019-02-07 16:16] daryllabar opened #564 "How to Hide the StackTrace of the Custom Extension Method on Assert.That From the Text Output Window?"
I've created my own extension methods on the non static `Assert` class usable via the `Assert.That` singleton in the expected manner I'm assuming is correct:
[code]
but when my test fails, the stack trace shows the ExistsLineContaining extension method as the first value in the trace:
![image](https://user-images.githubusercontent.com/9728423/52425171-6e5ea400-2ac9-11e9-9958-d828ae020df1.png)

Thi

[2019-02-08 04:12] cltshivash commented on #315
@omghb The capability to distribute tests has been removed from the test platform and is part of the Azure Pipelines alone. We recommend users to have pipelines setup targeting user branches as well if there's a need for distributed testing. Please do open a separate issue to log this feedback as an ask for prioritization.

[2019-02-08 05:50] karanjitsingh commented on #564
@daryllabar, could you give me a sample project for me to experiment for this?

[2019-02-08 10:08] tucanus opened #566 "Tests failing due to custom TimeSpan JsonConverter"
## Description
If I register globally a Newtonsoft.Json.JsonConverter<TimeSpan>, every test fails after execution with error message similar to `Error converting value "PT1.0311192S" to type 'System.TimeSpan'. Path 'TestRunCompleteArgs.ElapsedTimeInRunningTests'`

## Steps to reproduce
- Create a Net Core MsTest project,
- add nuget Newtonsoft.Json package
- remove default class (UnitTest1)
- add

[2019-02-08 15:28] daryllabar commented on #564
Here is an example solution.
[AssertThatStackTraceTest.zip](https://github.com/Microsoft/testfx/files/2845630/AssertThatStackTraceTest.zip)

You'll need to do a NuGet Restore to get the MSTest files, and then for some reason (if you get this error when you attempt to run the tests, Make sure that test discoverer & executors are registered and platform & framework version settings are appropriate a

[2019-02-08 20:46] anshuls01 commented on #557
@karanjitsingh Hello Karan, I am able to resolve the issue for now by extended the Test Method and access the test context object. Please let me know once this issue fixed, it'll save a few lines of custom code force to add to handle the Test data file.

I've one more [open issue](https://github.com/Microsoft/testfx-docs/issues/36) to access the RunId property value, earlier in MsTest we use to ge

[2019-02-12 00:07] Slesa commented on #554
Unfortunately, I cannot share the project with you. Sorry about that.
But - as you reported - you think MSTest adapter is chosen to find its tests? I cannot agree. The output tells me, that another adapter is called and it cannot find any test.
So the underlaying problem seems to be, that I can only set the path where the available adapters will be  searched. But I cannot declare which adapter is

[2019-02-12 04:32] karanjitsingh commented on #564
@daryllabar, extension methods are an intellitrace feature, when things compile it's still a static method that gets a call. The stack trace you're getting is the expected behavior.

Also there's nothing MSTest can do here since it simply provides visual studio with the Exception.

[2019-02-12 09:14] nigurr commented on #566
@tucanus
Thanks for reaching us out and reporting this issue.
Currently this is known issue and we currently use "Newton Json 9" version and if you are using any higher version, it might break.
We suggest you to add `config` file for assembly redirection for your test assembly to mitigate this issue.

We are already working towards isolating Newton Json dependency, however we don't have tentative

[2019-02-12 09:14] #566 closed

[2019-02-12 11:46] daryllabar commented on #564
But how then is the Asset method hidden from the stack trace?

[2019-02-12 13:06] singhsarab commented on #554
@Slesa Yes this is by design
[code]
Test Platform picks up all the eligible adapters. Adapters declare what file extensions they support. Let's say there are 2 adapters that support *dll, then both these adapters will be called. Adapters then decide based on some references or types if they can run the tests, and then respective adapter does the run the tests.

There are some adapters which are mo

[2019-02-13 03:53] walterlv opened #567 "What is the purpose of the `Assert.IsTrue` and `Assert.IsNull` methods?"
## Description

We have these methods with the same meaning:

[code]

So what is the purpose of the two concrete methods in the case that we have an `Assert.AreEqual` for replacement.

## Why I want to ask this question here?

My team writes unit tests using MSTest v1.4, but we can't determine to use which one for team conventions.

[2019-02-13 05:31] nigurr commented on #567
@walterlv it's flexibility and simplicity. Please choose whatever you prefer and both achieves the same.

[2019-02-13 05:31] #567 closed

[2019-02-13 07:49] karanjitsingh commented on #564
@daryllabar, Good question! It seems we exclude certain types from the stack trace [here](https://github.com/Microsoft/testfx/blob/b231cade5faa80a53d367a109251b04a954e78ab/src/Adapter/MSTest.CoreAdapter/Execution/StackTraceHelper.cs#L36)

Which made me realize that we have a workaround for you, all you have to do is keep your extension method under the namespace `
Microsoft.VisualStudio.TestPlatfo

[2019-02-14 21:28] Daniel-Svensson commented on #552
@singhsarab after upgrading the solution to VS2017 it is much easier to troubleshoot, I have also added some printing to console/debug which can be helpful.

I believe it is so since some more assemblies are copied to test output directory than before (not verified).
However the same kind of exception (for another assembly) happens _without having to run 2 different testcontainers at the same time

[2019-02-15 08:40] singhsarab commented on #554
@Slesa Please let me know if it is still an issue for you given we have a better understanding.

[2019-02-15 09:37] Slesa commented on #554
Yes, ok. I did not realize that all adapters available are called. I'll investigate that under this point of view.
Thank you very much.

[2019-02-15 09:37] #554 closed

[2019-02-20 06:12] acesiddhu commented on #564
Closing the issue. Please make changes as @karanjitsingh suggested

[2019-02-20 06:12] #564 closed

[2019-02-20 08:54] KexyBiscuit opened #568 "Run test with COM references throws System.Runtime.InteropServices.COMException"
## Description

Run test with COM references throws System.Runtime.InteropServices.COMException.

## Steps to reproduce

1. Add a COM reference to the test project, whose tfm is `net48`.
2. Create an instance of a COM object.

## Expected behavior

It succeeds.

## Actual behavior

[code]

## Environment

[code]

[code]

[2019-02-20 13:21] HeroMaxPower commented on #562
I'm thinking of buying a threadripper for 'testing' purposes, Thanks for this information that its not working properly.

[2019-02-20 19:04] luis-cortina commented on #353
I also want to add or edit a Property in the test context to influence some behaviour in my test not related to test data. Is there any other way to do this?

[2019-02-21 03:39] luis-cortina opened #569 "Allow to add properties to TestContext from TestMethodAttribute"
While creating my custom test method attribute, I want set some data in the TestContext so it can be available for the test to behave depending on its value. I don't want to use DataRows or data source related approach because I want it to work in parallel.

Simple scenario:

[code]

[2019-02-21 18:43] luis-cortina opened #570 "ITestDataSource.GetDisplayName to append to the testresult display"
Hi:

I have a Custom TestDataSource and a CustomTestMethodAttribute and I want to concatenate the title in my ITestDataSource.GetDisplayName method with my TestResult DisplayName. Currently is one or the other. Any suggestions on how to achieve this?

[2019-02-21 20:12] shirishnagarnz opened #571 "Is there any way to soft assert in MSTEST just like verify assert in TESTNG"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2019-02-21 21:32] zendu commented on #305
@jayaranigarg, this should not be expected behavior. In my case, the test setup is dependent on the parameter values and there is absolutely no way to access them if they are not available in TestContext.

PS: I'm using MSTest v1.4.0.

[2019-02-22 12:04] a-vishar opened #572 "Support priority when running in parallel"
When using the parallel test running feature, it would be helpful to specify priority of some kind.

The issue we have is that we have a number of longer running tests (< core count), and a large number of quick running tests.  The longer running tests each take approximately the same time as the sum time of the shorter ones (7 hours).

If we could prioritise the long running ones and leave one co

[2019-02-22 13:35] jayaranigarg commented on #305
@zendu : In case of testmethods having datarow, testmethods has to take method parameters and you should use those method parameters to access datarow values and should not depend on testcontext.

[2019-02-22 17:30] zendu commented on #305
Test method uses parameters but what about test setup method?

[2019-02-25 09:16] jayaranigarg commented on #305
@zendu : Can you please your scenario(maybe a code snippet explaining your expectation)? Which values is your test setup method dependent on? DataRow values are specific to your test methods and not make much sense in case of test setup/clean up as such.

[2019-02-25 09:36] jayaranigarg commented on #569
@luis-cortina :
Few things -
1. Test Context is a readonly object and no framework allows users to edit/add values in testcontext.
2. Can you please explain how do you plan to achieve parallelism by using TestContext properties? Since multiple tests will be running in parallel,  some tests will be editing this property and some will be reading this property. How do plan to manage these race condit

[2019-02-25 10:29] jayaranigarg commented on #570
You will have to do that concatenation inside your ITestDataSource.GetDisplayName() implementation itself.

[2019-02-25 14:09] daryllabar opened #573 "Request for StackTraceHelper.TypeToBeExcluded to allow for custom namespaces"
This is in response to #564.  Basically the ability to add extension methods to the Assert class is a great first step, but the debugging experience is extremely poor in that normally, one's own extension method shows up as the lowest level in the stack trace of the failed unit test.  The work around listed is to put your own extension methods in one of the namespaces hard-coded in the `Microsoft.

[2019-02-25 17:02] luis-cortina commented on #570
I guess the question is inside my ITestDataSource.GetDisplayName() implementation (which is the last one called and the current behaviour is to override the test resultt display name) how do I get the display name I set in the test result. This is the definition of GetDisplayName()

 `string ITestDataSource.GetDisplayName(MethodInfo methodInfo, object[] data)`

I don't see from there how to get th

[2019-02-25 17:07] luis-cortina commented on #569
@jayaranigarg answers below:

1. I meant adding a new property inside the Properties dictionary of the test context. I believe this is allowed, correct?
2. This is a custom test method info that will not be allowed to run in parallel
3. I think the TestInitialize method has a ref of the test context so that might help me. I guess I can go that route.

[2019-02-25 21:32] shirishnagarnz commented on #571
Can I please have a reply on this issue?

[2019-02-26 02:44] acesiddhu commented on #568
@KexyBiscuit can you confirm that when you the same code on same machine with a console app things work fine. The error code generally means that the com component is not registered for that process arch from where you r running the test code. Few things to check
1) Repro the same issue with console app.
2) If COM component is x64 then ensure test are running in x64 mode.
3) try to register the co

[2019-02-26 02:55] KexyBiscuit commented on #568
@acesiddhu [Running the unit test as a 64-bit process](https://docs.microsoft.com/en-us/visualstudio/test/run-a-unit-test-as-a-64-bit-process) resolved the problem, thanks a lot.

[2019-02-26 02:55] #568 closed

[2019-02-27 06:38] GearedToWar opened #574 "Test failure suggests using [UITestMethod] for non-UWP projects"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2019-02-27 12:24] jayaranigarg commented on #569
@luis-cortina : No, adding/editing any property in the Properties dictionary is not allowed. User cannot edit testContext object in any way.

[2019-02-28 08:47] jayaranigarg commented on #570
@luis-cortina :
 `string ITestDataSource.GetDisplayName(MethodInfo methodInfo, object[] data)`
You can do a methodInfo.Name inside your getDisplayName() to get the testMethod name.

Please refer this implementation of DynamicDataAttribute which implements ITestDataSource. I believe you are trying to achieve something similar. https://github.com/Microsoft/testfx/blob/master/src/TestFramework/MSTest

[2019-02-28 09:16] jayaranigarg commented on #571
@shirishnagarnz : Apologies for the delay. As of now, we don't have a way to soft assert in MSTest.

This is a new ask, so I will mark this as enhancement. We don't have plans to bring this feature in in near future, but we will certainly pick it up if we have enough votes. Thank you for you feedback!

[2019-02-28 09:44] jayaranigarg commented on #572
@a-vishar : Thank you for your feedback.

This is a new ask and seems related to running the test methods in some particular order. We are going to mark this an enhancement currently and will love to pick it up in the future, if we have enough votes on it.

[2019-02-28 10:16] jayaranigarg commented on #574
@GearedToWar : Thank you for the feedback. It would be nice if you can share a repro project with us.

[2019-02-28 21:12] shirishnagarnz commented on #571
So any solution apart from soft assert?

I want all steps to get execute even though sone in-between steps get fail.

[2019-03-04 04:18] AceHack commented on #143
Any update?  Also does ClassInitialize and ClassCleanup work with Async i.e. Task results?  Thanks.

[2019-03-04 07:49] jayaranigarg commented on #571
@shirishnagarnz : Unfortunately there is no way to do so as of now.

[2019-03-04 09:38] shirishnagarnz commented on #571
Thanks Jaya,

Don't know how many other users needs this enhancement but if it's not a big change, can your team please work on this enhancement?

[2019-03-04 10:21] jayaranigarg commented on #571
Tagging @cltshivash @PBoraMSFT to look into the ask.

[2019-03-04 22:10] sarkreth opened #575 "Exception in callback from UWP API caught when test "Debug"'d but not "Run"'d"
## Description
I'm writing code around the Windows 10 Bluetooth Low Energy API. I have a callback that is invoked by the OS when a BLE Peripheral is discovered during Scanning. If I "Run Selected Test" and an exception occurs in the callback, it is not apparently detected by the running test process. The exception doesn't prevent the unit under test from otherwise running normally and the test pas

[2019-03-05 01:27] shirishnagarnz commented on #571
Hi @jayaranigarg - any connecting to DB through selenium is available in MSTEST?

Please share some reference if so.

[2019-03-05 06:35] AbhitejJohn commented on #143
@parrainc : That sounds fantastic, I'm super late to this though but I think we could definitely start with just that two. I've moved on to other things but @jayaranigarg and @singhsarab could help if you still need any.

@AceHack : From [here](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/Execution/TestClassInfo.cs#L220) ClassInitialize and ClassCleanup should be

[2019-03-05 06:49] jayaranigarg commented on #571
@shirishnagarnz : We would recommend you to open new issue for any more questions you have and not mix different issues on same thread. This is just to ensure that anybody looking for a resolution of the initial issue can search it easily and is not diverted with some other discussion on the thread.

[2019-03-05 08:29] jayaranigarg commented on #569
Closing the thread as we will not allow any modifications to TestContext Object.

[2019-03-05 08:29] #569 closed

[2019-03-05 08:31] jayaranigarg commented on #570
Closing the thread. Let us know if you need further assistance on this.

[2019-03-05 08:31] #570 closed

[2019-03-05 19:45] shirishnagarnz opened #576 "How to get connect with DB in selenium MSTESTV2?"
## Description

Is MSTESTV2 is supporting this? Is so, can someone please provide details to get connect DB while executing scripts in selenium?

[2019-03-05 19:46] shirishnagarnz commented on #571
Thanks @jayaranigarg . Logged as https://github.com/Microsoft/testfx/issues/576

[2019-03-05 21:36] parrainc commented on #143
@AbhitejJohn cool, It's been a while since I opened the testfx project on my computer, so I have to get my fork up-to-date. After that, will be submitting the PR so @jayaranigarg and @singhsarab can take a look when available.

[2019-03-05 21:59] parrainc commented on #559
@singhsarab I'm wondering if this is something that could be achieved through the .runsettings file?
If so, what do you think of something like this:

[code]
let me know your thoughts, and if i'm in the right path. I'll be willing to work on it ;)

[2019-03-06 04:28] acesiddhu commented on #576
@shirishnagarnz mstest v2 doesn't restrict you from connecting to a DB. you can connect to DB in the same way as you will do in a normal console app. The connection of DB code will vary from DB engine to engine. Search for samples on how to connect to DB via c# and you should find something

[2019-03-06 18:58] parrainc commented on #576
@shirishnagarnz as mentioned above, mstest v2 doesn't restrict you from doing that. Depending on the db you're planning to connect to it, you would have to use a specific library that help you doing that. There's a ton of example on the internet if you look for "how to connect to a sql database from c#".

Below is a short snippet that you could use right away to get connected to a SQL Server db:

[2019-03-06 21:56] NGloreous opened #587 "Support test retry filtering"
## Description
Add an extensibility point to VSTest to enable custom logic to determine if a failed test should be retried.

The OneDrive team currently uses a custom built test harness to run our tests. To deal with test flakyness  we need to retry tests and we have built up custom logic to determine when it's acceptable to retry tests and how many times a test can retry. We would like to migrate

[2019-03-07 08:34] acesiddhu commented on #576
@shirishnagarnz I am closing the issue. If you have any other queries do open another issue

[2019-03-07 08:34] #576 closed

[2019-03-07 15:26] acesiddhu commented on #574
@GearedToWar unfortunately we don't have a repro to debug the issue. I am closing the issue for now. if you are still facing the issue please reopen the issue and attach a repro for the same

[2019-03-07 15:54] GearedToWar commented on #574
Tagging @AbhitejJohn
I don't know how a repro project would help beyond the description.
Did you try creating a test project with the above attribute and assertion?

[2019-03-07 16:43] acesiddhu commented on #574
@GearedToWar we will fix the error message. but it is not possible to run UI based test in a normal UT (Net 451). That capability only exists in UWP based test, due to dependency we take to invoke test methods on UI Thread.