[2022-04-27 15:14] 3s-ap commented on #1032
@nohwnd as far as I see #1020 already merged

[2022-04-27 19:28] ttorkelson commented on #905
I totally agree that this should be an opt-in rather than an opt-out. These changes caused quite a bit of headache in my org

[2022-04-27 19:37] ttorkelson commented on #1059
@Haplois Thanks for the workaround, I didn't even know it existed!

[2022-04-27 20:38] abatishchev commented on #905
Preach!!

[2022-04-28 14:57] gdir22 opened #1094 "MS Test 2.2.4 - 2.2.10: Tests fail because DynamicData gets only structs with default values"
## Description
Hi,

I have a strange problem with MS Test versions 2.2.4 - 2.2.10. In my actual project a have a lot of unit tests that use DynamicData to fetch the test cases from a method. Up to MS Test 2.2.3 this worked fine. With MS Test 2.2.4 - 2.2.10 _some_ (not all) of these tests fail, ~~because the test cases are mixed up~~ because all structs have default values. This seems to happen whe

[2022-04-28 15:03] gdir22 commented on #1094
![image](https://user-images.githubusercontent.com/104566521/165783213-3cb11d15-27c2-476d-9173-303dcfaa502f.png)

[2022-04-28 15:10] gdir22 commented on #1094
Test results with MS Test 2.2.3:
![image](https://user-images.githubusercontent.com/104566521/165784707-85342a21-2e43-42c5-aadb-cfb943a76fd4.png)

[2022-04-28 15:22] gdir22 commented on #1094
After further investigation my initial suspicion about the test cases getting mixed seems to be wrong. It seems like the structs are not passed correctly between the factory and the test method. All Vector2D structs that the test method receives, get the default value Vector(0.0, 0.0).

[2022-04-29 06:00] gdir22 commented on #1094
I found the solution here: https://github.com/microsoft/testfx/issues/905#issuecomment-907775327. Adding

`[assembly: TestDataSourceDiscovery(TestDataSourceDiscoveryOption.DuringExecution)]`

restores the old behaviour.

[2022-04-29 06:25] gdir22 commented on #905
I have a library that perfoms mathematical operations. I only investigated in this problem because I had some tests that where passing up to 2.2.3, but started to fail whenever I tried to update to 2.2.4 - 2.2.10. Only during debug I found out that a lot of the still passing tests in 2.2.4 - 2.2.10 only passed, because my immutable numerical structs where replaced by zeros. Instead of testing the

[2022-04-29 06:27] gdir22 commented on #1094
Added a comment at https://github.com/microsoft/testfx/issues/905#issuecomment-1112915346.

[2022-04-29 10:14] Haplois commented on #1028
You need to set `TestDataSourceDiscovery` to `DuringExecution` in your test assembly as described [here](https://github.com/microsoft/testfx/issues/905#issuecomment-907775327).

[2022-04-29 10:15] Haplois commented on #1094
Sorry for the inconvenience caused by this, the solution you found is the correct one.

[2022-04-29 10:15] #1094 closed

[2022-04-29 10:15] Haplois commented on #1073
Yes, that's the plan.

[2022-04-29 12:55] patricsjoo commented on #1083
Not work in 2.2.10 either.

[2022-04-29 17:37] marnilss commented on #1028
Surely that is a temporary workaround, not a solution? (so why close this issue?)

Even though you have changed the implementation of how discovery of tests are done, shouldn't the new one also be fixed to return the expected amount of testcases? Instead of saying - run the old behavior if you want something that works!!!
Because I can't see, nor has anyone else pointed it out, anything wrong with

[2022-04-29 20:30] SnarkOrBoojum2 commented on #1067
Thank you. I understand why it is happening. Of cause I already fixed my tests to avoid this situation, even before making this issue. But this is totally unexpected behavior. Other tests system are working correctly in this situation. Also, it means that, that it is impossible to use different subclasses as values for properties of base type inside the test data without turning off test discovery

[2022-05-03 03:44] notcake opened #1096 "MSTest 2.2.4 - 2.2.10: `DataRowAttribute` does not preserve the sign of `-0.0`"
## Description
Usage of `DataRowAttribute` does not preserve the sign of doubles when they are zero.

## Steps to reproduce
The following passes on 2.2.3 and fails on 2.2.4 to 2.2.10:

[code]

## Expected behavior
The negative sign of the double is preserved.

## Actual behavior
The negative sign is lost.

## Environment
- Windows 10 21H2
- Visual Studio 2022
- MSTest 2.2.10

[2022-05-03 07:45] Haplois commented on #1096
MSTest discovers data source tests during discovery phase, and stores the discovered data serialized. In this case during serialization sign data is lost, you can opt-out of this behaviour by adding following to your test assembly.

[code]

[2022-05-03 07:45] #1096 closed

[2022-05-03 15:00] craigbrown opened #1097 "DeploymentDirectory is 'Out' folder using .NET Framework, but build folder using .NET 6"
## Description
When running a unit test with MSTest under .NET Framework, the `TestContext.DeploymentDirectory` path is the 'Out' folder inside the test run directory, e.g:
[code]
When running the same test under .NET 6, the `TestContext.DeploymentDirectory` path is the build directory, e.g:
[code]
I've looked around but this change in behavior between Framework & Core doesn't seem to be documente

[2022-05-10 13:10] N-Olbert commented on #452
@Haplois @nohwnd: Well... it’s a good feature, but the change of the default behaviour seems to be mentioned absolutely nowhere (also not in #910).
Shouldn't this be at least be mentioned in the [release notes](https://github.com/Microsoft/testfx-docs/blob/main/docs/releases.md)? This caused an issue with some tests (which were not thread-safe) in our code base and this specific issue is not the f

[2022-05-10 13:32] Haplois commented on #452
Yes, please refer to [this](https://github.com/microsoft/testfx/issues/905#issuecomment-907775327) comment.

[2022-05-11 10:44] vigneshbabuv opened #1101 "Can we implement CustomTestMethod(TestCategory,TestName,TestID) like that"
Need info ,
Can we create the custom Test method as CustomTestMethod(Category,TestName,TestID) like that . Pls help me . If it is possible

[2022-05-13 10:24] jinweili1 commented on #687
Are there any updates? I'm curious about this as well. And I would like to know how I could determine whether a test failed because assembly init or class init failed. I find all properties and fields in test results, but none of them works.

[2022-05-13 15:31] Haplois commented on #1051
I think we started including branch name and commit id in assemblies. Let me verify.

[2022-05-16 01:58] jinweili1 opened #1142 "Why are AssertExceptions thrown within Assembly/Class/Test Initializations differentiated?"
## Description
When an AssemblyInitialize or ClassInitialize throws an Exception (in most cases), it is formatted like:

```Assembly Initialization method {0}.{1} threw exception. {2}: {3}. Aborting test execution.```

When an AssemblyInitialize or ClassInitialize fails with an Assert exception, the message is like:

```Assert.IsTrue failed.```

## Question
Before, we use ```Assembly/Class Initial

[2022-05-16 14:04] Evangelink opened #1107 "If using extension of TestMethodAttribute then please contact vendor. Error message: An item with the same key has already been added. Key: out"
## Steps to reproduce

TP acceptance test on mac: https://dev.azure.com/dnceng/public/_build/results?buildId=1773100&view=logs&j=2728e4e0-66e6-50b3-5810-75ad575aa0cd&t=f5344cc9-2213-5f5c-7a1e-3449f7e86afd

Stack trace:
[code]

[2022-05-18 22:06] microsoft-github-policy-service[bot] opened #1110 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 13:34] #1110 closed

[2022-05-20 18:42] bkqc opened #1111 "Can't get TraceSource output to log in test report"
## Description
I have a project in which I have tracing to TraceSources. I would like to have the output of it logged in the test explorer report window.

## Steps to reproduce
Create a _SUT_ in which you do something like
[code]

## Expected behavior
In the Test Explorer window, for the tests that executed, even for DataTests, get "My trace text" in the test report.

## Actual behavior

- When no

[2022-05-20 20:22] bkqc commented on #1111
This post on SO may give a hint on the problem
https://stackoverflow.com/questions/36327531/why-are-messages-sent-to-trace-source-missing-from-all-but-the-first-unit-test

[2022-05-23 17:26] gioce90 commented on #1060
+1

[2022-05-24 07:16] Evangelink commented on #1060
Thank you for reporting this incorrect behavior!

I will close this issue and reopen the one on vstest (this needs to be handled on vstest side).

[2022-05-24 07:16] #1060 closed

[2022-05-24 14:48] bkqc commented on #1111
This post explains the reason why ConsoleTraceListener in the app.config does not work natively but the custom filewriter listener does.
https://stackoverflow.com/questions/71758259/trace-to-mstest-v2-test-log-using-tracesource/72324658

[2022-05-24 14:48] #1111 closed

[2022-05-29 21:56] notcake commented on #1016
I suspect that all `DataRow` tests with the same display name end up with the same GUID, and so only one survives:

https://github.com/microsoft/testfx/blob/57d2d00637e2bb3b5b9c4f9334a10ef2f6463146/src/Adapter/MSTest.CoreAdapter/ObjectModel/UnitTestElement.cs#L232-L252

Note line 247, where `testCase.DisplayName` is fed to `TestIdProvider`, which generates the GUID.

Untested, but I think this sho

[2022-05-31 09:00] Haplois commented on #1016
That's possible solution @notcake, but it breaks compatibility.

@sandersaares, could you try our latest version, this issue should be fixed in it.

[2022-06-02 01:12] michael-hawker commented on #740
@chingucoding did you get anywhere with this? We're hitting this again with Toolkit Labs for Windows, so it's a bit of a pain. It requires us to use `TestMethod` and then Dispatch to the UI Thread in each of our tests to start, instead of being able to just have that be handled automatically by the test harness. (As we're trying to await the content to test to be loaded.)

@pavelhorak saw this was

[2022-06-02 13:43] mrlacey commented on #740
This sounds like a key is needed for strong naming but the default .gitignore was used and this prevents .snk files from being checked in. (This is something I frequently see with projects on GitHub.)
Creating a new key with that name/path will probably fix it.
It won't fix it if the public key of the missing file is used somewhere but if that was the case I'd expect this to be a bigger issue for

[2022-06-02 17:44] sharkk121 opened #1121 "DateTime equality test fails after upgrading from 2.2.3"
## Description
Hello, after updating the version of MSTest.TestAdapter and MSTest.TestFramework from 2.2.3 to 2.2.10 I found that the test that used to pass, started failing. On version 2.2.3 the date, when passed into the method is an actual DateTime object. On 2.2.10, the date is serialized as string instead. What's strange is that a very similar test, but with an extra complex type included pas

[2022-06-02 21:01] michael-hawker commented on #740
I tested, and I think the `UITestMethod` for WinUI 3 has the same issue. I was hoping since it's already using the new `DispatcherQueue` that it may be able to work.

What I don't understand is why the regular `TestMethod` attribute supports this? It's execute is just calling Invoke directly. Is it the extra `GetAwaiter().GetResult()` pattern that's locking the thread pool as the async/await patte

[2022-06-02 23:31] michael-hawker commented on #740
@dotMorten, @azchohfi mentioned you may have found a workaround/solution to this by tweaking a custom attribute? Do you have that somewhere or was it in regard to something else?

[2022-06-02 23:38] dotMorten commented on #740
@michael-hawker There's a few ways to do it. WinUIEx has a test tools package that uses a code-generator to pull it off. But you're right it can also be done with a custom TestMethodAttribute - I'll have to dig that out if you need it.  I definitely don't use the mstest provided UITestMethod since it doesn't support async tests - my solution does.

[2022-06-03 11:16] Haplois commented on #1121
Value returned from `GetDisplayName` should be unique for each data. Can you fix that, and try again?

[2022-06-04 15:08] jvandertil commented on #1083
SInce this issue is not getting any attention / responses I have decided to workaround this by using file logging through Serilog and attaching the generated log file to the TestContext.

[2022-06-05 20:13] vaganovk commented on #1083
Fixed similar issue by adding ```TestServer.PreserveExecutionContext = true; ``` before ```WebApplicationFactory.CreateClient()``` call.

The root cause seems to be:
1. MSTest collects test output via AsyncLocal-based string builder, see https://github.com/microsoft/testfx/blob/4a1e386b7599b83b82b2a983cf4ab589807acf60/src/Adapter/PlatformServices.Shared/netstandard1.3/Services/ns13ThreadSafeString

[2022-06-06 09:37] Haplois commented on #1121
I am investigating the issue, meanwhile as a workaround, you can add this to your assembly.

[code]

[2022-06-07 16:52] #488 closed

[2022-06-10 09:55] Marv51 opened #1127 "WinUI 3 Tests fail to run after upgrade to Windows App SDK 1.1"
## Description
After upgrading my test project to Windows App SDK 1.1 the execution of tests fails.

## Steps to reproduce
I followed https://devblogs.microsoft.com/ifdef-windows/winui-desktop-unit-tests/

`UITestMethod` attributed tests, fail to run after I upgrade to Windows App SDK 1.1
with error message:
[code]

**The exact same project work with Microsoft.WindowsAppSDK 1.0.3.**

I tried to ad

[2022-06-14 04:58] FW4248 opened #1131 "CLA"
<a>[![CLA pfind.com/MScheck](https://cla.opensource.microsoft.com/pull/badge/AURE9_signed)](https://cla.opensource.microsoft.com/microsoft/ebpf-for-windows?pullRequest=3101) <br/>Th,[Contributor_License_Agreement](https://cla.opensource.microsoft.com/microsoft/ebpf-for-windows?pullRequest=406)📥contribution.<br/><br/>:📤:%FW4248%[comment](https://cla.opensource.microsoft.com/microsoft/ebpf-for-windo

[2022-06-14 04:58] #1131 closed

[2022-06-14 04:59] FW4248 commented on #1131
### FX properties

[2022-06-14 09:14] #678 closed

[2022-06-15 08:41] gaurav137 commented on #1083
We hit this issue too. We use the test context in a similar manner as jvandertil described in the sample. Our codebase was moving to .NET 6 and we took the opportunity to move to latest version of various nuget packages and picked up this issue with v2.2.10. Took us hours to figure out why our test logs were missing logs and once we root caused it we found this issue was reported already.

@jvande

[2022-06-15 10:11] Evangelink commented on #1107
@nohwnd I think you fixed this issue already, right?

[2022-06-17 18:08] Cjewett opened #1423 "Inconsistent Trx result format for DataRow and DynamicData"
Recently we've noticed that newer projects will no longer display DataRow or DynamicData test results within an InnerResults of the parent.

Example:

[code]

Some projects that have existed within our monolithic repository will display results using the old way though.
[code]

Based on this Github issue https://github.com/microsoft/testfx/issues/1424 they sort of suggest the reason for this chang

[2022-06-20 11:27] Evangelink commented on #854
Closing this issue as this is now enabled on our AzDo builds.

[2022-06-20 11:27] #854 closed

[2022-06-20 23:09] krb-vci opened #1134 "tests fail to run after updating to v 2.2.10"
Description

I currently run unit tests using MSTest.TestFramework v 2.2.8.

I also used MSTest.TestAdapter which I've upgraded from 2.2.8 to 2.2.10, and
Microsoft.NET.Test.Sdk which i've upgraded from 17.0.0 to 17.2.0.

Everything runs fine. But when i tried upgrading MSTest.TestFramework v 2.2.8 to 2.2.10, the tests would not run.  They are discovered, but don't run.

I work in VS 2022 on a wind

[2022-06-23 11:15] pushist1y commented on #1050
Encountered this as well. For now i'll probably make a workaround by passing indices of array of test data objects to the test method but i'd like to see a proper solution...

[2022-06-27 17:13] feruilob commented on #1035
I had a netstandard2.0 project with net472, netcorapp3.1 multi-target tests and I was hitting this issue.
Adding <AppendTargetFrameworkToOutputPath>true</AppendTargetFrameworkToOutputPath> to all projects helped because now the tests were not getting confused between assembly versions.
Hope that helps!

[2022-06-28 07:00] enisak commented on #143
Any luck so far? This is really not working as it should

[2022-06-28 07:40] Ishu0045 opened #1139 "Build on VS 2019"
I am trying to build the project downloaded from https://github.com/microsoft/testfx but it is unable to build. Could anyone please provide a stepwise guide on how to succeed in this. I want to run it in .net framework 4.5

[2022-06-28 08:39] Ishu0045 commented on #1139
Yes, I am following the complete guide. Please have a look at the attached shot describing the missing references from the projects.
![image](https://user-images.githubusercontent.com/108327108/176134211-ec238686-ed82-487f-97ae-da1c89bfa5e1.png)

[2022-06-28 08:51] Ishu0045 commented on #1139
Also, I am getting these errors while building as well

![image](https://user-images.githubusercontent.com/108327108/176136953-fec7df3a-a942-44f4-bacb-db5cf0bafe2a.png)

[2022-06-28 09:12] Ishu0045 commented on #1139
it is missing these references
![image](https://user-images.githubusercontent.com/108327108/176141480-79604770-8b95-45b0-9023-c83ab0f1cbbe.png)

[2022-07-01 11:10] Evangelink commented on #1139
@Ishu0045 Have you run `build.cmd` from command line before building in VS?

[2022-07-01 11:14] Evangelink commented on #1134
Hi @krb-vci, could you share some repro or some verbose logs? Sadly, there isn't much we are able to do with the information you are providing.

[2022-07-01 11:18] Evangelink opened #1141 "Rule suggestion: MSTest framework silently ignores async void test methods"
From @shtratos in https://github.com/dotnet/roslyn-analyzers/issues/6042

### Describe the problem you are trying to solve

MSTest framework silently ignores `async void` test methods.
When regular tests are converted to async ones it's very easy to forget to change the signature of test method.
This is hard to catch during code reviews as the test code is still there, it just does not run despite

[2022-07-04 15:14] SymbioticKilla opened #1143 "Improper Handling of Exceptional Conditions in Newtonsoft.Json before 13.0.1"
https://github.com/advisories/GHSA-5crp-9r3c-p9vr
Hi,
any chance to get this updated? Actual version is 10.0.3+: https://github.com/microsoft/testfx/pull/827/commits/db514b0779fd00f664cecb36276af40b7ec30c12

Thanks!

[AB#1575802](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1575802)

[2022-07-07 18:05] krb-vci commented on #1134
Hi @Evangelink - Do you mean verbose build logs?  (I am still a newbie - still learning VS - and could use some guidance of what to send you.

[2022-07-07 19:20] krb-vci commented on #1134
A little more info...
After updating the MSTest.TestFramework package to 2.2.10 I tried to debug a test, with a breakpoint at the first line of the assembly init.  The breakpoint was never reached.  The Test output log shows this:

Building Test Projects
========== Starting test run ==========
========== Test run finished: 0 Tests (0 Passed, 0 Failed, 0 Skipped) run in < 1 ms ==========

When i tr

[2022-07-07 22:50] krb-vci commented on #1134
As stated already - I am still learning Visual Studio. I did verbose Test output, and am providing 2 files of the logs.  One is before the update, and the other is after.  Again - before the update the tests rtun.  After the update they don't even get to the first line of the Assembly Init.  And again I redacted some of the proprietary references that won't matter to you
[TestOutputAfterUpgrade.tx

[2022-07-08 16:32] StevenDenman opened #1146 "Parallel TestContext output is not set to the correct test"
## Description
When outputting text via TestContext and running the tests in parallel, the output is not set to the correct test

## Steps to reproduce
Have multiple classes which output text and check the resulting trx file.
Note: Running the tests via Visual Studio does not seem to produce this, but when running the dotnet command manually
`dotnet test MSTest_TestContextIssues.dll -l:trx;LogFile

[2022-07-11 17:11] #1142 closed

[2022-07-12 17:48] Evangelink commented on #1139
Ping @Ishu0045

[2022-07-12 17:51] Evangelink commented on #719
@danmincu If you are able to reproduce the issue, could you please let us know if the fix in the related PR fixed this issue for you? Thanks

[2022-07-12 18:06] Evangelink commented on #113
We need a bit of investigation but maybe we will have to wait for the v3 as `SerializableAttribute` isn't available in portable class libs.

[2022-07-12 18:08] Evangelink commented on #469
This is most likely going to be fixed by #1095

[2022-07-12 18:14] Evangelink commented on #304
This will be handled through #1095

[2022-07-12 18:16] Evangelink commented on #866
This will be handled by #1095

[2022-07-12 18:16] Evangelink commented on #582
This will be handled by #1095

[2022-07-12 18:19] Evangelink commented on #1127
@Haplois Isn't this something you handled recently?

[2022-07-12 18:26] #376 closed

[2022-07-12 18:28] Evangelink commented on #481
This will be handled by #1095

[2022-07-12 18:41] Evangelink commented on #687
Fixed by #1147

[2022-07-12 18:41] #687 closed

[2022-07-12 18:48] #701 closed

[2022-07-12 19:04] Evangelink commented on #1141
Closing this one as duplicate of #867

[2022-07-12 19:04] #1141 closed

[2022-07-12 19:07] Haplois commented on #642
Yes :)

[2022-07-13 04:47] danmincu commented on #719
In my case the fix was to run the tests into a Linux folder and to copy the *.trx file in the folder that was mounted on Windows avoiding the cross OS folder name creation problem. However, his commit should fix it https://github.com/microsoft/testfx/pull/1119/files I'll be able to test it soon after I upgrade the testfx framework.

[2022-07-13 06:51] Evangelink commented on #719
Thank you! I will keep this one open until you confirm it's good.

[2022-07-14 01:53] Cjewett opened #1149 "TestId no longer constant across test runs"
Problem:

Trx specification seems to have changed significantly from 2.2.3 to 2.2.4+. As a result it makes it difficult (impossible?) to track historic results, map child tests to parents, and muddies the water for all UnitTestResults in the Trx file when using DataRow and DynamicData attributes.

In 2.2.3 all DataRow and DynamicData tests would show up as an InnerResult for a parent. The result w

[2022-07-14 07:20] Evangelink commented on #1134
@krb-vci  I will investigate today.

[2022-07-14 13:43] Evangelink commented on #1134
@krb-vci I will need the diagnostic logs (there is nothing relevant in the simple logs you have sent). Please follow this guide https://github.com/microsoft/vstest-docs/blob/main/docs/troubleshooting.md#visual-studio

[2022-07-15 00:06] krb-vci commented on #1134
Have been away from my desk all day.  Will do this tomorrow morning California time.

Can I send the zip file directly, without posting the world?

Thanks,

Ken Blaker
***@***.******@***.***> or ***@***.***

From: Amaury Levé ***@***.***>
Sent: Thursday, July 14, 2022 6:44 AM
To: microsoft/testfx ***@***.***>
Cc: Ken Blaker ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/testfx] tests f

[2022-07-15 00:54] krb-vci commented on #1134
I was too curious to wait until tomorrow.  I’ve attached 2 zip files.  One is three files generated before upgrading to the latest version.  The after zip only has 2 files generated after upgrading the package.

From: Amaury Levé ***@***.***>
Sent: Thursday, July 14, 2022 6:44 AM
To: microsoft/testfx ***@***.***>
Cc: Ken Blaker ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/testfx] tes

[2022-07-15 12:24] krb-vci commented on #1134
@Evangelink -
[AfterLogs.zip](https://github.com/microsoft/testfx/files/9120713/AfterLogs.zip)
[Before-logs.zip](https://github.com/microsoft/testfx/files/9120714/Before-logs.zip)

[2022-07-18 17:38] johnthcall opened #1154 "Openness for Caller Argument Expression in Assert failure messages"
## Description
With .Net 6 [Caller Argument Expression](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-10.0/caller-argument-expression) was added, this could be used in testfx to provide the expression which failed the check. Doing this could provider consumers more out of the box detail about what caused the assert to fail without having to manually provide mes

[2022-07-19 18:27] Cjewett commented on #1149
Bumping in hopes of some guidance @Haplois @Evangelink

[2022-07-23 14:48] marcomarin89 commented on #1127
@Marv51 I'm experiencing the same issue

[2022-07-25 13:39] andrewittorio commented on #1127
Hi all,

I have the same problem too. In my case it seems that the App class is not instantiated when running the tests.
In accordance with this article [https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/ioc ](https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/ioc)
the App class is where I setup my services. But when the tests run the GetService always returns null.

For t

[2022-07-26 01:20] mikebmcl commented on #1127
It appears that when switching from 1.0.X to 1.1.X, the call to the Win32 API function `GetCurrentPackageFullName` via https://github.com/microsoft/testfx/blob/9694a420b2ebad4eb4143acf2b2309fc1502d15d/src/Adapter/PlatformServices.WinUI/AppModel.cs#L29 switches from succeeding (i.e. returning an insufficient buffer error) to failing with `APPMODEL_ERROR_NO_PACKAGE`. As a result, when Test Explorer

[2022-07-26 23:26] mikebmcl commented on #1127
Some updated information. I was able to partially workaround this, at least to the point of demonstrating that the problem is definitely that the assembly is not picked up as being packaged (such that IsAppContainer is fall) when built with WinAppSDK 1.1.X (1.1.3 in my tests). I used the MSTest 2.2.10 packages.

Here is what I did:

I changed my test project to be explicitly unpackaged and to not

[2022-07-27 02:42] majastrz commented on #1143
Will this be fixed in 17.4? Any ETA?

[2022-07-27 18:48] Evangelink commented on #1143
We are currently working on it. We yet have to decide if we will do a separate release with only "this" feature or include that into MSTest v3 bucket.

[2022-07-28 07:01] MikeRosoft commented on #1028
Update: apparently the error only occurs when running from Visual Studio; when running from the command line the tests are executed correctly.

[2022-07-28 07:37] Evangelink commented on #1028
Hi @MikeRosoft, thanks for the update. We will look into this issue.

[2022-08-01 18:48] kalizurawski commented on #1127
I am also having this issue as mikebmcl is describing.  Unfortunately that workaround does not work for me because it creates issues with the SDK.  I hope this gets fixed soon because I have no choice besides using 1.1.0 so I can't downgrade to 1.0.x to gain use of the UITestMethod.

[2022-08-01 19:09] mikebmcl commented on #1127
From what I can tell, MSTest.TestFramework still has bugs relevant to this (described below) but the problem that starts everything off does not originate with MSTest.TestAdapter. Its `ITestDiscoverer`, [MSTestDiscoverer](https://github.com/microsoft/testfx/blob/4df23c0b5c777ee31b2f970326bd64191e2bb24a/src/Adapter/MSTest.CoreAdapter/MSTestDiscoverer.cs), never finds the test container for the WinU

[2022-08-01 19:15] Evangelink commented on #1127
Just a small message to let you know that we have seen this ticket and we will handle as fast as we can (we are a little short staffed with holidays and some other high priority tasks we need to handle).

[2022-08-02 02:00] krb-vci commented on #1134
I was able to solve this by simply creating a new project and copying in all my classes and tests.
Still have no idea why I had this problem.

[2022-08-02 02:00] #1134 closed

[2022-08-02 13:56] nohwnd commented on #1063
This was released in  2.2.10

[2022-08-03 22:53] mikebmcl commented on #1127
Just as a note, this might be the same problem as or closely related to this open issue in the WindowsAppSDK:
https://github.com/microsoft/WindowsAppSDK/issues/2768

[2022-08-05 13:44] Haplois commented on #1143
This is fixed in our [nightly builds][fixed-build] now, and will be included in our first public preview of version `2.3.0`.

   [fixed-build]: https://dev.azure.com/dnceng/public/_artifacts/feed/test-tools/NuGet/MSTest/versions/2.3.0-preview-20220805-01

[2022-08-05 13:44] #1143 closed

[2022-08-08 15:55] Haplois commented on #1127
Probably not, we invoked the `ModuleInitializer` in test test project by instantiating a auto generated class, it seems to be removed. So when we call into WinUI methods, since those are not initialized yet it fails. (from my short investigation, the actual problem might be different.)

[2022-08-10 06:12] alexanderjung-sdxag opened #3255 "Microsoft.TestPlatform (17.4.0-preview-20220726-02) not working"
## Description
Since updating to the latest version of Microsoft.TestPlatform, unittests don't run anymore in Azure DevOps pipelines.
It seems as if there are some assembly reference mismatches, and test attributes are no longer recognized.

https://www.nuget.org/packages/Microsoft.TestPlatform
17.4.0-preview-20220726-02	<== error
17.2.0 (latestStable) <== works
17.4.0-preview-20220707-01	<== work

[2022-08-11 08:47] nohwnd commented on #1026
@Haplois @Evangelink  did you get any update from AzDo about the progress of the fix? I know we talked with them a while ago.

[2022-08-11 08:58] nohwnd commented on #1107
Yes, introduced in mstest 2.2.9 fixed in mstest 2.2.10

[2022-08-11 12:34] Haplois commented on #1026
@nohwnd We didn't get an update - I pinged them.

[2022-08-11 19:17] Haplois commented on #1051
Binaries in the latest preview now contain commit hash as assembly metadata.

![image](https://user-images.githubusercontent.com/433724/184221321-b635e2b7-b253-4e10-8760-1f7feb783c07.png)

[2022-08-11 19:21] Haplois commented on #1026
They have a fix, and expect to ship it next sprint. I asked about exact date.

[2022-08-12 06:26] nohwnd commented on #1051
Please add the public version, I don’t want to be hunting commit ids to know what version the dll is.

[2022-08-13 12:46] notcake commented on #1028
Sounds like a duplicate of #1016, where test cases get ignored when they have the same display name.

[2022-08-13 21:51] mikebmcl commented on #1127
I've found a better workaround (though still not optimal). It's better because you can keep your app packaged, but it is not optimal because you need to do the testing from a console rather than in Visual Studio and there are some potential pain points associated with that (described below).

If you follow the instructions for "UWP Example" using [VSTest.Console from the command line](https://docs

[2022-08-15 02:04] mikebmcl commented on #1127
I solved the problem. What happened was that WindowsAppSDK stopped defining certain MSBuild properties beginning in version 1.1 that it defined in 1.0. There are also certain properties that changed. In total, there are four properties that need to be added to your .csproj now rather than the one property that the article mentions. Once these are added, if you followed the rest of the directions i

[2022-08-15 06:09] Nidolai commented on #1026
@Haplois Thanks for the update looking forward to it.

[2022-08-16 16:37] Cjewett commented on #1149
@Haplois any updates on this issue?

[2022-08-18 21:32] juharris commented on #1028
Thanks @notcake!
Doing
[code]
got the test to run in VS for me.

[2022-08-19 10:45] elgatov opened #1175 "Serialization issue with AppDomains and some dlls (e.g. log4net)"
## Description
Sometimes MSTest fails with 'Unable to find assembly' when searching for a nuget package dll

## Steps to reproduce
1. Load the project
2. Execute `TestMethodLog4Net1`

## Expected behavior
The project should always be able to find the `log4net` assembly and load it

## Actual behavior
Sometimes MSTest is not able to find the assembly. The problem can be (sometimes) worked around by

[2022-08-22 13:38] jlpaukner commented on #274
Ok ,  I had this issue, but figured it out.    (visual 2022 specflow 3.9.74)
 I had excluded the .cs specflow generated test files from the solution since they are recreated when project is built.
 The tests run even if the .cs are not included on the solution, but the test explorer only sees the source file only if  included.
![no source](https://user-images.githubusercontent.com/89228704/1859346

[2022-08-24 11:36] elgatov commented on #1175
Same bug appeared downloading the latest version from github:

[code]

## Environment
Windows 10 Enterprise N v1809 17763.1935
Test Execution Command Line Tool Version 16.11.0
Autofac v6.1.0
log4net v2.0.12
MSTest.TestAdapter v2.2.7
MSTest.TestFramework v2.2.7

[2022-08-25 09:45] nohwnd opened #1180 "Cannot provide 2 arrays to DataRow"
## Description

DataRow does not allow providing 2 array parameters..

## Steps to reproduce

Use `[DataRow(new[] { "a" }, new[] {"b"} )]` in a test.

## Expected behavior

I can provide any reasonable number of parameters in the same form. Possibly there are constructor overloads that take 1 - 7 parameters for DataRow, and DataRow is not sealed so I can add more.

## Actual behavior

You get erro

[2022-08-25 09:52] nohwnd commented on #1180
The issue in 2.3 is probably the same as this: https://github.com/microsoft/testfx/issues/1016

[2022-08-25 15:14] Evangelink commented on #241
@Haplois Is there any work we need to do for this issue?

[2022-08-25 15:15] Evangelink commented on #1154
Fixed by #1154

[2022-08-25 15:17] Evangelink commented on #481
Fixed by #1163

[2022-08-25 15:17] #481 closed

[2022-08-25 15:19] Evangelink commented on #866
Fixed by #1163

[2022-08-25 15:19] #866 closed

[2022-08-25 16:46] Evangelink commented on #1139
Closing this issue. Feel free to ping if you are still facing some issues.

[2022-08-25 16:46] #1139 closed

[2022-08-25 16:56] Evangelink commented on #930
Closing this issue. Feel free to ping if you have any other problem.

Thank you.

[2022-08-25 16:56] #930 closed

[2022-08-25 16:59] Evangelink commented on #670
Hi @Grauenwolf,

Thanks for the suggestion!
It seems that it didn't get much traction so we will close it.

[2022-08-25 16:59] #670 closed

[2022-08-25 17:01] Evangelink commented on #725
Hi @jozefizso,

Are you still experiencing the issue? If so, could you please follow the steps mentioned above by @nohwnd?

[2022-08-25 17:29] johnthcall commented on #1154
Fixed by #1172

[2022-08-25 17:52] #113 closed

[2022-08-26 07:41] Evangelink commented on #1154
Hey @johnthcall, thanks! And sorry for the typo :)

[2022-08-26 11:31] elgatov commented on #1175
According to [`Fuslogvw.exe (Assembly Binding Log Viewer)`](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer), `testhost.net48.exe` is looking for the NuGet package dll in the wrong folder (relevant lines bolded):

<pre>
<code>
*** Assembly Binder Log Entry  (26/08/2022 @ 9:43:32) ***

The operation failed.
Bind result: hr = 0x80070002. The system ca

[2022-08-29 15:12] Evangelink commented on #582
Fixed by #1194

[2022-08-29 15:12] #582 closed

[2022-08-29 15:15] Evangelink commented on #469
Fixed by #1194

[2022-08-29 15:15] #469 closed

[2022-08-29 15:16] Evangelink commented on #304
Fixed by #1194

[2022-08-29 15:16] #304 closed

[2022-08-31 19:03] charlesdwmorrison commented on #1026
Getting the next sprint date would be great.
As far as I can see, this change significantly breaks all test harnesses which are heavily Data Driven. I.e., test harness which have many rows in Excel, Access, or a Database. Teams following that methodology may have 100 test cases in one spreadsheet, with differ data rows of the spreadsheet testing different features, all going through one test metho

[2022-09-01 10:49] Haplois commented on #1026
I spoke with the product team again, the fix in release pipeline and will be deployed within this sprint (which will be ending on 12th of September). I couldn't get an exact date.

/cc @dogirala from the product team.

[2022-09-05 13:32] nohwnd commented on #522
@Evangelink  any plans to fix this in the near future, plese?

[2022-09-06 07:26] Evangelink commented on #522
I have just read through this thread and I agree with most people that this is a flaw/bug and not an enhancement request.

I have also looked at the code and at runtime recommendations and even for .NET framework our implementation seems buggy... As stated by the [documentation](https://docs.microsoft.com/dotnet/api/system.threading.thread.abort):

So when we abort we leave our test run in some un

[2022-09-06 08:01] nohwnd commented on #522
@Evangelink I thought I posted this into this thread, but apparently, I did not. I remember we at least talked about this. So for the record, I did change my mind about what I said above:

It is the cleanest to kill the process afterwards, BUT it won't solve the problem of not running the cleanup. Which is something that people really want, and for a good reason. Not all the cleanup methods will r

[2022-09-06 08:34] Evangelink commented on #244
Looks like this is no longer relevant issue.

[2022-09-06 08:34] #244 closed

[2022-09-06 08:47] Evangelink commented on #975
@nietras @bemobolo Are you still facing this issue? If so, could you provide a full repro please?

[2022-09-06 08:53] Evangelink commented on #941
I can reproduce the issue. Looks like the space is causing issue.

[2022-09-06 08:56] Evangelink commented on #674
@mpekurny @djluck Sorry it took us that long to have a look at the issues. Are you still experiencing any issue with newer versions?

[2022-09-06 09:18] Evangelink commented on #1175
Hi @elgatov, you are mentioning "sometimes fails" which implies you have some scenario where it works. Would you mind sharing it with me? I have tried a couple of versions of MSTest and Test.SDK but I never managed to have the test running (under VS 2022).

[2022-09-06 09:35] Evangelink commented on #719
Hey @danmincu. I don't know if you had time to confirm things are good now?
I'll move forward and close this ticket. If you have a repro of something that still fails, please either ping here or create a new issue.

[2022-09-06 09:35] #719 closed

[2022-09-06 09:39] Evangelink commented on #1035
@Shanayara @AF250329 @feruilob Are you still facing the issue with `2.2.10`? If so, would you be able to provide a reproducer so we can work on a fix?

[2022-09-06 10:18] mpekurny commented on #674
@Evangelink I do not know. We have moved away from using docker desktop since opening this ticket. Sorry.

[2022-09-06 10:31] elgatov commented on #1175
Hi @Evangelink,

I have had some success doing this:

1. Clean the project and delete `bin` and `obj` folders (may be unnecessary)
2. Update `MSTest.TestAdapter` to version `2.2.10`
3. Reinstall previous version of `MSTest.TestAdapter` (i.e. `2.2.8`)
4. Run the test

The following information will appear in the Output window under `Tests`:

and the test will pass:

![image](https://user-images.git

[2022-09-06 10:41] Evangelink commented on #674
No worries, thank you for taking the time to reply!

[2022-09-06 16:38] benjamin-hodgson opened #1222 "Console output from a child AppDomain is silently swallowed"
## Description

When a test method creates an appdomain, console messages from within that appdomain are neither captured by MSTest _nor_ outputted to the console.

## Steps to reproduce

`MsTestAppDomainExample.csproj`:
[code]

`ExampleTestClass.cs`:
[code]

Run the test using `dotnet test --logger "console;verbosity=detailed"`.

## Expected behavior
The detailed test log shown on the console sho

[2022-09-07 09:43] Evangelink opened #1225 "Create an analyzer suppression for CA1822"
## Description

When using [CA1822](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1822), a lot of false positives are raised on test members.

We should provide a suppressor to avoid all these false-positives.

AB#2050316

[2022-09-07 16:37] #1051 closed

[2022-09-08 06:01] nohwnd commented on #1051
@Evangelink thanks!

[2022-09-09 15:05] #1033 closed

[2022-09-12 18:46] Evangelink opened #1246 "MSTest 2.3.0 preview is causing binary breaking change"
See https://github.com/dotnet/roslyn-sdk/issues/1015#issue-1366369972

[AB#1614678](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1614678)

[2022-09-12 18:56] Evangelink commented on #1073
This will be available in 2.3.0

[2022-09-12 18:56] #1073 closed

[2022-09-14 13:03] Evangelink commented on #1154
Reopening the issue as changes are reverted. Long story short we misidentified the impact and as it is introducing some breaking changes we will postpone its fix in v3 of MSTest.

[2022-09-14 15:11] drieseng opened #1253 "Data-driven tests are not fully supported for overloaded test methods"
## Description
The MSTest V2 test framework does not appear to correctly support overloaded data-driven test methods.
Only tests for the first overload are actually found and executed.

## Steps to reproduce

Compile and execute the unit tests in the following code fragment:
[code]

## Expected behavior
The test results in both Visual Studio and the console runner report 4 tests: two for the `Equa

[2022-09-14 15:23] Evangelink commented on #1253
Hi @drieseng,

Thanks for reporting this!

I have just tested and can reproduce the issue you are seeing. I have also tested with `DataRow` and it's also failing. I will look into the design documents to see whether this is supposed to be a supported scenario (in which case we have a bug) or if this is something we should try to support (new feature/enhancement).

[2022-09-14 15:36] Evangelink commented on #1253
I cannot find any mention that supports the fact this is a supported feature and testing a few older versions I cannot see it ever working so I will consider this as a feature request!

[2022-09-14 15:37] Cjewett commented on #1149
@Haplois Any info regarding this would be much appreciated. We're running into more cases where developers want to upgrade MSTest but we're telling them no because it breaks some of our crucial in-house systems.

[2022-09-14 17:46] drieseng commented on #1253
@Evangelink, the fact that these are silenty ignored can already be considered ok. Perhaps there's no documentation that indicates it is supported, but there's also no document that says it isn't.

If support this overloaded methods is added, I suppose the signature (parameter types) of the overload should be included in the name of the test method.

For example:
[code]

To decide whether you'd wa

[2022-09-15 06:45] Evangelink commented on #1253
I understand that the behavior of silently ignoring is not ideal and should be fixed but detecting and raising some warning for this case is going to take the same time as actually implementing this request.

Besides, I am not saying we cannot support it. Actually, it's the opposite and that's why I flagged this as new feature.

Depending on the progresses we make with the scope of what needs to b

[2022-09-15 07:03] drieseng commented on #1253
@Evangelink, if you can point me in the right direction (and if you've decided how such overloaded test methods should be reported), I can try to take a stab at this.

[2022-09-15 07:52] Evangelink commented on #1253
I really appreciate that you are offering some help here! We are currently refactoring the way we produce the test ID because it is broken for datasources, I hope that he fix will either make this feature directly supported or easy to add.

Because of that, I would like to avoid having you working for nothing (or have to redo everything you did after our change). If that's ok with you, I'll ping y

[2022-09-15 14:19] Evangelink commented on #1246
Closed by #1251

[2022-09-15 14:19] #1246 closed

[2022-09-15 14:21] wangyuan8421 commented on #1035
@Evangelink Yesterday I debug this issue a little bit. The issue is still there. Here is the step to reproduce it.

- Windows 11, Visual Studio 2022, create a MSTEST project by default
- It will install ["MSTest.TestAdapter", "MSTest.TestFramework"] version 2.2.8
- The unit test will run and test without problem
-
<img width="754" alt="image" src="https://user-images.githubusercontent.com/74802417

[2022-09-15 14:35] Evangelink commented on #1035
@wangyuan8421 Can you see missing method `get_DataRow` in the logs? If not, I think this might be a different problem for which I would recommend to open a separate issue.

[2022-09-15 14:48] wangyuan8421 commented on #1035
Ah, @Evangelink, I checked the log and it missing `get_properties`. I will create a new issue then

[2022-09-15 15:00] wangyuan8421 opened #1256 "MSTest.TestAdapter > 2.2.8 "MSTestAdapter failed to discover tests in class" in Net 6.0 test project"
The most useful log message "Method 'get_Properties' in type 'Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.TestContextImplementation'
 from assembly 'Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' does not have an implementation"

## Description
We have a MSTest project target to Net 6.0

[2022-09-15 15:03] Evangelink commented on #1256
Thanks for reporting this issue! Would you have any demo/repro case we could use to debug?

[2022-09-16 18:56] andriusfl commented on #1050
Please see [this](https://stackoverflow.com/questions/71943832/test-data-disappearing-when-using-mstest-dynamicdata) for solution.

[2022-09-21 09:13] LukasGelke commented on #551
The simple Attribute-Workaround may work for "99,9%(TM)" of cases.
Our company now needs to migrate applications from net471 to net6. There are IntegrationTests in place, that check Forms/UserControls for design consistency. To do that it will create an instance of each Form, and read it's containing controls and properties. Just using reflection, or Roslyn Analyzers is not enough, as we need to e

[2022-09-21 18:51] vinayakmsft commented on #1035
Hi @wangyuan8421  is this issue resolved?

[2022-09-21 21:02] charlesdwmorrison commented on #1026
So when will milestone 2.3.0 be pushed out?

[2022-09-21 21:39] HarmanveerKaur commented on #1035
Hi All, I am facing an issue in a release pipeline and this issue looks similar to what i am facing.

VStest task in the release pipeline is not able to find a dll although it is present in the build artefact.
Error says- The test source file "D:\..........bin\x64\Release\Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll " provided was not found.

MSTest Adapter vers

[2022-09-21 22:43] wangyuan8421 commented on #1035
@vinayakmsft @HarmanveerKaur this issue is not solve yet. but I have a work around.
what I found is another issue. FYI: https://github.com/microsoft/testfx/issues/1256

[2022-09-22 02:54] HarmanveerKaur commented on #1035
<img width="946" alt="190446448-71eae19e-ce85-4392-9028-b3fae1369c37" src="https://user-images.githubusercontent.com/114098532/191647898-006ac729-3ef3-47c7-99a9-c5ed30f27582.png">

@wangyuan8421 are you talking about this workaround?

[2022-09-22 07:00] Evangelink commented on #1026
Hi @charlesdwmorrison! My mistake, I should not have put any milestone on this ticket, as far as we know, sprint ended on 12th of September and roll out is supposed to have happened (@dogirala could you confirm?).

If you have tested and you are still experiencing the issue, please let us know and we will ping Azure DevOps team.

[2022-09-22 07:02] Evangelink commented on #1035
Can you send us a zip or git repo reproducing the issue so we can test if current main of mstest fixed the issue or if we need to work on a fix?

[2022-09-22 07:26] dogirala commented on #1026
@Evangelink , @charlesdwmorrison I see the fix has been deployed but somehow it didn't reflect in microsoft which is strange. For microsoft org I still see old PTR task version which is 2.203.0, ideally it should be 2.210.0. I am checking with my team and concerned deployments team. Will let you know as soon as I find out something on this.
<img width="613" alt="image" src="https://user-images.git

[2022-09-22 17:25] dogirala commented on #1026
Got to know that this is expected as the deployments are still not completely done and they are in progress. Could not get any ETA but hopefully it will be deployed by this week.

[2022-09-23 05:28] vinayakmsft commented on #1035
@Evangelink Is there a DRI- handle name for issues related to Mstest test adpater/test platform

[2022-09-23 07:57] Evangelink opened #1274 "MSTest v3 Breaking Changes"
The goal of this ticket is to announce the upcoming breaking changes in MSTest v3.

Implemented:
- Following Microsoft .NET lifecycle
  - Dropped support for .NET Framework 4.5 (moved to 4.6.2)
  - Dropped support for .NET Standard 1.0 (moved to 2.0)
  - Dropped support for UWP before 16299
  - Dropped support for WinUI before 18362
  - Dropped support for .NET 5 (replaced with netcoreapp3.1 and .

[2022-09-23 08:04] Evangelink commented on #1101
Hi @vigneshbabuv! Sorry for the late answer, could you give us a little more details about your request?

[2022-09-23 13:48] HarmanveerKaur commented on #1035
@Evangelink I have sent the details on your microsoft email. Kindly take a look.

[2022-09-26 07:48] Evangelink commented on #1035
Hi @vinayakmsft. What do you mean by DRI handle name?

[2022-09-26 09:00] vinayakmsft commented on #1035
Hi @Evangelink its basically the ICM owner team name. So , can you please let me know what your ICM team name?

[2022-09-26 14:01] kkohler2 opened #1281 "No Source Available in Test Explorer"
Visual Studio 17.3.4

1. Start Visual Studio 2022
2. Create new Nunit Test Project
3. Go to Test Explorer and run all tests => default test passes
4. Expand Test Explorer and select the generated test
BUG: No source available.

Why is the source not available?  This is a new project with no settings changed.  This should work.

Nothing I tried from https://github.com/microsoft/testfx/issues/274 re

[2022-09-26 14:08] Evangelink commented on #1281
Hi @kkohler2,

I have just tried to repeat the steps you have described and I am not able to reproduce the issue you are describing (see screenshot below):
![image](https://user-images.githubusercontent.com/11340282/192297456-d82b8028-0e27-40dc-a3f6-897c7ebfb251.png)

Could you share a project that reproduces the issue? Could you let us know the version of VS you are using?

Also please note that

[2022-09-27 07:09] Evangelink commented on #1281
@kkohler2 I have been chatting with Test Explorer team and they confirmed issue was fixed so I am closing this ticket. Thank you for taking the time to raise this issue.

[2022-09-27 07:09] #1281 closed

[2022-09-27 08:02] Evangelink commented on #1256
Hi @wangyuan8421, sorry for the delay in answering your request! I have created a PR (https://github.com/wangyuan8421/MsTestAdapterBugDemo/pull/1/files) against your demo repository where I simply removed the references to `Microsoft.VisualStudio.TestPlatform` and now the tests are correctly discovered/executed:

![image](https://user-images.githubusercontent.com/11340282/192468818-0b3ac847-495d-4

[2022-09-27 08:02] #1256 closed

[2022-09-27 08:05] Evangelink commented on #889
Hi @SimonCropp! Sorry it took us so much time to answer and fix your issue.

I have linked a PR that adds an integration test to show issue is fixed and ensures we don't regress.

We will include this change as part of release v3 of MSTest. We cannot ship it as a `2.2.11` release as we were forced to drop support of some .NET Framework to bump the version of Test Platform we are using.

[2022-09-27 08:23] Evangelink commented on #725
I can reproduce the issue with NUnit and MSTest which would seem to indicate it's more of a problem on Test Platform side. I will keep this ticket here for now and will try to do more investigation.

[2022-09-27 08:54] SimonCropp commented on #889
@Evangelink thanks so much. please reach out if you need someone to do some beta testing of version 3

[2022-09-27 09:12] Evangelink commented on #889
With pleasure! I will ping you when we release the preview version. Thanks!

[2022-09-27 09:30] Evangelink opened #1284 "Convert MSTest to async pattern"
## Description

Currently MSTest is based on sync pattern on all the code and we fake async behavior through `.Wait()`, `.GetAwaiter().GetResult()` or `Task.Run`. It would be better to have MSTest fully async.

Note that on the adapter to Test Platform level, our entry points are not async and it won't be possible to convert these. It's ok as we can consider these methods as our main.

[2022-09-27 09:32] Evangelink opened #1285 "MSTest v4 Breaking Changes"
## Description

The goal of this ticket is to announce the upcoming breaking changes in MSTest v4.

### Planned

- https://github.com/microsoft/testfx/issues/1284

[2022-09-27 09:41] #889 closed

[2022-09-27 09:43] Evangelink opened #1286 "Introduce strategies for test ID generation"
## Description

MSTest has been through various strategies to generate test IDs and so far the changes have been done in a one choice only behavior. Through this ticket, we want to fix this issue by introducing strategies (via some enum) to let users decide how we should generate test IDs.

We have identified the following strategies:
- Legacy: strategy used by from v1 to v2.2.3
- Display name: st

[2022-09-27 10:22] Evangelink commented on #241
Closing this issue. Please feel free to comment if you are still facing some issue.

[2022-09-27 10:22] #241 closed

[2022-09-29 04:10] gaurav137 commented on #293
+1 on this ask. We want to capture the exception in TestCleanup via the logging infra that is being used to capture the rest of the tracing that the rest of the code is using. Currently our log files miss this last piece of information.

[2022-09-29 15:44] #667 closed

[2022-09-29 16:27] Evangelink commented on #606
I will move forward by closing this ticket because it seems like most issues have already been handled.

[2022-09-29 16:27] #606 closed

[2022-09-29 16:31] Evangelink opened #1297 "Disable appdomain usage by default"
## Description

Currently, we consider no information as "use AppDomain" by default. This is allowing to have good separation of concerns by default but as a performance cost.

We want to change the default to be "no AppDomain" except when explicitly asked for.

[AB#1711730](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1711730)

[2022-09-29 17:14] Evangelink commented on #919
Hi @nir-boger! Would you mind giving us a little more details about what you would like to achieve?

[2022-09-29 17:48] Evangelink commented on #1093
Hi @3s-ap! Thank you for reporting this issue! I have managed to reproduce the behavior.

[2022-09-30 07:37] nohwnd commented on #522
@Evangelink If possible, while you are fixing it, please also introduce a property to Timeout for grace period that would allow the cancelled code to actually tear down in additional timeout.

Or if not adding it right away, please keep it in mind when fixing so we can add it later.

[2022-09-30 07:45] Evangelink commented on #522
That's part of things I want to discuss this morning (standup or after). I will post back results of our discussion here.

[2022-09-30 13:57] Evangelink opened #1300 "Add public API analyzers"
## Description

We should add the public API analyzers to MSTest so that we better identify (and prevent unwanted) breaking changes to our public API surface. For more information about the analyzer please refer to https://github.com/dotnet/roslyn-analyzers/blob/main/src/PublicApiAnalyzers/PublicApiAnalyzers.Help.md

[2022-09-30 14:07] Evangelink opened #1301 "Enable nullable in repository"
## Description

Enable nullable feature so that we can identify and remediate potential null reference exceptions in our codebase. This will also help users extending our behaviors to better understand when we can/will pass null objects.

[2022-09-30 14:36] Evangelink commented on #721
Hi @jol64,

I have tried to run your example using `MSTest v2.2.10` and `Microsoft.NET.Test.Sdk v17.3.2` and after the 20s of the `Thread.Sleep` I see that the `finally` block is correctly called. In that case, the test is marked as passed.

You are mentioning that you are expecting some timeout, so I have tweaked your example to add `[Timeout(1000)]` in addition to the `[MyTestMethod]` definition

[2022-09-30 14:36] #721 closed

[2022-09-30 14:40] Evangelink commented on #707
I have tried a few things locally and I couldn't manage to reproduce the issue.

I will move forward and close the issue. @shueybubbles sorry for our late replies! Please feel free to open new issue(s) if you are experiencing any new issue with MSTest.

Thanks!

[2022-09-30 14:40] #707 closed

[2022-10-01 17:16] Evangelink opened #1304 "Drop TimeoutAttribute in favor of a property on TestMethodAttribute"
## Description

Currently, we have to combine a `[Timeout]` attribute with the `[TestMethod]` attribute. I think it would be easier to use and to discover if the timeout configuration was a property (or set of properties) of the `[TestMethod]` attribute instead.

Note that with current implementation, it's possible to define the attribute on the methods marked with `[TestInitialize]`, `[ClassIniti

[2022-10-01 17:30] Evangelink opened #1305 "Cancelling TestContext on non [Timeout] [TestMethod] should still cancel test"
## Description

With current implementation, the `CancellationTokenSource` property of the `TestContext` always allows you to cancel a test but if the `[TestMethod]` is not marked with `[Timeout]` nothing will happen. This seems like a confusing behavior and as a user I would expect that  my manual cancellation request is honored.

AB#2050315

[2022-10-02 17:58] dogirala commented on #1026
The fix is deployed now. All deployments are completed

[2022-10-03 06:52] Evangelink commented on #1026
I will move forward and close this ticket. Please if anyone is still experiencing issue either comment below or create a new ticket and we will handle it.

[2022-10-03 19:08] MattBussing commented on #1026
I'm confused. I thought there would be a new version of MSTest released to fix this issue. I'm not seeing a new version on NuGet.org.

https://www.nuget.org/packages/MSTest.TestFramework/2.3.0-preview-20220810-02#versions-body-tab

[2022-10-03 20:07] charlesdwmorrison commented on #1026
I am still seeing the same test case count as I have been for the past two years. In the test shown in the screenshot below, there are 126 data driven tests (in the form of an Excel spreadsheet). But the test results are only showing 1 test.
Where would the data driven counts show up?

![image](https://user-images.githubusercontent.com/24964349/193668878-da2e19f1-c90b-4d59-8d32-6b29282e1ee2.png)

[2022-10-03 20:15] ChristoWolf commented on #1026
I'm also a bit confused.
My understanding now is that the discussed fix from above is not a fix to MSTest but the test results view, i.e. that the new test results format will now be visualized similarly to before the MSTest test results format change, right?
How can I make use of this when using Azure DevOps Server (i.e. on-prem)?

[2022-10-03 20:21] dogirala commented on #1026
For on-prem I think you'll need to download the latest agent and configure it for the new changes to be included

[2022-10-04 09:04] Evangelink commented on #1026
Hey there! Sorry the messages weren't super clear.

The issue raised in this ticket wasn't linked to a problem in MSTest per say but it was linked to some change of behavior in MSTest (it should not have been done in a patch version) that wasn't reflected on AzDo side. AzDo team updated the behavior on their side and we were waiting for it to be deployed (according to @dogirala it was done 2 days

[2022-10-04 15:00] charlesdwmorrison commented on #1026
I believe that is correct, Our AzDo instance is hosted by Microsoft, but we have our own agent machines. So that is "not on prem."

[2022-10-06 09:03] #1164 closed

[2022-10-08 15:40] Evangelink opened #1316 "Change ClassCleanup default behavior to be "EndOfClass""
## Summary

Current behavior of `ClassCleanupAttribute` is to be run at the end of the assembly and not at the end of the class as the name would suggest.

Note that it is possible to change this behavior (locally with a ctor/property) or globally using `ClassCleanupExecutionAttribute`.

## Proposed Enhancement

Change default behavior to be `EndOfClass`. Although this is a breaking change, it wil

[2022-10-08 15:45] Evangelink opened #1317 "Drop `TestTimeout` enum and related overload on `TimeoutAttribute`"
The `TestTimeout` enum allows to specify an infinite time that will be used by the `TimeoutAttribute`. As the timeout attribute is optional, we fail to see why we would want to allow user to specify an infinite timeout when they can simply define no timeout.

[2022-10-08 17:34] #1300 closed

[2022-10-10 08:26] Evangelink opened #1324 "Official MS docs should contain up-to-date MSTest documentation"
## Summary

We should make sure to publish updated information on official MS docs website.

[2022-10-10 08:29] Evangelink opened #1325 "Revisit RFCs to have all features listed with up-to-date information"
Current RFCs are not listing all the features we are providing and are missing some information about context or status.

[2022-10-10 09:22] dogirala commented on #1026
For on-prem instances, as per my knowledge you need to configure a new Agent in the AgentPool section of organization for the latest changes to pick up:

![image](https://user-images.githubusercontent.com/100841140/194834782-14df611a-e32d-4a75-8a65-6b1eb19e33c8.png)

![image](https://user-images.githubusercontent.com/100841140/194834868-cc688d27-2b0c-4b50-91d1-25acf48bc157.png)

[2022-10-10 13:01] Evangelink opened #1327 "Align naming used for attributes/types allowing to control some behavior"
Currently the codebase mixed different naming: `Behavior`, `Mode`, `Option` and in the new [test ID generation PR](https://github.com/microsoft/testfx/pull/1306) `Strategy`. This is quite confusing and we should define one naming we want to use and apply it everywhere.

I would recommend to clone the existing class, mark the old one as `Obsolete` and suggest to use the new name. We could drop old

[2022-10-10 16:26] engyebrahim opened #1328 "Different behavior with TestContext.WriteLine() in [ClassInitialize] and [ClassCleanup] function."
## Describe the bug

Now if we add `TestContext.WriteLine(message)` in the `ClassInitialize` function, the "message" will appear with one (even if we have multiple tests) of the test function result. And if we have `TestContext.WriteLine(message)` in the `ClassCleanup` function, the "message" won't appear at all.

## Steps To Reproduce

Provide the steps to reproduce the behavior:

1. Add a test c

[2022-10-11 00:01] charlesdwmorrison commented on #1026
OK. I upgraded to agent version 2.210.1. I do see some changes, but the donut is still showing 1 test case for 126 data driven test cases. We can even see in the log that there are 126 cases.
Is there another place I could see the full test case count? Is there more info I can give you?

![image](https://user-images.githubusercontent.com/24964349/194969640-be43ce88-5e96-4939-9645-2f7ef10adad5.png)

[2022-10-11 02:03] dogirala commented on #1026
Ohh looks like you need to update your MStest adapter version as well. What is the MStest adapter version you are using?

[2022-10-11 14:46] Evangelink commented on #1016
We are working on the fix as I write these lines. I just wanted to mention/keep track of the fact that doing a test with `Microsoft.NET.Test.Sdk` version `17.3.2` and MSTest version `2.2.10` I can correctly reproduce the issue in VS (only 2 tests appear) but result is correct in command line (5 tests appear).

[2022-10-12 02:14] adcloeshelle commented on #1274
@Evangelink - Do you have a rough timeline on when these changes will be released? My team is particularly excited about https://github.com/microsoft/testfx/issues/1286 so we can upgrade to the latest versions while keeping the old Test ID behavior. Thanks for any information you can provide!

[2022-10-12 07:25] Evangelink commented on #1274
Hi @adcloeshelle, sadly we don't have any estimate at the moment. The ticket you are mentioning will fix a lot of issues in the backlog so we are actually reducing the scope of v3 so we can ship it as fast as possible. When I manage to get some release date I will ping here and set some date in the milestone too.

[2022-10-12 13:35] Evangelink commented on #1180
I have done some investigation on this and the problem is not the same as #1016 (there issue is linked to test ID uniqueness) while here error is compile time error and is linked to the signature of `DataRowAttribute`.

We will take advantage of the fact we are in a breaking change release to merge the 3 ctor overloads in only one accepting only `params object[] data`. I have checked xUnit and NUn

[2022-10-12 14:17] Evangelink commented on #1180
As far as I can see, there is a [DisplayName](https://github.com/microsoft/testfx/blob/main/src/TestFramework/TestFramework/Attributes/DataSource/DataRowAttribute.cs#L59) property that is settable so you should be able to manually override the name.

[2022-10-12 14:48] Evangelink opened #1333 "Improve display name when DataRow contains arrays"
## Summary

When the `DataRowAttribute` contains multiple items including at least one array, then the display name will display the type instead of unwrapping the values.

## Example

[code]

[2022-10-12 17:47] johanneshoehn opened #1335 "Allow IEnumerable of Tuples for DynamicData"
## Summary

Allow code like this:
[code]

## Background and Motivation

Commonly when using `DynamicDataAttribute` the test data is relatively complex.
The input for it needs to be passed as an `IEnumerable<object[]>`.
It's easy to mix up some elements, so they don't match the signature of the test function.
With big data rows it can also sometimes be difficult to read which element matches which

[2022-10-13 07:02] Evangelink commented on #1335
Hi @johanneshoehn, thanks for the suggestion! We will look into how we can improve the experience of `DynamicData` as-soon-as we are done with the Milestone v3.

[2022-10-13 07:29] nohwnd commented on #1180
Not sure if we are talking about the same problem. I was saying that I see weird behavior in version 2.3.0 and I think that it is already captured in issue #1016.

DisplayName is settable, but that does not solve the problem imho. To generate DisplayName I need to get the input data (method and params) and I get those in GetDisplayName.

I also most likely want to rely on the `base` implementation

[2022-10-13 07:36] Evangelink opened #1336 "Allow to override GetDisplayName method from DataRowAttribute"
DisplayName is settable, but that does not solve the problem imho. To generate DisplayName I need to get the input data (method and params) and I get those in GetDisplayName.

I also most likely want to rely on the `base` implementation of GetDisplayName, and only add some additional info, not re-implement the whole method from scratch or hide it. So imho GetDisplayName should be virtual.

_Origin

[2022-10-13 07:37] Evangelink commented on #1180
I understand although for `DataRow`, the elements are just inline so that's super easy to have access to them. For example:
`[DataRow(new[] { "a" }, new[] { "b" }, DisplayName= "MyMethod ([a], [b]")]`.

I still think it's easy enough to make `GetDisplayName` virtual and allow for custom behavior so I have created a new ticket to track this part: https://github.com/microsoft/testfx/issues/1336

[2022-10-13 07:37] #1180 closed

[2022-10-13 08:20] Evangelink commented on #941
This is not linked to the test ID generation but was linked to a bug in hierarchy processing. Updating our object model dependency fixed the issue.

I will close the issue and confirm fix will be included in v3.

[2022-10-13 08:20] #941 closed

[2022-10-13 08:22] Evangelink commented on #1018
This is not linked to the test ID generation but was linked to a bug in hierarchy processing. Updating our object model dependency fixed the issue.

I will close the issue and confirm fix will be included in v3.

[2022-10-13 08:22] #1018 closed

[2022-10-13 08:35] Evangelink commented on #975
Closing this issue as there is no activity. Please feel free to open a new issue or comment if you are still facing issue.

[2022-10-13 08:35] #975 closed

[2022-10-13 09:58] Evangelink commented on #1127
Really sorry for the super long delay folks...

@mikebmcl I remember that the 1st time I tried your repro I was able to see the issue but I cannot repro anymore. We tried to create a new repro but all our tries failed. Would you mind sharing if you are still able to reproduce the issue? If so what are the conditions (same project listed above? what steps are you doing? Would you mind also sharing

[2022-10-13 10:23] Evangelink commented on #1050
I am currently investigating this issue and it's not linked to the test ID generation (my initial thought). It seems to be linked to some interaction between Test Platform and MSTest because MSTest `2.2.3` does work as long as I stay on `16.X` of TP but using MSTest `2.2.4+` with TP `16.X` also fails.

I will dig deeper to understand what's going-on.

[2022-10-13 13:18] mikebmcl commented on #1127
@Evangelink I do still encounter it when using MSTestWinAppSDK11BugRepro above with Test11|x86 configuration.

`(Get-AppxPackage *windowsapprun*).PackageFullName
Microsoft.WindowsAppRuntime.1.0_4.528.1755.0_x64__8wekyb3d8bbwe
Microsoft.WindowsAppRuntime.1.0_4.528.1755.0_x86__8wekyb3d8bbwe
Microsoft.WindowsAppRuntime.1.2-experimental1_2000.572.710.0_x86__8wekyb3d8bbwe
Microsoft.WindowsAppRuntime.1.

[2022-10-13 13:24] Evangelink commented on #1127
Thank you! I will try to create a clean VM and see if I can repro because locally I can't :c

My runtimes are similar to yours (I don't have 1.2):

[code]

I have seen similar behavior. I am also ensuring that I uninstall app between builds (I am not super familiar with WinUI so I don't know if it could be messing up).

[2022-10-13 13:44] Evangelink opened #1338 "Improve error message when dynamic data is not static"
When using `DynamicData` if the target method/property is not marked as `static` the test message is not super helpful: `Non-static method requires a target.`.

We can improve wording by either catching specific exception and adding some descriptive message like or by having more smaller try/catch scopes so that we can tell if exception happened when invoking data, invoking test...

[AB#2027053](h

[2022-10-14 13:14] persn commented on #1097
Does anyone know this? It seems like it should be a simple question to answer.

[2022-10-14 13:20] engyebrahim opened #1340 "Assembly and class cleanup and init TestContext.WriteLine() don't appear in any place."
## Describe the bug

if you added TestContext.WriteLine() in class/assembly cleanup or init  won;t appear in any results/logs.
unlike the ones we added in the test cleanup/init.

## Steps To Reproduce

1. add TestContext.WriteLine() in classinit
2. add TestContext.WriteLine() in testinit
3. you will see the message from testinit in the test logs but will not see the one from classinit

## Expected

[2022-10-14 13:22] #1328 closed

[2022-10-18 06:21] Ildrial opened #1343 "MSTest.TestAdapter and MSTest.TestFramework package should be transitive (buildtransitive instead of build)"
## Summary

I would like to have the .props and .targets of MSTest.TestAdapter and MSTest.TestFramework transitive - similar as it was [suggested and implemented for Microsoft.Net.Test.Sdk](https://github.com/microsoft/vstest/issues/32270).

## Background and Motivation

I have the same test hierarchy scenario as described in the above issue and would like to distribute requirements via NuGets.
I

[2022-10-18 06:24] Evangelink commented on #1343
Hi @Ildrial, thanks for the suggestion. We will review it and make sure it doesn't have any unwanted side effect but that does sound like a good idea.

[2022-10-18 20:18] Evangelink commented on #1127
I have managed to reproduce the issue consistently! I have tweaked a little your csproj (see below) so that I can test the various combinations of `x86`, `x64`, `Test10` and `Test11`.

[code]

For Test10 (x86 and x64), the only way to have the test working (for me) was to add `<EnablePreviewMsixTooling>true</EnablePreviewMsixTooling>`.

For Test11 (x86 and x64), the only way to have the test worki

[2022-10-18 20:50] mikebmcl commented on #1127
That essentially matches what I have, yes. I define both

`<EnableMsixTooling>true</EnableMsixTooling>`

and

`<EnablePreviewMsixTooling>true</EnablePreviewMsixTooling>`

for all configurations.

WindowsAppSDK 1.0 does not reference `EnableMsixTooling` since the feature was still in preview then so including it does nothing. WindowsAppSDK 1.1 added `EnableMsixTooling`. SDK 1.1 checks for `EnablePr

[2022-10-20 17:19] Evangelink commented on #1149
@Cjewett Sorry it's taking us so long in handling your request but I am actively working on it now. In the PR linked, we are introducing some enum that allows to select the strategy used to generate the test ID.

A couple of side notes:
- There were some issues on our side that lead to new features and breaking changes to be added in patch versions (2.2.4+).
- The test ID change introduced in `2.2

[2022-10-24 12:34] Evangelink commented on #1127
Just a quick message to say that we (with `WinUI` team) are still investigating this issue.

[2022-10-26 01:19] charlesdwmorrison commented on #1026
Hi, sorry I've been gone for a while. Was in the hospital.
We are using Visual Studio 2017. We are not using a Nuget Package for either MSTest.exe, We use the MSFramework.dll that is installed on our local harddrives. We are not using any TestAdapater. We are on .Net framework 4.52. I have tried several versions of the MSTest.TestFramework in combination with various versions of the MSTest.TestAda

[2022-10-26 13:18] dogirala commented on #1026
Hi, I feel TestPlatform team can answers these questions better. @nohwnd can you or someone from your team please help clarify the above queries. To give you context, we have recently made a bug fix to resolve the duplicate testcase names observed for unittests with Mstest Adapter version 2.2.4+, wherein heirarchical display for data driven test is replaced with flat structure. @charlesdwmorrison

[2022-10-26 18:29] charlesdwmorrison commented on #1026
Just to be clear, what I am looking for is some method for Azure Devops to give an accurate count of the test executed. Since our tests are data driven by an Excel spreadsheet, we are looking, in effect, for Azure DevOps to measure the number of data rows we pass through a test method. In the above screenshot, the doughnut, in our opinion, should not say "1", it should say three because we passed

[2022-10-27 14:15] #1286 closed

[2022-10-27 14:17] Evangelink commented on #1016
Fixed through #1306

[2022-10-27 14:17] #1016 closed

[2022-10-27 14:18] Evangelink commented on #1028
Fixed through #1306

[2022-10-27 14:18] #1028 closed

[2022-10-27 19:05] Evangelink commented on #1175
Hi @elgatov and sorry for the long delay!

I haven't managed to have any successful run but I have identified that if you are disabling appdomain for your test (by adding `<DisableAppDomain>True</DisableAppDomain>` to the `<RunConfiguration>` section), the test is always passing.

I am not sure if the AppDomain is a strong requirement for you or not? Note that this is not available in .NET core/.N

[2022-10-27 19:33] Evangelink commented on #1050
Hey folks! It looks like it was fixed by some changes we did in MSTest in the new release we are working on. I have added a test case (and did some manual test) and I cannot repro on main of MSTest (I can repro using released version up to 2.2.10).

[2022-10-27 19:33] #1050 closed

[2022-10-28 13:24] elgatov commented on #1175
Hi @Evangelink,

Currently I am not aware of using AppDomain on the project. I have postponed adding `log4net` to the project indefinitely until the bug is properly resolved, so it is not a big issue for me.

Thanks for your input.

[2022-10-29 16:54] Baccanno commented on #353
This exact same issue has been raised before here and closed without even caring to answer : https://github.com/microsoft/testfx/issues/305
All people are saying the same simple thing. There is no way to retrieve the test DataRow in test initialization. And most are giving example.

People might have different reason to do so such as simply being able to create a Log file for each case.

So what i

[2022-10-29 17:08] Baccanno opened #1355 "Not able to get datarow attribute value in TestContext and initialization."
This exact same issue has been raised before here and closed : https://github.com/microsoft/testfx/issues/305
There is no way to retrieve the test DataRowAttribute data in test initialization.

People might have different reason to do so such as simply being able to create a Log file for each case.

So what is the solution or the workaround ? The only thing I can think of is cache the method argum

[2022-10-31 07:15] Evangelink commented on #1355
Hi @Baccanno! Thanks for the suggestion. I have looked at the linked ticket and there are multiple requests and confusion in there so I'd like to be sure of what you are trying to achieve. Do you want to be able to access to the test parameters during the test initialization (`TestInitializeAttribute`) and/or test cleanup (`TestCleanupAttribute`)? If so could you please explain your reasoning ther

[2022-10-31 07:21] Evangelink commented on #1175
@elgatov Sadly the default (no user input) is to use `AppDomain` so if you haven't manually disabled it, it's on by default. We are planning to change this default in some future release (see #1297).

Would you mind trying to specify `<DisableAppDomain>True</DisableAppDomain>` in the `.runsettings` file and letting me know if it solves all your issues or not?

[2022-10-31 09:23] Evangelink commented on #144
Closing this ticket as it is not bringing much value.

[2022-10-31 09:23] #144 closed

[2022-10-31 17:08] Evangelink commented on #979
Hi @Loic12345. I will move forward by closing this issue as we cannot reproduce and you didn't provide any repro case. Please feel free to comment and provide some repro and I will reopen the issue.

[2022-10-31 17:08] #979 closed

[2022-11-01 16:02] elgatov commented on #1175
Hello again @Evangelink, adding `<DisableAppDomain>True</DisableAppDomain>` to the `.runsettings` file does indeed fix this problem.

Thank you.

[2022-11-01 16:07] Evangelink commented on #1175
Awesome! Thanks for the confirmation.

I will move forward and close this ticket as fixed as this is enough for you. We haven't really had a lot of complaint/issues with serialization and AppDomains over MSTest history and .NET Framework is "dying" so we don't really want to invest too much effort there. Obviously, if we get other complaint/problems with AppDomain serialization we may want to inve

[2022-11-01 18:55] Evangelink commented on #522
Removing from milestone `3.0.0` as we need to synchronize and agree upon global decision (there are multiple tickets open and related to timeouts).

[2022-11-02 08:51] Evangelink commented on #848
Moving back MSTest to be CLS compliant would require some effort and we fail to see any good reason to do so. This concept is relatively old and is no longer a priority in modern development. Besides, test projects don't really need to be shipped or reused so being able to be CLS compliant doesn't seem to be such an advantage.

[2022-11-02 08:51] #848 closed

[2022-11-04 08:59] krijohan commented on #1146
I have also run into this issue: console output from tests running in parallell is mixed up when running `dotnet test`, but works as expected in Visual Studio.

[2022-11-04 09:03] Evangelink commented on #1146
Hey @StevenDenman @krijohan thanks for raising this issue and sorry it slipped triage. We will be investigating it soon.

[2022-11-04 15:46] mikeKuester opened #1368 "If the first argument of DataRow is an array, only the first DataRow is executed"
## Describe the bug

If the first argument in a DataRowAttribute is an array, the following DataRowAttributes are ignored / not executed.

Visual Studio 17.3.6
.NET 6 project
Microsoft.NET.Test.Sdk 17.2.0
MSTest.Test.Adapter 2.2.10
MSTest.TesFramework 2.2.10

## Steps To Reproduce

Two test methods with multiple DataRow items per test. One test with an array as first argument, one test with a simp

[2022-11-04 16:30] mikeKuester commented on #1368
This is really strange ...
If my first "dummy" argument is an `int` with different values, every test will be executed within VS:
![image](https://user-images.githubusercontent.com/93646587/200026558-fd9e896e-7ddd-4bf3-8ba8-5ff822fbcf58.png)

If I switch to a bool only two tests will be executed:
![image](https://user-images.githubusercontent.com/93646587/200026996-19ab4bb2-2894-451b-a247-ed8a19d4

[2022-11-04 16:32] mikeKuester commented on #1368
ARGGGHHH
Adding two images in one comment doesn't work?  This should be the first image:
![image](https://user-images.githubusercontent.com/93646587/200027633-56e14049-0d1c-41d1-b151-1bdebc514f1d.png)

[2022-11-04 16:45] Evangelink commented on #1368
Hey @mikeKuester! As you correctly found, there is a closed issue with the exact same problem, the fix will be shipped as part of MSTest v3.

To give you a little more context and explain you the difference between what you see in VS and in command line. Basically, VS asks MSTest to discover tests, we then return a list and VS is using each test ID as a unique identifier for run/debug. We have a b

[2022-11-04 16:45] #1368 closed

[2022-11-04 19:47] mrubinstein commented on #452
We are not seeing parallel execution at the data row level, using version 2.2.10.
Given the importance of this feature, it would be extremely helpful to document it (with setup), perhaps in the blog article.

[2022-11-08 00:08] charlesdwmorrison commented on #1026
Any update on this issue? It seems to me that this was the topic of this particular bug fix. Did the fix fix the issue?

[2022-11-08 08:33] Evangelink commented on #1127
Hey there! We identified a root cause of this error and filled a [Dev Community bug](https://developercommunity.visualstudio.com/t/Windows-App-SDK-11-Unit-Tests-not-laun/10192460) for a fix. We also identified some improvements on WinUI and MSTest sides and we also discussed a way to improve our testing matrix to reduce likelihood of such issue in the future.

Thanks again for your patience.

[2022-11-08 14:40] Evangelink commented on #1026
@dogirala Could we setup some meeting/call to discuss this? As far as I can see, the main difference is that up to 2.2.3 we (MSTest) were using `<InnerResults/>` for storing the instances of a parameterized test (e.g. `DataRow`) which was leading to some incorrect count. For example, assuming you have a test method with 3 datarows, you will see 4 items (`UnitTestResult`) in the  `.trx` file: 1 for

[2022-11-08 14:59] charlesdwmorrison commented on #1026
I am good anytime for a meeting.  What meeting platform would we use? Teams?

[2022-11-08 18:11] Evangelink commented on #1026
@charlesdwmorrison I will start by having a first call with @dogirala to sync on how things are working and what can be (or not) changed. If there are some floating point I will setup another meeting between the 3 of us and if things look ok, I will post back results of our discussion here.

[2022-11-09 09:02] Evangelink commented on #1146
@StevenDenman @krijohan I have managed to reproduce the issue. Thank you!

[2022-11-09 14:06] Evangelink commented on #1026
Hey there. Thanks for bearing with us. We did more investigation with @dogirala and here are the results.

# Code example

When running the tests for the following code:

[code]

# MSTest up to `2.2.3` (included)

## Result file (.trx)

The test result file (`.trx`) would look like this:

[code]

What's important to note is:

- the total number of tests is **5** and not **4** as we would expect.
-

[2022-11-09 14:10] Evangelink commented on #1026
@charlesdwmorrison We have run some tests and we are wondering if there might be some configuration issue on your end because you are saying that you are using the agent `2.210` and MSTest `2.2.10` but your screenshot is showing some grouping which should not happen in this combination. Could you double check the versions? Ensure MSTest adapter and framework are using the same version. Could you a

[2022-11-09 14:12] Evangelink commented on #1023
Hi @TroyWalshProf. I will move forward by closing this issue as it overlaps with #1026 and there are more discussions on the other ticket. Please comment on the other ticket.

[2022-11-09 14:12] #1023 closed

[2022-11-09 15:58] Evangelink commented on #1035
@vinayakmsft @HarmanveerKaur Sorry for the ping but I don't recall if we have sorted out this issue offline or is there still something to do?

[2022-11-10 17:17] charlesdwmorrison commented on #1026
Just want to mention I am working on making sure I am giving you the correct information.
We have some very legacy elements in our system, including the fact that our ADO is hooked up to a Team Foundation server as the source repository. I am making some changes to ensure that I am giving you the right info.

[2022-11-10 18:00] Evangelink commented on #1026
I don't know what's possible on your end but if you could create a simple MSTest project outside of any existing solution and pipeline and do a pipeline just building, testing publishing results of this project could help checking you have the same behavior by eliminating influence of some other factors.

[2022-11-11 01:17] charlesdwmorrison commented on #1026
P.S. It also could be that our TFS server is just not configured correctly. I would guess that its configuration has not been revisited since ~2015. It seems like it just doesn't deliver the source code developed in VS 2022 to the Azure DevOps agent correctly. The easy solution is to move to GitHub. Will try to help the team do it.

[2022-11-11 08:26] Evangelink commented on #1026
@charlesdwmorrison Awesome news! Thanks for keeping us posted with your results.

I will keep this ticket open as I do think there is some UX improvement that needs to be done on AzDo and will discuss with the their team how we can proceed.

[2022-11-11 11:00] Evangelink commented on #889
Hey @SimonCropp, we just released a pre-release version of MSTest v3.0.0. If you are still up to do some beta testing, we would really like to get your feedback as there are lots of cleanup/infra/bug fixes included already.

[2022-11-11 11:39] SimonCropp commented on #889
@Evangelink yep it now works with test that have no namespace.

[2022-11-11 11:47] Mertsch opened #1375 "MSTest v3 Assert.ThrowsExceptionAsync is marked as returns nullable"
## Describe the bug
MSTest 3.0.0-preview-20221110-04
`Assert.ThrowsExceptionAsync<T>` now returns `Task<T?>` which causes null ref warnings/errors everywhere.

## Expected behavior
`Assert.ThrowsExceptionAsync<T>` should return `Task<T>` (`where T : Exception`)

## Actual behavior
`Assert.ThrowsExceptionAsync<T>` returns `Task<T?>`

[AB#1675470](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b

[2022-11-11 11:53] Mertsch opened #1376 "MSTest v3 TestContext.Properties is marked as returns nullable"
## Describe the bug
MSTest 3.0.0-preview-20221110-04
`TestContext.Properties` now returns `IDictionary?` which causes null ref warnings/errors everywhere.

## Expected behavior
`TestContext.Properties` returns `IDictionary` or even better `IDictionary<string, object>`

## Actual behavior
`TestContext.Properties` now returns `IDictionary?`
https://github.com/microsoft/testfx/blob/511544c9bdf9ab4cd2

[2022-11-11 13:01] Evangelink commented on #1376
Hi @Mertsch, you are right, I incorrectly annotated some of the `TestContext` properties. I will review that and file a PR quickly.

[2022-11-11 13:05] Evangelink commented on #1375
Hi @Mertsch,

You are also right here. I got confused by the fact that the method does return `null` in some path but that path was indicated as unreachable in some method. I will fix the API and the code comments.

[2022-11-11 13:06] Evangelink commented on #889
Awesome thanks! If you are encountering any issue/regression with this pre-release, please raise an issue in the repo and we will make it high prio.

[2022-11-11 13:43] Evangelink opened #1377 "Update TestContext.Properties return type to IDictionary<string, object>"
## Summary

## Background and Motivation

Currently, the `TestContext.Properties` property returns `IDictionary` for compatibility reason. This is forcing users to rely on old-aged API where they could be using API coming from `Dictionary<string, object>`.

## Proposed Feature

Replace `IDictionary` with `IDictionary<string, object>` .

[AB#1707845](https://devdiv.visualstudio.com/0bdbc590-a062-4c

[2022-11-11 15:31] #1375 closed

[2022-11-11 17:09] #1376 closed

[2022-11-14 18:55] Evangelink commented on #1127
I will move forward by closing this issue as the fix won't be done in MSTest. As I said already, thank you all for your patience and the big investigation effort you did (special mention to @mikebmcl).

[2022-11-15 18:35] Evangelink commented on #655
Hi @icnocop,

Thanks for the bug report. I have looked at the implementation and we are using `Path.GetFullPath` which is throwing the exception you are mentioning above. That's a known limitation of .NET Framework, although for regular applications it's possible to work around this limitation using some app.config settings, this is not a feature supported by the Test Platform.

As the length chec

[2022-11-15 18:35] #655 closed

[2022-11-15 18:41] #502 closed

[2022-11-15 18:45] Evangelink commented on #1093
@engyebrahim This issue is somehow related to the various fixes you are doing on init and cleanup methods. Could you please investigate it after you are done with your refactoring?

[2022-11-16 21:38] charlesdwmorrison commented on #1026
Regarding Needed UX improvements here are some observations.
Things are not working when executing from a Test Plan.
What I am seeing that with the latest MSTest.TestAdapter, and the latest MsTest.TestFramework data driven tests ARE being reported correctly when executed from a "build" pipeline or a release pipeline.
However, the counting is NOT working correctly when the same tests are executed f

[2022-11-18 09:19] Evangelink commented on #1026
@dogirala What's the correct repository to track this issue? It doesn't seem to be related to MSTest.

[2022-11-18 14:01] mk185147 opened #1395 "Test discovery failures when F# tests with spaces in names in place"
It is common in F# to write test names as an English sentence. E.g., this is our test:
[code]

When I build the test in Visual Studio then in the Visual Studio output Tests window gets this message:
[code]

Nevertheless, the tests with whitespaces in names are shown in Test Explorer and I am able to start them:
![image](https://user-images.githubusercontent.com/68376920/202721766-813dcb81-ba5f-46e

[2022-11-18 15:33] Evangelink commented on #1395
Hi @mk185147! Thanks for reporting this issue. It seems to be a dupe of #941, that will be available in `3.0.0`.

[2022-11-18 15:33] #1395 closed

[2022-11-18 16:45] Evangelink commented on #634
I confirm that I can reproduce the issue raised here. Given the few upvotes and the fact this is "broken" since a long time, I will move forward by updating the documentation to mention this is not a supported behavior.

[2022-11-18 17:03] Evangelink commented on #1149
@Cjewett Would you be open to test out preview version of MSTest v3 to confirm this is correctly solving your issue? From our internal testing, it is ok but it's always better to have more feedback?

[2022-11-18 17:06] Evangelink commented on #1121
Hey @sharkk121, sorry for the huge delay, your issue is next on my list. I am starting the investigation at the moment and expect to post some results early next week.

[2022-11-18 18:11] mike-loux-planview commented on #1175
We are having the same issue with our flagship web app, and turning off the AppDomain is not an option for us.  Is there some kind of workaround we can do (possibly as part of a ClassInitialize or even a pre-test step) where we can programmatically identify where the test runner resides, find log4net.dll (it should be in <TestProject>/bin/<Configuration>) and copy it into the test runner location?

[2022-11-18 18:58] Cjewett commented on #1149
@Evangelink Definitely! I’ll be able to bump one of our CI processes next week to check the changes.

[2022-11-21 08:55] Evangelink commented on #1149
I will do another preview release early this week as my previous release was containing some issues with nullability.

Thanks for the beta testing @Cjewett, that's highly appreciated.

[2022-11-21 09:00] Evangelink commented on #1175
Hi @mike-loux-planview, thanks for the bump. I will need to do more investigation to understand exactly what's causing the issue before being able to provide a fix or workaround as I only did a shallow search so far and directly stumbled upon the fact that the serialization issue could be linked to app domains.

Let me reopen the issue (but I will have to remove the milestone because my bandwidth

[2022-11-21 09:26] #634 closed

[2022-11-21 13:54] mike-loux-planview commented on #1175
Thanks, @Evangelink!  I understand all too well about short bandwidth.  Appreciate you taking the time (however small or long) to look into this some more.

[2022-11-21 20:32] Evangelink opened #1400 "MSTest framework is not localized"
## Describe the bug

Change culture using for example `DOTNET_CLI_UI_LANGUAGE` and then run some failing assertion (e.g. `Assert.Equal(0, 1)`) through `dotnet test`. The UI will display assertion failure in English.

## Steps To Reproduce

1. Change culture using for example `DOTNET_CLI_UI_LANGUAGE="fr-fr"`
2. Add some failing assertion (e.g. `Assert.Equal(0, 1)`)
3. Run test (e.g. `dotnet test`.)

[2022-11-21 20:33] Evangelink commented on #1400
Fixed by #1397

[2022-11-21 20:33] #1400 closed

[2022-11-21 21:47] Evangelink commented on #1343
Hi @Ildrial, I will move forward by marking this issue as won't fix. We did a rollback on vstest side as there were unexpected consequences.

Besides, it seems that NUnit and xUnit are also both avoid the build transitive configuration.

Please do keep suggesting improvement here!

[2022-11-21 21:47] #1343 closed

[2022-11-22 02:30] dogirala commented on #1026
hello @Evangelink, @charlesdwmorrison. I was OOF last week. Will take a look at this today and get it tracked accordingly.

[2022-11-22 20:30] Evangelink commented on #1121
Alright so I did some progress in the investigation. MSTest is using `DataContractJsonSerializer` to serialize data. This serializer works well for primitive types and any type annotated with `DataContract` but not for other types. In case of you 1st attribute, you only use primitive types, so serialization happens and consider all items to be string while when you introduce the complex type, seri

[2022-11-23 21:56] Evangelink commented on #1149
I have published the new pre-release: https://github.com/microsoft/testfx/releases/tag/v3.0.0-preview-20221122-01.

Let me know if that's not fixing your issue.

[2022-11-23 21:57] Evangelink commented on #1376
Hi @Mertsch, I have published the new pre-release version if you are interested: https://github.com/microsoft/testfx/releases/tag/v3.0.0-preview-20221122-01

[2022-11-23 22:26] Evangelink commented on #456
I will mark this as fixed because the property is listed in the official API doc: https://learn.microsoft.com/dotnet/api/microsoft.visualstudio.testtools.unittesting.datarowattribute.displayname

[2022-11-23 22:26] #456 closed

[2022-11-23 22:48] Evangelink commented on #675
Hey folks! Really sorry for the huge delay in handling this regression.

We will fix it in the next version of MSTest (v3).

@engyebrahim you can refer to the class/method mentioned by @aukevin. In this conversion method, you can set `Environment.MachineName` in the property.

[2022-11-23 22:57] Evangelink commented on #927
Hi @MSLukeWest,

I am slowly taking over MSTest.

Could you confirm this is still an issue for you? Given the delay, I am wondering if the version is still a matter/supported.

[2022-11-23 23:04] Evangelink commented on #612
It looks like this is a stale issue. MSTest now has `ThrowsException` overloads with `Action` or `Func` (see https://learn.microsoft.com/dotnet/api/microsoft.visualstudio.testtools.unittesting.assert.throwsexception).

[2022-11-23 23:04] #612 closed

[2022-11-23 23:09] Evangelink commented on #483
Hey folks. This is a super confusing behavior of MSTest! Basically `ClassCleanup` default mode is equivalent to `AssemblyCleanup` and is run only after the last test of the run. There is a property you can use to change this `[ClassCleanup(ClassCleanupBehavior.EndOfClass)]`.

Note that we are planning to change the default in the next major release of MSTest (after v3), see https://github.com/micr

[2022-11-23 23:09] #483 closed

[2022-11-24 06:53] #1340 closed

[2022-11-24 07:36] Mertsch commented on #1376
@Evangelink Looks much better :-) But still a few nullable issues remain. I will open separate issues for those.

[2022-11-24 07:45] Mertsch opened #1402 "MSTest v4 Assert.ThrowsException should allow Func<nullable> as parameter"
## Describe the bug
MSTest 3.0.0-preview-20221122-01
`Assert.ThrowsException` expects a `Func<object>` which causes null ref warnings/errors when specifying a `Func<object?>`

## Expected behavior
`Func<object?>`

## Actual behavior
`Func<object>`

https://github.com/microsoft/testfx/blob/fc1be70c740fb0e527364b3058ae9739ccda5fa9/src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs#

[2022-11-24 07:55] Mertsch opened #1403 "MSTest v4 TestContext properties should not be nullable"
## Describe the bug
MSTest 3.0.0-preview-20221122-01
`TestContext.TestName` is nullable, which is technically correct, but makes no sense to me.

## Expected behavior
"All" (those which make sense) Properties of `TestContext` should not be nullable and throw an exception if the underlying property dictionary has those properties removed or replaced by nulls.

Example:
`public virtual string TestNa

[2022-11-24 08:05] Mertsch commented on #1355
I always have the same issue. I want `TestContext.DataRow` to be what it should be :-)
If that is not possible maybe we can get a `TestContext.TestData`?
And maybe a `TestDataAttribute` which does exactly what `DataRow` does today, but to avoid naming confusion.

Or maybe we can have the `TestData` as value in `TestContext.TestData`.
Would make life so much easier!

I am **not** in favor of `TestI

[2022-11-24 10:42] Evangelink commented on #1403
Hi @Mertsch. I have changed labels to be an improvement because current implementation does return null sometimes but I agree with you that given my current knowledge of the codebase there is no good reason not to make it non-null and throw if property is not found in the bag.

Codebase needs a good cleanup and consolidation that we are planning to do.

[2022-11-24 10:44] Evangelink commented on #1402
Yep this one is probably still an error on my side so I will make it straight for the MSTest v3 directly. Adding nullable on MSTest wasn't super easy given the current coverage.

[2022-11-24 12:51] Mertsch commented on #1403
I am not sure, but isn't `string?` breaking? We are getting null ref warnings all over the place for `TestName` which is new in 3.x compared to 2.x where we optimistically assumed those were `NotNull`.

If you plan on keeping the code as is shouldn't the class be excluded from nullable ref types feature. To not break existing customers.
I personally would still be using v3 and just "bang" `!` ever

[2022-11-24 14:25] Evangelink commented on #1403
That's a good suggestion. I need to double check if the well-known property could be somehow overridden and if not it might be safer to assume they are not null. Let me think about it.

[2022-11-24 14:41] Evangelink commented on #1355
It feels like something that should be generic enough to also handle `DynamicData` but also probably provide other information to user. I am not sure how far we should go (for example we could simply expose the test method object we have and that would contain the method name, signature, display name, args...).

[2022-11-24 14:55] #1402 closed

[2022-11-24 16:16] builder-main commented on #1355
I'm not sure you're mentioning the latest because of my example, I was indeed showing what I need but don't want to do to retrieve the test parameters vs what I'd like to do that is as you perfectly said :

@Evangelink I totally agree with the `DynamicData` route as well, we have a bunch of tests using it.

[2022-11-25 15:20] charlesdwmorrison commented on #1026
Any updates on this? My team relies heavily on running tests from test plans.

[2022-11-25 16:16] Evangelink commented on #1253
Hey @drieseng, test ID feature is merged and I am done with the first pass of big refactorings. Let me know if you are still interested and I will try to find the place where the change would be needed.

[2022-11-25 16:18] Evangelink commented on #674
I will move forward by closing this issue as there is no repro and no activity. Please reply here or create a new issue if you are having the same issue.

[2022-11-25 16:18] #674 closed

[2022-11-25 16:28] Evangelink commented on #1274
@adcloeshelle We have published some pre-release version if you want to test it out and confirm this is fixing issues for you.

[2022-11-25 16:31] #675 closed

[2022-11-25 18:15] Evangelink opened #1411 "RFC: Ignore/Skip test or test case"
# RFC: Ignore/Skip test or test case

~- [ ] Approved in principle~
- [x] Under discussion
- [ ] Implementation
- [ ] Shipped

## Summary

Improve test/test case skipping mechanism.

## Motivation

Today, it is possible to use [IgnoreAttribute](https://learn.microsoft.com/dotnet/api/microsoft.visualstudio.testtools.unittesting.ignoreattribute), that can be set on a method or on a class to allow ig

[2022-11-25 18:30] Evangelink commented on #1101
I will move forward by closing this issue. Please feel free to ping back here or to open a new issue.

[2022-11-25 18:30] #1101 closed

[2022-11-25 18:30] Evangelink commented on #910
Closing this issue as it's only listing a group of issues.

[2022-11-25 18:30] #910 closed

[2022-11-25 18:40] Evangelink commented on #1015
@GaneshMarkad11 Are you still reproducing the issue?

[2022-11-25 18:57] Evangelink commented on #559
I will close this issue, AFAIK we do support 0 similarly to Test Platform.

[2022-11-25 18:57] #559 closed

[2022-11-25 18:59] Evangelink commented on #702
I am moving this issue to Test Platform because MSTest correctly emits the property, problem is on Test Platform side which isn't translating it into the trx.

[2022-11-25 19:02] Evangelink commented on #821
@saiparth Is it something you are still interested in having?

[2022-11-25 19:03] drieseng commented on #1253
@Evangelink: sure, I'll be happy to help.

[2022-11-25 19:06] Evangelink commented on #345
@dogirala Do you know if there is a way to retrieve these secrets?

[2022-11-25 19:10] Evangelink commented on #1253
Awesome, I'll get back to you early next week (or during weekend) with where you could start!

[2022-11-27 03:21] saiparth commented on #821
Yes, Is there solution?

[2022-11-28 10:41] Evangelink commented on #821
Not sure, I need to look into it. I just wanted to confirm there was a need for it.

Could you confirm the kind of usage you would like to achieve? Because depending on them, there might be a need to use Test Platform (or not).

[2022-11-28 10:54] saiparth commented on #821
I am looking for support of orderedtest in MSTEST V2. There was an option in V1 which displayed all unit test in project and we could generate a xml file by picking specific testcase. Good thing was execution order was same as test names in external file even though it was the list was not alphabetical order.

Using some tools we can run the test from external files. But it wont execute in the ord

[2022-11-28 11:00] Evangelink commented on #821
I will make tests but I fear that to run in order you would need to call MSTest n times with 1 test per call.

[2022-11-28 11:03] craigbrown commented on #1097
Hi @Evangelink sorry to tag you in this but not sure how else I can get a response! I'm not sure if my issue was missed.

[2022-11-28 11:12] Evangelink commented on #1097
Hey @craigbrown, no worries for the direct ping. I saw this issue but couldn't look into it yet. It seems that there are a bunch of related issues for `DeploymentDirectory`. Looking quickly at the code, it seems that we expect some parts to be set by the Test Platform. There is not much information, design or test that would help me with having the right behavior for this.

I will look more deeply

[2022-11-28 11:16] Evangelink commented on #1403
I had a quick look and we need to do another good refactoring because having this abstract class uninitialized forces us to assume null values. Looks like some properties are also set later in the process, I am not sure if we could change the shape and time to ensure this is not null too.

We will work on this for MSTest v4 as you suggested, this would help signaling "breaking change" for users.

[2022-11-28 11:27] craigbrown commented on #1097
@Evangelink thank you! I haven't checked previous versions but I don't remember it ever working the same way between .NET Framework and Core.

[2022-11-28 11:51] Evangelink commented on #1097
Yep it's broken since the start and wasn't available for MSTest v1. PR adding the implementation is #565. This looks like this in new code: https://github.com/microsoft/testfx/blob/main/src/Adapter/MSTestAdapter.PlatformServices/Deployment/TestRunDirectories.cs#L63-L73

I don't see any good design or argument motivating this change of directory. I will try to update this and see what's the impact,

[2022-11-28 11:58] Evangelink commented on #571
@shirishnagarnz @Grauenwolf I have also checked and confirm this is not available at the moment. I don't think it would be super complex to implement but we would need to design this correctly.

Out of curiosity, are you expecting to have some tests of a class to be "soft" and the other "hard" or would it be a good compromise for you to say all tests of a given test class would be doing "soft" ass

[2022-11-28 12:23] N-Olbert commented on #821
@Evangelink Since you were interested in this issue and seem make a roadmap for MSTest v3 and v4.... are there any plans to fix the main reason for this request and provide a way to specify the execution order of the tests (by an attribute, a custom IComparer-instance that has to be registered somewhere or whatever). Even if the corresponding issue #25 has already been closed, I think this is an i

[2022-11-28 16:19] Evangelink commented on #1097
@craigbrown Thanks for the ping, fix will be part of the MSTest v3 release :)

[2022-11-28 16:21] craigbrown commented on #1097
@Evangelink awesome, thanks!

[2022-11-28 16:21] Evangelink commented on #1121
Hi @sharkk121, so the fix is going to be quite big as it requires changing the serializer used. I will postpone the fix for v4. In the meantime, you can use the trick described by @Haplois:

[2022-11-28 17:03] #1097 closed

[2022-11-28 18:41] MSLukeWest commented on #927
@Evangelink - While this issue can still be reproduced, it's not very impactful because most users don't need to run tests using projects with TargetPlatformMinVersion < RS3 (10.0.16299.0).

[2022-11-28 18:47] CameronBellNZX commented on #1154
Just to confirm, is `[CallerArgumentExpression]` not supported at all currently by MSTest? Meaning no methods using the attribute would be able to be unit tested using MSTest?

[2022-11-28 22:59] Cjewett commented on #1149
@Evangelink I don't think this new version solves the issues but some pieces behave quite a bit different than 2.2.3. Mainly the UnitTestResult is formatted differently for DataRow and DynamicData tests, so it's hard for me to say if it is correct or not. Using https://github.com/Cjewett/TrxTestIdIssue as the reproduce project.

With the project set to use version 2.2.3 and using the [most simple

[2022-11-29 01:24] algjohnston opened #1415 "Test setup for winui3 is out of date"
Follow the steps here to make a winui3 project.

https://learn.microsoft.com/en-us/windows/apps/winui/winui3/create-your-first-winui3-app

See the only documentation on the web by Microsoft that describes how to set up tests for winui3.

https://devblogs.microsoft.com/ifdef-windows/winui-desktop-unit-tests/

[2022-11-29 08:24] Evangelink commented on #1415
Hi @algjohnston,

Are you referring to the versions of test SDK and MSTest shown in the blog post or are you referring to something else?

[2022-11-29 08:26] Evangelink commented on #1154
If your method has some argument marked with the `CallerArgumentExpression` attribute there is no problem for the method to be tested. The goal of this ticket is to rewrite MSTest assertions methods to be using this attribute so that if the user provides no custom message we can provide a better default message (being the caller expression).

[2022-11-29 08:55] Evangelink commented on #927
I did some investigation and indeed there were some implicit breaking change done by updating Test Platform. It's going to be too complex to do any fix on older versions because of all the other changes...

On MSTest v3, I have made it explicit that we are dropping some older target frameworks that are no longer supported (see https://github.com/microsoft/testfx/issues/1274#issue-1383430926).

I w

[2022-11-29 11:58] Evangelink commented on #927
After discussion with management we agreed on doing nothing as the issue is quite old and the number of impacted users is quite low.

[2022-11-29 11:58] #927 closed

[2022-11-29 12:03] Evangelink commented on #821
Hey @N-Olbert. Yes, I'd like to work on a feature to give users the ability to have better control on the order of their tests but I haven't yet given enough thoughts to suggest something now. For sure, it won't be part of v3, I will see if it could fit v4.

[2022-11-29 12:11] Evangelink commented on #653
@Daniel-Svensson Sorry for the huge delay in handling this issue. I just cloned your repository and tried to run from VS2022 and the 2 tests are green:
<img width="952" alt="screenshot-VS2022-mstest1" src="https://user-images.githubusercontent.com/11340282/204525577-7a6480c3-c048-4042-ba88-e5b0e4dd8ce0.png">

I have also tried using latest MSTest (2.2.10) and latest test SDK (17.4.0):
<img width="

[2022-11-29 12:12] Evangelink commented on #1035
I will move forward by closing this issue. Please let me know if there was something else to be done.

[2022-11-29 12:12] #1035 closed

[2022-11-29 12:44] Evangelink commented on #1027
Hi @Tohnmeister, sorry for the huge delay in looking into this issue. Could you please upload some repro because I am not sure if I have the right setup or not and I cannot reproduce the issue. I expect it's a problem of configuration on my side.

[2022-11-29 17:24] Evangelink commented on #1149
Hey thank you so much for the testing! I am able to reproduce the issues you have been raising, sorry I missed this end-to-end test. I tested successfully that what we were returning to vstest was good and stable but I wasn't anticipating that vstest was having specific code messing up with the logic for MSTest...

Also, your test wasn't complete as you are using the new test ID strategy (I enable

[2022-11-29 20:48] CameronBellNZX commented on #1154
Ahh I see, thanks for the clarification

[2022-11-30 00:08] algjohnston commented on #1415
There is no images folder or wapproj folder. It is pretty easy to set up ignoring those parts though.

[2022-11-30 08:28] Evangelink commented on #1415
Hum not sure how this relates to mstest. Could you please elaborate?

[2022-11-30 10:05] #1336 closed

[2022-11-30 11:47] Evangelink commented on #1054
@nohwnd What kind of data source are you referring to? Could you provide a more complete example?

[2022-11-30 12:29] Evangelink commented on #821
I had a quick look and sadly with current architecture, there is no way for you to control the order. As I said previously, you would need to make a lot of calls with 1 assembly and a filter to match only 1 test of that assembly.

As for the programmatically doing the calls, you can:

1. Make multiple calls to `vstest.console.exe` or `dotnet test` with 1 source and a filter for each test. See http

[2022-11-30 12:41] Evangelink commented on #1415
@Scottj1s for guidance on this request.

[2022-11-30 12:43] Evangelink commented on #919
Ping @nir-boger

[2022-11-30 12:55] Evangelink commented on #1024
Hey folks. As explained in the linked issue, this change was done to align with how xUnit and NUnit are working. There was a big issue on our side as the change was done within minor version and no clear communication so I understand the frustration.

Note that with v3, we introduce an assembly level attribute that allows you to revert to legacy test ID generation which keeps the hierarchical stru

[2022-11-30 13:59] engyebrahim opened #1421 "DataRow: allow to specify a method doing the generation of the display name"
## Summary

Implementing a feature where user could specify the name (and type) of a method doing the generation of the display name Similarly to DynamicDataDisplayName

[AB#1708305](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1708305)

[2022-11-30 14:12] Evangelink commented on #1056
We could introduce some caching mechanism for the various attributes but that doesn't seem ideal.

Attribute objects are supposed to be transient and in general a constructor should be fast and slower initializations should be moved to methods (ideally `async`).

I guess the gain would be usually neglectable except for "badly designed" attributes as the one showed above.

Based on that, I will mov

[2022-11-30 14:12] #1056 closed

[2022-11-30 16:24] Evangelink commented on #887
Hi @odalet,

Thanks for reporting this issue and sorry it took so much time to review it!

Your reproducer is not totally right and currently it's working mainly because the lambda is not yet triggered by the time you reach the assertion on Windows while it is on Linux.. By updating the repro as such:

[code]

You will have the same behavior in Windows/Linux.

On Windows, I still can see some diff

[2022-11-30 16:27] Evangelink commented on #812
I will mark this issue as closed as there are not many request to support building (partially) repo on non-Windows OSes.

[2022-11-30 16:30] Evangelink commented on #913
Relates to #571

[2022-11-30 16:34] Evangelink commented on #453
Given there is no activity here and no upvotes, I will move forward by closing this issue. Please feel free to comment here if you are still facing this issue.

[2022-11-30 16:34] #453 closed

[2022-11-30 16:37] Grauenwolf commented on #571
Honestly, I could say. This is something that we should have people try both ways to see which is better.

There is a risk of confusion if soft and hard asserts are mixed.

But if they can't be mixed, it may make some tests harder to write.

That said, we may not have a choice. It may turn out that the syntax dictates that both have to be offered.

[2022-11-30 16:49] Evangelink commented on #713
When implementing this change, we need to check for the test ID generation strategy as the DisplayName strategy uses the display name as part of the ID generation. This means that updating DisplayName will be considered as breaking change, causing ID instability.

This is however fine for the other strategies.

[2022-11-30 17:00] Evangelink commented on #727
I don't see any constraint on MSTest side to implement this feature but I am not sure if it would be handled by the specific Test Platform of UWP. My understanding is that there is a specific "freezed" version of TP for UWP.

@MSLukeWest could you confirm that if this is added to the `UnitTestResult` for UWP, it would be handled correctly on TP side?

[2022-11-30 17:03] Evangelink commented on #764
@mujdatdinc is this something you are still interested about? If so, could you please provide more information about what you are trying to do?

[2022-11-30 17:11] Evangelink commented on #140
Given there is no upvotes here I will move forward by closing this ticket.

[2022-11-30 17:11] #140 closed

[2022-11-30 17:14] Evangelink commented on #421
I will move forward by closing this issue as this tool is part of the legacy tools.

[2022-11-30 17:14] #421 closed

[2022-11-30 18:23] MSLukeWest commented on #727
@Evangelink For the most part UWP will run against the latest test platform binaries, so I think this would work.  If you tell me the name of the assembly that would contain the fix I can double check this for you.

[2022-11-30 23:49] algjohnston commented on #1415
I did find this later, and it describes a similar process with the main difference being the inclusion of "coverlet.collector"
https://learn.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-mstest

I was not sure if winui3 made test set up different, but it appears it does not.