[2019-03-07 18:21] AbhitejJohn commented on #574
@acesiddhu : Should we evaluate the use of [JoinableTaskFactory](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.threading.joinabletaskfactory?view=visualstudiosdk-2017) to achieve this for Net Framework based tests as well? Nuget [link](https://www.nuget.org/packages/Microsoft.VisualStudio.Threading/).

[2019-03-07 18:52] GearedToWar commented on #574
Using JTF is how users are working around the issue.
Fixing the misleading documentation is the first step. However, if we intend to make the attribute more useful beyond its current limitations, the code-behind should be augmented as well.

[2019-03-07 20:28] ykelanemer commented on #28
Hi,
I got the same error:
Error] An exception occurred while invoking executor 'executor://mstestadapter/v2': Object '/xxxxxxxxxxxxxxxxxxxxxxxx/fzkml+xnaloancmasqkrp2mv_9.rem' has been disconnected or does not exist at the server.
I upgraded the MSTest.TestAdapter and MSTest.TestFramework to point to version 1.2.0 and the issue was fixed.
Thanks a lot!

[2019-03-07 21:54] acesiddhu commented on #574
I will rather evaluate how many customers need this. Running code that needs to be run on ui thread as part of test seems a corner scenario to me unless I am missing something. I haven’t heard that feedback before. Do u have customers who want this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohit Chakraborty <notifications@github.com>
Sent: Friday, March 8,

[2019-03-07 22:07] ionsphere commented on #304
I'm blocked. Unit tests are supposed to test my ClassLibraries. All the libraries are targeting .NETStandard 2.0. Then why should a Unit test target anything else?

Voting for **REOPEN**

[2019-03-07 22:59] dotMorten commented on #304
@ionsphere You need a runtime to run your tests on. Do you want to run your tests on .NET Framework, .NET Core, Mono, UWP .NET Core, or... and which version of any of those?
There's not such thing as a .NET Standard app, and thus there are no such thing as a .NET Standard Unit Test. You have to the very least reference your class library from a runtime-specific project and execute it in that conte

[2019-03-08 00:43] ionsphere commented on #304
If I have a library that I want to make sure runs on any NET Standard, why shouldn’t it be possible? Isn’t the point of having a regency in VisualStudio stating “NETStandardLibrary 2.0” means all applicable references of that library set? And if so, how testing on NET Core 2.2 proves that the library can run on any NET Standard? There is quite a chance that it may end up requiring NET Framework 4.

[2019-03-08 00:53] ionsphere commented on #304
A unit test is not only checking the internal stability, but also the surface of exposed components. How can I be sure that someone’s library while using mine can be NET Standard? How can I verify that all the interfaces and objects in my requirements are implemented under all NET Standard implementations. (Notice, there are interfaces that have no implementing classes under NET Standard and a uni

[2019-03-08 00:54] GearedToWar commented on #574
As a VS extension author, my tests access code that use VS services which must be called on the UI thread to ensure correctness.
There certainly are alternatives, which I am also using to write my tests.
It was surprising to see an attribute defined for this purpose but hobbled by the UWP requirement.

[2019-03-08 01:03] ionsphere commented on #304
And I get the point of confusion. Unit Test project should target NETStandard because I want the code to compile under strict limitations of NETStandard. But Unit Test project should run in some runtime compatible with that Standard. As VisualStudio doesn’t seem to have this distinction, then it should be possible to have NETStandard Unit Test and let vstest or dotnet-test pick any installed one w

[2019-03-08 06:59] acesiddhu commented on #574
@GearedToWar given that we havent heard about this feedback from others we wont pick up this work. The ability to write your own TestMethod is available even today and you can use that extensibility point in your code base to run ui tests. The implementation can use JTF or any other framework to write the tests. We will fix the error message appropriately

[2019-03-08 08:50] acesiddhu commented on #573
@daryllabar we havent heard any feedback on this particular ask from community. We are prioritizing other workitem right now and might not be able to take this up. Feel free to contribute and we would be happy to review.

[2019-03-08 08:52] bigworld12 commented on #551
Any news on this ? recently hit this up trying to port MSTest project to .net core 3

[2019-03-08 08:58] acesiddhu commented on #571
@shirishnagarnz as Jaya mentioned we dont have this support out of the box today in mstest framework. We are open to contributions on this one.

I also found this link https://automationrhapsody.com/soft-assertions-c-unit-testing-frameworks-mstest-nunit-xunit-net/ which uses FluentAssertions to implement soft assert. you can use that in your test.

[2019-03-08 14:20] daryllabar commented on #573
Of the three options I list, is there an option that would be preferred?

[2019-03-09 01:41] Camerus commented on #353
Just wanted to pile on here. Either exposing the TestContext or the test class instance (or both) to the ITestMethod interface would be incredibly valuable as it is not currently possible to use the parameters passed to the test method as part of shared test fixture setup in the TestInitialize method. I would like to either set them directly on the class or pass them in via the TestContext. As an

[2019-03-10 11:00] Daniel-Svensson commented on #552
@singhsarab Any thoughts on the strange dll path behaviour? Is there some way to get the same loading behaviour as in mstest1?

[2019-03-11 23:40] zendu commented on #305
I have several entities saved as JSON files. Test case is executed for each entity. Test setup needs to initialize another object using the entity.

    [TestSetup]
    public void Setup(){
        var entityFileName = this.TestContext.DataRow["fileName"];
        var entity = JsonDeserialize($"TestData\{entityFileName}");
        ...
    }

[2019-03-12 07:56] xdevs23 commented on #25
What do you expect from Microsoft, they don't really care about this. I do need this feature but looks like I need to solve it differently.... I hate working with C#... and Microsoft products *sigh*

[2019-03-12 08:26] luyajun0205 opened #578 "Parallelization not work: annotations in source code"
## Description
Following in my code, but output is unexpected, i not setting configure in runsetting file
[assembly: Parallelize(Workers = 0, Scope = ExecutionScope.MethodLevel)]
namespace OpenPublishing.Backend.E2ETesting.TestCase

**output:**
MSTest Executor: Test Parallelization enabled for G:\SourceCode\TestCode\OpenPublishing.E2ETesting\OpenPublishing.Backend.E2ETesting\bin\Debug\OpenPublishi

[2019-03-12 08:34] luyajun0205 commented on #578
Actual i want some cases  can run in parallel model by MethodLevel, some test cases run parallel by ClassLevel (some cases in same cs file have dependency, need run one by one)

[2019-03-12 08:42] luyajun0205 commented on #578
Does following is support now?
=========================================================
In MSTest, it would be nice to be able to specify that certain traits must run sequentially together, but can run in parallel with other tests. I could see it looking something like:

// Run tests in CategoryA sequentially in one thread.
[assembly:TestParallelizationCategoryAffinity("CategoryA");

// Run test

[2019-03-12 10:59] jayaranigarg commented on #305
@zendu : Can you please share a repro project with us?

How does your test method look like? How are you passing DataRow values to the testMethod? It would help if you can share snippet for that as well.

[2019-03-12 12:13] mika76 opened #579 "Create a TestCulture attribute to set the culture of the test"
Pretty much the same as NUnit's SetCultureAttribute and SetUICultureAttribute (although I personally don't like the naming convention) and maybe one attribute could be used for both?

[2019-03-12 19:35] KitoCoding opened #580 "Improvement: ClassCleanup method to trigger after worker has executed all test methods not after all workers are complete"
When running multiple [TestClass]es at the same time, why does the [ClassCleanup()] methods only get called at the very end?

File: UnitTest1.cs

[code]

File: UnitTest2.cs

[code]

The execution order is the following:

 1. UnitTest2.ClassInit()
 2. UnitTest2.TestMethod()
 3. UnitTest1.ClassInit()
 4. UnitTest1.TestMethod()
 5. UnitTest2.ClassCleanup()
 6. UnitTest1.ClassCleanup()

Notice that bo

[2019-03-13 08:55] PBoraMSFT commented on #25
@JDCain - it's on the radar (which is why the issue remains open), but it's unlikely that we will get to it in CY19 Q2. We are open to taking contributions if anyone is interested.

[2019-03-14 09:33] janbaltus commented on #549
Fixed the #549 issue and updated PR

[2019-03-14 14:27] #549 closed

[2019-03-15 05:46] cltshivash commented on #580
Assembly and class initialize today run at the end today. Could you please elaborate on why this would block your development ?

[2019-03-15 05:47] ShreyasRmsft commented on #305
@zendu Afaik mstest does not have a [TestSetup] attribute. May i know what test framework you are using?

[2019-03-15 05:52] ShreyasRmsft commented on #305
@ylnkancheti

[code]

This would be your code snippet to achieve the same thing. Since an int can't be null. The adapter would throw much earlier if you passed a data row similar to

`[DataRow(null, 2, 3)]`

Let's say the first param was an object then

[code]
you can do the above. The TestContext.DataRow is reserved for something else entirely and not for basic Data driven tests such as the one y

[2019-03-15 07:10] ShreyasRmsft commented on #578
@luyajun0205 to be frank in an ideal scenario one would author unit tests to be independent of one another.

but you can refer to https://www.meziantou.net/2018/03/01/mstest-v2-execute-tests-in-parallel
to excluded those tests you don't want to run in parallel using the [DoNotParallelize] attribute.

[2019-03-15 07:10] #578 closed

[2019-03-15 09:33] maxcalvin opened #582 "Add explicit support for netstandard 2.0 to reduce the dependencies for 2.x+ consumers"
@parrainc , as dotMorten mentioned, the lower the version for .net standard, the wider the range for platforms we can cover. For e.g. if we move to > NS1.4, then it won't work with UWP, & we would need to have separate build scripts to fix that.

_Originally posted by @mayankbansal018 in https://github.com/Microsoft/testfx/pull/411#issuecomment-437657536_

Noticed this in a PR and wanted to reques

[2019-03-15 13:08] maurei opened #583 "System.Reflection.ReflectionTypeLoadException (only on mac / linux)"
## Description

This error is caused in one of my xUnit tests, but I believe has nothing to do with xUnit. The problem does not occur on windows, only linux and mac.

[code]

## Steps to reproduce
To reproduce the errors, please clone [this project](https://github.com/json-api-dotnet/JsonApiDotNetCore/) and run the [ResourceEntitySeparationExampleTests](
https://github.com/json-api-dotnet/JsonApiD

[2019-03-18 10:52] ShreyasRmsft commented on #305
@zendu @ylnkancheti any updates here?

[2019-03-18 10:53] ShreyasRmsft commented on #580
@KitoCoding any updates here?

[2019-03-18 14:45] anandprasathm opened #586 "Specflow Parallel Execution using MsTest not working"
**Specflow Parallel Execution using MsTest**

### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
-

[2019-03-19 08:39] rajeshgupta723 commented on #336
following these steps helped resolved this error for me:
•	Run Visual Studio as Administrator.
•	Make sure Service fabric project was published as X64 based architecture.
•	Make sure Test Settings is pointing to X64 Architecture, and correct .runsettings file was selected.

[2019-03-19 08:57] ShreyasRmsft commented on #586
Can you provide a sample repro project with a few dummy tests?

[2019-03-20 04:02] shirishnagarnz opened #588 "Regarding multiple browsers execution on Class"
## Description

[DataSource("Microsoft.VisualStudio.TestTools.DataSource.CSV", "Parameters.csv", "Parameters#csv", DataAccessMethod.Sequential)]

Tried to work with DataSource on ClassInitialize but it didn't work.

I can always create 2 separate class for Chrome and Firefox but that is not an ideal option.

Is there any way that I can run whole Class in 2 or more browsers instead of using DataSou

[2019-03-20 09:41] #443 closed

[2019-03-20 13:07] KitoCoding commented on #580
once a class has run all of its test cases, there is no reason to not run the test class clean up method right away.  the test class is complete, so run the method... it may just be the way I imagining test cases, but it will make parallel tests much easier.

[2019-03-20 13:08] KitoCoding commented on #580
For example, lets say i have 50 test classes, and since msTest doesn't run test classes or methods in order, I have my first test method run and its the only method in the class. I have to wait for 50 test classes to complete running before I am able to run the test class clean up method.  Thats just silly

[2019-03-20 13:14] KitoCoding commented on #588
Hi shirish

I believe you are going about this in a more difficult way. You have to ask your self, why am I testing in Chrome, and why firefox. Are you testing a specific feature that only appears in Firefox? Or are you just making sure that the feature works as expected in all browsers. if that is the case you should set up runSettings that hold a browser Type variable.  When running all your tes

[2019-03-20 13:42] cltshivash commented on #580
@KitoCoding Are you dependent on the cleanup done in one test class in the cleanup/initialize of another test class ? What does your cleanup do ?

[2019-03-20 20:40] shirishnagarnz commented on #588
Hi @KitoCoding ,

Thanks for your reply. Can you please provide snippet of code you are referring here? and the number of files I need to use or something similar knowledge you can transfer will be great.

Regards,
-Shirish

[2019-03-21 02:45] cltshivash commented on #583
This repo is for MSTest Framework. From the description, you will need to report this in the xUnit repo.

[2019-03-21 02:45] #583 closed

[2019-03-21 07:45] ShreyasRmsft commented on #586
You might want to set this `<Workers>0</Workers>` to the number of parallel threads you want. Re-open this issue if this doesn't work you and also please provide a repro sample when re-opening if you need further assistance.

[2019-03-21 08:45] ShreyasRmsft commented on #588
@shirishnagarnz here's a sample doc https://devblogs.microsoft.com/devops/supplying-run-time-parameters-to-tests/

It's a little outdated but the crux of it is still the same even today.

[2019-03-21 10:07] PDostalek opened #589 "[loc][Query][testfx | Test Adapter for ASP.net ] Localizability of string: 0; "DynamicDataIEnumerableEmpty""
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
Property or method {0} on {1} returns empty IEnumerable<object[]>.

File Name:
TestFramework\MSTest.Core\Resources\xlf\FrameworkMessages.xlf

Resource ID:
0; "DynamicDataIEnu

[2019-03-22 05:38] jayaranigarg commented on #589
@PDostalek : We don't need translation of {0}, {1} and IEnumerable<object[]>. Let them as they are.

For reference, you can see how translation is done for 'DynamicDataIEnumerableNull' in https://github.com/Microsoft/testfx/blob/master/src/TestFramework/MSTest.Core/Resources/xlf/FrameworkMessages.xlf#L275

[2019-03-22 06:05] ShreyasRmsft commented on #305
Closing due to no response. Please reopen a new issue if your problem still persists. Locking the conversation here as the issue has started branch out into more than one query.

[2019-03-22 06:05] #305 closed

[2019-03-22 06:57] anandprasathm commented on #586
@ShreyasRmsft  Thanks for your support on this.
I have tried with Workers set to 4 but still my tests are running one by one.
I have added the project files in the below clone URL.
Could you please have a look at this and help me with my parallel execution?
https://github.com/anandprasathm/MsTestV2.git

Thanks.

[2019-03-22 07:29] anandprasathm commented on #586
@ShreyasRmsft Could you please re-open this issue?

[2019-03-22 08:23] ShreyasRmsft commented on #586
@anandprasathm I ran your tests locally. The reason they do not run in parallel has got something to do with the way specflow is creating these unit tests on the fly. You might have to take this up with the specflow owners.

If the unit test discovered is an individual unit test with the UnitTest attribute then mstest parallelizes them. Specflow has abstracted a lot of the details (I do not yet fu

[2019-03-22 12:07] ShreyasRmsft commented on #588
Closing this issue. Please re-open if our suggestions to not work for you.

[2019-03-22 19:14] shirishnagarnz commented on #588
Hi @ShreyasRmsft , thanks for sharing link above.

What I can see or understood from this is that it still passing parameter or appURL or browser from [TestMethod] i.e. will invoke browser or browse URL at every [TestMethod]

What I need is something that I can do at [ClassInitialize] level i.e. opening browser (by supporting multiple browser) at [ClassInitialize] level and once browser opens it e

[2019-03-22 21:45] smopuim commented on #273
Any updates on this issue?

[2019-03-25 04:49] ShreyasRmsft commented on #588
@shirishnagarnz test run params can be accessed in the class initialize level. You will still have to invoke your tests multiple times (one for each browser you want to run against) using a different runsettings file each time.

[2019-03-25 04:51] ShreyasRmsft commented on #588
[code]

[2019-03-26 07:44] PDostalek commented on #589
@jayaranigarg THanks for your reply, I get it. But we would like to know what placeholders stand for to make the rest of string properly localized.

[2019-03-26 14:40] cltshivash commented on #587
@NGloreous Listing the possible options below.

-> Leveraging a custom attribute seems to be the best route here. Is it possible to revisit the option of updating the test code ?
-> Using translation layer. But that would mean authoring a client and not leveraging the out of the box vstest task in the pipeline.
-> Having a custom adapter. But this will be a lot of work and maintenance.
-> Exposing

[2019-03-28 03:35] shirishnagarnz commented on #588
Hi @ShreyasRmsft , still not working for me. Can I please have a session with you?

[2019-03-28 06:51] cltshivash commented on #587
@NGloreous Can you add more information on the flexibility part ?

All the current execution extension is driven through attributes and a new extension *not declared* on the code will need a place to be declared (probably run settings ?) and second it needs to support all the attribute driven extensions which are supported today.

[2019-03-28 06:59] ShreyasRmsft commented on #588
@shirishnagarnz can you create a GitHub repo with sample code (or actual test code, your choice) so that i can take a look at what you are trying?

And additionally it would help if you could create a public project on AzureDevops (it's free FYI) with the build definition that runs your test (you can replicate the same steps you are doing locally on the pipelin). I can suggest changes based on wha

[2019-03-28 15:04] wilsonalwaris commented on #366
any idea if this is ever going to happen?

[2019-03-28 15:29] NGloreous commented on #587
@cltshivash the flexibility to onboard new code without having to change it all. Also we would like the flexibility to delay retries until the end of the test run vs inline retries immediately. I don't think attributes would allow us to do this.

[2019-04-01 13:46] ankit-nitd opened #591 "[NetCore] Enable support for messages/warnings related to Deployment Items for languages other than English"

[2019-04-02 11:57] mayankbansal018 commented on #575
@sarkreth , while debugging can you please make try to enable all exceptions in VS, & try to see if you get the required exceptions.

If that doesn't work, can you please share a small repro project for this.

[2019-04-02 15:50] NGloreous commented on #587
@cltshivash another thing is we don't necessarily want to do an "inline" retry (e.g. just call the test method a second time if the test fails). We've found doing a retry like this doesn't help much for our tests. What does help is starting "fresh" by re-creating the test class object or by retrying in a new process (this is needed because often time failures are caused by tests "leaking" state).

[2019-04-03 04:19] jayaranigarg commented on #517
https://github.com/Microsoft/testfx-docs/blob/master/RFCs/009-DeploymentItem-Attribute.md

[2019-04-03 04:21] #517 closed

[2019-04-03 04:23] jayaranigarg commented on #474
Fixed as part of this PR : https://github.com/Microsoft/testfx/pull/563

[2019-04-03 04:26] #474 closed

[2019-04-03 13:09] pordner commented on #366
Any update on this?

[2019-04-04 05:40] jayaranigarg commented on #589
@PDostalek :
String - Property or method {0} on {1} returns empty IEnumerable<object[]>
{0} - can be a method/property name
{1} - Class name containing the above property/method.

Let me know if you need more details.

[2019-04-07 21:46] veljkoz opened #594 "Broken backwards compatibility with TestContext?"
## Description
When using 1.4.0 (also doesn't look to be working with 1.3.2), it seems we can no longer use the SqlDatabaseTestClass (from Microsoft.Data.Tools.Schema.Sql.UnitTesting). The error thrown during test run:
[code]

How do I approach this issue? Any hints on how to resolve it?
I thought about subclassing the SqlDatabaseTestClass and hiding the TestContext property with "new", but then I

[2019-04-08 12:06] mayankbansal018 commented on #575
@sarketh, any update on this?

[2019-04-08 12:54] singhsarab opened #596 "Unable to build the repo"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior
[code]

## Environment

[2019-04-08 12:57] singhsarab commented on #596
## Workaround
Uninstalling VS2019 worked for me.

[2019-04-09 06:40] singhsarab opened #598 "Remove templates and Wizards from this repo"
## Description
There templates and wizard in this repo, which should be removed now since these have been moved to the test-templates repo and are owned by the IDE team.

[2019-04-09 06:52] #598 closed

[2019-04-09 10:57] veljkoz commented on #594
At this moment I'm not sure if this was ever working (I'm new to the project that had this).

In anycase, I solved it via adapters, or more specifically:

1. Adding a reference assembly alias in csproj:
[code]
2. Wrapping the instance around TestContext providing adapter to the behavior:
[code]

I haven't tested this thoroughly, because for now we're pursuing a different strategy, but in any case

[2019-04-09 10:57] #594 closed

[2019-04-10 06:28] parrainc opened #600 "Updating from latest stable to beta and rolling back to stable cause issue"
## Description
While updating to latest version of MSTest (framework and adapter) and rolling back to previous version, tests stop working.

## Steps to reproduce
1. Create a new solution
2. Create a new MSTest project
2.1. versions: MSTest.TestAdapter v1.3.2, MSTest.TestFramework v1.3.2, Microsoft.NET.Test.Sdk v15.9.0, Microsoft.NetCore.App v2.1.0
3. Update the following packages to its latest (w

[2019-04-10 11:43] jayaranigarg opened #601 "<licenseUrl> tag deprecating soon, specify license in the package directly"
## Description
Uploading nuget apckages giving following warning :
![image](https://user-images.githubusercontent.com/17309452/55875933-f178a500-5bb3-11e9-8348-8ec43d0a1a0a.png)

[2019-04-10 12:31] jayaranigarg commented on #96
Fixed with https://github.com/Microsoft/testfx/pull/565

[2019-04-10 12:31] #96 closed

[2019-04-11 03:19] parrainc commented on #601
Is this something you're going to work on?
I'm asking because I submitted a PR in another repo for this exact issue. So, if you don't mind, I can quickly create one updating the licenseUrl tag for the new license tag in all the .nuspec files inside the Package folder.

[2019-04-11 03:39] parrainc commented on #140
I'm just wondering, you guys still are interested in this enhancement?
I have a local branch with changes related to this issue that might be ready for PR, so you can review and merge them, so this one get closed. And, of course, mark one more item from the extensibility list on the roadmap for MSTest V2 (not sure if it's updated)

Let me know, and I'll be pushing my changes later this week.
@Abhi

[2019-04-12 01:58] ssa3512 commented on #252
I am working on a fix for this. What would be the expected behavior to test a method with all optional parameters? I am thinking adding a default constructor to DataRowAttribute that would be used like this:

[code]

[2019-04-13 05:47] mayankbansal018 commented on #575
closing this, please comment if it needs to be reopened.

[2019-04-13 05:47] #575 closed

[2019-04-13 21:29] parrainc commented on #521
Have been a while since this issue was opened, and was wondering if @julealgon or anyone else is working on it, or plan to do it? Otherwise, I can take this up, and make a PR with the proper changes.
Let me know, thanks!

[2019-04-15 08:31] jayaranigarg commented on #601
@parrainc : Can you point me to the set of changes you did for that other repo? Please feel free to pick this up.

[2019-04-15 23:36] chrimc62 commented on #394
Any progress on this?  It is a couple of months later and this is still an issue.

[2019-04-17 02:57] parrainc commented on #601
sure, there you have: [repo](https://github.com/nunit/nunit/pull/3192/files).

I already have the changes locally but need some input from your end. What's the license type of the testfx project? I see we have a [LICENSE](https://github.com/Microsoft/testfx/blob/master/LICENSE) file with MIT in the repo, but in the `.nuspec` files, we have a [url](http://www.microsoft.com/web/webpi/eula/net_librar

[2019-04-17 06:24] cltshivash commented on #600
@parrainc The issue is due to the binaries from the latest version of the adapater being present in the source output folder. MSTest.TestAdapter.props sets the copy condition to be preserve newest. A rebuild of the sources should address this.

[2019-04-17 06:27] cltshivash commented on #601
@parrainc We should rename the LICENSE file to LICENSE.txt and point to LICENSE.txt in the nuspec file. Thanks for the offer to contribute.

[2019-04-17 06:27] cltshivash commented on #591
Will be tracked as part of the CPS move.

[2019-04-17 06:27] #591 closed

[2019-04-17 06:27] cltshivash commented on #596
Will be tracked as part of the CPS move.

[2019-04-17 06:27] #596 closed

[2019-04-17 06:29] #398 closed

[2019-04-17 06:38] vagisha-nidhi commented on #499
Closing this issue. Tests that are not runnable can be failed if specified so using  `<MapNotRunnableToFailed>false</MapNotRunnableToFailed>` attribute.

[2019-04-17 06:38] #499 closed

[2019-04-17 14:22] jayaranigarg commented on #163
@paulmccormack : We request you not to raise concerns on closed issues, we don't monitor them. Please create a new issue with details if you need our assistance.

[2019-04-18 02:57] StingyJack commented on #499
@vagisha-nidhi - permitting silent failures is completely unexpected behavior.

It looks like you have released software with broken functionality that is borderline "evil"  and then are trying to avoid fixing it by sitting on the bug report for a few months and trying to sneak-close it. Instead of throwing an exception.

You should ask a few of the other teams at msft if they are ok with some por

[2019-04-18 04:42] parrainc commented on #600
Deleted the packages folders and the content in bin folder, then rebuild the solution. That fixed it.
Thanks :)

[2019-04-18 04:42] #600 closed

[2019-04-18 05:01] parrainc commented on #601
Alright. PR created, preview review it and make your comments if any.
Thanks!

[2019-04-18 15:19] cltshivash commented on #499
@StingyJack The filter many of the users provide when running tests in the pipelines include assemblies that aren't necessarily test assemblies and discovery failures in these assemblies today don't fail a test run. The change has been made keeping in mind backward compatibility as well in mind. If you do want a stricter enforcement, please specify the option called out above.

[2019-04-20 22:08] mitchdenny opened #605 "Running build.cmd locally results in failure."
## Description
I just cloned down the netfx repository to have a go at implementing #579 and when I ran build.cmd I got the following error.

## Steps to reproduce
Environment: Visual Studio 2017 and 2019 installed.

1. Clone repo.
2. Open VS2019 developer command-prompt.
3. Run build.cmd

[code]

## Expected behavior
I expected a successful initial build before I started changing anything.

## Ac

[2019-04-22 07:01] mayankbansal018 commented on #605
can you please run you build.cmd with -verbose, & share those with us, it should list out in detail that from where did it pick msbuild, & what error was thrown.

[2019-04-22 11:21] StingyJack commented on #499
@cltshivash - To be clear, this is a program or module that does not heed user instruction. It fails to perform the command issued to it, and does so silently.  And this program is one that acts as a quality gate for software - many times this is the _only_ quality gate after the developers initial testing when coding a change or addition.

I can understand some weird quirk being re-coded into an

[2019-04-22 12:00] jayaranigarg commented on #586
@anandprasathm: Any updates on this?

[2019-04-22 12:07] jayaranigarg opened #606 "Make TestFx repo CPS based"
## CPS backlog
This should address other related issues like -

- [ ] Running build.cmd locally results in failure [#605](https://github.com/Microsoft/testfx/issues/605)
- [ ] [NetCore] Enable support for messages/warnings related to Deployment Items for languages other than English [#591](https://github.com/Microsoft/testfx/issues/591)
- [ ] Consolidate the adapter and framework nuget packages (w

[2019-04-22 12:09] jayaranigarg commented on #605
@mitchdenny : This is a known issue https://github.com/Microsoft/testfx/issues/596 and comes when we have both VS2017 and VS2019 installed on the machine.
For now, the only workaround would be to uninstall VS2019. This is being tracked as part of this issue: https://github.com/Microsoft/testfx/issues/606 , which is planned for this quarter.

[2019-04-22 14:27] jayaranigarg commented on #606
@cltshivash : Please update this checklist as we uncover/identify more issues that needs to be resolved as part of CPS change.

[2019-04-22 14:30] jayaranigarg commented on #589
@PDostalek : Any updates on this?

[2019-04-22 15:32] jayaranigarg commented on #588
@shirishnagarnz : Any updates on this?

[2019-04-23 10:45] jayaranigarg commented on #394
@chrimc62 : Thank you for your patience. We have it planned for this quarter. Refer (https://github.com/Microsoft/testfx-docs/blob/master/Quarterly%20Checkins/QC-2019-Q1.md)

[2019-04-24 06:57] jayaranigarg commented on #394
@parrainc : We have added NetCoreTestContextImplementation seperately and NetCore Platform Service targets netstandard 1.5, so implementing this should be pretty straightforward now.
We would love to have a contribution for this. Let me know if you need any help on this.

[2019-04-24 12:07] PDostalek commented on #589
Thanks for provided info

[2019-04-24 12:07] #589 closed

[2019-04-24 12:11] jayaranigarg commented on #589
@PDostalek : Will you be raising a PR for this loc string?

[2019-04-24 12:34] jayaranigarg opened #608 "Tests are not aborted even after test times out in net core"
We are not aborting the tests in .Net Core, even after a test times out as there is not Thread abort support for netcore. Figure out a way to support cancellation/abortion of tests.

[2019-04-24 12:35] jayaranigarg commented on #608
Fixed by following PRs:
https://github.com/Microsoft/testfx/pull/585
https://github.com/Microsoft/testfx/pull/593

[2019-04-24 12:35] #608 closed

[2019-04-25 00:36] parrainc commented on #394
Wonderful news, I haven't noticed that change until now. I'm pulling master into my branch and fixing this one. Thanks for the heads up @jayaranigarg

[2019-04-25 04:23] #601 closed

[2019-04-25 04:33] #498 closed

[2019-04-25 04:35] jayaranigarg commented on #193
Closing this issue. Will be picked up as part of CPS work. Please follow/upvote https://github.com/Microsoft/testfx/issues/606 for tracking progress on this issue.

[2019-04-25 04:35] #193 closed

[2019-04-25 04:57] parrainc commented on #606
@jayaranigarg just wondering... will be PR #411 taken into consideration as part of this feature? Or maybe it's out of scope?

[2019-04-25 05:31] jayaranigarg commented on #606
@parrainc : We are still working on the design aspect of the CPS change, so mostly PR #411 will not be considered.

[2019-04-25 06:16] jayaranigarg commented on #304
As part of CPS change, we are trying to consolidate the adapter and framework nuget packages. We will try  if this too can be fixed as part of that.

[2019-04-25 14:34] mariotee commented on #171
i got around this by just commenting out the DataRow attributes that i wasn't debugging @ the moment

[2019-04-26 01:41] parrainc commented on #606
Oh, I see. Just wanted to know if still worth it to invest time on #411 but i think is not.
Thanks for the update. I'll be checking at the issues to see if there more things I can help to get the repo CPS :)

[2019-04-29 06:23] jayaranigarg commented on #394
Fixed as part of #609

[2019-04-29 06:23] #394 closed

[2019-04-29 07:37] singhsarab commented on #586
@anandprasathm Closing this one based on the https://github.com/Microsoft/testfx/issues/586#issuecomment-475532153
Please let us know if you disagree.

[2019-04-29 07:37] #586 closed

[2019-04-29 07:39] singhsarab commented on #588
@shirishnagarnz Gentle ping!

[2019-04-29 08:42] shirishnagarnz commented on #588
Hi Microsoft guys,

Apologize for no reply in last month.

I am on annual leave at the moment and will resume office on 6/5/19.

I can reply only after this date.

-Shirish

[2019-04-29 14:03] jayaranigarg commented on #394
@bgoggan : Yes. It will be available. We haven't released the nuget packages with these changes yet. I can share early bits if you would want to try them out.

[2019-04-29 14:07] bgoggan commented on #394
Ok, that's no problem. Do you happen to have any timeline on when the nuget packages will be available? We're still working on upgrading all our test projects to core so it's not an immediate rush for me to implement.

[2019-04-29 16:53] jayaranigarg commented on #394
@bgoggan: We don't have a release planned as of now. We will definitely release one at the end of the quarter, checkout our [roadmap](https://github.com/Microsoft/testfx#roadmap). Early releases happens depending on need basis.

[2019-04-29 16:58] bgoggan commented on #394
Ok, sounds good. Thanks for the information. I may contact you again to take you up on your offer of sharing the early pieces if that's still ok with you. I'll just see how things progress on my end with everything else.

[2019-04-30 11:32] bgoggan commented on #394
Good morning @jayaranigarg: If possible, I'd like to take you up on your offer of sharing the early bits of the AddResultsFile changes to see if it's something I can temporarily handle until the official release. Just let me know. Thanks.

[2019-04-30 12:53] jayaranigarg commented on #394
@bgoggan : You can use our latest bits from here:
https://dotnet.myget.org/F/mstestv2/api/v3/index.json

In particular, you should update your adapter and framework nuget package to these versions:
https://dotnet.myget.org/feed/mstestv2/package/nuget/MSTest.TestAdapter/2.0.0-build-20190430-01
https://dotnet.myget.org/feed/mstestv2/package/nuget/MSTest.TestFramework/2.0.0-build-20190430-01

[2019-04-30 14:12] bgoggan commented on #394
@jayaranigarg: thank you. I'll give that a shot.

[2019-04-30 14:28] jayaranigarg commented on #394
Locking the thread as the issue is resolved from our end. Please feel free to create new issue if you need any help.

[2019-05-07 05:53] #252 closed

[2019-05-07 16:40] singhsarab commented on #588
@shirishnagarnz looking forward to hear from you.

[2019-05-07 22:04] shirishnagarnz commented on #588
Hello guys,

Thanks for waiting so long.

As far as sharing code on git, talked to my senior and I am sorry as I am not allow to share it over there. Still I can attach few files which executes in below flow

Below files are used in project to execute any [TestMethod]

1. **RunSetting.runsettings**
attached below file have all the configuration to execute mentioned parameter. Attached file we are

[2019-05-08 06:24] jayaranigarg commented on #589
@PDostalek : Any updates on this?

[2019-05-10 08:51] jayaranigarg commented on #588
@shirishnagarnz: Thank you for the detailed information. But unfortunately we don't  have a first class support for your scenario i.e. trying to use DataSource at ClassLevel.

We recommend you to either have two seperate runs for each of the browsers or define static instances of the browsers at the class level and use those instances at test method level.

[2019-05-10 09:16] shirishnagarnz commented on #588
Can you provide any example for definition static definition at class level
and calling at test method level?

On Fri 10 May, 2019, 8:51 PM Jayarani garg, <notifications@github.com>
wrote:

[2019-05-13 15:55] cfletcher commented on #580
@cltshivash In my use case we're running acceptance tests and our ClassCleanup is cleaning up test mocks. Cleaning them up earlier would reduce our chance of mock collisions and make debugging test issues easier (less concurrent mocks).
I wouldn't say it's blocking development for me, but it would be a valuable improvement. I realise we could just run that code outside of the cleanup segment, say

[2019-05-14 19:49] kiragengis commented on #587
Hi @NGloreous I am doing this in my team. I am running all the tests calling the VSTest.Console for each test. I read the results and I decided when to re-run the test and how many times the test should re-run. As you said, would be great to have this capability here.

[2019-05-15 05:25] #467 closed

[2019-05-15 08:42] jayaranigarg commented on #588
Below is a high level snippet of what I am proposing. Please see if that works for you.

`using Microsoft.VisualStudio.TestTools.UnitTesting;

namespace MyTests
{
  [TestClass]
  public sealed class MyTestClass
  {
    static var chromeBrowserInstance;
    static var firefoxBrowserInsatnce;
    [ClassInitialize]
    public static void Initialize(TestContext context)
    {
      chromeBrowserInstan

[2019-05-19 08:53] Daniel-Svensson commented on #552
@singhsarab Any update on this?

[2019-05-21 18:21] roozbehid-ic opened #611 "16.0.1 does not respect LogFileName"
## Description
I was running tests previously on my Appveyor and now they are failing which was probably due to them updating to newer version of Visual Studio.
## Steps to reproduce
     dotnet vstest $([IO.Path]::GetFullPath("$Env:APPVEYOR_BUILD_FOLDER/Output/AnyCPU/$Env:CONFIGURATION/netcoreapp2.2/MyTest.dll")) --% /logger:trx;LogFileName=results.trx

It now produces following output
[code]

It

[2019-05-22 06:01] ymh199478 opened #612 "ThrowsException overload related suggestions"
## Description

Is it possible to add an exception assertion like this in the future:

- src/TestFramework/MSTest.Core/Assertions/Assert.cs
[code]

This can be very useful when driving data.

At the same time, it is also very helpful to establish the extension method of `ThrowsException` on this basis.

[2019-05-22 06:20] jayaranigarg commented on #611
@roozbehid-ic : We apologize for the inconvinience. This is a known issue. This behviour was made intentionally in 16.0.0 but a lot of customers faced this issue so we reverted it in [16.0.2-Preview-20190502-01](https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1602-preview-20190502-01).

Here is a similar [thread ](https://github.com/microsoft/vstest/issues/1951)for your refer

[2019-05-22 16:16] roozbehid-ic commented on #611
Thanks

[2019-05-22 16:16] #611 closed

[2019-05-23 13:18] jayaranigarg commented on #612
@yb199478 : We do have an [ExpectedExceptionAttribute](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.expectedexceptionattribute?view=mstest-net-1.2.0) which you can use to provide what kind of exception you are expecting your test to throw.

Also, MSTest framework provides extensibility for writing your own custom assertions. [Here ](https://github.com/mi

[2019-05-24 02:25] yb199478 commented on #612
I have learned about `ExpectedExceptionAttribute` and `ExpectedExceptionBaseAttribute`, but it may not be so friendly when data is driven.

Although it can solve this problem through [custom assertions(rfc002)](https://github.com/Microsoft/testfx-docs/blob/master/RFCs/002-Framework-Extensibility-Custom-Assertions.md), it doesn't feel so elegant.

I think `Assert.ThrowsException` may be better with

[2019-05-27 08:28] jayaranigarg commented on #588
Closing the issue from our end due to no response. Let us know if you still need assistance on this.

[2019-05-27 08:28] #588 closed

[2019-05-27 09:01] jayaranigarg commented on #612
@yb199478 : Thank you for your suggestion. Getting in feature as first-class support in MsTest wil happen purely on the basis of no. of asks from community. We will surely prioritize this if we have enough votes.

[2019-05-28 17:09] vlaskal commented on #580
Hi @cltshivash,
I have to join to this request since I run into trouble when ClassInitialize method allocate limited resources. In my case it is Selenium WebDriver, which we have around 4 nodes with 5 workers. All tests are parallelized and execution scope is ClassLevel. When you run test then first 20 test classes are executed and the rest is not because the resources is not released and new cann

[2019-05-29 04:53] cltshivash commented on #580
@vlaskal @cfletcher Thanks for the details. It helps provide the context. If one of you can contribute this change that would be great.

[2019-05-30 06:40] vlaskal commented on #580
@cltshivash I can try but also some advice would be good. I already look into the code and found a trouble with DoNoTParallelize attribute. I think even this test should be done between same ClassInitialize and ClassCleanup and maybe also on same thread. Right now it is executed after all parallel tests in project.
So are we able to describe somehow how it should work with DoNotParallelize attribu

[2019-05-31 15:27] StingyJack commented on #606
What is a CPS?

[2019-05-31 15:42] scottheckel opened #613 "Fakes build issue System.Threading.Tasks.Extensions and System.Net.Http"
## Description
After doing some reference upgrades in a test project, I ran into a build issue with Fakes. Setting `diagnostics="true"` in the .fakes file of the assembly at issue produces the error _"The type or namespace name 'System' does not exist in the namespace 'snh' (are you missing an assembly reference?)."_ In reducing it to the smallest reproducible Solution, it seems like the issue is

[2019-05-31 16:11] scottheckel commented on #613
I think this might be a duplicate of [dotnet/sdk Issue 347](https://github.com/dotnet/sdk/issues/2254). Adding the workaround Directory.Build.targets causes the build to work again.

[2019-06-03 08:42] #613 closed

[2019-06-03 09:15] sdg002 commented on #455
**My scenario**
We have lots of class libraries that take inputs and generate output files. These were written on .NET Framework and tested using unit tests written on MS Test. In all our existing unit tests we were using the **TestContext.DeploymentDirectory** to give us a nice and clean output folder where the results were expected

We are now porting our code to .NET Standard. We are doing this

[2019-06-03 11:33] cactuaroid opened #614 "DataTestMethodAttribute vs TestMethodAttribute"
Which should I specify with `DataRowAttribute`? No explicit guideline is found on reference.
- [DataTestMethodAttribute](https://docs.microsoft.com/ja-jp/dotnet/api/microsoft.visualstudio.testtools.unittesting.datatestmethodattribute?view=mstest-net-1.2.0)
- [TestMethodAttribute](https://docs.microsoft.com/ja-jp/dotnet/api/microsoft.visualstudio.testtools.unittesting.testmethodattribute?view=mstes

[2019-06-03 12:11] jayaranigarg commented on #455
@sdg002 : We have added support for TestContext.DeploymentDirectory in this release https://github.com/microsoft/testfx/releases/tag/v2.0.0-beta4. Also, I would not encourage you to comment on closed issues for queries as we don't track them. Please feel free to open new issue.

[2019-06-04 11:19] ShreyasRmsft commented on #614
Hi @cactuaroid DataTestMethod is not needed.

Go ahead and use TestMethod with DataRows to data drive your tests.

For any more doubts follow the official docs at https://github.com/microsoft/testfx-docs

[2019-06-04 11:50] cactuaroid commented on #614
Thank you @ShreyasRmsft, understood.

I found exactly same question in the testfx-docs repository too.
https://github.com/microsoft/testfx-docs/issues/64

[2019-06-06 19:50] Saeras opened #617 "Assert.IsNotInstanceOfType fails on value null"
## Description
Assert.IsInstanceOfType succeeds when value is null, while the MSDN specifies it should throw an error.
AssertFailedException : 'value is null or expectedType is not found in the inheritance hierarchy of value.'
This behavior was broken under issue #178 where Assert.IsNotInstanceOfType was incorrectly changed to fail when the value is null.

## Steps to reproduce
Create a standard .

[2019-06-07 08:41] #574 closed

[2019-06-07 08:57] jayaranigarg commented on #557
@anshuls01 : In your repro project attached in the 'steps to reporoduce', the path of DeploymentItem is not relative to the runsettings file. Please try the path as
[code]
Also, it seems you are trying to use MSTestV2. But please note that LegacySettings are not honoured by MSTestV2. So, I went ahead and moved the project to MSTestV1 and things seems to be working fine for me without need of suppl

[2019-06-07 11:01] jayaranigarg commented on #552
@Daniel-Svensson :

This looks like some CLR bug to me. I have seen instances in the past where the location that is being shown and the location that actually gets used to load assemblies do not match.  These appdomains can be really tricky to deal with sometimes.
Owing to the confusing nature of appdomains and assembly loading, all of this stuffed has been dropped .net core world. I would encour

[2019-06-07 11:25] cravecode commented on #366
bump 👍

[2019-06-11 12:43] Daniel-Svensson commented on #552
Thanks for the suggestion @jayaranigarg but no luck.
I dont belive this is a CLR bug, it seems more probable that this has something to do with how the mstest adapter loads the assemblies. Probably from the "wrong" path (from my perspective).

I've  tried to set DisableAppDomain both to [False](https://svensson-daniel.visualstudio.com/OpenRiaServices/_build/results?buildId=301&view=ms.vss-test-web

[2019-06-11 19:18] bgoggan opened #619 "Failed to attach files from: MSTestAdapterV2 - This operation is not supported for a relative URI."
## Description
We're running in to an issue when attempting to attach a test report using the AddResultFile method in the new version of the test adapter (we're using the not yet released versions of MSTest.TestAdapter and MSTest.TestFramework version 2.0.0-build-20190602-01). Our tests are running in an Azure Devops hosted linux agent environment and we're building the path to where the test file

[2019-06-12 11:56] ShreyasRmsft commented on #552
@Daniel-Svensson does this repro when using a private agent? If so let me know what setup I need to perform on my local machine to use it as private agent to run these tests so that I can attach a debugger and check where the assembly load is happening from and why.

It would be super helpful if you could do this as it will take me some time to get the setup ready etc. The source code is available

[2019-06-12 12:20] Daniel-Svensson commented on #552
@ShreyasRmsft you can repro it from within Visual Studio using the Test Explorer.

Steps to repro:
* ensure that you have [silverlight 5 sdk](https://download.microsoft.com/download/3/A/3/3A35179D-5C87-4D0A-91EB-BF5FEDC601A4/sdk/silverlight_sdk.exe) installed or you will build errors for some projects
 *  See https://github.com/OpenRIAServices/OpenRiaServices/wiki/Getting-Started for a list of com

[2019-06-13 06:14] ShreyasRmsft commented on #552
@Daniel-Svensson it'll take some to get this up, meanwhile if you run tests from a single assemble at a time do you still face this problem?

[2019-06-13 06:15] ShreyasRmsft commented on #552
Also is it possible to repro this in insolation of your webapp, with a simple skeleton repro that just loads the same dlls but has not code? So that we can isolate the issue as much as possible...

[2019-06-13 06:59] Daniel-Svensson commented on #552
@ShreyasRmsft All tests run and pass if they are executed one assembly/project at a tim.
Two of the projects (OpenRiaServices.DomainsServices.Tools*.Tests) get problem with conflicting assemblies if they are run at the same time as the "*.Client.Test" assembly.

So to repro start test "Client" test at the same time as one of the "Tools" test projects.

The error is very specific to running tests (

[2019-06-13 09:20] ShreyasRmsft commented on #552
Not actual application, I meant a unit test that just references these dlls. No code inside the test other than the test project referencing these dlls that are running into conflicts

[2019-06-17 11:08] ShreyasRmsft commented on #619
@bgoggan this is indeed broken on Linux machines. We are in the process of investigating the root cause.

[2019-06-17 11:20] ShreyasRmsft commented on #617
@Saeras thank you for reporting this. We will be fixing this.

[2019-06-17 13:44] bgoggan commented on #619
@ShreyasRmsft Thank you for the update. Please let me know if you need anything else from us to assist with the research.

[2019-06-18 05:36] ShreyasRmsft commented on #619
@bgoggan you can take a shot at fixing it. The code is after all open source. But if not we will be fixing it in a couple of days before a stable version for 2.0 is releasesd.

[2019-06-18 05:37] ShreyasRmsft commented on #619
If you are interested in fixing it I can help point you the code and help out with the pull request.

[2019-06-18 06:29] ShreyasRmsft commented on #557
@anshuls01 the workarounds suggested are the only way in mstest v2. We will not be adding support for deployment item in runsettings/testsettings for mstest V2.

[2019-06-18 06:29] #557 closed

[2019-06-18 06:46] ShreyasRmsft commented on #614
Closing this here. Please track the issue on the docs repo.

[2019-06-18 06:46] #614 closed

[2019-06-18 07:02] ShreyasRmsft commented on #552
@Daniel-Svensson any updates on the simplified repro? If this is indeed any issue we should be able repro it with a basic set of units tests that depend on some common dll.

[2019-06-18 08:03] HardCode4All opened #621 "IsInstanceOfType fails on COM-objects"
I was using the Microsoft.VisualStudio.QualityTools.UnitTestFramework in Visual Studio 2015 so far.

Here is a TestMethod that worked until now:
[code]
Expected behaviour: Assert.IsInstanceOfType(actual, GetType(StrParam)) returns true. StrParam is a Type defined in a COM-DLL.

Today, I tried to use the Microsoft.VisualStudio.TestPlatform.TestFramework instead, because I need to use data-driven Te

[2019-06-18 08:30] ShreyasRmsft commented on #617
Fixed in PR https://github.com/microsoft/testfx/pull/620

[2019-06-18 08:59] #617 closed

[2019-06-18 11:01] bgoggan commented on #619
@ShreyasRmsft I'm good either way. I can wait a couple days for a release from you all or I'm more than happy to make the change if you know what needs to be made.

[2019-06-18 11:26] ShreyasRmsft commented on #619
@bgoggan we still need to investigate. I believe it is a small fix but not sure of the exact changes needed.

[2019-06-18 11:39] bgoggan commented on #619
@ShreyasRmsft Ok, sounds good. I'll fork the repo and poke around to see if I can find anything. If I do I'll be in contact for assistance with a PR. If not, I'll just wait to hear from you all with a possible pre-release version to work with. Thanks again.

[2019-06-18 14:36] mateusz-dobrowolny opened #623 "Usage of singleton 'That' from the Assert class breaks CA / IDE rules"
## Description
I am using singleton ```That``` from the class ```Assert```
It is design to write custom extension methods for the ``` Assert ``` class.

## Steps to reproduce
[code]

## Expected behavior
I expect that this is a valid code according to the best practices and rules.

## Actual behavior
On Visual Studio 2017 a static code analysis rule **CA1801: Review unused parameters - Visual Stud

[2019-06-19 00:53] capinredbeard commented on #366
Agreed.  This would be handy.  I've been beating my head against a wall trying to figure out why I couldn't use this.

[2019-06-19 06:50] cltshivash commented on #621
@HardCode4All The thread apartment state is the same between the two versions. Is there a repro project that can be shared  ?

[2019-06-19 12:24] Daniel-Svensson commented on #552
@ShreyasRmsft it seems like I am running into a new (related?) issue now that have updated to mstest2 code to the latest master and use VS2017.

I've created a small repro of it at link below.
Just uncomment DeploymentItem and all tests will pass.

The issue is triggered when "TestResults" folder is used

https://gist.github.com/Daniel-Svensson/4a52116251c30d177bb4bb4c7a99cc7a

[2019-06-20 04:46] HardCode4All commented on #621
Unfortunately no, as the COM DLLs in question are intellectual property, but I will try to create a DLL that behaves alike which I can then share publicly. This might take a while, so please give me some time...

[2019-06-20 06:07] ShreyasRmsft commented on #552
@Daniel-Svensson we'll take a look.

[2019-06-20 11:47] ShreyasRmsft commented on #552
@Daniel-Svensson

WorkingIfFiailingDoesNotRun

This fails even if i run it alone. Is that supposed to happen?

[2019-06-20 11:49] ShreyasRmsft commented on #552
running this statement i get this

assembly.GetExportedTypes().Where(t => typeof(ICloneable).IsInstanceOfType(t)).ToList();

Count = 2
    [0]: {Name = "Class1" FullName = "ClassLibrary1.Test.Class1"}
    [1]: {Name = "UnitTest1" FullName = "ClassLibrary1.Test.UnitTest1"}

[2019-06-20 11:49] ShreyasRmsft commented on #552
And your assert
Assert.AreEqual(1, class1.Count, "Should find 1 matching type");
fails

[2019-06-20 11:57] ShreyasRmsft commented on #552
And either way i'm not getting any assembly load exceptions

[2019-06-20 12:00] Daniel-Svensson commented on #552
Sorry. The code had a where clause with *t.Name == "Class1"* , it should only find the class.
I did the mistake of a late change in the code, the where clause should also have checked icomparable

[2019-06-20 12:03] Daniel-Svensson commented on #552
This specific scenario do not get type load failures, instead it seems to load two different instances of the same assembly where "Coass1"is not equal to "Class1". Solving this without modifying the code might solve the original problem

[2019-06-20 13:26] ShreyasRmsft commented on #552
@Daniel-Svensson i'm confused.

[2019-06-20 13:32] ShreyasRmsft commented on #552
@Daniel-Svensson could you please create a new github repo with the barest minimal repro (csproj and all, with the appropriate version of mstest etc., along with probably a cmd script to run the test so that nothing is different when i attempt to run it?). The moment you bring in your application or lots of test code the more complicated the situation gets.

[2019-06-20 15:18] Daniel-Svensson commented on #552
Try https://github.com/Daniel-Svensson/mstestrepo I set it up on mobile but 98% sure it will work.it currently use mstest v1 so it passes. Install mstest 1.4.0 framework and adapter to repro.

[2019-06-21 10:24] cltshivash commented on #623
Exposing That as non-static property is one option here. But that would be a workaround to suppress this warning and not a necessity.

[2019-06-21 10:24] #623 closed

[2019-06-21 12:45] HardCode4All commented on #621
Okay, this is a bit more complex, I guess. I tried to quickly write a little COM-DLL that could reproduce the error, but I am afraid I cannot do that. Let me break that down:

The DLL in question is a very old, unmanaged code C++ DLL that is registered in Windows through regsvr32.exe. This DLL provides Interfaces (StrParam in the code above), which are in turn used by other projects and UnitTests.

[2019-06-21 13:20] gewarren commented on #623
@cltshivash Are you suggesting that the proper fix is to change the code analysis rule to ignore the "this" parameter?

[2019-06-24 00:19] cltshivash commented on #623
@gewarren No that is not the recommendation.

Because the functions in this class (Assert) are static there's no need to access the 'this' paramter to extend the functionality of the Assert class. The class itself could be made static, but then can't be extended.

[2019-06-24 00:38] cltshivash commented on #621
@HardCode4All Did you try casting the instance returned to the type expected (StrParam) ? What is the signature of this function  XXXUtilities.GetStringParameter. Is it defined to return StrParam ?

[2019-06-24 09:29] cltshivash commented on #203
Microsoft.VisualStudio.TestPlatform.ObjectModel has few types specific for windows platform that is causing issues when doing something like "assembly.gettypes()". Recommend to filter assemblies based on what is needed as we won't be fixing this issue in the near future.

[2019-06-24 09:29] #203 closed

[2019-06-24 12:37] Daniel-Svensson commented on #552
@ShreyasRmsft

There is now a repro in https://github.com/Daniel-Svensson/MsTestRepro for my "other" bug which currently prevents me from producing a repro of my original issue.
I will try to extract this to a separate issue.

Open the sln file in VS2017 (15.9) build and run all tests from within test explorer.

Actual behaviour:
* The tests fails
* if you only run the test without [DeploymentItem

[2019-06-24 13:16] PDostalek opened #624 "[loc][Query][TestAdapter] Localizability of "UTA_WrongThread""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
{0} For UWP projects, if you are using UI objects in test consider using [UITestMethod] attribute instead of [TestMethod] to execute test in UI thread.

File Name:
Adapter\MSTest.CoreAdapter\Resources\xlf\Resource.xlf

===

[2019-06-25 08:47] ShreyasRmsft commented on #552
@Daniel-Svensson I got the behavior you are describing but since both the tests are in the same project/dll they will not be isolated from each other. They will both run in the same appdomain if appdomain is not disabled.

[2019-06-25 08:57] ShreyasRmsft commented on #552
And if you run with the deployment item then the TestResults\Out folder is used as additional dependencies need to be copied to a temp location before running the tests.

[2019-06-25 09:02] ShreyasRmsft commented on #552
But I get your issue that when you are try to load the assembly using Assembly.Load it is picking it up from the bin directory and not the testresults\out directory

[2019-06-25 09:17] ShreyasRmsft commented on #552
And thank you for simplifying the repro this helped a lot.

[2019-06-25 12:58] Daniel-Svensson commented on #552
Thanks @ShreyasRmsft for having a look

* I did notice that this issue does not happen when running from within VS2019 (but it happens when using vstest console when running azure pipelines etc).

Since most of this thread is now about this other issue I am considering changing the name and opening a new issue for the original once the issue is solved if the original issue persists, any thoughts a

[2019-06-25 17:52] HardCode4All commented on #621
Hmmm..... I wanted to test that, but when I now use Microsoft.VisualStudio.TestPlatform.TestFramework instead of Microsoft.VisualStudio.QualityTools.UnitTestFramework, it does not recognize any tests at all :( The "Test Explorer" shows no tests any longer. It just says "Build your solution to discover all available tests", but building the solution seems no to detect any tests. All test-methods ar

[2019-06-26 06:05] cltshivash commented on #621
Looks like test discovery is failing. Can you try the below ? This would give logs that can help us see to know more about the failure.https://github.com/microsoft/vstest-docs/blob/master/docs/diagnose.md

vstest.console.exe <testassembly> /diag:log.txt

[2019-06-26 08:25] HardCode4All commented on #621
Thanks for this idea. Here is the logfile:

[log.txt](https://github.com/microsoft/testfx/files/3329021/log.txt)

[2019-06-26 09:14] cltshivash commented on #621
@HardCode4All  Please ensure you have added the below two nuget packages to your test project
"MSTest.TestAdapter", "MSTest.TestFramework"

[2019-06-26 09:48] HardCode4All commented on #621
They are both installed, yet the log-file stays the same :(

![Screenshot-_20190626_11-46-19](https://user-images.githubusercontent.com/38424724/60170193-45d10f80-9808-11e9-8020-56f2b6abec79.png)

[log2.txt](https://github.com/microsoft/testfx/files/3329406/log2.txt)

[2019-06-27 06:45] N-Olbert commented on #25
Is there any workaround for this?
E.g. is there a way to execute a single test with MSTestV2 (like MSTest.exe /test:xxx), so that you can simulate this feature?

[2019-06-27 21:09] AbhitejJohn commented on #113
I've since been working on other projects. @cltshivash and @jayaranigarg would be good contacts to help get traction on this.

[2019-06-28 13:34] #562 closed

[2019-07-03 12:18] bgoggan commented on #619
Hello @ShreyasRmsft have you had any luck finding a resolution for this issue yet? I was unable to track it down myself so I just wanted to follow up. Just let me know. Thanks.

[2019-07-04 06:03] ShreyasRmsft commented on #619
@bgoggan I'm sorry we haven't had time yet to take a look at this.

[2019-07-04 09:32] jayaranigarg commented on #624
@PDostalek : {0} will re replaced by the actual exception message. After that this statement will come "For UWP projects, if you are using UI objects in test consider using [UITestMethod] attribute instead of [TestMethod] to execute test in UI thread" as a suggestion for the user.

[2019-07-05 11:25] mayankbansal018 commented on #621
The log file says, that the Mstest V2 adapter was not used to run the tests. Can you please pass `/InIsolation` flag, & share those diagnostics files as well.

Also after compiling can you check whether mstest*.dll were present along with your test dlls?

[2019-07-05 11:35] #624 closed

[2019-07-05 13:18] HardCode4All commented on #621
Thanks for that! I am on holiday at the moment but will try that as soon as I am back (July 15th).

[2019-07-08 10:28] jayaranigarg commented on #143
Consume this change using following nuget packet versions:
https://dotnet.myget.org/feed/mstestv2/package/nuget/MSTest.TestAdapter/2.0.0-build-20190708-01
https://dotnet.myget.org/feed/mstestv2/package/nuget/MSTest.TestFramework/2.0.0-build-20190708-01

[2019-07-09 16:17] elv1s42 opened #626 "Framework Extension points"
Hi,

Are their any framework extension points for reporting purposes?
Or are thier any plans to create such extension points like NUnit [event listeners](https://github.com/nunit/docs/wiki/Event-Listeners)? Can't find any related documentation.

Thank you

[2019-07-10 10:38] kaadhina commented on #626
We have extension points from the test platform that you can use to achieve this: https://github.com/microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md
Is this something that will help you?

[2019-07-10 13:30] elv1s42 commented on #626
Hi @kaadhina !

Thank you, I was not able to find this documentation. I'll give it a try. Basically I need to capture test results and test data (like test output) in real-time mode.

[2019-07-11 08:47] pleonex commented on #580
In my case this a blocking point for using MSTest. Our test classes create an HTTPListener for a specific port. Since `ClassCleanup` is not called after the tests of the class run, we cannot reuse the port between test classes (you cannot bind twice to the same port). We cannot use use different ports either because of Windows, it requires to allow binding to the port with `netsh`.

[code]

This m

[2019-07-11 12:02] rossng opened #1322 "Document DeployTestSourceDependencies"
This runsettings setting should be documented.

See https://github.com/Microsoft/testfx/issues/490

[2019-07-11 12:05] rossng commented on #295
This caveat should be documented [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.deploymentitemattribute?view=mstest-net-1.2.0), the first search result for `DeploymentItem`.

[2019-07-12 04:48] kaadhina commented on #626
Yes, this should help you achieve that. Feel free to get back if it does not. Closing this for now. Thank you!

[2019-07-12 04:48] #626 closed

[2019-07-12 19:49] AnthonyMastrean opened #627 "Is there a Visual Studio Code problem matcher for mstest?"
This issue might belong here https://github.com/dotnet/cli/issues/11856

---

Everywhere I look, people are using this built in `$msCompile` problem matcher, but it doesn't seem to work on my machine.

## Steps to reproduce

Write some failing mstest unit tests. Use the following VS Code custom task. Run tests w/ that task.

**tasks.json**
[code]
**output**
[code]

## Expected  behavior

Failed te

[2019-07-15 11:45] PDostalek commented on #624
Thanks

[2019-07-16 11:06] karanjitsingh commented on #627
@AnthonyMastrean, might want to look at https://github.com/Microsoft/vscode/issues/34660.

We don't own any first class extensions for mstest with vscode so i don't know if this exists or not. As you said people are generally using `$msCompile', so you might want to check with vscode itself.

Since this issue is not related to mstest as a component, I'll close this issue.

[2019-07-16 11:06] #627 closed

[2019-07-16 14:21] AnthonyMastrean commented on #627
Yeah, the `$msCompile` problem matcher does not work for mstest. The console output is radically different for both tools and I don't know where or when anyone got the advice to use `$msCompile`.

Let's go down a different path... I _tried_ to create a custom problem matcher for mstest and _failed_ because the capabilities of the `problemMatcher` do not meet the complexity of the mstest output. If

[2019-07-17 13:59] saparia commented on #386
I encountered this issue. TestContext is not thread safe. Please escalate this one.
Eagerly waiting for this issue to be fixed as we've recently migrated from NUnit to this framework and encountered many failures and ended up in a major disappointment.

The issue can be replicated easily by running the following test methods in parallel with execution scope at MethodLevel.

After the execution, in

[2019-07-19 13:30] HardCode4All commented on #621
Sorry for the long delay, here I am again. When  I add both packages to VS and try to run the Unit-Tests, I still get the message "Build your selection to discover all available tests". Building the solution doesn't help, so no news there.

When I take a look into the bin/Debug folder, I see
Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.Ext

[2019-07-19 17:54] dmcdowellsqs opened #628 "Cannot get Last Exception"
## Description
I am working on a unit test project. I have a base test file where I have the following line in my Assembly Initialize method.

`AppDomain.CurrentDomain.FirstChanceException += (s, e) => LastException = e.Exception;`

This line will store the last thrown exception in the Last Exception field. This can then be called by the following line and inserted into reports.

`WebUtility.HtmlE

[2019-07-22 05:58] karanjitsingh commented on #628
@dmcdowellsqs, I tried your repro steps and it seems to be working fine for me.

![image](https://user-images.githubusercontent.com/4632805/61609433-b89ca180-ac73-11e9-94e1-fe16de6d0870.png)

Can you try to reproduce the problem in a sample project and share here?

[2019-07-23 14:45] singhsarab commented on #621
@HardCode4All
The dlls that are interesting are following:
"Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter"
"Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices"
"Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface"

Aren't these present in the directory?

[2019-07-23 15:24] dmcdowellsqs commented on #628
@karanjitsingh Thanks for your quick reply. I have updated the steps slightly. I have also taken a screenshot and created an example project.

![Last Exception Bug](https://user-images.githubusercontent.com/46569371/61724526-101b3a00-ad66-11e9-84a0-301843d63d5f.png)

[LastException.zip](https://github.com/microsoft/testfx/files/3422777/LastException.zip)

[2019-07-26 06:51] karanjitsingh commented on #628
@dmcdowellsqs, I'm still not able to repro this on my machine. It's possible it is because of your machine's culture info `en-GB`. The adapter might be trying to find the culture specific resources but fails and hence catches the exception internally. Which is why you're seeing that exception as the last one. Can you confirm this by trying the `en-US` language pack?

[2019-07-26 23:45] AbhitejJohn opened #1319 "Document all MSTest specific settings in one place"
Based on [this ](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3217) feedback, it would be great to list out all the settings that the framework supports through runsettings in one doc and perhaps link it to docs.microsoft.com.
/cc: @cltshivash

[AB#1711731](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1711731)

[2019-07-29 07:42] karanjitsingh commented on #628
@dmcdowellsqs, since we don't support this language pack, your work around can be to ignore the exceptions thrown by mstest and only keep exceptions you're interested in.

[2019-07-29 11:47] singhsarab commented on #621
@HardCode4All Gentle ping!

[2019-07-29 13:17] dmcdowellsqs commented on #628
@karanjitsingh I have added the following as the first line of the Test Method. I get the same error.
`CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");`

If you add the following, can you reproduce my issue?
`CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-GB");`

[2019-07-29 18:51] QualityRobD commented on #366
It would be great to see some love for this.

[2019-07-30 04:39] karanjitsingh commented on #628
@dmcdowellsqs, I'm beginning to think problem is slightly different here, could you run this with dotnet fusion logs turned on and share the logs with me?

The command for fusion log viewer is `fuslogvw` in VS Developer console

[2019-07-30 07:38] HardCode4All commented on #621
Hi singhsarab, sorry for the long delays, I have a weird time-schedule at the moment and can only look into this every 14 days.

Yes, all these DLLs are available in the project directory:
Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll

[2019-07-30 13:17] KitoCoding commented on #580
I would just like to know the reasons as to why class clean up is triggered after all workers are complete. i understand if you are running parralelle runs at a method level. Sure, with no way for MSTest v2 to order the test cases, then it makes sense to just run after all workers are complete. But you supply the option to run at a test class level. One worker per test class. This is what we use,

[2019-07-30 13:26] KitoCoding commented on #580
Implementing with DoNoTParallelize attribute might be tricky, if thats the case. A warning should go out to the user. "TestCleanUp cannot be triggered until all Workers are complete due to the DoNoTParallelize attribute found [insert location]."

If a worker is scheduled to run at a test class level and all its methods are good to go (does not have the DoNoTParallelize attribute) then trigger the

[2019-07-30 14:20] dmcdowellsqs commented on #628
[Logs.zip](https://github.com/microsoft/testfx/files/3447238/Logs.zip)

[2019-07-31 01:21] ankitkhullar commented on #386
@saparia If I switch Console.Writeline to TestContext.Writeline the example works for me

[code]

[2019-07-31 09:40] karanjitsingh commented on #628
@dmcdowellsqs,

I've tried `CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-GB");` and I even tried changing my language pack. I'm still not able to reproduce this issue.

The exception that you're getting in `LastException`, can you give me the stack for it?

[2019-07-31 11:05] singhsarab commented on #621
@HardCode4All
I don't know why the adapter is not getting resolved for you when trying to run. The logs do not have any failures to load, it seems like we are missing something very basic.

And regarding the original issue, can you please share a sample project so that we can reproduce the issue?

[2019-07-31 15:16] dmcdowellsqs commented on #628
Do you see the issue if you open my zip of the Last Exception solution?
Have you tried pressing F10 after the exception is thrown and checking the value of e.exception?
How do I change my language pack?

Exception:
{"Could not load file or assembly 'Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources, Version=14.0.0.0, Culture=en-GB, PublicKeyToken=b03f5f7f11d50a3a' or one of its depe

[2019-07-31 18:55] karanjitsingh commented on #628
I've been trying to reproduce on the project that you sent and I'm not getting that issue.

Search for language settings in the settings app (windows 10) and make sure it's at the top of the list

![image](https://user-images.githubusercontent.com/4632805/62239447-836e1d00-b3f2-11e9-9ac1-90d135fd7873.png)

![image](https://user-images.githubusercontent.com/4632805/62239607-d21bb700-b3f2-11e9-82bf-

[2019-08-01 12:23] dmcdowellsqs commented on #628
I tried changing my default language to English (US) using your steps, restarted Visual Studio and ran the test again but unfortunately, the issue persists.

@karanjitsingh As you are unable to see the issue, could I share my screen with you in a live call?

[2019-08-01 15:30] WiseJoeyD commented on #628
I've been following this topic - recently revisited an old framework project and discovered this behaviour too.

I've seen the same issues as dmc is facing - I'm surprised that this seems so tightly tied in to the language - does this mean that users who are using other international language packs will face the same issue?

Can share my stack traces as well if it helps

[2019-08-02 01:21] karanjitsingh commented on #628
@WiseJoeyD, after this, it doesn't seem so. Also since I'm not able to reproduce by changing language packs issue seems to be something else.

@dmcdowellsqs, email me at `karsin @ microsoft . com` so i can send you a meeting invite

[2019-08-02 03:43] parrainc commented on #606
@StingyJack late but, CPS stands for: Common Project System ([check here](https://github.com/microsoft/vsprojectsystem))

[2019-08-02 06:41] HardCode4All commented on #621
That's the problem, you see. It's a confidential project with classes from an IP-protected CAD-solution, so no, I cannot share that :( I guess I will have to live with the old testing-framework, as that still works perfectly. The only reason I wanted to switch to TestFX was the possibility of parameterized test-methods, but I just wrote my own parameterized tests, so that's okay.

Thanks for your

[2019-08-02 09:40] jol64 opened #629 "method level parallelization with process isolation?"
I have lots of unit and integration tests in my project and executing them takes quite some time. Thus I now looked into parallelizing tests, and made quite some progress in isolating the resources the tests use. However there are still parts in which my code relies on singletons tied to a process (not thread, my code is heavily multi-threaded).

I read https://devblogs.microsoft.com/devops/mstest

[2019-08-05 05:59] singhsarab commented on #621
I am glad that you are unblocked, but it's unfortunate that we were not able to resolve the issue for you. I am going ahead and closing this issue for now.
Please share a project if you'd still like to pursue.

[2019-08-05 06:00] #621 closed

[2019-08-06 09:36] ShreyasRmsft commented on #629
@jol64 sadly there is not support for this today.

You'd have to manually launch multiple vstest.console.exe processes with custom testcase filters to achieve this today.

[2019-08-06 11:16] joachimlindenberg commented on #629
how can I do this and still leverage test explorer (as tests may fail)?
can this be done dynamically with code/plugin?

Actually I was looking into getting rid of my singletons, but there is also an issue with UI threads. I think that in particular for integration tests, it would be really handy to get this supported somehow...

[2019-08-06 14:13] karanjitsingh commented on #628
Found a workaround this issue the culture needs to be set on culture `en` instead of `en-US`.

Tried `Thread.CurrentThread.CurrentUICulture = new CultureInfo("en");` and it seems to be working. By the same logic `CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo("en");` should work as well.

[2019-08-06 14:14] #628 closed

[2019-08-06 21:26] mack0196 commented on #552
I have a solution that now has multiple MSTest projects and I am getting failures because they have different assembly version dependencies. When project1 assembly dependencies are copied after project2's assembly dependencies, some of project2 tests fail.

What is the guidance to work around the behavior for deployment of all test projects into a single TestResults out directory?

[2019-08-07 09:40] ShreyasRmsft commented on #552
@mack0196 add this to your runsettings file to stop deployment and run the tests from their respective bin folders

[code]

[2019-08-07 10:12] ShreyasRmsft commented on #629
@joachimlindenberg hmm, that would be pretty tricky to make it work with test explorer. You'd have to author a custom extension to go about it.

The main reason we don't do this is because launching a separate process for each method is overkill especially in the case of unit tests.

The way to go about it is to ensure your tests don't share any resources.

[2019-08-07 10:13] ShreyasRmsft commented on #629
@joachimlindenberg you can reach out to the IDE team on developer community. Make sure you specify that the issue/feature request is for the testexplorer.

[2019-08-07 10:13] #629 closed

[2019-08-07 13:11] mack0196 commented on #552
I have tried setting DeploymentEndabled to false in the runsettings file, but my tests still ran in a TestResults folder.

I do have DeploymentItem attributes in my test code.

I am trying to get this no-deployment or individual testresults-per-test-project working in Azure DevOps with this Exectute Unit Tests VSTests step.

![image](https://user-images.githubusercontent.com/6463105/62625461-db24f

[2019-08-08 06:23] ShreyasRmsft commented on #552
@mack0196 I would recommend moving away from deployment items as there is a fundamental flaw with the system as it does not take care of conflicting dependencies.

I would advise you to add whatever dependencies you need to the csproj itself.

[2019-08-08 12:19] mills-andrew opened #630 "Accessing a unique worker ID during runtime"
I require the ability to access the current workers ID at runtime. Something like the Thread.CurrentThread.ManagedThreadID feature.  I want the ability to say Worker.GetWorkerID or something like that. Does anyone know if there is a feature like this?

[2019-08-09 08:51] ShreyasRmsft commented on #630
There isn't any such feature right now.

Why wouldn't Thread.CurrentThread.ManagedThreadID itself work for you? And i'm guessing you need this when in-assembly parallelism is enabled?

[2019-08-09 11:55] KitoCoding commented on #630
Thats a shame :( and Yes I have tried this method, but the thread ID changes randomly mid run.
See <https://stackoverflow.com/questions/57414909/managedthreadid-changing-at-runtime>

I have tried using the thread ID. Maybe i am doing something wrong.

[2019-08-09 12:18] KitoCoding commented on #630
ive narrowed down the threadID issue. If I am creating a thread under the classInitialize but trying to destroy the thread under class cleanup. they work off different threads... wtf?

[2019-08-09 12:24] KitoCoding commented on #630
[2019-08-09 08:21:56] AssemblyInitialize: 12
[2019-08-09 08:21:56] ClassInitialize: 12
[2019-08-09 08:21:56] TestMethod: 12
[2019-08-09 08:21:56] ClassCleanUp: 4
[2019-08-09 08:21:56] AssemblyCleanup: 4

Just simply logging those threads during run time... why would they be changing. Any idea why this is happening?

  <MSTest>
    <Parallelize>
      <Workers>1</Workers>
      <Scope>ClassLevel</S

[2019-08-09 12:58] KitoCoding commented on #143
This issue is still occuring for me, which is very weird because yesterday it seemed just fine.

`namespace Tests
{
    [TestClass]
    public abstract class BaseTest
    {
        protected static TestContext mContext;

        [AssemblyInitialize]
        public static void Assembly(TestContext pContext)
        {
            Core.Construct<FrameworkConstruction>()
                .AddProperties

[2019-08-09 18:52] AbhitejJohn commented on #143
@KitoCoding : For compat reasons this is an opt in at the moment. You'd need to add `[ClassInitialize(InheritanceBehavior.BeforeEachDerivedClass)]` and `[ClassCleanup(InheritanceBehavior.BeforeEachDerivedClass)]` to your base class if you want them to be invoked.
@jayaranigarg : Do we also plan to add a runsettings configuration to tune this globally?

[2019-08-09 18:57] KitoCoding commented on #143
@AbhiteJohn
I don't see this feature you speak of. Am i missing a namespace I am not familiar with?

[2019-08-09 19:20] AbhitejJohn commented on #143
@KitoCoding : you'd need the packages from the daily feed Jaya posted [earlier](https://github.com/microsoft/testfx/issues/143#issuecomment-509171327). It doesn't look like this is part of the public nuget feed just yet.

[2019-08-12 06:17] ShreyasRmsft commented on #630
@KitoCoding yeah so class cleanup and assembly cleanup are sorta invoked at the very end. There is a related issue where someone was asking that these be done immediately after running all tests of a class/assembly.

Since we run these at the end i'm guessing different threads run the cleanup methods.

[2019-08-12 06:29] ShreyasRmsft commented on #630
Class cleanup and assembly cleanup are common for a bunch of tests so it is quite likely that even if they are called immediately after all tests of a class/assembly finish it will likely be picked up by a random thread.

[2019-08-12 16:41] KitoCoding commented on #630
Yeah it was probably me that try to start that thread lol. Ms test is prioritized for some reason to run one worker per test method. However you add the ability to have one worker pertest class. but the functionality around it as in this case where I need the test cleanup methods to run on the same thread, break. or when a test clean up method is being called at the very end when I need it to run

[2019-08-13 11:54] KitoCoding commented on #143
@AbhiteJohn, this Nuget package is missing.
Install-Package MSTest.TestFramework -Version 2.0.0 -Source https://dotnet.myget.org/F/mstestv2/api/v3/index.json

I have tried with the different builds, but it is not able to find any.

[2019-08-13 12:09] ShreyasRmsft commented on #630
@KitoCoding fair ask, but we will be prioritizing this based on popularity of the feature request.

[2019-08-13 16:36] parrainc commented on #143
@KitoCoding I was able to get the changes from version 2.0.0 in the daily feed. And your example code worked with no issues.

[2019-08-21 20:16] jfleisher opened #632 "Support for DisplayName in MsTest"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

The DisplayName attribute is valid for TestMethods, but does not return in the Displayname data for the test case.
![image](https://user-images.githubusercontent.com/447027/63465329-00f3de80-c42f-11e9-97e4-b7e2e4601285.png)

[2019-08-21 20:18] #632 closed

[2019-08-22 02:06] chewiiieee opened #633 "Missing support for LongPaths"
## Description
My application code works fine.  But testing my code via MSTest however results in the same code failing.  See https://blogs.msdn.microsoft.com/jeremykuhne/2016/06/21/more-on-new-net-path-handling/

## Steps to reproduce
Solution attached.  Run AppMain.  It works as expected.  Run the code via Test Explorer.  Tests fail.

## Expected behavior
Unit tests should be passing.  And there

[2019-08-23 13:09] NightOwl888 commented on #143
This seems to be broken now. I tried a very simple example:

[code]
The project file looks like:
[code]
The constructor overload is working, the project builds, Test Explorer detects all of the tests, but when I try to run them, I get:

[code]

I verified the file in the error message definitely exists. I tried updating Windows 10 and Visual Studio 2019 to the latest patches. I tried deleting the

[2019-08-23 13:48] NightOwl888 commented on #143
Not sure if this was a design choice or a bug, but for this simple scenario, `InitMe` is called twice. I would expect only one call here because there is technically only one executable test class.

Two calls is better than none, but it does complicate things if we have to track these extra calls in order to prevent test data from cleaning up before all of the tests are done.

[code]

[2019-08-23 14:17] NightOwl888 commented on #143
I found another issue: When the derived type is in another assembly that is referenced in the same project, the `FullyQualifiedTestClassName` doesn't include the name of the other assembly. So, when calling `Type.GetType(context.FullyQualifiedTestClassName)`, it resolves to `null`.

Since I am developing a test case framework for an application for 3rd parties to inherit, I have no way of knowing

[2019-08-24 12:17] jehrenzweig commented on #366
I'm unable to finish upgrading several existing .NET Framework projects to .NET Core 2.2 because their unit tests rely on `PrivateObject` and `PrivateType`, which are conspicuously absent from `MSTest.TestFramework` 1.4.0.

[2019-08-26 06:57] N-Olbert opened #634 "DeploymentItem doesn't work for pure test class without test methods"
## Description
According to the documentation the DeploymentItem can

Anyways, when applying the DeploymentItem to a TestClass which only contains a (valid) AssemblyInitialize- or AssemblyCleanup-Method, the specified resource won't be deployed.

This seems due to the fact that currently the deployment item is only evaluated for TestCase-items (see [src/Adapter/PlatformServices.Shared/netstandard1

[2019-08-28 06:30] vagisha-nidhi commented on #634
Hello @N-Olbert, I have tried the exact steps you mentioned here but I am unable to repro this.
Even with just the AssemblyInitilize in the class, it is able to deploy the items. Can you share a sample repro project for us to investigate further?

[2019-08-28 13:44] N-Olbert commented on #634
@vagisha-nidhi sorry for the inconvenience.

I attached a demo project where the beahviour can be reproduced.
[UnitTestProject1.zip](https://github.com/microsoft/testfx/files/3551082/UnitTestProject1.zip)

Anyways this bug seems pretty clear as the deployment operations are done a "per TestCase"-base.
So if no test case exists nothing can be deployed for a class, even if it is markes as TestClass

[2019-08-28 13:55] N-Olbert commented on #634
One more note:
The hotfix only works if you choose "Run all" within the Visual Studio Test Explorer Window.
If you run a single unit test ("Run Selected Tests") the hotfix won't work.

Reason for this is the following:
If you use "Run all" the following method will be called:

https://github.com/microsoft/testfx/blob/3b5926f8437a03744a641eb6dfe38e3aa7cd90bc/src/Adapter/MSTest.CoreAdapter/Execution

[2019-08-30 12:25] vagisha-nidhi commented on #634
@N-Olbert
We agree this is a bug. But may I know what is the exact scenario you want achieve with this?
Is this a blocking issue? We can decide to take up the fix or change the documentation as per the requirements then.

[2019-08-30 16:27] taylor-burns commented on #366
DO IT PLEASE

[2019-09-03 08:21] N-Olbert commented on #634
@vagisha-nidhi
Basically the idea was to get a low-impact workaround while migrating from MSTestV1 to MSTestV2. In MSTestV1 we had a .testsettings file which used LegacySettings` <LegacySettings> <Deployment> <DeploymentItem filename="..."/> </Deployment> </LegacySettings>` to deploy some (large) files that nearly all tests need.

Adding the according DeploymentItems to around 11k classes wasn't a

[2019-09-04 07:26] abatishchev opened #636 "No release for NuGet package 2.0.0"
I see that NuGet package MSTest.TestFramework version [2.0.0](https://www.nuget.org/packages/MSTest.TestFramework/2.0.0) has been released recently. However, the [releases section](https://github.com/microsoft/testfx/releases) of this repo lists only 2.0.0-beta4 dated back in April. So it's hard to see "what's new" in ver. 2.0.0.
Please create the release. Meanwhile where I can read what's new?

[2019-09-04 09:08] vagisha-nidhi commented on #636
I have created the release here https://github.com/microsoft/testfx/releases/tag/v2.0.0.
Also, the release notes have been added https://github.com/microsoft/testfx-docs/blob/master/docs/releases.md#200-september-2019
Closing the issue for now. Please feel free to reopen if any other concern.

[2019-09-04 09:08] #636 closed

[2019-09-04 17:04] chewiiieee commented on #633
It's been a few weeks now and it appears to be taking an excessive amount of time for this to issue to be evaluated.

[2019-09-06 11:12] vagisha-nidhi commented on #633
@chewiiieee
From the sample project that you have given, I dug around and found this is the main part of code where you are having discrepancy in production code and tests being run.
[code]
In the test method, `System.IO.Directory.Exists` returns false.
If I just run this part of code in a different unit test project, this works as expected, i.e. `System.IO.Directory.Exists` returns true. So this

[2019-09-09 05:53] vagisha-nidhi commented on #634
@N-Olbert
There is one more thing you can try out.
You can keep your files (that you are using to deploy) in your output directory(bin/debug) and use this setting node your runsettings file.
[code]

What this basically does is that it will copy every thing from your output directory into the deployment directory (won't figure out dependencies on its own) and run tests from there. I will log a doc

[2019-09-10 05:49] vagisha-nidhi commented on #633
Closing as this external issue. Please feel free to reopen if there is a test framework issue.

[2019-09-10 05:49] #633 closed

[2019-09-10 16:22] mbranscomb commented on #143
@NightOwl888 Thanks for the alert to ClassInitialize running multiple times - saved me some time trouble-shooting.

For now I'm keeping track of the current test class on the TestContext which seems sufficient for my needs.

[code]

[2019-09-10 16:32] KitoCoding commented on #143
It should also be noted that the class initialization attribute is not being run on the same thread as the test attributes. The test attributes when a worker is running off of the level of test methods should run on separate threads as the class initialization attributes however when a worker is running on a class level then they should all run on the same thread.

On Sep. 10, 2019 12:22 p.m., Mik

[2019-09-10 18:51] gqqnbig commented on #171
I don't like changing the order of DataRow or commenting out others because it requires compilation of the DLL. When the test library is large, compilation takes time.

[2019-09-11 00:19] NightOwl888 commented on #143
@KitoCoding

Thanks. That is a huge problem for me because my test fixture sets the culture during initialization of the class, which obviously needs to be on the same thread as the test in order to function.

[2019-09-11 01:55] KitoCoding commented on #143
I have brought this attention to the team, unfortunately they see this as a low priority. To me this breaks the feature of parallel testing on a classLevel. I have a threadManager that handles all of my objects on a per worker base. Since they offer no way of handling unique IDs per worker, I have to rely on ManagedThreadIds. But since the Init Class attribute and clean up runs on separate threads

[2019-09-11 17:36] chewiiieee opened #637 "Attempt#2: Missing support for LongPaths"
#633  This is a real issue in MSTest

Open a DOS BOX, and type:
MKDIR "c:\longPathnames\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\123456789\shortpath"
MKDIR "c:\longPathnames\123456789\123456789\123456789\123456789\1234567

[2019-09-11 17:40] chewiiieee commented on #637
The above code in my app requires the appropriate manifest and config file which is attached in #633

Also note the Windows OS Build number when attempting to reproduce as there is an earlier Windows 10 build which accidentally enabled LongPath support, which won't reproduce the behaviour.

[2019-09-16 06:15] bertrandpons opened #1323 ".runsettings file: how to configure connection string information?"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

Could you please indicate how to set connection string within .runsettings file?

Thank you

[AB#1743230](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1743230)

[2019-09-16 18:29] swegele opened #638 ".dbg files not deleted from OUT directory when using DeploymentItem on Class"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

![OUT_Directory](https://user-images.githubusercontent.com/6868671/65625156-1e611e80-df80-11e9-846e-7acccbe0cea4.jpg)

[2019-09-17 06:39] bertrandpons opened #639 ".runsettings file: how to configure connection string information?"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

Could you please indicate how to set connection string within .runsettings file?

Thank you

[2019-09-18 09:04] konradperzyna commented on #143
Has anyone found a workaround for [ClassCleanup] not called at all?
This is a great feature, but useless as it is implemented for now.
I also guess that ClassCleanup should be called AFTER every derived class cleanup to keep the symetry.

[2019-09-18 10:47] KitoCoding commented on #143
Class cleanup as of the latest stable build will not run if the class clean up is not inside the class you are calling from. This means you can't put it in your base test. A simple workaround would be to create a function call that will trigger the initialize or cleanup method. But regarding your other issue 4test class clean up not being triggered after all of the tests have been executed. this i

[2019-09-19 05:58] kaadhina commented on #639
Hi, there is a node called <TestRunParameters> that can be used to passed along via the settings and accessed in test code using https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.testcontext.properties?view=mstest-net-1.2.0#Microsoft_VisualStudio_TestTools_UnitTesting_TestContext_Properties

[2019-09-19 06:48] bertrandpons commented on #639
@kaadhina  thank you for your reply.

Basically, how would it be used within Azure DevOps pipeline for running Unit Tests with Visual Studio Test task ?

[2019-09-19 07:13] kaadhina commented on #639
You can specify runsettings in the pipeline as input.
If your question is more specific about overriding the runsettings parameter in the pipeline, then you can use the override test run parameter option in the task to do that:
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/VsTestV2/README.md
https://devblogs.microsoft.com/devops/supplying-run-time-parameters-to-tests/

[2019-09-19 07:32] bertrandpons commented on #639
@kaadhina can you inject connectionString information in TestRunParameters section of a runsettings file? I do not see how.

[2019-09-19 08:24] kaadhina commented on #639
You can pass along any key value pairs as string content in the xml. If the connection info you want to pass can be one single value or split into multiple key value pairs, then it can be.

[2019-09-19 09:00] bertrandpons commented on #639
I tested multiple times with connection string key/value pair and it did not work.

[2019-09-19 09:17] singhsarab commented on #605
We will be tracking this with CPS change. Closing.

[2019-09-19 09:17] #605 closed

[2019-09-19 09:26] #552 closed

[2019-09-19 09:27] kaadhina commented on #552
Please re-open if the above does not help

[2019-09-19 10:46] elgatov opened #640 "There is no clear way to catch an unhandled exception in a TestMethod and TestCleanup"
## Description
There is no clear way to catch an unhandled exception in a TestMethod and TestCleanup.

We are using Selenium with MSTest to run tests. I would want to take an screenshot if the TestMethod or TestCleanup fails. However, creating a new TestMethodAttribute only let's me change how the test is run and wrapping the method in a try-catch is no good as I need a EventFiringWebDriver instan

[2019-09-19 13:02] vlaskal commented on #483
Hi, I think it is same issue as is #580

[2019-09-20 05:40] kaadhina commented on #639
can you please share your debug logs for me to take a look? (set system.debug = true in your pipeline)

[2019-09-23 12:01] dbtfsbre commented on #522
In more complex scenarios like E2E UI tests where more than one failure may need to be collected and analyzed per test, this could be called a bug rather than enhancement.

[2019-09-23 12:35] michael-colclough commented on #522
I agree completely. I raised it initially as a bug but then Microsoft downgraded it from bug to enhancement, and now after nearly a year have not done anything about it

[2019-09-23 18:27] elgatov commented on #640
I take it is literally impossible as of right now.

Would the events in [TestExecution class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.testexecution?view=visualstudiosdk-2017) work if I had Visual Studio 2017?

[2019-09-23 21:23] jimmylewis opened #642 "Repo has unit test runtime dependency on deprecated .NET Core version"
## Description
When cloning and running tests in this repo, there is a runtime dependency on having .NET Core 1.1 installed (specifically, for `ValidateTimeoutTestsNetCore`).  If .NET Core 1.1 is not installed, this test will fail unintuitively - it will say that 0 of the test cases timed out (expected 2).  In reality, they never ran (or failed to start).

.NET Core 1.1 is beyond its support lifec

[2019-09-24 06:18] kaadhina commented on #639
can you please share your debug logs for me to take a look? (set system.debug = true in your pipeline)

[2019-09-24 06:45] bertrandpons commented on #639
in a first time, I would like to know how to write the runsettings file with connection string information. Thank you

[2019-09-24 07:06] kaadhina commented on #639
To write a runsettings with connection string (or any key value pair for that matter) you can use the TestRunParameters tag as mentioned here: https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

To override the value in pipeline run, you can use the override test run parameter input as mentioned here:
https://devblogs.microsoft.com/

[2019-09-24 07:38] bertrandpons commented on #639
Thank you for your reply. I would like to inject the following key/value pair for the connection string named _ProjectEntities_

`name="ProjectEntities" value="metadata=res://*/ProjectEntities.Model.csdl|res://*/ProjectEntities.Model.ssdl|res://*/ProjectEntities.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:<SQL_SERVER>,1433;Initial Catalog=<DB_NAME>;Per

[2019-09-25 05:45] kaadhina commented on #639
Hi thank you for the sample. The below works for me.
`<TestRunParameters>
    <Parameter name="connectionstring" value="metadata=res://*/ProjectEntities.Model.csdl|res://*/ProjectEntities.Model.ssdl|res://*/ProjectEntities.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:&lt;SQL_SERVER&gt;,1433;Initial Catalog=&lt;DB_NAME&gt;;Persist Security Info=False;Use

[2019-09-25 09:44] bertrandpons commented on #639
Thank you for your help,

I get the following error when I do as you indicate:

Error: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Data.Entity.Core.EntityException: The underlying provider failed on Open. ---> System.Data.SqlClient.SqlException: A network-related or instance-specific error occurred while establishing a connecti

[2019-09-25 09:58] kaadhina commented on #639
can you please print the connection string in your test to see if it is correct

[2019-09-25 11:13] kaadhina commented on #638
Hi, I'm not able to reproduce this issue, can you please share a sample repro project?

[2019-09-25 11:21] bertrandpons commented on #639
the print of the connection string shows the wrong value, as if the runsettings file does not make effect

[2019-09-25 11:27] kaadhina commented on #639
What value does it show, i mean what is the diff from the value in the settings. How are you accessing the value in your test, please share code snippet

[2019-09-25 11:52] bertrandpons commented on #639
By default, it takes connection string value from App.config file, set to localdb. So far, I use app config transform to apply connection string value that targets a specific environment's database.
What I would like to do is to use runsettings file from which I override value instead of having to generate multiple app config transform in the case I want to perform tests on different environments.

[2019-09-25 13:20] kaadhina commented on #639
When u use the runsettings as above, print the value TestContext.Properties["The_key_you_used_in_runsettings"] in your test code. What is the output you get for this?

This blog explains the scenario you are trying to achieve in detail: https://devblogs.microsoft.com/devops/supplying-run-time-parameters-to-tests/

[2019-09-25 15:58] bertrandpons commented on #639
ok thanks a lot. I will take a look at it.

[2019-09-25 17:16] swegele commented on #638
Yes I have attached a simple test project...instructions to reproduce behavior
1. Open solution and restore nuget packages
2. Rebuild solution
3. Debug the test
4. Look in the TestResults...out directory and see .dbg files

[DemoTestProject.zip](https://github.com/microsoft/testfx/files/3653836/DemoTestProject.zip)

[2019-09-26 10:44] arnath opened #643 "Parallel test execution mixes up standard output from all tests"
## Description
If you enable parallel test execution, the standard output from the tests gets all mixed together.

## Steps to reproduce
1) Enable parallel execution of tests.
2) Have several tests that produce some output to stdout (e.g., using Console.WriteLine).

## Expected behavior
Each test's output would be isolated in the output display.

## Actual behavior
The output from all the tests ge

[2019-09-26 10:45] arnath commented on #643
TestContext.WriteLine does not have this same problem. However, because the TestContext is not available globally, I would either have to pass it around everywhere or do some super weird hacks to get it to be available for all my stdout logging.

[2019-09-26 11:17] kaadhina commented on #638
Thank you for the repro. I was able to repro this and can see there are pdb files left behind during the debug scenarios. (Please note that this does not happen in a run test scenario however. The out directory gets cleaned up completely).
Thank you for this feedback but this is not high on our priority list right now to pick up.

[2019-09-26 14:33] dannycrone commented on #643
Hi arnath, I am also getting this and it does not matter if I use Console.WriteLine or TestContext.WriteLine, it all gets mixed up. Sometimes one test gets all of the output from the other test. I am using Specflow on top aswell. This is causing major grief

[2019-09-26 20:19] dannycrone commented on #643
I tell a lie, TestContext.WriteLine is working just fine

[2019-09-27 21:29] robdalsanto commented on #504
@mayankbansal018 I'll take a shot at this. I'd welcome any guidance &/or comments on commits as I make them.
Mostly I want to get more familiar with testfx as we've a need to extend test isolation.

[2019-09-28 20:15] dotMorten commented on #551
@azchohfi Did you ever manage to work around this? I'm hitting the same issue with the WPF Xaml Behaviors project as well. Initialize/Cleanup fails

[2019-09-29 15:55] dotMorten commented on #551
@azchohfi Here's what I did to get around it: Just added an attribute that automatically gets picked instead, since the namespace match the unit tests:
https://github.com/dotMorten/XamlBehaviorsWpf/blob/b289e419a832f64e4e4277715cb7eb75e2c41721/Test/UnitTests/STATestMethodAttribute.cs

[2019-09-30 08:47] #639 closed

[2019-09-30 12:56] mpettus commented on #233
Does anyone have any updates on this? I really need DataRow for my project.

[2019-09-30 12:57] mpettus commented on #233
Does anyone have any updates on this? Could really use DataRow on my project.

[2019-09-30 13:12] mpettus commented on #233
Any update on this? I could really use DataRow in my project . . .

[2019-10-01 20:51] dennisdietrich commented on #579
This looks like a nice little (?) task to get started. However, is there a (mandatory) code style for this project? And do first-time contributors need to sign an agreement? I did read the contributor guide but it didn't mention anything about either.

[2019-10-02 05:43] Mgamerz commented on #366
It is little things like this that make it hard for me to recommend moving some of our other .NET framework apps over to .net core...

[2019-10-04 11:21] Danielku15 commented on #493
I started again to look into this a bit deeper and attempted to implement it. Unfortunately the object model of vstest does not foresee yet any place where we could hold the durations of all these additional timings.

For AssemblyInitialize and ClassInitialize and TestInitialize I attached additional properties to `UnitTestResult`. If the initialize methods are executed as part of a particular tes

[2019-10-04 17:59] azchohfi commented on #551
That's how I fixed it:
https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/commit/88e2a236885501c4c1e39dfa91ad4d75e5b0434c

[2019-10-04 18:00] dotMorten commented on #551
@azchohfi Ugh that's a lot of changes. I'd suggest considering my approach as you don't have to touch any of the test code, so it's easier to maintain in the long run

[2019-10-05 10:15] ralphhendriks opened #645 "Improvement: Extend TestContext with Write method"
I would like to suggest to add to `TestContext` the `Write(string message)` method. The suggested method behaves identically to the existing method `WriteLine(string message)`, except that it does not terminate the message with the newline character. Compare for example the existence of both `Write` and `WriteLine` in `System.Console`.

In a project I am currently working on, there is a lot of exi

[2019-10-06 19:48] NetanelMosheCohen opened #646 "Selenium attachments are not saved to Azure DevOps report when running tests in parallel"
## Description
I have a web automation project using Selenium, C#, MSTest V1, the report integrated with Azure DevOps. In the past I ran the tests sequentially and everything worked well - I saw the tests snapshots in the Azure DevOps integrated report.
When I changed my project to run in parallel, I don't see my snapshots anymore rather get this error message (attached image):

TestContext Messag

[2019-10-07 14:57] ptletski commented on #366
Please do this...

[2019-10-07 16:29] Danielku15 opened #647 "Support for customized attributes"
## Description
This is a feature request and not a bug report. I decided to open this Feature Request as a replacement of #493 where it turned out that measuring times has a strong dependency to microsoft/vsconsole and the loggers.

As of today MsTest allows you to create a custom `TestMethodAttribute` which controls how tests are executed. In there developers can add quite a bunch of logic to pot

[2019-10-07 16:34] Danielku15 commented on #493
Closing this issue in favor of #647. The extension explained there is more general-purpose and would allow to fulfill this usecase.

[2019-10-07 16:34] #493 closed

[2019-10-09 07:18] vagisha-nidhi commented on #640
To take snapshots of a test you can use the following code:

[code]

Every test class inherits from the TestBase class that contains the code above.
In every test class, the function above defined as [TestCleanup] so the snaphots is taken in the end of the test.
You can wrap the code  in a try-catch to take the screenshot when there is exception (in test method as well as test cleanup). Can you ch

[2019-10-10 20:58] elgatov commented on #640
hi @vagisha-nidhi i did something like your suggestion:

`        protected void UploadScreenshot(string exceptionName)
        {
            var path = Directory.GetCurrentDirectory() + "\\" + TestContext.TestName
                + "_" + exceptionName + "_" + DateTime.Now.ToString("yyyyMMdd_HHmm") + ".png";
            SeleniumHelper
                .GetWebDriver()
                .GetScreenshot(

[2019-10-14 20:22] rhyous commented on #273
I notice this is up-for-grabs.

1. Is the current .NET Framework DataSourceAttribute code open source?
2. Does TestContext exist in MSTest2 and would it work if the attribute was coded, or is there more wiring missing than just the lack of this attribute?

[2019-10-16 08:41] mayankbansal018 commented on #642
We understand that this is an issue for machines with VS 2019, & no .Net Core 1.1 available. Unfortunately we are not able to pick this up at this time. I've marked it as up for grabs, & will be happy to take up contributions from community.

[2019-10-16 11:22] vagisha-nidhi commented on #640
There is already a TestCleanup for AfterTestMethod to be executed. We have other attributes which you can look for here https://www.meziantou.net/mstest-v2-test-lifecycle-attributes.htm. The usage of AfterTestCleanup is not clear to me except what you are saying that you don't want the repeated code in all TestCleanups. The TestCleanup method is already capable to perform all cleanup operations ne

[2019-10-16 11:22] #640 closed

[2019-10-17 05:45] #638 closed

[2019-10-17 09:55] jayaranigarg commented on #645
@ralphhendriks : It would be a nice addition to have. We would be happy to take your contribution for the same. Let us know if need any help on this from our end!

[2019-10-18 06:22] ralphhendriks commented on #645
Thank you, I will give it a shot!

[2019-10-21 06:22] mayankbansal018 commented on #619
@vagisha-nidhi is this closed?

[2019-10-21 06:25] mayankbansal018 commented on #473
closing this issue, unfortunately it doesn't seem we are picking this anytime soon

[2019-10-21 06:25] #473 closed

[2019-10-21 06:45] vagisha-nidhi commented on #619
@mayankbansal018 Yes this is fixed. Please use the latest version of vstest and mstest to resolve the issue.

[2019-10-21 06:45] #619 closed

[2019-10-21 18:44] KitoCoding commented on #580
It is not documented because it is a bug. They have admitted that this isn't as designed but its a low priority.

[2019-10-22 06:01] kfrajtak commented on #580
Well, if there is a bug that completely changes the test life cycle I would expect it to be well documented.

[2019-10-22 10:10] vagisha-nidhi commented on #637
@chewiiieee
The code which I mentioned earlier, this failed in .NETFramework 4.6.1.
[code]
Updating the framework version on 4.7.2 helped to no longer reproduce the issue.
You app(AppMain.vb) and test code are behaving exactly the same when run on the latest .Net Framework version. Please check what framework version you are using in your app and test projects when running this.

[2019-10-22 10:57] elgatov commented on #646
@NetanelMosheCohen try with:

[code]

[2019-10-22 15:17] NetanelMosheCohen commented on #646
@elgatov Thanks but it didn't help, I don't think that it's because of the path, I tried a couple of paths... I think that the issue is more complicated.

[2019-10-23 13:33] vlaskal commented on #580
I would like to know what is expected behavior in following scenario.
Let's imagine:
* 10 test classes each with several test methods and some of them are flagged by DoNotParallel attribute. At least one method in each class.
* Execution level is set to MethodLevel
* Number of workers/threads is set to 5

[2019-10-23 18:59] MikeChristensen opened #648 "Package not installed correctly when using new VS2017 format"
## Description
When using the new VS2017 CSPROJ format, package is not installed correctly.

## Steps to reproduce
1. Create a simple .SLN with MSTest.TestAdapter and MSTest.TestFramework installed
2. Convert to new VS2017 format using a tool such as [this one](https://github.com/hvanbakel/CsprojToVs2017)
3. Try to build

## Expected behavior
Should build correctly

## Actual behavior
When NuGet p

[2019-10-23 19:00] MikeChristensen commented on #648
[TestApp.zip](https://github.com/microsoft/testfx/files/3763991/TestApp.zip)

[2019-10-23 19:01] MikeChristensen commented on #648
Project code:

[code]

Note that we refer to the package using `<PackageReference Include="MSTest.TestAdapter" Version="2.0.0" />`, but NuGet restore does not download them.  These packages do not appear in the `packages` folder.

[2019-10-23 19:38] chewiiieee commented on #637
@Vagisha
I logged the issue using .NETFramework 4.8.

Can you run winver.exe and tell me what version of Windows you are using to
reproduce?

On Tue, Oct 22, 2019 at 6:10 AM Vagisha Nidhi <notifications@github.com>
wrote:

[2019-10-24 05:53] karanjitsingh commented on #643
@arnath, if you want to isolate test related output TestContext is the only way. For output that needs to be immediately visible on console, it's by the virtue of its nature that with parallel tests output will get mixed up.

You can keep TestContext as a static variable in your class, I really won't consider that to be a hack especially when writing tests.

[2019-10-24 05:53] #643 closed

[2019-10-24 09:06] karanjitsingh commented on #643
@arnath Not sure how you're using it, but the following absolutely works

[code]

[2019-10-24 09:26] arnath commented on #643
If you run this with parallel execution enabled, you get one test with no output and one test with 20 lines interleaved of "Test1" and "Test2" as output. That does not solve the problem I described.

`[TestClass]
    public class UnitTest1
    {
        private static TestContext TestContext;

        [ClassInitialize]
        public static void ClassInitialize(TestContext testContext)
        {

[2019-10-24 10:51] vagisha-nidhi commented on #637
My OS build version is 18362.418
I am providing the gifs on how the app main and the test is behaving the same when I run the project provided by you on my machine.
I have simply created a test method in your unit test project and checking if long path support is there by checking if basic long path exists. This returns true in the first gif.
[code]
![net48video](https://user-images.githubusercont

[2019-10-24 10:53] #637 closed

[2019-10-24 10:54] anshii03 commented on #648
@MikeChristensen - This issue is not reproducable. I downloaded your project and  built it in VS 2017. Packages were successfully downloaded in .nuget/packages folder.

Even if you run from command line , packages are getting downloaded.

Is there anything I missed?

[2019-10-24 18:43] MikeChristensen commented on #648
Maybe it's a VS2019 thing.  Can you confirm the full path of where the package was downloaded to?  Is the path different than the old style NuGet/VS?  I've confirmed the program still works, and DLLs are copied to the output directory.  I'm thinking there's a new path for packages, which is why our build broke.

[2019-10-25 07:31] kfrajtak commented on #580
I have also found that the test class constructor is invoked before each test.

[2019-10-25 16:49] MikeChristensen commented on #648
Ok, seems to be by-design then.  One last question, though.

When does NuGet use the "packages" folder off the solution directory (C:\MySolution\packages) and when does it use the "packages" folder off the user's profile directory (C:\Users\Mike\.nuget\packages)?  Is this a setting in NuGet?  Is this a behavior of the new VS2017 CSPROJ format?  Thanks!

[2019-10-27 12:31] alexey-gusarov opened #649 "TransactionScope in async Init"
## Description
Async context started in TestInitialize method is not flow across thread continuations in Test method

## Steps to reproduce
[code]

## Expected behavior
Test passed because async context flow across thread continuations

## Actual behavior
Async context flow only in Init method. Also if I started async operation in TestMethod it's also worked.

## Environment
.NETCoreApp,Version=v3

[2019-10-29 10:35] karanjitsingh opened #650 "Test result attachments are not consistently reporterd"
[code]

![image](https://user-images.githubusercontent.com/4632805/67759680-e9a42380-fa65-11e9-98e5-c72e4dd539ef.png)

No attachment for the second test
![image](https://user-images.githubusercontent.com/4632805/67759696-f163c800-fa65-11e9-9bbd-abc5c857faee.png)

This repros even without the thread sleeps.

[2019-10-29 13:24] nmesar opened #651 "When the base project is on a different solution than the derived one, the inherited test methods are not discovered."
## Description

As per issue #23. Deriving test methods from a base test class should be working.
But it seems to be working only when the base and derived project exist under the same solution.

When the base project is on a different solution than the derived one, the inherited test methods are not discovered.

## Steps to reproduce
Add a base test class TestClassBase in assembly1.dll in Solutio

[2019-10-29 13:28] ydemetriades commented on #651
@nmesar I managed to reproduce your issue!
@AbhitejJohn Any ideas?

[2019-10-29 17:11] AbhitejJohn commented on #651
Looks like that should be the default now. I haven't been on this project for a while. Tagging @jayaranigarg  and @singhsarab

[2019-10-30 07:14] singhsarab commented on #651
@nmesar @ydemetriades Do you mind sharing the repro projects please ?
I wasn't able to reproduce the issue.

[2019-10-30 10:26] nmesar commented on #651
Sorry guys but the issue was on my code, I introduce a new Attribute which was blocking the base tests to be discovered.
Thank you for replying back to me guys and for your time.
I will close the issue.

[2019-10-30 10:26] #651 closed

[2019-10-31 11:27] karanjitsingh commented on #643
Sorry about that I meant to suggest the `TestContext` property.

Try using keeping `public TestContext TestContext { get; set; }` in your class and it should get populated automatically.

[2019-10-31 11:31] karanjitsingh commented on #650
Found my mistake,

`public TestContext TestContext { get; set; }` should be used instead of `ClassInitialize`

[2019-10-31 11:31] #650 closed

[2019-10-31 11:38] karanjitsingh commented on #646
@NetanelMosheCohen, sorry for the delayed response, could you post full logs for this along with the generated trx file?

[2019-10-31 15:41] penfold commented on #304
Any progress?

I have .net core 3 web app which has all of its libraries in .net standard 2.1. I really need to be able to test at .net standard 2.1.

Is there a workaround for this?

[2019-10-31 22:36] NetanelMosheCohen commented on #646
@karanjitsingh Do you mean to the logs that generated in Azure Devops when running the tests (VsTest logs only)?

[2019-11-01 19:58] Grauenwolf opened #652 "Assert.IsTrue/IsFalse for nullable booleans"
I propose adding the following overloads for handling nullable Booleans:

        public static void IsTrue(bool? condition);
        public static void IsTrue(bool? condition, string message);
        public static void IsTrue(bool? condition, string message, params object[] parameters);
        public static void IsFalse(bool? condition);
        public static void IsFalse(bool? condition, strin

[2019-11-01 20:11] Grauenwolf commented on #571
My ideal proposal would be to allow an `assert` parameter.

    [TestMethod] public void MyTest ( Assertions assert)

1. The `assert` parameter would be populated by the framework.
2. The `Assertions` class would expose all of the same methods as the `Assert` class.
3. Rather than throwing an exception, failures would be accumulated. By default, the framework would report the failures by checking

[2019-11-03 14:05] NetanelMosheCohen commented on #646
@karanjitsingh if so, attached.

[Logs.zip](https://github.com/microsoft/testfx/files/3801634/Logs.zip)

[2019-11-04 07:57] karanjitsingh commented on #646
@NetanelMosheCohen
Two things here-
- .Testsettings does not work with MSTestV2. Try running parallelism with https://github.com/Microsoft/testfx-docs/blob/master/RFCs/004-In-Assembly-Parallel-Execution.md
- Is it possible the test throws before your `AddAttachments` code gets hit? Try logging something to console along with the name of the running test in that block, see if it shows up in the std

[2019-11-04 09:29] NetanelMosheCohen commented on #646
@karanjitsingh

1. I tried to upgrade MsTest to V2 with RunSettings, but [DataSource] is not available in MsTest V2 so I gave up, because I don't want to update each test with new function of reading test data. I working with MsTest V1 and TestSettings file and it is working well. Also note that adding snapshots with non-parallel execution is works so the issue is only when running in parallel.

2

[2019-11-04 13:54] Daniel-Svensson commented on #552
@kaadhina
 Can you at least document that DeploymentItems and using Deployment directories are not supported and will not work for many scenarios where mstest v1 works.
Maybe you should also mark it as obsolete.

The code base with tests are a quite large one inherited from microsoft (formerly WCF RIA Services) and I do not have the time to remove them all.

The only current valid workaround is to

[2019-11-04 14:01] Daniel-Svensson opened #653 "Assembly search paths seems to be wrong when using DeploymentDirectory"
This is from one part of https://github.com/microsoft/testfx/issues/552 which was closed.

_Originally posted by @Daniel-Svensson in https://github.com/microsoft/testfx/issues/552#issuecomment-504991415_

@ShreyasRmsft

There is now a repro in https://github.com/Daniel-Svensson/MsTestRepro for my "other" bug which currently prevents me from producing a repro of my original issue.
I will try to ext

[2019-11-04 17:55] ShreyasRmsft commented on #653
@singhsarab @jayaranigarg I think this issue also can be solved by using appdomain.load with the path.

The symptoms are similar. The appdomain base is set to bin where the adapter is present. But the tests are running from the "out" folder because of deployment Items.

@Daniel-Svensson we have a fix in mind that we'll try out in the next few days. If that works your issue should also get resolved

[2019-11-08 00:37] icnocop opened #654 "vstest.console.exe returns a zero exit code even if no tests were found/executed"
## Description
vstest.console.exe returns a zero exit code even if no tests were found/executed.
A zero exit code usually means success, but since no tests were found/executed, I expected a non-zero exit code meaning a failure occurred.

## Steps to reproduce
Create and build a new Unit Test Project (.NET Framework 4.6.1) in Visual Studio 2017 v15.9.17

Create a `Local.testsettings' file:
[code]

[2019-11-08 02:11] icnocop opened #655 "PathTooLongException is thrown when calling AddResultFile with a file path greater than or equal to 260 characters"
## Description
A `PathTooLongException` is thrown when calling `AddResultFile` with a file path greater than or equal to 260 characters.

## Steps to reproduce
1. Clone the repository https://github.com/icnocop/PathTooLongException
2. Restore NuGet packages.
3. Build in Visual Studio 2017.
4. Run the test in Visual Studio 2017 or on the command line.

## Expected behavior
I expected the file to be

[2019-11-08 10:34] karanjitsingh commented on #646
@NetanelMosheCohen

[code]

Can you check who's printing this? Maybe your tests are catching an exception but not printing out the stack.

[2019-11-08 15:50] singhsarab commented on #649
@jayaranigarg Is this by-design ?

[2019-11-10 09:02] NetanelMosheCohen commented on #646
@karanjitsingh AddResultFile() is printing this error as you can see in your docs:
https://github.com/microsoft/testfx/blob/master/src/Adapter/PlatformServices.NetCore/Services/NetCoreTestContextImplementation.cs

![image](https://user-images.githubusercontent.com/56232437/68541541-6067e780-03a9-11ea-831c-222615fd6319.png)

In the bug description there are 3 links of people that get the exact same

[2019-11-11 13:22] arnath opened #656 "No way to set timeout for whole test run"
MSTest v2 appears to have a way to set a per test timeout value using this setting in a .runsettings file:
[code]

However, there does not appear to be a way to set a timeout for the entire test run. Does this feature exist? If not, can it be added?

[2019-11-13 03:31] kazken3 commented on #366
It took a lot of time to get here. Please... 🙏

[2019-11-15 21:26] dennis-yemelyanov opened #658 "Redundant calls to MatchTestCase"
TestExecutionManager.ExecuteTestsInSource has a call to filter tests that should be executed: https://github.com/microsoft/testfx/blob/bec913906cce0a3e8182ec3b9f82168ab96dbb6c/src/Adapter/MSTest.CoreAdapter/Execution/TestExecutionManager.cs#L239

However the same filtering is also done earlier in UnitTestDiscoverer.SendTestCases: https://github.com/microsoft/testfx/blob/3197e7bb9f7fd4219c7855be575

[2019-11-17 09:01] prodoshkm commented on #557
Hi Anshul,

I hope you have figured it out. If not, then try the following code. It works.

Add the following method in your Base class.

[AssemblyInitialize()]
        public static void TestAssemblyInitialize(TestContext testContext)
        {
            string testDataSourceDirPath = testContext.Properties["TestDataDirectory"].ToString();
            DirectoryInfo sourceDir = new DirectoryInfo

[2019-11-18 09:06] ShreyasRmsft commented on #648
I believe it is to do with the csproj format.

[2019-11-18 11:25] milosloub commented on #366
Any estimates on this?

[2019-11-19 09:15] hvinett commented on #656
Hey @arnath, you can set the timeout for the entire test run using test session timeout  in run settings file

[code]

Refer [this](https://github.com/microsoft/vstest-docs/blob/master/docs/configure.md) for further information.

[2019-11-19 09:16] #656 closed

[2019-11-19 10:26] seekingtheoptimal commented on #653
I can confirm we had the same issue with simple assembly references:
We had the Microsoft DacFx as common, and 3 different test assemblies. DacFx scans its directory for any other dlls containing code analysis rules.
On VS2019 worked fine, but on Azure Devops and in VS2017 only the test assembly that was run first succeeded, all the other failed because they didn't contain any rules scanned and im

[2019-11-19 15:09] Daniel-Svensson commented on #653
@seekingtheoptimal you might be interested in #57 that would solve many similar issues (but not exactly this issue where wrong location is used)

[2019-11-19 23:52] NGloreous commented on #143
Added PR to fix issue where base class cleanup isn't called.

[2019-11-21 14:45] LokiMidgard opened #662 "IsSubset should return a better default AssertMessage"
## Description
The `CollectionAssert.IsSubsetOf` error message could have more information.

Currently it only says it failed. But what elements are missing is actually ommitted.

https://github.com/microsoft/testfx/blob/2166170f73c9aa13124286c34f675a5cbebee988/src/TestFramework/MSTest.Core/Assertions/CollectionAssert.cs#L451-L459

The helper method seems to have the information but will not give

[2019-11-21 21:37] kzu commented on #522
I can't fathom how this is remotely an enhancement rather than a serious bug that should be fixed ASAP :/. Makes using `Timeout` absolutely useless and dangerous.

[2019-11-22 07:28] michael-colclough commented on #522
As the person who first reported this, I agree entirely!

Thanks

Michael Colclough

From: Daniel Cazzulino <notifications@github.com>
Sent: 21 November 2019 21:37
To: microsoft/testfx <testfx@noreply.github.com>
Cc: Colclough, Michael (Reigate) <Michael.Colclough@willistowerswatson.com>; Manual <manual@noreply.github.com>
Subject: Re: [microsoft/testfx] Timeout attribute does not call test cleanu

[2019-11-23 10:13] jadaml commented on #515
It might be me reading GitHub incorrectly, but I do not quite understand what is the decision here; are you saying that the feature request&mdash;to apply a display name altering the test case name displayed&mdash;is the same as #644 or it was just mentioned there and the decision is then ... what exactly?

[2019-11-25 06:29] jayaranigarg commented on #649
@alexey-gusarov : Apologies for the delay. TestInitialize method have async Task as return type and hence you are observing this unexpected behaviour.

Please edit you code to following and things should work fine:
[code]

[2019-11-25 12:30] jayaranigarg commented on #658
@dennis-yemelyanov : Thank you for reaching out to us.

There are a bunch of scenarios where these calls are not redundant. If we only want to discover tests and not actually execute them, then we need filtering at the time of discovery. Also, for executing tests, there are certain scenarios where we don't do discovery first and straight away jump to executing tests. SO in such cases we need filte

[2019-11-25 12:37] jayaranigarg commented on #648
Closing the issue from our end. Let us know if you still need assistance on this.

[2019-11-25 12:37] #648 closed

[2019-11-25 12:59] jayaranigarg commented on #662
@LokiMidgard: Thank you for your feedback. This certainly makes sense. We will be happy to take contribution for the same if you would like to pick this up.

[2019-11-25 14:54] LokiMidgard commented on #662
I'm not sure when I could get to this. This would propably be spontanius.

I have written an extension method for now to use in my project.

[code]
Compared with the method currently used the above propably has a problem with double values.

If I would implement this, I would tend to use the mechanic already present and write the output like this:
[code]

I would print up to 3 values that where no

[2019-11-25 17:27] dennis-yemelyanov commented on #658
Thank you, @jayaranigarg .

If we can execute tests without doing discovery first as you mentioned, it will be helpful. Is there some setting or parameter that can be passed to skip discovery?

[2019-11-25 23:35] ahmedalejo commented on #515
@jadaml like metioned in #644,

Merging #644 would complement the implementation of #515, i.e if or when it is done.

[2019-11-26 06:10] jayaranigarg commented on #658
@dennis-yemelyanov : There is no setting as such to skip discovery. When you give only selected tests that need to run using IDE via 'Run Selected' option or if you run selected tests using vstest.console commandline with /tests switch, in these scenarios discovery is skipped and we directly go to execution.

[2019-11-26 10:29] alexey-gusarov commented on #649
Hello! Thank you for response.
My init code contains calls to async methods. If I remove async from TestInitialize then I need a lot of Waits.

[2019-11-26 18:48] LazyBonez commented on #522
Is there a workaround for this case?

[2019-11-27 01:44] kzu commented on #522
The workaround is to not use the attribute, and instead have your test methods run as part of a call to something like `Execute(timeout, () => { actual test method })`, where the `Execute` helper essentially does the *same thing* the timeout does, which is at https://github.com/microsoft/testfx/blob/master/src/Adapter/PlatformServices.Desktop/Services/DesktopThreadOperations.cs#L27.

As to why the

[2019-11-28 09:27] jayaranigarg commented on #649
@alexey-gusarov : As a workaround, you can store the value of Transaction.Current in a static member variable and use that member variable instead in your test methods.

[2019-11-29 07:59] jayaranigarg commented on #658
Closing the issue as it is not actionable from our end.

[2019-11-29 07:59] #658 closed

[2019-12-01 17:24] ransagy opened #663 "DeploymentItem path in .NET Core/Linux"
## Description

Trying to use `[DeploymentItem("..\..\File.zip"]` - relative path outside the current test class' path - On both Windows and Linux in .NET Core 3.0 leads to errors in either one or both.

## Steps to reproduce
Create a new .NET Core 3.0 Unit Test project with MSTest 2.0 (adapter and framework).
Add an `[DeploymentItem]` attribute with a relative path OUTSIDE/UPWARDS of the unit tes

[2019-12-01 18:52] abatishchev commented on #304
Same here, two years later. Any change to get it fixed? Any known workarounds?

[2019-12-01 19:39] abatishchev opened #664 "Updating Microsoft.NET.Test.Sdk, Microsoft.TestPlatform.TestHost from 16.2.0 causes netcoreapp2.0 tests to stop working"
## Description

Updating both packages from 16.2.0 to 16.3.0 causes this compiler error:

In an auto-generated file:

[code]

Updating to 16.4.0 causes this exception in the Tests tab:

[12/01/2019 11:08:57.245 AM Error] StreamJsonRpc.RemoteInvocationException: The following TestContainer was not found 'Tests.Core\bin\Debug\netcoreapp2.0\Tests.Core.dll'
   at System.Runtime.ExceptionServices.Excep

[2019-12-02 05:20] alexey-gusarov commented on #649
@jayaranigarg
Thank you for workaround!

Do you have plans to support async flow in TestInit methods?

[2019-12-02 11:56] ShreyasRmsft commented on #646
@NetanelMosheCohen this is AddResultFile implementation in MsTestV2. The code might not be the same for MsTestV1

Does this repro with MsTestV2 also? I'm not sure if we will be making any fixes in MsTestV1. If there is a bug with MsTestV2 we will addressing it in V2.

Could you mock the data and try for MsTestV2?

[2019-12-03 11:36] NetanelMosheCohen commented on #646
@ShreyasRmsft The code is identical in MsTestV1 as I saw in old tickets. Also, Microsoft themselves  gave me the code as you can see here in the comments:
https://azuredevopslabs.com/labs/vstsextend/selenium/

![image](https://user-images.githubusercontent.com/56232437/70047946-cb37c780-15d1-11ea-9373-b2f4ff51ec41.png)

As I wrote above, I tried to upgrade MsTest to V2 with RunSettings, but [DataS

[2019-12-03 15:57] singhsarab commented on #649
@alexey-gusarov Thanks for the confirmation.
We do not have plans to add support for it. Thanks.

[2019-12-03 15:57] #649 closed

[2019-12-04 12:24] vik542 opened #665 "UnhandledExceptionEventHandler in MSTest doesn't show the exception"
## Description
Using the UnhandledExceptionEventHandler in MSTest doesn't show any exception being caught.

## Steps to reproduce
 - Create a simple UnitTest project which could be either MSTest (.NET core) or UnitTest Project(.NET Framework)
 - Attach an UnhandledException event handler to the AppDomain
 - Create any kind of null reference or an InvalidOperation Exception and try to add it to you

[2019-12-04 18:19] pedramrezaei commented on #432
I am having the same issue. Can we reopen the thread?

[2019-12-06 10:54] ShreyasRmsft commented on #646
@NetanelMosheCohen I reiterate: the link provided is the code for mstestV2. Mstestv1 code is not in any public repository.

secondly we will not be making any fixes in Mstest v1. MsTest v2 was created to address the short comings in v1.

As for [DataSource] can you tell me where you are getting the data from?

[2019-12-06 13:44] NetanelMosheCohen commented on #646
@ShreyasRmsft I'm getting the data from xml files

[2019-12-06 16:47] Fenrir2017 opened #666 "Dotnet Test selecting the wrong Test Execution Command Line Tool Version"
## Description
I am attempting the use the "dotnet test" command to run unit tests. In my project file, I specify "Microsoft.NET.Test.Sdk" Version="16.4.0", however when the command runs, version 16.3 is used, which will not work for my scenario. 16.4 fixed a bug that did not allow my tests to properly be ran using x86. When ran from the VS studio IDE, everything works as expected. It is only when

[2019-12-09 10:42] ShreyasRmsft commented on #646
@NetanelMosheCohen there are ways to get the data from xml files using MsTestV2s custom data source extensibility model.

But yeah if you can verify if the issue with AddResultFile is resolved for you with MsTestV2 (maybe create a dummy set of tests and run them in parallel) then i can go ahead and help with the data driving using xml files with mstest v2.

If it turns out that it's broken with ms

[2019-12-10 11:20] vikmy commented on #665
Can someone please reply on this.

[2019-12-11 06:49] NetanelMosheCohen commented on #646
@ShreyasRmsft Please can you provide me a sample code how to read the test data from xml using custom data source extensibility model?

[2019-12-11 07:51] ShreyasRmsft commented on #646
This is something we ourselves authored for reading test case data from .txt files
The same logic can be applied for xml files. You'd need to make a few changes but the idea is that using this you can do anything in the method and just yield a list of objects that are used to data drive your tests.

https://github.com/nigurr/TestResultParser/blob/master/Agent.Plugins.UnitTests/TestResultParserTest

[2019-12-11 15:33] NetanelMosheCohen commented on #646
Thanks!

[2019-12-14 11:06] arnonax opened #667 "Add Jetbrain's annotations"
## Description
When using Resharper, in some cases it gives warning about usages of MSTest. These warnings can be disabled in the client's code, but there are cases where the warnings can be resolved by annotations in the library code, which is better.

## Steps to reproduce
I'm sure that there are many more examples, but the one I encountered is as follows:

[code]
In this case, Resharper warns a

[2019-12-14 21:04] SimonCropp commented on #288
can this be re-opened. it would be really helpful to get access to the test parameters via the TestContext

[2019-12-17 12:46] skalinets commented on #366
Personally I am glad that this hasn't been added to .NET Core / Standard. Testing of private stuff is an anti-pattern and should be avoided. However, if you absolutely cannot live without it (are doing migration of legacy stuff into .NET Core / Standard etc.), you could implement is yourself:
https://gist.github.com/skalinets/1c4e5dbb4e86bd72bf491675901de5ad

[2019-12-17 13:08] cactuaroid commented on #366
You guys can copy the codes into your project at the moment. I'm personally using my own wrapper extension methods for PrivateObject and PrivateType, which depends on copied codes so that my NuGet package can be used on any environment (for MSTest V1/2 on .NET Framework and for MSTest/NUnit/xUnit on .NET Core).
https://github.com/cactuaroid/PrivateObjectExtensions/tree/master/PrivateObjectExtensio

[2019-12-18 18:23] spottedmahn opened #668 "Live Unit Testing not Discovering Tests"
## Description
Live unit testing isn't working w/ `2.1.0-beta2`.

## Steps to reproduce

File -> New MS Test Core Project -> Install `2.1.0-beta2` packages

[Sample code](https://github.com/spottedmahn/Experiments/tree/master/MS%20Tests%20Friendly%20Test%20Names).

## Expected behavior
Live unit tests should run

## Actual behavior
they don't run

![image](https://user-images.githubusercontent.com

[2019-12-18 18:33] spottedmahn opened #669 "Display Name not Shown Until I Build"
## Description
I have to build for `TestMethod(displayName: "Some Display Name")` to show up properly in test explorer.

## Steps to reproduce
![build to show display name](https://user-images.githubusercontent.com/14079228/71113085-d88cae80-219a-11ea-8296-601afd5976c4.gif)

[Sample code](https://github.com/spottedmahn/Experiments/tree/master/MS%20Tests%20Friendly%20Test%20Names)

## Expected beha

[2019-12-18 18:42] spottedmahn commented on #410
implemented via #466

[2019-12-18 18:42] #410 closed

[2019-12-19 10:34] MrHinsh commented on #304
I to have the same problem. I have a .NET Standard Assembly that I want to write Unit Tests against. Why cant i?

[2019-12-19 14:31] nohwnd commented on #522
Okay, researched on this a bit and I am not sure what is the best way forward here. So let me sum up what I found out so far.

The behavior differs based on where we are running.
- on full framework, as @kzu pointed out, thread is aborted and the cleanup never has chance to run
- on core, the task is cancelled, but core does not provide apis to abort threads, so thread lives on, and two things can

[2019-12-19 16:09] abatishchev commented on #304
The fact this know bug is open for 2+ years and kept without movement is quite frustrating.

[2019-12-20 07:31] michael-colclough commented on #522
What you describe seems reasonable to me, although I am not a programmer, more a tester, so wouldn't be able to comment on the internal details of the proposed fix. All I can say is .net core and .net framework should work in the same way and if you do not specify a timeout the behaviour should be unchanged.

[2019-12-20 10:04] arnath commented on #656
Do cleanup methods get called when the tests are aborted like this (AssemblyCleanup, ClassCleanup, etc)? If not, is there a way to have the test session timeout but still try to clean up?

[2019-12-20 10:16] ShreyasRmsft commented on #656
Clean up methods do not get called when this happens. The timeout for all you know could happen in the clean up code. This is a hard abort.

What you are requesting for would be an enhancement. You can open another issue requesting for the feature and provide the link here. We will track it along with the other enhancement asks.

[2019-12-20 14:55] nohwnd commented on #669
Probably some more work needs to be done in discovery? Do you want to tackle this and make a PR or should I have a look?

[2019-12-23 09:07] singhsarab commented on #669
This would probably be an enhancement in source based discovery (where the adapter is not involved).

@shyamnamboodiripad can you please take a look.

[2019-12-23 16:29] singhsarab commented on #665
@vikmy What is the intention here ?

[2019-12-23 16:34] singhsarab commented on #664
@abatishchev It is not very clear when the issue is reproducible as the repro steps. Is it while trying to move to 16.3.0 ?

One small correction, you don't need to have the reference to Microsoft.TestPlatform.TestHost as it is redundant.
You can simply remove that reference whole together.

[2019-12-25 05:12] abatishchev commented on #664
To both 16.3.0 and 16.4.0.

I has to install TestHost as otherwise gated build using ADO would complain that this library couldn't be found. What in general its purpose of it's optional?

[2019-12-26 08:27] singhsarab commented on #664
Microsoft.NET.Test.Sdk should bring in that dependency, you don't need to have that explicitly.

Can you share a repro, build definition or some diagnostic logs to root cause the issue.
Also, are you facing this issue with dotnet test command as well ?

[2019-12-26 10:39] vikmy commented on #665
Below is is just one of the example scenarios. I'm using MSTest for selenium :

In some of my tests I'm expecting that a collection contains some Ui elements(like dropdown values) but due to some functionality  or due to some test data, collection will be either empty or it doesn't contain the required data. In such cases when I'm trying to access the elements MSTest Platform throws Invalid Operat

[2019-12-27 06:39] Grauenwolf opened #670 "Precheck Class for verfiying the environment before running the actual test"
## Background

When writing integration tests, we often have to run through some prechecks to ensure the environment is properly configured.

Currently the way we do it is to catch any exceptions and call `Assert.Inconclusive`. This way actual test failures can be distinguished from environmental issues.

## Proposal

Create a class called `Precheck`. This would expose the same methods as `Assert`

[2019-12-27 18:38] AbhitejJohn commented on #669
Thats correct, Source Based Discovery does not consider Display Name at the moment. We'd want to consider adding that in.

[2019-12-28 04:03] spottedmahn commented on #669
Does that mean in Visual Studio?

[2020-01-04 15:41] eriawan commented on #642
@mayankbansal018

I would like to pick this up to prepare for VS 2019.

I also will update the Windows 10 SDK support to at least supporting 1903, because current master branch code has support for Windows 10 14393, and this build of 14393 is also not supported anymore.

[2020-01-06 07:47] singhsarab commented on #559
@parrainc
Revisiting this.
It seems like a good idea.
We could also possibly set to 0 like MaxCPUCount set in the RunConfiguration.

[2020-01-06 08:41] singhsarab commented on #664
Gentle ping!

[2020-01-06 14:13] abatishchev commented on #664
My apologies. Let me come back from vacation on Jan 9 and reply to you with a way to reproduce the issue I've described here.

[2020-01-07 08:58] cklutz opened #672 "When ClassInitialize fails only one test fails, others executed regardless"
## Description
This is based on this StackOverflow question: https://stackoverflow.com/q/59624616/21567

When you have a test class with a ClassInitialize-Method and that method fails. Only one of the actual test methods is reported as failed. The other methods seem to execute regardless.

## Steps to reproduce

- Create a .NET Core UnitTest project in Visual Studio 2019
- Add the following test c

[2020-01-08 17:08] slotwinskim commented on #488
Hello, I have the same issue on Visual Studio Code with .Net Core 3.1. I use the newest packages:

[code]

[2020-01-09 04:27] parrainc commented on #559
Sounds good to me. I'll be working on it to have a PR created soon

[2020-01-09 22:34] ps2goat commented on #419
I had old versions leftover in my /bin/ folders and had to delete them so they could restore properly. I'm not sure why they didn't overwrite on restore/build, but this allowed my tests to run.

[2020-01-10 14:17] mpekurny opened #674 "MSTest does not run on next version of docker desktop"
## Description
In the next version of docker desktop, version 2.1.7.0, mstest fails to run when the source code is in a volume shared with the host.

## Steps to reproduce
Follow the steps in this docs page to setup sample test project:
https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-mstest

Download the current version of Docker desktop and in run:

Inside the container:

E

[2020-01-10 20:38] aukevin opened #675 "TestResult missing ComputerName"
## Description
The [`TestResult`](https://github.com/microsoft/testfx/blob/6c1ee30a895fcef6e751f0f503192aeb0df99b5e/src/Adapter/MSTest.CoreAdapter/ObjectModel/UnitTestResult.cs#L157) object that MsTestV2 produces does not have the [`ComputerName`](https://github.com/microsoft/vstest/blob/3ae085959f000a384ec76f3a53771a695287cfd2/src/Microsoft.TestPlatform.ObjectModel/TestResult.cs#L93) set anywhere

[2020-01-10 20:38] aukevin commented on #675
The `TestResult` generating code in this repo looks like it's here:
https://github.com/microsoft/testfx/blob/6c1ee30a895fcef6e751f0f503192aeb0df99b5e/src/Adapter/MSTest.CoreAdapter/ObjectModel/UnitTestResult.cs#L157

[2020-01-14 08:29] careywalker commented on #664
I am getting this same issue. I have logged an issue here as I thought that it was a Visual Studio issue. Perhaps it's a MSTest.TestAdapter issue and not a VS issue.

https://developercommunity.visualstudio.com/content/problem/883039/streamjsonrpcremoteinvocationexception-the-followi-1.html

[2020-01-14 09:12] NetanelMosheCohen opened #676 "Deployment Items don't work using runsettings file"
I'm trying to migrate our automation project - Selenium + C# +MSTest V1 to MSTest V2.
Until now I worked with testsettings file and used DeploymentItem to deploy few files to the output folder.
But now I have to use runsettings file and the deployment items option is not working.
I tried to use legacy settings but it still doesn't work.
I searched all over the internet for something which describe

[2020-01-14 18:56] abatishchev commented on #664
Here's a repro repo: https://github.com/jwt-dotnet/jwt/tree/temp/mstest, the branch is called `temp/mstest` where I removed xUnit and didn't add MSTest2 yet. You will be able to repro both issues from the initial posting.

[2020-01-22 15:28] mikeparker opened #678 "TestResults folder names are not cross platform compatible"
## Description

Hi, i'm from the Docker team. We are getting user issues creating test results folders on Linux which are then synchronised with the host (Windows) filesystem.

Using `dotnet test` with the default out of the box MSTest configuration creates TestResults folders which are not cross platform compatible due to using invalid characters in the names, specifically the colon character `:`

[2020-01-22 21:53] novarichuffman opened #679 "2.0 IDictionary change, kills my framework"
## Description
After https://github.com/Microsoft/testfx/pull/563

My construction is utilizing a Generic IDictionary for testContext so using a collections.IDictionary instead is breaking our selenium framework.

## Expected behavior
Run normally

## Actual behavior
CS1503	Argument 2: cannot convert from 'System.Collections.IDictionary' to 'System.Collections.Generic.IDictionary<string, object>'

[2020-01-23 20:35] thedefside commented on #672
I noticed the same issue today.
VS 2019
.NET Framework 4.7.2
MSTest 2.0.0

[2020-01-26 16:30] jadaml commented on #515
So the decision is then is that you'll solve these two under the same issue, as both issues affects the display of the test, but both method of controlling the name (prettifying the method name, and overriding it with an attribute) will be available in the end?

[2020-01-28 14:58] Sl1ckR1ck commented on #233
Waiting for this too before continuing porting to .NET Core. No point to start writing reading CSV, DB, etc code if this is coming soon?

I see that @nohwnd assigned this work, so i guess its being implemented?

[2020-01-28 15:10] nohwnd commented on #233
@Sl1ckR1ck it is on my work list, but I did not even get a chance to read through this thread properly. Swamped with other issues. Sorry! 😔

[2020-01-28 21:42] #679 closed

[2020-01-29 08:46] sebainones commented on #233
@nohwnd and @AbhitejJohn I would like to help (contribute) with this.
Could you please tell me how could I help to move forward with this? Let me know if I can review some code or even do some coding. (I'm pretty new about contributing but I would love to)

[2020-01-29 10:11] nohwnd commented on #233
@sebainones Thank you for showing interest in this, I think it would be nice to sum up few examples of what is the desired functionality is, and what is missing from core so we have a clear way of going forward. I will in the meantime try to figure out if we can take the existing Framework code and port it to core. I don't know what the procedure here is, and I did not see the code to be already p

[2020-01-30 08:51] nohwnd commented on #366
We discussed this internally and decided that we don't want to introduce this pattern back into the framework.

In the attached zip file there is a single `.cs` that can be dropped into your test project, or a shared class library and is netstandard 2.0 compatible. The source code is a copy of [this implementation](https://github.com/microsoft/testfx/tree/664ac7c2ac9dbfbee9d2a0ef560cfd72449dfe34/s

[2020-01-30 08:51] #366 closed

[2020-01-30 09:19] sebainones commented on #233
**Desired Functionality**

1. The example provided by @magol when he initially opened the issue.
That's an **XML** as **DataSource**

2 This is my scenario using a **Table** (or View) as **DataSource**

[code]
**What is missing from .Net Core?**

As the title originally said : "**TestContext**' does not contain a definition for '**DataRow**' "
So, if your create a MSTest Test Project with .NET Cor

[2020-01-30 09:36] nohwnd commented on #233
@sebainones great. 👍

I am currently investigating where to get that code and how to make it open-source if it was not before.

[2020-02-03 17:39] ScottMichaud commented on #580
It looks like the thread has already made some valid use cases, but here's another example: Using Appium.WebDriver to run integration tests on a single-instance application with non-trivial load and close.

I would expect that each TestClass could be used to launch the application into a specific state, run the unit tests on that state, then close the application. Because the ClassCleanup doesn't

[2020-02-04 16:16] mygithub07 commented on #304
I am having similar issue where MSTest.TestAdapter loses reference after I create an executable from C# project and so when I run dot exe I get error . The VM where I am running this does not have VS and code base. Requirement is that Exe should include everything .

When I run on local , tests run fine , directly through VS or through dot exe

`No test is available in C:\Users\..\Desktop\MyExeNam

[2020-02-05 07:34] dbtfsbre commented on #522
Thanks @nohwnd for investigation. Unit tests and UI tests are differing quite much from each other regarding the resources they are instantiating. While Unit tests create data objects in the memory, UI tests are opening browser windows or even starting applications. There are many cases where you do not want or just cannot open two instances (i.e. of an application) in parallel on a separate task.

[2020-02-05 12:33] MiroslavMikus opened #681 "Read me ist pointing to Microsoft page with result 404"
Hey, as the title says :)

Great lib :)
Thanks in advance

[2020-02-06 01:17] djluck commented on #674
I am experiencing the same issues on docker v2.2.0.0. Running `dotnet net [solution folder]` results in every test failing with `An exception occurred while invoking executor 'executor://mstestadapter/v2': Input/output error`.

[2020-02-06 06:48] lostmsu commented on #254
When is this going to be addressed? In many cases an overload with `IEqualityComparer<T>` is required.

[2020-02-06 09:18] dbtfsbre commented on #522
Does MaxCpuCount in the [runsettings](https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019#elements-of-a-runsettings-file) have an impact on the parallelism of the whole test run? If MaxCpuCount is set to 1, does it only mean that not more than one test ist being executed at a time on one machine or should it also prevent cleanup and

[2020-02-06 20:11] AbhitejJohn commented on #254
Thanks folks. Would you mind giving the issue a 👍 and we'll prioritize this.  Sounds like we'd want to mark the API as obsolete for a few release and remove it in the next major.
/cc: @nohwnd

[2020-02-08 02:29] SomethingAwry opened #682 "MSTest.TestAdapter/TestFramework 2.1.0 broke existing F# tests with a period in their name."
F# methods/functions are allowed to have special characters in their names by book-ending the name with two back-ticks.  (Used for making friendly test names, etc.)
[code]
It seems that prior to 2.1.0, only the test explorer was messed up, showing a 'group' called `a` containing a test `b`, but with 2.1.0 it's now broken them: the bogus `b` test fails: `Method NS.TC.b does not exist.` (although th

[2020-02-08 06:01] nohwnd commented on #682
I am sorry, that is very unfortunate that we did not catch this earlier. There was a lot of back and forth about how the name of the test should be figured out, and the splitting was one of the discussion points because at the last point only the whole name was available, but not the  method name. So I am aware of what is causing this bug, I just don't know how to fix it.

Are you just reporting,

[2020-02-08 07:00] SomethingAwry commented on #682
Just reporting; I only hit it shortly before, and perused code more to confirm suspicions (undone a little as I confirmed the test explorer issue was prior).

[2020-02-08 17:29] slang25 commented on #682
I'm willing to take a look at this tonight and will report back

[2020-02-10 07:04] ManishJayaswal commented on #669
This is a VS issue in SBD. I think we might already have a bug tracking this. This however does eventually gets fixed after build though.
@nohwnd - we should just close this issue.
@shyamnamboodiripad  - FYI

[2020-02-10 07:06] ManishJayaswal commented on #668
This works in latest build of VS and additionally it is a VS issue and not MSTest issue. @nohwnd - please close this issue.

[2020-02-10 07:11] nohwnd commented on #682
@slang25 it would be great if you added F# test project for this into acceptance tests (The project would go into testAssets folder) 🙂

[2020-02-10 14:41] spottedmahn commented on #668
What version? 🤔

Still a problem for me on version Version 16.5.0 Preview 2.0...  I'll open VS dev community issue.

![image](https://user-images.githubusercontent.com/14079228/74159229-6b6d2680-4be9-11ea-8137-ff65edf838fd.png)

[2020-02-10 14:41] #668 closed

[2020-02-10 14:44] spottedmahn commented on #669
Sure but it's annoying and confusing IMHO

[2020-02-10 14:44] #669 closed

[2020-02-10 14:58] nohwnd commented on #668
@spottedmahn Michael I can see the live unit tests run in 16.4.2 with 2.1.0-beta2 and with 2.1.0 as well, not sure what is going wrong on your side.

[2020-02-10 15:01] spottedmahn commented on #669
[Dev Community issue](https://developercommunity.visualstudio.com/content/problem/912912/display-name-not-shown-until-i-build.html)

[2020-02-10 15:02] spottedmahn commented on #668
[Dev community issue](https://developercommunity.visualstudio.com/content/problem/912911/live-unit-testing-not-discovering-tests.html)

[2020-02-10 15:04] spottedmahn commented on #668
Not sure but that makes more sense to me.  I'm not a fan of "I tried it and it works w/ the latest".  That leads to situations like this...

Thanks for the input!  Hopefully the [dev community issue](https://developercommunity.visualstudio.com/content/problem/912911/live-unit-testing-not-discovering-tests.html) will get debugged.

[2020-02-10 22:09] slang25 commented on #682
Got me a [failing test](https://github.com/microsoft/testfx/pull/683), the fix wasn't as trivial as I'd hope, we'll need to track some extra info. Will continue tomorrow.

[2020-02-13 12:59] nohwnd commented on #682
@slang25 yeah I was working on this before, the problem there is that the original data are not available at that point and that why the original PR had the solution that we have now that is splitting the path on `.` which was reverted for a bit, and then causing the PR build to fail, because no test were matched, because the matching part had the full path to the test and not just the method name

[2020-02-16 21:41] HeroMaxPower opened #684 "Some Asserts.AreEqual in TestFx.sln have incorrect expected and actual arguments."
Im using static code analyser SonarLint for checking this project and i've come across a violation of this rule

[SonarLint Rule 3415](https://rules.sonarsource.com/csharp/RSPEC-3415)

in some of the tests for this project.

e.g.

Assert.AreEqual(aggregator.RunContextAttachments.Count, 1, "RunContextAttachments List must have data.");

should be

Assert.AreEqual(1, aggregator.RunContextAttachments

[2020-02-17 14:55] HeroMaxPower commented on #645
I have made a implementation for this, please have a look and see if i've missed anything.

[2020-02-19 05:08] andrewphamvk opened #687 "Why are AssertExceptions thrown within Assembly/Class Initializations differentiated?"
## Description
When an AssemblyInitialize or ClassInitialize throws an Exception (in most cases), it is formatted like:

`Assembly Initialization method {0}.{1} threw exception. {2}: {3}. Aborting test execution.`

When an AssemblyInitialize or ClassInitialize fails with an Assert exception, the message is like:

`Assert.IsTrue failed.`

## Ask

Is it possible to always format it like the former s

[2020-02-19 17:01] t9mike commented on #488
Is there a way to turn this off? I just started experimenting with switching to [DynamicData] for dynamic test cases and see this (I assume similar underpinings?). Getting this "extra" count is very confusing. If 1 or 3 tests fail I see 2 fail, 2 pass.

[2020-02-24 18:06] osolo opened #689 "Inconclusive tests are treated like skipped tests"
## Description

Tests that fail with `Assert.Inconclusive()` at treated by the `vstest.console` just like skipped test.

The result is that these tests:
1. Don't show the failure message or stack trace.
2. Down-stream adaptors don't show any failure information: [Visual Studio Test Explorer bug](https://developercommunity.visualstudio.com/content/problem/907934/test-explorer-incorrectly-handles-in

[2020-02-26 09:21] #684 closed

[2020-02-26 12:16] HeroMaxPower commented on #645
@nohwnd this issue can be closed now

[2020-02-26 12:48] nohwnd commented on #645
Ah okay, next time please mention the issue in the PR like this, so it gets vlosed when the PR is merged:

Fixes #645

[2020-02-26 12:48] #645 closed

[2020-02-26 12:54] HeroMaxPower commented on #681
#677 PR should fix this

[2020-02-26 17:13] scyentyfyc commented on #293
I'll pile onto this one.  You seem to always have to give something up depending on which workaround you pursue.

There is a stackoverflow about this in which one answer suggests to [subscribe to FirstChanceException](https://stackoverflow.com/a/39208343/895010), but being static, you're risking things getting screwed up when using parallel test execution.

That same stackoverflow has a MSTest V2

[2020-02-27 21:54] maboivin commented on #143
Are there any plans to fix the `ClassInitialize` method being called multiple times for the same class?

From my (very) simple tests, like other have already mentioned, it looks like the `ClassInitialize` method is called once for each test. I used the following dependencies:
[code]
TestBase.cs
[code]

UnitTest1.cs
[code]

And the output is:
TestMethod1
[code]

TestMethod2:
[code]

TestMethod3:
[c

[2020-02-28 08:45] nohwnd commented on #143
@maboivin there are not plans to fix this at the moment, for the next version we are focusing on stabilization, performance and low-hanging fruit, which this unfortunately is not, but this issue has multiple upvotes and we go from the most upvoted / most commented when looking at issues, so hopefully soon.

[2020-02-28 08:50] HeroMaxPower opened #692 "Add Assert.Pass()"
MSTestv2 has Assert.Fail() so we should be catering for the other end of the coin.

Of course this is a discussion as this could be seen as a anti-pattern however other frameworks support this such as NUnit.

I could try to implement something, but before i do i wanted to discuss with the wider community and Microsoft Staff,

[2020-02-28 09:11] nohwnd commented on #692
To me this seems like an unnecessary change. The way _most_ test frameworks work is that every test will start as a passing test, and fail only if an exception is thrown. From a high-level point of view this is a bit backwards, because your starting point (where you have no-code in the test), is the same as your goal (where you have some code in the test and it passes).

If I'd be inventing testin

[2020-02-28 09:29] HeroMaxPower commented on #692
I agree with the points above. The only purpose it serves is shortens test case creation in control flow in test design such as switch statements. If your points aren't written down i'd recommend stating this intention as i predict this will be asked again somewhere down the line.

[2020-02-28 09:34] nohwnd commented on #692
Would that be any different from a simple `return`?

Might be, and there might be the same answer in the history of the issues, I actually did not search for it. I just don't think this change would bring enough value to make it worth the effort to document it, support it and explain it, and would end up just bloating the api. 🙂

[2020-02-28 09:37] HeroMaxPower opened #693 "Add [MaxTime] Attribute"
We could add, similar to NUnit a MaxTime attribute. in order to Assert on Test performance.

1. Any assert fails will take priority
2. If a test passes but the time it took was too long then it will fail showing the allowed time in ms and then the time it took.

[2020-02-28 09:48] nohwnd commented on #693
There is already a timeout attribute (even though it does not work very well), would this be sufficiently different from that?

Is this also possible to get this functionality on assertion level, for example by using FluentAssertions. I am not sure if we have any guidance on this, but personally like the xUnit approach where they keep the Assertion library minimal to only provide the core assertio

[2020-02-28 11:05] HeroMaxPower commented on #693
So this in turn is different from Timeout attribute.

[TimeOut] has the behaviour kill the test process with no TestCleanup() method being called. i believe its primary focus is to stop rogue test processes clogging up CI builds.
[MaxTime] is more of an assertion it runs all the TestMethod and looks at the execution time and reports assertion failure overtime with TestCleanup(). This makes it more

[2020-02-28 11:23] nohwnd commented on #693
The intended behavior of TimeOut is to stop the currently running test and call the clean up, I see I forgot to paste the link, I meant to link to #522.

I think that if TimeOut worked correctly it would be very similar to MaxTime, while implementing MaxTime we would face the exact same problems as with TimeOut.

[2020-02-28 12:17] HeroMaxPower commented on #693
Ok then fixing that is the best course.

[2020-02-28 12:17] #693 closed

[2020-02-28 16:06] #681 closed

[2020-02-28 19:28] nohwnd commented on #692
I actually did.

https://github.com/nohwnd/Intent

[2020-03-03 12:09] HeroMaxPower commented on #692
I'll close this issue unless anyone want to change their minds  :)

[2020-03-03 12:09] #692 closed

[2020-03-03 21:46] andrewphamvk opened #695 "Assembly & Class Cleanup should be called even if Initialize fails"
## Description
AssemblyCleanup/ClassCleanup method is not called if AssemblyInitialize/ClassInitialize method fails.
It would make sense to have the ability to cleanup partially initialized tests runs just like TestInitialize/TestCleanup.

See below comment regarding previous decision to break compatibility with MSTestV1 and support execution of TestCleanup even after TestInitialize failure.

## S

[2020-03-11 05:52] atruskie commented on #678
I've just hit this case as well. I have an unrelated cross-platform library that excludes colons from the valid characters allowed for filenames for consistency. It is balking at a path returned by mstest on azure pipelines in an OSX environment because there are colons in the path.

A solution would be to allow us to customise this.

I think the best solution would be changing the date format to:

[2020-03-11 12:19] nohwnd commented on #678
Permalink https://github.com/microsoft/testfx/blob/efa1a6d93497719b51ada27787d7f6fcfdd24afe/src/Adapter/PlatformServices.NetCore/Utilities/NetCoreDeploymentUtility.cs#L40

@mikeparker @atruskie could you help me reproduce this? I tried running it via dotnet test, but the deployment item attribute does not create the deployment folder on dotnet core. I can only see the behavior on full net framewor

[2020-03-11 13:01] mikeparker commented on #678
@nohwnd are you trying in linux, not windows right?

[2020-03-16 02:54] atruskie commented on #678
@nohwnd - it's not really a case of producing a repo for a bug. It's more of an undesired behaviour in cross-platform applications. Nevertheless, here you go:

1. dotnet new mstest
2. added code
3. dotnet test

- Environment: Ubuntu 18.04 (WSL2)
- Directory: /home/anthony/GitHub/test
- dotnet version: 3.1.101

Code:

[code]

Output;

[code]

Repo project:
[test.zip](https://github.com/microsoft/te

[2020-03-16 08:56] nohwnd commented on #678
@mikeparker @atruskie thanks a lot, and no I was not trying it on Linux... That's why having a clear and simple repro helps 🙂 We can also discuss this more easily with the rest of the team, and I can also code it into an Acceptance test. Thanks a lot! 🙂

Can we discuss the [proposed format](https://github.com/microsoft/testfx/issues/678#issuecomment-597456538) `yyyyMMddTHHmmss`?

Personally I find

[2020-03-16 12:35] atruskie commented on #678
Using a hyphen a delimiter in the time section would be a violation of [ISO8601](https://en.wikipedia.org/wiki/ISO_8601).

TBH I find `yyyyMMddTHHmmss` to be perfectly readable, and compact. I'll admit though I'm quite used to working with dates in this format.

One has to ask why the date is even in the folder name? I imagine the answer is to create a unique results folder. File explorers or comm

[2020-03-16 15:08] nohwnd commented on #678
I think I would go with `yyyyMMddTHHmmss`, it is standardized which should make it easy to consume by multiple tools.

Too bad there is no built in format that would be easy to use from C# / powershell. You have to provide the format manually.

[2020-03-16 15:10] nohwnd commented on #678
Adding to 16.7 for consideration for the next milestone. I think we have the requirements pretty clearly nailed down.

[2020-03-16 15:13] nohwnd commented on #678
Yes that is the reason. It's probably less ugly, and more informative than putting guid at the end of the name.  It is also discouraged to have any interactive session with a build server, so I can imagine that you'd lose the directory info when moving folders from your CI server to your artifacts drop location. But I am just speculating here.

[2020-03-16 15:22] nohwnd commented on #678
/cc @pavelhorak

[2020-03-17 06:03] captainjono opened #700 "Test discovery slow on large projects"
I am working with a legacy VS solution with ~150projects / ~10k+ files. Its not ideal, but its what I have to work with. Test discovery can take between 40-120secs after every compile, and its even worse when JustMock is enabled....

Ive done some experiments and found if i patch the test discoverer to only iterate assembles with "*.tests.dll" in their filename, discovery time drops to ~4sec on th

[2020-03-18 17:59] ekennedy6334 commented on #668
Update to VS2019.5 and my NUnit tests are gone. Since I was using ReSharper to run I tried running with the NUnit plugin and it couldn't run the unit tests either. Rider cannot discover the tests either.

Error message 'vs-test case is missing' may display.

Was there a path change with the latest update or maybe a change to .net core 2.1 causing the environment to not be able to discover the test

[2020-03-18 23:10] derekantrican commented on #488
I am still seeing this issue. I'm using the following setup:
-  MSTest.TestAdapater v2.1.0
- MSTest.TestFramework v2.1.0
- Visual Studio 2019 (v16.5.0)

I can repro with the same code that is the very first comment on this issue (by just running the test via the Test Explorer in VS). This is very frustrating because I have a couple long tests (~10 min) that take twice as long to run if I use `[Dat

[2020-03-19 08:05] nohwnd opened #701 "NUnit tests not discovered in VS2019.5"
Update to VS2019.5 and my NUnit tests are gone. Since I was using ReSharper to run I tried running with the NUnit plugin and it couldn't run the unit tests either. Rider cannot discover the tests either.

Error message 'vs-test case is missing' may display.

Was there a path change with the latest update or maybe a change to .net core 2.1 causing the environment to not be able to discover the test

[2020-03-19 08:08] nohwnd commented on #701
@ekennedy6334  moved your issue here so we don't revive the closed issue.

Would you have a simple repro that I can try to see if I have the same behavior? Please list the versions of dotnet that you use (`dotnet --version` run this in the project folder), the target framework (such as netcoreapp3.1 in your csproj), and the versions of nunit (also in your csproj).

[2020-03-19 08:09] nohwnd commented on #488
Adding for consideration in the next sprint.

[2020-03-19 09:08] nohwnd commented on #700
Hello, thanks for reporting, this is a pain point that is easy enough to solve on command line by providing a filter, but not easy to overcome in VS because there is no place to specify that filter. The sources (dlls) that should be inspected are provided by the test platform, so that is where we need to do the filtering, to reduce the amount of them.

It would help if you filed a feedback ticket,

[2020-03-19 12:34] ekennedy6334 commented on #701
dotnet -- version returns 3.1.200

The project is - netcoreapp2.1
nunit - version:3.12.0
NUnit3TestAdapter - version:3.15.1
Microsoft.NET.Test.Sdk - version:16.4.0

By changing to  netcoreapp3.1 the unit tests are discovered. So the issue seems to be something changed in the latest update to 2.1.? that's breaking discovery.

[2020-03-20 00:57] captainjono commented on #700
Done

[2020-03-20 00:57] #700 closed

[2020-03-22 19:59] redwyre commented on #304
I got stuck for a while on this, is .net standard is not supported for test libraries then can we get a better error message that states as such?

[2020-03-22 20:44] dotMorten commented on #304
@redwyre for what it's worth I just updated my test adapter with the latest 2.1.0 code base, if you need it: https://www.nuget.org/packages/MSTestX.TestAdapter/
While I mainly make it to be used with the [unit test runner](https://www.nuget.org/packages/MSTestX.UnitTestRunner/), it should work for anything (just note that it can't do deployment)

[2020-03-22 20:47] dotMorten commented on #304
@MrHinsh

Of course you can. But your unit test project MUST target a framework. Nothing can run as ".NET Standard". That's merely an API contract, not an actual runtime. You'll have to decide to execute the tests on top of .NET Framework, .NET Core or Mono etc. (or all of the above - MSTest does support multi targeting just fine!)

My port to .NET Standard was mainly done so I could run the execu

[2020-03-22 21:03] mygithub07 commented on #304
As for my comment above , I was able to ran my test.  The issue actually was that  I needed to provide  MSTest.TestAdapter  package dll through below mentioned config in `.runsettings` file .  I was running test using `vstest.console` and I used `/Settings:[file name]`  option on command line
Here is the config I used
[code]

[2020-03-22 21:36] abatishchev commented on #304
Hmm, no. It's not how it works. Test project produces merely a DLL. VSTest.Console.exe is the EXE that runs that DLL. Isn't it?

[2020-03-22 21:51] mygithub07 commented on #304
yes. I was targeting framework 4.7.2  and was using `vstest.console` to run my exe and and provided above mentioned config.

[2020-03-23 01:57] dotMorten commented on #304
Well yes and no. It might start a separate process and run it (a good example is UWP which runs completely isolated in a window). The console then just connects via a socket to control and monitor the test run

[2020-03-23 09:24] nohwnd commented on #304
@dotMorten I think I am still missing the point here. If my test project is netstandard, who will execute the tests? 🙂 I actually tried to move the mstest to netstandard earlier this month, but to do it properly I would need to move the ObjectModel to netstandard1.0 as well (or stick with the very old version it is using now).

Are the changes in your repo preventing some of our other scenarios fr

[2020-03-23 10:01] nohwnd opened #702 "MSTest V2 doesn't output "TestCategory" to .TRX files (but V1 did/does)"
_Originally posted by @MikePanitz-CCC in  [testfx-docs](https://github.com/microsoft/testfx-docs/issues/83)_

Hello!

Using `MSTest.Framework` (1.3.2) and the following code:

[code]

I can run the tests from the command line to generate a .TRX / .XML file that includes the following

[code]

However, when using MSTest V2 the .TRX file includes only this:

[code]

(Note the missing `TestCategory`

[2020-03-23 13:35] dotMorten commented on #304
@nohwnd perhaps I should put it a different way: I really don't need .net standard support. What I need is xamarin.android and xamarin.ios and Tizen support. But then I might as well just use .net standard library. I'll then be referencing mstest in my Xamarin app and use it to do all the test execution, aborts, timeouts, socket communication etc.

[2020-03-23 16:35] MikePanitz-CCC commented on #702
In case it helps, here's the the .CSPROJ file for V2 (which does _not_ include TestCategory in the output file):

[code]

here's the .CSPROJ file for V1, which does _include_ TestCategory in the output file:

[code]

The command line that I used to generate the .TRX file looks more-or-less like this:

` "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\CommonExtensions\Mic

[2020-03-24 09:12] nohwnd commented on #695
@andrewphamvk makes sense, adding for consideration to the next sprint. 🙂

[2020-03-25 21:58] avibitran commented on #353
To add to the why we need the TestContext.
if I'm are using Data Driven test using DataSourceAttribute. The values of every iteration is inserted to the TestContext DataRow property, so if I want to determine the iteration number and I inserted it as part of the DataRow, I need the TestContext to get it.

[2020-03-26 15:02] nohwnd commented on #682
Fixed in #683

[2020-03-26 15:02] #682 closed

[2020-03-27 13:49] cvpoienaru commented on #664
@abatishchev, unfortunately I cannot access the reproduction repo. It appears to have become unavailable in the meantime or maybe it's a private repo I don't have read permissions for. Can you please share it with me as well ?

[2020-03-27 19:11] abatishchev commented on #664
Sorry, please try now. Also ping me on Teams at _alexbat_ if needed.

[2020-03-29 18:28] N-Olbert commented on #676
LegacySettingsd arent supported in MSTestV2..
https://github.com/Microsoft/testfx/issues/557#issuecomment-460155882

Maybe checkout the *DeployTestSourceDependencies*-Attribute or use plain DeploymentItem-Attributes.

I stumbled accross this myself a year ago. The documentation is very poor here.

[2020-03-29 18:37] N-Olbert opened #1321 "Document LegacySettings- support as discontinued delta from MSTestV1"
The old *.testsettings supported a LegacySettings-Tag.

This tag is no longer supported by MSTestV2 which should be documented.

See:
https://github.com/microsoft/testfx/issues/557#issuecomment-502966338
https://github.com/microsoft/testfx/issues/676
https://github.com/microsoft/testfx/issues/634

[AB#1735370](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/173

[2020-03-31 23:30] Kaelum commented on #668
@spottedmahn and @ekennedy6334
Check your solution files and see if they have a "**GlobalSection(NestedProjects) = preSolution**" section.  If they do:

* Close Visual Studio.
* Make a copy of your solution file for safe keeping.
* Completely delete that section in your solution file.

Once I did that, "**Live Unit Testing**" started working again.  I'm not sure what that section of the solution f

[2020-04-01 00:51] michael-hawker commented on #464
Just found out about `DataTestMethod` and `DataRow`, it's super powerful, but it would be great if the individual data rows appeared underneath the test case.

Basically it'd be great if the test case became a new parent in the tree in order to:
1. Better navigate the results of individual test scenarios (and be able to jump to the DataRow attribute where it was declared on double-click like any o

[2020-04-01 05:46] nohwnd commented on #664
@pavelhorak Moving to 16.7.0 so I can release 2.1.1

[2020-04-01 06:58] nohwnd commented on #668
/fyi @shyamnamboodiripad

[2020-04-01 07:24] nohwnd commented on #464
@michael-hawker @peterwald Is this someting you should take into consideration in your FQN proposal?

I thought this is already happening. That is, we already produce a test case per datarow, are 1) and 2) "only" matter of presenting it differently?

For 3) I don't think we have a simple way of identifying the attributes on the test? And only run 1 of them? This would probably be a lot of effort t

[2020-04-01 13:29] peterwald commented on #464
xUnit and NUnit already function this way for dynamic test cases. They produce a single independent TestCase for each "instance" of the test (test + data) and when executed, they return a single TestResult for each of those TestCases.
MSTest instead returns a single TestCase for the test, and when executed returns multiple TestResults for that single TestCase. To make matters worse, MSTest also re

[2020-04-01 13:42] ekennedy6334 commented on #668
Didn't work for me. But changing my unit test solutions to v3.1 let's it work. So it's something that MS did with an update to v2.1 that broke it.

[2020-04-01 19:43] Kaelum commented on #668
@ekennedy6334 there are at least 2 different issues that result in the same **Live Unit Test** issue.

It sounds like the issue that you have is that a NuGet package for the test adapter is not defined in your projects.  Simply adding the NuGet package for the test adapter to your project file, will fix that issue.  If that doesn't work, then it's yet another issue.

[2020-04-03 09:52] fl3pp opened #704 "AssemblyInitialize, ClassInitialize Timeout"
We are trying to migrate from MSTestV1 to MSTestV2. While doing so we noticed the behavior change documented in [DeltaWithMSTestV1 - Behavior change 12](https://github.com/microsoft/testfx-docs/blob/master/docs/deltaWithMSTestV1.md) which leads to some trouble.

Unfortunately, we did not find any way to limit the execution time of the `ClassInitialize` and `AssemblyInitialize` methods.

In a comme

[2020-04-04 20:26] HeroMaxPower commented on #704
I quite like this feature from a CI/CD point of view, for those who are unlucky enough to load large amounts of test data before the testing begins this would help narrow down the cause of a Test Execution failure. Since i imagine that 90% of the use for Assembly/Class Initialize is based for loading in test data or establishing connections to test resources. It seems like a good idea to limit the

[2020-04-07 03:41] NGloreous commented on #143
@nohwnd consider #705 to fix the duplicate class init bug. @maboivin FYI.

[2020-04-07 17:18] maboivin commented on #143
Good news. Thanks. I will take a look when the next release is available.

[2020-04-11 13:13] elgatov commented on #643
Hi everyone,

I know this issue is closed as by-design but I would like to know if the following can be done:

I am using MSTest to run selenium tests. The project is divided in a Unit Test Project and a class library that contains all the classes following the PageObject model.

I am able to use TestContext.WriteLine from the TestClass, however in order to have a cleaner TestClass I would like to

[2020-04-12 02:28] elgatov opened #706 "Proper way of accessing TestContext.WriteLine from classes outside TestClass?"
Hello,

I am using MSTest with selenium to run web tests.

Web testing promotes the [Page Object Model](https://www.selenium.dev/documentation/en/guidelines_and_recommendations/page_object_models/) to model a web page, abstracting what the test does from how it is done and promoting re-usability.

When running test serially, we can make use of `Console.WriteLine` from a `PageObject` class to let t

[2020-04-15 15:50] dondrakon commented on #25
Any update of this task?

[2020-04-15 16:14] JDCain commented on #25
I ended up going to Xunit and writing a test dependency orderer. https://github.com/JDCain/Xunit.Extensions.TestDependency

[2020-04-21 11:26] martsve commented on #706
You probably have to refactor your PageObjects. You could get around it with a static/singleton logger that uses the last used TestContext (set in the test initialization), but that would "break" for multi-threaded tests.

You should probably create a Logger/LoggerInterface that takes TestContext as a constructor-parameter. The logger/Interface can then be set in the constructor of your PageObject

[2020-04-21 22:28] duaneking commented on #233
Any updates?

[2020-04-22 19:33] shueybubbles opened #707 "PlatformServices.AssemblyResolver throws IndexOutOfRangeException"
I am trying to write some tests for code that has some dynamic code loading. The nature of our dev machine builds is it's too easy to mix non-delay signed with delay signed binaries. Tests were failing with this exception and we couldn't readily identify the real issue. During this call:

[code]

The assembly resolver in Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll throws

[2020-04-23 11:08] avibitran commented on #273
Hi all,
**THIS IS MY FIRST CONTRIBUTION.**
As a follower of MSTest, and with 14 yrs. of experience in Automation, I've come-up with a solution to extend DataSourceAttribute to fit the new Extensibility of MSTest.
This is my solution, hope for feedback to fix whatever you'll find, hope it helps:

**1. to get the test configuration section connection from config file:**
[code]

**2. Extract the Conn

[2020-04-24 07:40] AbhitejJohn commented on #233
@nohwnd : That code currently is used in the .NET Fx version of the adapter [here](https://github.com/microsoft/testfx/blob/master/src/Adapter/PlatformServices.Desktop/Services/DesktopTestDataSource.cs)and [here](https://github.com/microsoft/testfx/tree/master/src/Adapter/PlatformServices.Desktop/Data). I wonder if some of these types would just build against a later netstandard version. The reaso

[2020-04-24 15:29] elgatov commented on #706
Hi @martsve and thanks for your input.

I already tried using a static/singleton but it breaks when running in parallel. I will probably take the second option of creating a Logger/LoggerInterface, however I would like some input from the testfx team too, maybe they know a proper way to do this.

Thanks for your response. 👍

[2020-04-25 00:48] azchohfi opened #708 "WinUI3 + MSTest"
## Description
Today, UWP applications are based on .Net Native.
Soon, UWP applications will also be able to use .Net Core 5 (https://github.com/dotnet/runtime/issues/35318).
This is a great evolution of the platform, but at the same time, requires a few changes to existing libraries, such as MSTest.

If a WinUI3 project references MSTest, instead of using the uap10.0 assemblies (which now should

[2020-05-01 08:39] ahmedalejo commented on #410
**Found** a **better and simpler extension point** that could be baked into `TestMethodAttribute` with ease.

This is what i´m currently using:

cheers.
[code]
Hopefully will create a new pull request suggesting to bake this into `TestMethodAttribute`

[2020-05-01 15:42] spottedmahn commented on #410
Hi @ahmedalejo - nice!  Please share a link to the new PR once created, thanks!

[2020-05-02 23:55] brkhaled opened #710 "Test request different version from the installed one at run time"
- Open VS2019
- Make sure that package management is set to [PackageReference]
- Create a .Net Framework test project (.net 4.7.2)
- The project is created with 2 packages
    - MSTest.TestAdapter
    - MSTest.TestFramework
- Add Nuget package Microsoft.Extentions.Configuration last version (3.1.3.0)
- Add the code below
- Run test

==> Test fail with error [Cannot load file or assembly Microsoft.

[2020-05-03 01:24] #710 closed

[2020-05-03 01:24] brkhaled commented on #710
Not a testfx issue

[2020-05-03 12:13] kapec94 opened #711 "CollectionAssert.AreEqual fails for list of lists."
## Description
When using CollectionAssert.AreEqual to compare lists of lists (`List<List<T>>`), the assert fails even though lists in questions are the same and contains the same elements.

## Steps to reproduce
Setup: create a MSTest project. Put following code in a sample test:

[code]

## Expected behavior
Test passes.

## Actual behavior
Test fails with following message:
[code]

## Environme

[2020-05-04 10:08] nohwnd commented on #711
Agree on that, there are libraries such as FluentAssertions that do this better, and [from experience](https://github.com/nohwnd/Assert) I know that recursively comparing objects for equivalency is a huge undertaking that needs a lot of thought, code and options.

So I would also just document this and keep the behavior as is.

[2020-05-04 10:28] nohwnd commented on #410
@ahmedalejo Fixed the code above to actually compile and space after bug. That approach is genius.

[code]

[2020-05-04 11:20] kapec94 commented on #711
Great, I'll prepare the patch.

[2020-05-04 11:44] nohwnd commented on #711
Sure.

[2020-05-06 05:39] Purush-India commented on #233
Hello Everyone,

Do we have any update on DataRow being made available in .Net Core yet ?
Is their any alternative that we can use to access Excel using data source in ,.net core

[2020-05-06 22:09] AbhitejJohn opened #713 "Better DisplayNames for DataSource tests"
## Description
The test result from a test adorned by a DataSourceAttribute today has a display name as follows:
[code]
The only way one can know what values were passed in is to open the data source (excel/xml etc) and get a mapping. It'd be great if there was a way to configure this or even add a default with the values being used.

## Steps to reproduce
Any testmethod adorned with a DataSource

[2020-05-10 01:51] AtOMiCNebula opened #714 "Nullable Reference Type-aware support?"
## Description
I've been making some updates to some code I work on to see what it would take to actually use C# 8.0's Nullable Reference Types feature.  One issue I've run into is that some of the `Assert.*` methods don't use the new [CodeAnalysis attributes](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis?view=netcore-3.1), and our unit test projects end up needing ex

[2020-05-18 22:56] aybe commented on #488
As of today, it still happens.

I've upgraded nuget packages but that didn't really help.

Visual Studio still feels it should run a test with an empty parameter passed to `DataRowAttribute`.

[2020-05-26 12:56] abhijitpai commented on #672
Seems like this behavior may have changed in https://github.com/microsoft/testfx/pull/577/ inadvertently.

[2020-05-26 21:07] invino4 opened #1164 "Test Classes should support IAsyncDisposable in addition to IDisposable."
## Description

## Steps to reproduce

[code]

## Expected behavior

The DisposeAsync method should be called during test cleanup in the same manner as the Dispose method from IDisposable is called.  Either Dispose, DisposeAsync or both can be implemented by the test class.  If both are implemented then DisposeAsync should be preferred.  Only one is actually called.

## Actual behavior

DisposeAsy

[2020-05-29 18:59] vinishiru commented on #180
Same issue here in MSTest V2 - VS 2019 16.6.0.0.

`An exception occurred while invoking executor ‘executor://mstestadapter/v2’: Type is not resolved for member ‘log4net.Util.PropertiesDictionary,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a’.`

I'm using log4net.LogicalThreadContext, which internally calls CallContext.LogicalSetData, so I think it's the same problem as

[2020-06-04 13:54] MatthewSteeples commented on #664
The problem looks to be the build targets for `Microsoft.NET.Test.Sdk`

16.3 [targets](https://www.fuget.org/packages/Microsoft.NET.Test.Sdk/16.3.0) `.NETCoreApp1.0`
16.4 [targets](https://www.fuget.org/packages/Microsoft.NET.Test.Sdk/16.3.0) `.NETCoreApp2.1`

[2020-06-05 06:40] #695 closed

[2020-06-08 16:28] stevenbrix commented on #708
Oh hey, I came here exactly for this

[2020-06-16 17:58] mills-andrew opened #718 "Worker Cleanup functions doesn't end on same thread"
I have similar issues address initialize and clean up methods, but I would like to address the issue of clean up method are ending in different threads.

A worker should begin and end on the same thread. But current a single worker can be initialized and perform its tests but when it reaches the clean up method, the worker looses reference to the original thread, and creates a temporary thread to

[2020-06-16 18:39] Kaelum commented on #668
After upgrading to 16.6.2, the work-around no longer works either.

Live Unit Testing is completely DOA.

[2020-06-18 13:20] nohwnd commented on #714
One problem here is that TestFramework assembly is built against netcoreapp2.1, and net451 which are the lowest versions of net that we support. Neither of them allow these attributes to be used :/

[2020-06-23 19:51] chris1248 opened #719 "Test execution failure on Linux"
## Description
I have a .net core project with some unit tests. The unit test framework fails on Linux.

## Steps to reproduce
Given this project file:
[code]
When run this on Red Hat Enterprise Linux 8.2, from the command line using .net core. I get a runtime exception and the test execution fails.
Execute the following command from the command line:
`dotnet test ./foo.csproj -p:Configuration=Deb

[2020-06-23 20:31] chris1248 commented on #719
The thing is, I have a few other projects in my particular project, and all of them fail in Linux with the same error:

**An exception occurred while invoking executor 'executor://mstestadapter/v2': Protocol error**

[2020-06-24 22:47] abatishchev commented on #304
Any updated on this, please? I drags on, and on, and on.

[2020-06-25 07:55] jol64 opened #720 "any means to differentiate between run and debug in testattribute?"
## Description

In an effort to parallelize my integration tests that heavily rely on singletons, I implemented a custom TestMethodAttribute that runs tests each in a dedicated process (also using a custom test runner app). Works great. But occasionally I need to debug. While I can set a breakpoint in my TestMethodAttribute or flip a global and force in process execution, I definitely would prefer

[2020-06-25 15:51] nohwnd commented on #720
Internally we use the diagnostics debugger.isattached, but that's probably not answering exactly the same question you ask. Well that depends on the question you are asking. But if you are just interested in whether or not you are debugging the test run. that this should be good enough.

[2020-06-26 15:53] jol64 commented on #720
Thanks, that appears to be good enough.

[2020-06-26 15:53] #720 closed

[2020-06-26 16:25] jol64 opened #721 "No cleanup with custom TestMethodAttribute?"
## Description
There is no cleanup with custom TestMethodAttribute.

## Steps to reproduce

I am using a custom  TestMethodAttribute. Actually it is more complex than the example below, but basically it is like this:

    public class MyTestMethodAttribute : TestMethodAttribute
    {
        public override TestResult[] Execute(ITestMethod testMethod)
        {
            using (StreamWriter sw =

[2020-06-30 09:44] Hylke-Atmos commented on #488
I'd like to argue that this is a bug and undesired behavior!

It seems that not only the results seem off. It also seems like it is incorrectly dealing with the DynamicData method used for retrieving the data. The first entry is retrieved twice (first for the initial call and then second time for actual execution of the data).

Due to this behavior we have a test that is simply failing because its

[2020-06-30 12:34] nohwnd commented on #719
Install Red Hat 8, and the same dotnet SDK is you do, and it works just fine. Are you able to repro this on multiple machines?

![image](https://user-images.githubusercontent.com/5735905/86126524-c216c680-bade-11ea-8fbe-795c7fba6c61.png)

[2020-06-30 17:34] kwacks commented on #233
Any update on this? This is a pivotal feature missing for data driven tests .net core.

[2020-07-01 13:20] nohwnd commented on #233
Looked at this recently and the system.data is available since netstandard3.0, and mstest is bsaed  on Protable259 which is equivalent to netstandard1.0. So we would have to update, or possibly publish a separate package.

[2020-07-01 13:47] hansmbakker commented on #233
@kwacks and others:
you can create your own attribute based on `ITestDataSource` that loads the data you want from files in your own format.

See https://github.com/microsoft/Recognizers-Text/pull/1050#issuecomment-447609178 and https://github.com/microsoft/Recognizers-Text/pull/1050/files#diff-31e5f7adcb60c743fdeb83b6c3ca08f7 for more details.

[2020-07-01 18:15] sebainones commented on #233
Thanks for the piece of advice. I will take a look at that (even I have solved on my own in a different way)
Anyways, it would be great if we can have this already as part of .NET Core.
And again, if I could help to code or reviewing, please let me know.

[2020-07-01 23:38] stephenjg24-git commented on #488
I too would agree that the is a bug and needs to be corrected.

[2020-07-09 13:04] shilpamalhotra-git commented on #233
Is there any update on this? How are we usually doing Data Driven testing in .net core with MsTest. I have now been struggling a lot on this.
@sebainones Can you please help by sharing your approach.

[2020-07-10 16:33] shilpamalhotra-git commented on #129
@jayaranigarg @Smenus

Could you guys please have a look at my app.config because I am still getting the error, tried replacing testtools with qualitytools as well. Still its not working
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools"
         type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection,

[2020-07-13 13:03] ruhullahshah opened #722 "Inconsistent test execution results using MSTest V2"
## Description
- We have a unit test that relies on the fact that the assembly under test will be copied to the `TestDeploymentDir`.
- A second unit test expects a deployment item to be present in the `TestDeploymentDir`
- Executing the first test alone produces a failure, however executing all the tests in the test container leads to no failures.

## Steps to reproduce
- [UnitTestSample.zip](http

[2020-07-13 13:41] ruhullahshah commented on #722
The tests have been combined under a single `TestClass` for the sake of demonstration, in reality they can reside in different test classes and the behavior should be consistent(we expect both the tests to pass) in both the cases.